Repository swiftlang/swift, pull requests merged in 2018-03, with the labels that each got.

#15012 [Driver] Provide executed command as an actual array
  docs/DriverParseableOutput.rst
  lib/Driver/ParseableOutput.cpp
  test/Driver/batch_mode_parseable_output.swift
  test/Driver/parseable_output.swift
  test/Driver/parseable_output_unicode.swift
Labels: enhancement

#13655 [SE-0194] Implement deriving collections of enum cases
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/KnownProtocols.def
  lib/AST/Decl.cpp
  lib/IRGen/GenMeta.cpp
  lib/Sema/CMakeLists.txt
  lib/Sema/DerivedConformanceCaseIterable.cpp
  lib/Sema/DerivedConformances.cpp
  lib/Sema/DerivedConformances.h
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckProtocol.cpp
  stdlib/public/core/CompilerProtocols.swift
  test/IDE/complete_enum_elements.swift
  test/Sema/Inputs/enum_conformance_synthesis_other.swift
  test/Sema/enum_conformance_synthesis.swift
  test/stdlib/CaseIterableTests.swift
Labels: swift-evolution-pending-discussion

#14586 [wip] Bool toggle implementation
  stdlib/public/core/Bool.swift
  validation-test/stdlib/Bool.swift
Labels: swift-evolution-pending-discussion

#15382 [SE-0143][stdlib] Conditionally conform stdlib types to Hashable
  CHANGELOG.md
  lib/ClangImporter/ImportType.cpp
  stdlib/public/SDK/Foundation/NSArray.swift
  stdlib/public/SDK/Foundation/NSDictionary.swift
  stdlib/public/core/Arrays.swift.gyb
  stdlib/public/core/ClosedRange.swift
  stdlib/public/core/Dictionary.swift
  stdlib/public/core/DropWhile.swift
  stdlib/public/core/Flatten.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/PrefixWhile.swift
  stdlib/public/core/Range.swift
  stdlib/public/core/Reverse.swift
  test/stdlib/Optional.swift
  validation-test/stdlib/AnyHashable.swift.gyb
  validation-test/stdlib/AnyHashableDiagnostics.swift
  validation-test/stdlib/Arrays.swift.gyb
  validation-test/stdlib/Dictionary4.swift
Labels: swift-evolution-approved
