Repository swiftlang/swift, pull requests merged in 2018-09, with the labels that each got.

#19093 extract aggregate to input list (SR-8573)
  lib/SILOptimizer/Mandatory/TFDeabstraction.cpp
  lib/Sema/CSApply.cpp
  test/TensorFlow/tfop_packing.swift
  test/TensorFlow/tfop_packing_with_deabstraction_error.swift
Labels: tensorflow

#19106 (SR-8675) fix Mem2Reg crash by initing buffers
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/simple_real_vector.swift
Labels: tensorflow

#19109 [TF Deabstraction] Refine unpacking/packing diagnostics
  include/swift/AST/DiagnosticsSIL.def
  lib/SILOptimizer/Mandatory/TFDeabstraction.cpp
  lib/SILOptimizer/Mandatory/TFPartition.cpp
  lib/SILOptimizer/Mandatory/TFUtilities.cpp
  test/TensorFlow/crashers_with_deabstraction_error.swift
  test/TensorFlow/diagnostics-da.swift
  test/TensorFlow/diagnostics_with_deabstraction_error.swift
  test/TensorFlow/tfop_packing_with_deabstraction_error.swift
Labels: tensorflow

#19110 [TF API] Enable single Dataset type
  stdlib/public/TensorFlow/CMakeLists.txt
  stdlib/public/TensorFlow/Dataset.swift
  stdlib/public/TensorFlow/DatasetPythonInitializers.swift
  test/TensorFlow/tfop_packing_with_deabstraction_error.swift
  test/TensorFlowRuntime/dataset_api.swift
  test/TensorFlowRuntime/dataset_python_initializers.swift
Labels: tensorflow

#19111 [AutoDiff] Not checkpoint inactive values from the original function
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/primalgen.swift
Labels: tensorflow

#19112 [AutoDiff] Generalize differentiable types using DifferentiableVectorNumeric protocol
  stdlib/public/TensorFlow/Ops.swift
  stdlib/public/core/AutoDiff.swift
Labels: tensorflow

#19113 [AutoDiff] Remove constraints that require Tangent and Cotangent's ScalarElement to equal Self.ScalarElement
  stdlib/public/core/AutoDiff.swift
Labels: tensorflow

#19134 autodiff conformance lookup fixes
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/TensorFlow/tensor_autodiff.swift
  test/TensorFlow/tensor_primitive_autodiff.swift
Labels: tensorflow

#19156 [AutoDiff] Support differentiating w.r.t. not all parameters
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/builtin_math.sil
  test/AutoDiff/nested_calls.sil
  test/AutoDiff/primalgen.swift
  test/AutoDiff/simple_math.swift
  test/AutoDiff/simple_real_vector.swift
Labels: tensorflow

#19161 [AutoDiff] Fix crasher caused by multiple extractions of the same primal value
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
Labels: tensorflow

#19158 serialize SILReverseDifferentiableAttr; other small AdjointGen fixes
  include/swift/Serialization/ModuleFormat.h
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/SILFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializeSIL.cpp
  test/TensorFlow/tensor_autodiff.swift
Labels: tensorflow

#19163 [AutoDiff] Temporarily disable object outliner to unblock AD user code
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/SILOptimizer/static_arrays.swift
  test/TensorFlow/tensor_autodiff.swift
  test/TensorFlowRuntime/tensor.swift
  test/TensorFlowRuntime/tensor_api.swift
Labels: tensorflow

#19185 fix AutoDiff indices again
  include/swift/AST/AutoDiff.h
  lib/AST/AutoDiff.cpp
  unittests/AST/CMakeLists.txt
  unittests/AST/SILReverseAutoDiffIndices.cpp
Labels: tensorflow

#19187 fix AutoDiff with repeated calls
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/repeated_calls.swift
  unittests/AST/SILReverseAutoDiffIndices.cpp
Labels: tensorflow

#19201 move some tensor ops out of extensions
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlow/adjoint_expr_type_checking.swift
  test/TensorFlowRuntime/tensor_autodiff_runtime.swift
Labels: tensorflow

#19211 [AutoDiff] Make AD function names not demanglable & fix primal value struct access control
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/AutoDiff/autodiff_basic.sil
  test/AutoDiff/builtin_math.sil
  test/AutoDiff/nested_calls.sil
  test/AutoDiff/primalgen.swift
  test/AutoDiff/simple_math.swift
  test/SILOptimizer/static_arrays.swift
  test/TensorFlowRuntime/tensor.swift
  test/TensorFlowRuntime/tensor_api.swift
  test/TensorFlowRuntime/tensor_autodiff_runtime.swift
Labels: tensorflow

#19212 Make primal, adjoint and gradient have non_abi linkage.
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/autodiff_e2e_basic.swift
  test/AutoDiff/builtin_math.sil
Labels: tensorflow

#18471 Rewrite Swift For TensorFlow random number generation.
  stdlib/public/TensorFlow/CMakeLists.txt
  stdlib/public/TensorFlow/Random.swift
  stdlib/public/TensorFlow/Tensor.swift
  stdlib/public/TensorFlow/Utilities.swift
  test/TensorFlowRuntime/models.swift
  test/TensorFlowRuntime/random.swift
Labels: tensorflow

#16099 Add `count(where:)` and tests
  benchmark/CMakeLists.txt
  benchmark/single-source/CountAlgo.swift
  benchmark/utils/main.swift
  stdlib/private/StdlibCollectionUnittest/CheckSequenceType.swift
  stdlib/public/core/SequenceAlgorithms.swift
  validation-test/stdlib/SequenceType.swift.gyb
Labels: swift-evolution-approved

#19323 Started extending IRGen to be able to run a graph_op.
  lib/IRGen/IRGenSIL.cpp
  lib/SILOptimizer/Mandatory/TFPartition.cpp
  stdlib/public/TensorFlow/CompilerRuntime.swift
  stdlib/public/TensorFlow/Utilities.swift
  test/TensorFlowRuntime/dynamic_compilation.swift
  test/lit.cfg
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#19169 materialize aggregate struct
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/simple_model.swift
Labels: tensorflow

#19343 (SR-8699) make @differentiable work on methods
  include/swift/AST/AutoDiff.h
  lib/SILGen/SILGen.cpp
  lib/SILOptimizer/Mandatory/TFDifferentiation.cpp
  test/AutoDiff/method.swift
Labels: tensorflow

#19354 Move tensor ops back into extensions
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlow/adjoint_expr_type_checking.swift
  test/TensorFlowRuntime/tensor_autodiff_runtime.swift
Labels: tensorflow

#19342 Allow @differentiable(reverse) to be specified without primal or adjoint
  include/swift/AST/Attr.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Parse/Parser.h
  include/swift/Serialization/ModuleFormat.h
  lib/AST/Attr.cpp
  lib/Parse/ParseDecl.cpp
  lib/SILGen/SILGen.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/Serialization.cpp
  test/AutoDiff/differentiable_attr_parse.swift
  test/AutoDiff/differentiable_attr_silgen.swift
  test/AutoDiff/differentiable_attr_type_checking.swift
  test/Syntax/Outputs/round_trip_parse_gen.swift.withkinds
  utils/gyb_syntax_support/AttributeNodes.py
Labels: tensorflow

#17960 [Parser] Support "<" unary operator in #if swift() and #if compiler() expressions
  include/swift/Basic/Version.h
  lib/Basic/Version.cpp
  lib/Parse/ParseIfConfig.cpp
  test/Parse/ConditionalCompilation/compiler.swift
  test/Parse/ConditionalCompilation/language_version.swift
Labels: swift-evolution-pending-discussion

#19529 [DynamicCompilation] Add _AnyTensorHandle and Swift-C round trip entry points
  lib/SILOptimizer/Mandatory/TFPartition.cpp
  lib/SILOptimizer/Mandatory/TFUtilities.cpp
  stdlib/public/TensorFlow/CompilerRuntime.swift
  stdlib/public/TensorFlow/DataTypes.swift
  stdlib/public/TensorFlow/TensorHandle.swift
  test/TensorFlowRuntime/dynamic_compilation.swift
  test/TensorFlowRuntime/runtime_entry_points.swift
Labels: tensorflow

#19575 Factored IRGenSILFunction::visitGraphOperationInst() to handle ops other than "Const".
  include/swift/AST/TensorFlow.h
  include/swift/Runtime/RuntimeFunctions.def
  include/swift/SIL/GraphOperationInfo.h
  lib/AST/CMakeLists.txt
  lib/AST/GraphOperationInfo.cpp
  lib/AST/TensorFlow.cpp
  lib/IRGen/IRGenSIL.cpp
  lib/SILOptimizer/Mandatory/TFUtilities.cpp
  lib/SILOptimizer/Mandatory/TFUtilities.h
  test/TensorFlow/dynamic_compilation_irgen.swift
  test/TensorFlowRuntime/dynamic_compilation.swift
Labels: tensorflow

#19627 Fix sema for `@differentiable` and `@dynamicCallable`.
  lib/Sema/TypeCheckAttr.cpp
  stdlib/public/core/FloatingPoint.swift.gyb
  stdlib/public/core/FloatingPointTypes.swift.gyb
Labels: tensorflow
