Repository swiftlang/swift, pull requests merged in 2019-04, with the labels that each got.

#23719 [Sema] Fix getter parameter indices crash.
  lib/Sema/DerivedConformanceDifferentiable.cpp
  test/Sema/struct_differentiable.swift
Labels: tensorflow

#22869 [SE-0248] String Gaps
  stdlib/public/Darwin/Foundation/NSRange.swift
  stdlib/public/core/ASCII.swift
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/Character.swift
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/LegacyABI.swift
  stdlib/public/core/StringComparison.swift
  stdlib/public/core/StringCreate.swift
  stdlib/public/core/StringIndexConversions.swift
  stdlib/public/core/StringNormalization.swift
  stdlib/public/core/StringUTF8Validation.swift
  stdlib/public/core/StringUTF8View.swift
  stdlib/public/core/StringUnicodeScalarView.swift
  stdlib/public/core/Substring.swift
  stdlib/public/core/UTF16.swift
  stdlib/public/core/UTF32.swift
  stdlib/public/core/UTF8.swift
  stdlib/public/core/Unicode.swift
  stdlib/public/core/UnicodeHelpers.swift
  stdlib/public/core/UnicodeScalar.swift
  test/stdlib/Character.swift
  test/stdlib/StringIndex.swift
  test/stdlib/Unicode.swift
  test/stdlib/subString.swift
  validation-test/stdlib/String.swift
Labels: swift-evolution-approved

#23738 [AutoDiff] Add derivatives for `AnyDerivative` addition and subtraction.
  stdlib/public/core/AutoDiff.swift
  test/AutoDiff/anyderivative.swift
Labels: tensorflow

#23737 [TF] Fix `ShapedArraySlice` index subscript.
  stdlib/public/TensorFlow/ShapedArray.swift
  test/TensorFlowRuntime/shaped_array.swift
Labels: tensorflow

#23436 [SE-0252][TypeChecker] Keypath Dynamic Member Lookup
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiag.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSGen.cpp
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CSSolver.cpp
  lib/Sema/Constraint.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintLocator.h
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/ConstraintSystem.h
  lib/Sema/OverloadChoice.h
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConstraints.cpp
  lib/Sema/TypeChecker.h
  test/Constraints/keypath_dynamic_member_lookup.swift
  test/attr/attr_dynamic_member_lookup.swift
  test/expr/unary/keypath/keypath.swift
Labels: swift-evolution-approved

#23833 Adding concatV2 api and Tensor indexing
  stdlib/public/TensorFlow/Ops.swift
Labels: tensorflow

#23838 [TF] Minor changes.
  stdlib/public/TensorFlow/Ops.swift
Labels: tensorflow

#23700 Update checkout for TensorFlow repos.
  test/TensorFlow/deabstraction_finished.swift
  test/TensorFlow/no_copy.swift
  test/TensorFlowRuntime/collective.swift
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#23763 TF-404: Add `.std()` to `Tensor`.
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
Labels: tensorflow

#23874 Update checkout `swift-apis`.
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#23811 Add `variance()` and `variance(squeezingAxes:)`.
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
  test/TensorFlowRuntime/tensor_autodiff_runtime.swift
Labels: tensorflow

#23762 [TF-76][Python Interop] add PythonConvertible conformance to TensorShape
  stdlib/public/TensorFlow/TensorShape.swift
  test/Python/python_runtime.swift
  test/TensorFlow/integration.swift
  test/TensorFlowRuntime/numpy_conversion.swift
Labels: tensorflow

#23887 [AutoDiff] Enable differentiation wrt "subset indices".
  include/swift/AST/DiagnosticsSIL.def
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/AutoDiff/simple_math.swift
Labels: tensorflow

#23854 [AutoDiff] Propagate '@nondiff' from AST function types to SIL function types.
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/Types.h
  include/swift/SIL/SILBuilder.h
  lib/AST/ASTPrinter.cpp
  lib/AST/AutoDiff.cpp
  lib/AST/Builtins.cpp
  lib/AST/Type.cpp
  lib/IRGen/GenDiffFunc.cpp
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/SILFunctionType.cpp
  lib/SIL/SILInstructions.cpp
  lib/SIL/TypeLowering.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/SILGen/SILGenPoly.cpp
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  lib/Sema/CSApply.cpp
  test/AutoDiff/autodiff_diagnostics.swift
  test/AutoDiff/closures.swift
  test/AutoDiff/simple_math.swift
Labels: tensorflow

#23358 Add static and class subscripts
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsCommon.def
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Parse/Parser.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/Parse/ParseDecl.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  test/ClangImporter/Inputs/custom-modules/ObjCSubscripts.h
  test/ClangImporter/objc_class_subscript.swift
  test/Constraints/subscript.swift
  test/IDE/print_ast_tc_decls.swift
  test/Interpreter/SDK/dictionary_pattern_matching.swift
  test/Interpreter/generic_subscript_static.swift
  test/Interpreter/subscripting.swift
  test/Parse/subscripting.swift
  test/SILGen/dynamic.swift
  test/attr/attr_objc.swift
  test/attr/attr_override.swift
  test/decl/protocol/req/subscript.swift
  test/decl/subscript/generic.swift
  test/decl/subscript/static.swift
  test/decl/subscript/subscripting.swift
Labels: swift-evolution-approved

#23837 Implement basic tensor pretty printing, based on NumPy printing.
  stdlib/public/TensorFlow/ShapedArray.swift
  stdlib/public/TensorFlow/Tensor.swift
  test/TensorFlowRuntime/shaped_array.swift
  test/TensorFlowRuntime/string_description.swift
Labels: tensorflow

#24013 [AutoDiff] Register derivative for `AnyDerivative.init`.
  stdlib/public/core/AutoDiff.swift
  test/AutoDiff/anyderivative.swift
Labels: tensorflow

#24016 [TF] Make `setAttrShapeList` private.
  stdlib/public/TensorFlow/CompilerRuntime.swift
Labels: tensorflow

#24009 [TF] Make whole-tensor reductions safe for tracing
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
Labels: tensorflow

#24038 Revert "[TF] Make whole-tensor reductions safe for tracing"
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
Labels: tensorflow

#24042 [TF] Refactor numeric reduction ops and fix rank issues.
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
Labels: tensorflow

#23891 [TF-76] file renames + split PythonConvertible protocol
  stdlib/public/Python/Python.swift
  stdlib/public/TensorFlow/CMakeLists.txt
  stdlib/public/TensorFlow/PythonConversion.swift
  stdlib/public/TensorFlow/TensorShape.swift
  test/TensorFlow/integration.swift
  test/TensorFlowRuntime/python_conversion.swift
Labels: tensorflow

#24012 [TF] Change APIs to use `Int` instead of `Int32`.
  stdlib/public/TensorFlow/CompilerRuntime.swift
  stdlib/public/TensorFlow/CompositeMath.swift
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Ops.swift
  stdlib/public/TensorFlow/PythonConversion.swift
  stdlib/public/TensorFlow/ShapedArray.swift
  stdlib/public/TensorFlow/StringTensor.swift
  stdlib/public/TensorFlow/Tensor.swift
  stdlib/public/TensorFlow/TensorHandle.swift
  stdlib/public/TensorFlow/TensorShape.swift
  test/TensorFlow/crashers.swift
  test/TensorFlow/deabstraction_finished.swift
  test/TensorFlow/diagnostics.swift
  test/TensorFlow/integration.swift
  test/TensorFlow/no_copy.swift
  test/TensorFlowRuntime/dataset_api.swift
  test/TensorFlowRuntime/dynamic_attributes.swift
  test/TensorFlowRuntime/model_autodiff_runtime.swift
  test/TensorFlowRuntime/raw_ops.swift
  test/TensorFlowRuntime/tensor_autodiff_indirect.swift
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#24086 [TF] Introduce callables.
  include/swift/AST/Attr.def
  include/swift/AST/Decl.h
  include/swift/AST/DeclNodes.def
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/DiagnosticsSema.h
  include/swift/Demangling/DemangleNodes.def
  include/swift/IDE/CodeCompletion.h
  include/swift/IDE/SyntaxModel.h
  include/swift/Parse/Parser.h
  include/swift/Serialization/ModuleFormat.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTScope.cpp
  lib/AST/Decl.cpp
  lib/AST/LookupVisibleDecls.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/FrontendTool/ReferenceDependencies.cpp
  lib/IDE/CodeCompletion.cpp
  lib/IDE/REPLCodeCompletion.cpp
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenObjC.cpp
  lib/IRGen/GenObjC.h
  lib/Index/IndexSymbol.cpp
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParseExpr.cpp
  lib/Parse/ParsePattern.cpp
  lib/Parse/Parser.cpp
  lib/SILGen/SILGenDecl.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiag.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintLocator.h
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckNameLookup.cpp
  lib/Sema/TypeCheckProtocol.cpp
  lib/Serialization/Serialization.cpp
  test/AutoDiff/simple_model.swift
  test/Sema/immutability.swift
  test/SourceKit/CodeComplete/complete_override.swift.response
  test/TensorFlowRuntime/model_autodiff_runtime.swift
  test/decl/call/callables.swift
  test/decl/call/generic.swift
  test/decl/call/protocol.swift
  tools/SourceKit/lib/SwiftLang/SwiftLangSupport.cpp
  tools/swift-ide-test/swift-ide-test.cpp
  utils/build-presets.ini
  utils/gyb_sourcekit_support/UIDs.py
  utils/gyb_syntax_support/DeclNodes.py
  utils/gyb_syntax_support/ExprNodes.py
  utils/gyb_syntax_support/NodeSerializationCodes.py
  utils/gyb_syntax_support/Token.py
Labels: tensorflow

#23777 Internal wrapper for direct eager dispatching.
  stdlib/public/TensorFlow/ArrayOps.swift
  stdlib/public/TensorFlow/CMakeLists.txt
  stdlib/public/TensorFlow/CompilerRuntime.swift
  stdlib/public/TensorFlow/DataTypes.swift
  stdlib/public/TensorFlow/ExecuteOp.swift.gyb
Labels: tensorflow

#24094 Fix syntax support for `call func`.
  test/Syntax/Outputs/round_trip_parse_gen.swift.withkinds
  test/Syntax/round_trip_parse_gen.swift
  utils/gyb_syntax_support/DeclNodes.py
Labels: tensorflow

#23183 [AutoDiff] [stdlib] Made arrays differentiable
  stdlib/public/core/Array.swift
  test/AutoDiff/array.swift
  test/Sema/struct_differentiable.swift
Labels: tensorflow

#24098 [TF] Revert to `Tensor<Int32>` as the `index_type` for `Raw.fill`.
  stdlib/public/TensorFlow/Tensor.swift
Labels: tensorflow

#23684 [TF] Added support for advanced indexing and slicing
  stdlib/public/TensorFlow/Ops.swift
  test/TensorFlowRuntime/tensor.swift
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#24103 Fix callable type-checking.
  lib/Sema/CSSimplify.cpp
  test/decl/call/protocol.swift
Labels: tensorflow

#24099 Disable hanging GPU test.
  test/TensorFlowRuntime/string_description.swift
Labels: tensorflow

#24110 [TF] Make some data APIs take Int instead of Int64.
  stdlib/public/TensorFlow/Dataset.swift
Labels: tensorflow

#24116 Fix callable type-checking.
  lib/Sema/CSSimplify.cpp
Labels: tensorflow

#24114 [AutoDiff] Fix `AdjointEmitter::visitStructExtract`.
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/AutoDiff/generics.swift
Labels: tensorflow

#24117 Revert accidental change to `tensorflow_osx,installer` preset.
  utils/build-presets.ini
Labels: tensorflow

#24115 [AutoDiff] Add requirements to `@differentiable` attribute on getters.
  lib/Sema/DerivedConformanceDifferentiable.cpp
  test/AutoDiff/derived_differentiable_properties.swift
Labels: tensorflow

#24118 Update checkout for 'tensorflow/swift-apis'.
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#24121 Fix `call` declaration serialization.
  include/swift/AST/Decl.h
  include/swift/Serialization/DeclTypeRecordNodes.def
  include/swift/Serialization/ModuleFormat.h
  lib/AST/Decl.cpp
  lib/Sema/CSSimplify.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/Serialization.cpp
  test/decl/call/Inputs/callable_other_module.swift
  test/decl/call/callable_cross_module.swift
Labels: tensorflow

#24134 [AutoDiff] Fix double release in indirect pullback results.
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/TensorFlowRuntime/model_autodiff_runtime.swift
Labels: tensorflow

#24120 Added support for the "Split" op and added a VJP for the casting initializer.
  stdlib/public/TensorFlow/ArrayOps.swift
  stdlib/public/TensorFlow/Tensor.swift
Labels: tensorflow

#24157 Fix callable type-checking for inout parameters.
  lib/Sema/CSSimplify.cpp
  test/Sema/call_method_simple.swift
Labels: tensorflow

#24165 [AutoDiff] Fix a memory leak in pullback reabstraction thunks.
  lib/SILOptimizer/Mandatory/Differentiation.cpp
Labels: tensorflow

#24172 [TF] Update checkout for 'tensorflow/swift-apis'.
  utils/update_checkout/update-checkout-config.json
Labels: tensorflow

#24191 [TF] Make expandingShape take [Int] or Int...
  stdlib/public/TensorFlow/Gradients.swift
  stdlib/public/TensorFlow/Tensor.swift
  test/TensorFlowRuntime/tensor.swift
Labels: tensorflow

#24230 Add API documentation.
  stdlib/public/Python/Python.swift
Labels: tensorflow

#24298 Fix tracing leak from working with james.
  stdlib/public/TensorFlow/CompilerRuntime.swift
Labels: tensorflow

#24332 Fix `KeyPathIterable` conformance for `Array.DifferentiableView`.
  stdlib/public/core/Array.swift
  stdlib/public/core/KeyPathIterable.swift
  test/TensorFlowRuntime/key_path_iterable.swift
Labels: tensorflow

#24355 [TF] Remove deprecated `Tensor.selecting(_:_:)`.
  stdlib/public/TensorFlow/Ops.swift
Labels: tensorflow

#24352 [Build System: CMake] Convert the SWIFT_STDLIB_BUILD_TYPE variable into a CMake cache variable in cmake/modules/StandaloneOverlay.cmake
  cmake/modules/StandaloneOverlay.cmake
Labels: enhancement
