Repository swiftlang/swift, pull requests merged in 2021-11, with the labels that each got.

#39895 [Concurrency][Distributed] Handle more cases of isolation, protocols, better errors
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckDistributed.h
  lib/Sema/TypeCheckProtocol.cpp
  test/Concurrency/actor_isolation.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/distributed_actor_func_implicitly_async_throws.swift
  test/Distributed/distributed_actor_inference.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_isolation_and_protocols.swift
  test/Distributed/distributed_actor_protocol_isolation.swift
  test/Distributed/distributed_protocol_isolation.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Concurrency, Distributed

#40008 Always weak-link symbols from the concurrency library when back-deploying
  lib/AST/Decl.cpp
  test/Concurrency/Backdeploy/weak_linking.swift
Labels: r5.5

#39960 [5.5] [SILGen] Handled foreign funcs with async, error, and more args.
  lib/SILGen/SILGenApply.cpp
  validation-test/compiler_crashers_2_fixed/Inputs/rdar80704984_3.h
  validation-test/compiler_crashers_2_fixed/Inputs/rdar80704984_3.m
  validation-test/compiler_crashers_2_fixed/rdar80704984_3.swift
Labels: r5.5

#39985 Make the actor transport an associated type of the DistributedActor protocol
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/KnownIdentifiers.def
  lib/SILGen/SILGenDistributed.cpp
  lib/SILOptimizer/Utils/DistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/DerivedConformances.h
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckProtocol.cpp
  stdlib/public/Distributed/ActorTransport.swift
  stdlib/public/Distributed/DistributedActor.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_dynamic_remote_func.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_transport.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/Runtime/distributed_actor_whenLocal.swift
  test/Distributed/Runtime/distributed_no_transport_boom.swift
  test/Distributed/SIL/distributed_actor_default_deinit_sil.swift
  test/Distributed/SIL/distributed_actor_default_init_sil.swift
  test/Distributed/actor_protocols.swift
  test/Distributed/distributed_actor_initialization.swift
  test/Distributed/distributed_actor_isolation_and_tasks.swift
  test/Distributed/distributed_actor_resolve.swift
  test/IRGen/distributed_actor.swift
  test/Serialization/distributed.swift
Labels: Distributed

#40045 [Distributed] Distributed tests should not run in backdeployment
  test/Distributed/Runtime/distributed_no_transport_boom.swift
  test/IRGen/distributed_actor.swift
Labels: Distributed

#39708 Tweaks to isolation for actor initializers to match proposal
  include/swift/AST/ActorIsolation.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/DiagnosticsSema.def
  lib/AST/ASTContext.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_definite_init.swift
  test/Concurrency/actor_definite_init_swift6.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/concurrent_value_checking.swift
  test/Distributed/SIL/distributed_actor_default_init_sil.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Incremental/Verifier/single-file-private/AnyObject.swift
  test/SILOptimizer/definite_init_actor.swift
  test/decl/class/actor/basic.swift
Labels: Concurrency

#40097 fix SILGen bug for cross-module actor let accesses
  lib/SILGen/SILGenLValue.cpp
  test/Concurrency/Inputs/OtherActors.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/cross_module_let_sil.swift
Labels: Concurrency

#40095 [cxx-interop] Allow extensions on namespaces.
  lib/AST/NameLookup.cpp
  test/Interop/Cxx/namespace/Inputs/extensions.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/extensions.swift
Labels: C++ Interop

#40010 Implement ClangImporter importSourceLoc and importSourceRange
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
Labels: C++ Interop

#40127 [interop] clang name lookup should find declarations in inline namesp…
  lib/AST/NameLookup.cpp
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/namespace/class-inline-namespace-irgen.swift
  test/Interop/Cxx/namespace/function-overload-in-namespace-extension-irgen.swift
  test/Interop/Cxx/namespace/inline-namespace-ambiguity-error.swift
  test/Interop/Cxx/namespace/inline-namespace-function-call-broken.swift
  test/Interop/Cxx/namespace/top-level-inline-namespace-lookup.swift
Labels: C++ Interop

#40148 [5.5][Index] Add an async symbol property for async functions
  lib/Index/IndexSymbol.cpp
  test/Index/async.swift
Labels: r5.5

#40130 [CSApply/Distributed] Identify implicitly throwing calls while applying solution
  include/swift/AST/Decl.h
  include/swift/Sema/ConstraintSystem.h
  lib/AST/Decl.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  test/Distributed/distributed_actor_async_let.swift
Labels: Distributed

#40126 [5.5][Sema] Fix availability checking in `didSet` blocks with emit-module-separately
  include/swift/AST/SourceFile.h
  lib/AST/Module.cpp
  lib/Sema/TypeCheckStmt.cpp
  lib/Sema/TypeChecker.cpp
  test/Sema/availability_and_delayed_parsing.swift
Labels: r5.5

#40179 [Distributed] Improve error messages for protocol conformances
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  lib/AST/Decl.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Distributed/distributed_actor_cannot_be_downcast_to_actor.swift
  test/Distributed/distributed_actor_func_implicitly_async_throws.swift
  test/Distributed/distributed_actor_inference.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_protocol_isolation.swift
  test/Distributed/distributed_protocol_isolation.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#40165 [cxx-interop] Fix two issues with extending nested types across modules.
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/IDE/complete_from_clang_framework.swift
  test/Interop/Cxx/modules/Inputs/bridge-header.h
  test/Interop/Cxx/modules/Inputs/module.modulemap
  test/Interop/Cxx/modules/Inputs/namespace-extension-lib.swift
  test/Interop/Cxx/modules/Inputs/namespace.h
  test/Interop/Cxx/modules/Inputs/struct-from-bridge-extension-lib.swift
  test/Interop/Cxx/modules/use-namespace-extension-lib.swift
  test/Interop/Cxx/modules/use-struct-from-bridge-extension-lib.swift
  test/Interop/Cxx/namespace/templates-module-interface.swift
Labels: C++ Interop

#40197 [Distributed] more restrictions on distributed funcs based on serialization findings
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckDistributed.h
  test/Distributed/distributed_actor_inference.swift
  test/Distributed/distributed_actor_is_experimental_enabled_missing_import.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_nonisolated.swift
  test/Distributed/distributed_protocol_isolation.swift
Labels: Distributed

#40046 5.5: Workaround to cope with older SDKs
  lib/SILGen/SILGenFunction.cpp
Labels: r5.5

#40237 [Distributed] After all, a private func may be distributed
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/distributed_actor_isolation.swift
Labels: Distributed

#40276 Eng pr sr 14031 pointer type fix
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/templates/Inputs/function-templates.h
  test/Interop/Cxx/templates/defaulted-template-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/function-template-module-interface.swift
Labels: C++ Interop

#39999 C++ Interop: support mutating attribute for C++ methods
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/mutability-annotations.h
  test/Interop/Cxx/class/mutability-annotations-module-interface.swift
  test/Interop/Cxx/class/mutability-annotations-typechecker.swift
Labels: C++ Interop
