Repository swiftlang/swift, pull requests merged in 2021-10, with the labels that each got.

#39534 [Distributed] Fix swift-api-dump missing option
  utils/swift-api-dump.py
Labels: Distributed

#39521 [Distributed] dist. isolation checking aware of Task and closures etc
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  lib/Sema/TypeCheckDeclObjC.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_isolation_and_tasks.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#39499 [Distributed] fix missing _remote func entry in TBD
  include/swift/IRGen/Linking.h
  lib/FrontendTool/TBD.cpp
  lib/IRGen/Linking.cpp
  lib/TBDGen/TBDGen.cpp
  test/TBD/distributed.swift
Labels: Distributed

#39542 [Distributed] Fix when we invoke thunk, base it on typesystem implicit effects
  include/swift/AST/Expr.h
  lib/SILGen/SILGenApply.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Distributed/Runtime/distributed_actor_dynamic_remote_func.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_no_transport_boom.swift
Labels: Distributed

#39558 Distributed actor isolation
  docs/ReferenceGuides/UnderscoredAttributes.md
  include/swift/AST/Attr.def
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  lib/AST/Decl.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  lib/Sema/TypeCheckDeclObjC.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Distributed/distributed_actor_func_implicitly_async_throws.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_isolation_and_tasks.swift
  test/Distributed/distributed_actor_nonisolated.swift
  test/Distributed/distributed_protocol_isolation.swift
Labels: Distributed

#39552 [5.5] Don't include tests for back deploy concurrency product
  test/attr/Inputs/access-note-gen.py
  utils/swift_build_support/swift_build_support/products/backdeployconcurrency.py
Labels: r5.5

#38604 Re-working async-main
  include/swift/SIL/SILDeclRef.h
  lib/IRGen/GenObjC.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/IR/SILLocation.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/TypeCheckAttr.cpp
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/Runtime/async_task_priority_current.swift
  test/Concurrency/async_main.swift
Labels: Concurrency

#38914 [Distributed] Re-enable runtime tests
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_dynamic_remote_func.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_transport.swift
  test/Distributed/Runtime/distributed_no_transport_boom.swift
  test/Distributed/actor_protocols.swift
  test/Distributed/distributed_actor_basic.swift
  test/Distributed/distributed_actor_is_experimental.swift
  test/Distributed/distributed_actor_isolation.swift
Labels: Distributed

#39537 [5.5] Fix two false verification errors in the MemoryLifetimeVerifier
  include/swift/SIL/MemoryLocations.h
  include/swift/SIL/SILType.h
  lib/SIL/IR/SILType.cpp
  lib/SIL/Utils/MemoryLocations.cpp
  lib/SIL/Verifier/MemoryLifetimeVerifier.cpp
  test/SIL/memory_lifetime.sil
  test/SIL/memory_lifetime_failures.sil
Labels: r5.5

#39562 C++ Interop: add a test for std module interface
  test/Interop/Cxx/stdlib/std-module-interface.swift
Labels: C++ Interop

#39431 [cxx-interop] Print decls in the __ObjC module.
  lib/ClangImporter/ClangImporter.cpp
  lib/IDE/ModuleInterfacePrinting.cpp
  test/Interop/Cxx/namespace/submodules-module-interface.swift
  test/api-digester/Outputs/clang-module-dump.txt
Labels: C++ Interop

#39607 Implementing 0323 async main
  CHANGELOG.md
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/FileUnit.h
  include/swift/AST/SourceFile.h
  include/swift/AST/TypeAlignments.h
  include/swift/SIL/SILDeclRef.h
  include/swift/Serialization/SerializedModuleLoader.h
  lib/AST/Module.cpp
  lib/IRGen/GenObjC.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/IR/SILLocation.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Serialization/ModuleFile.cpp
  lib/TBDGen/TBDGen.cpp
  lib/TBDGen/TBDGenVisitor.h
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/Runtime/async_task_priority_current.swift
  test/Concurrency/Runtime/class_resilience.swift
  test/Concurrency/Runtime/protocol_resilience.swift
  test/Concurrency/async_main.swift
  test/Concurrency/async_main_invalid_global_actor.swift
  test/Concurrency/async_main_mainactor_isolation.swift
Labels: r5.5, Concurrency

#39710 [Concurrency] SR-15309: Fix instance task.isCancelled impl to use _task
  stdlib/public/Concurrency/TaskCancellation.swift
  test/Concurrency/Runtime/async_task_handle_cancellation.swift
Labels: Concurrency

#39664 [cxx-interop] Add members to the LookupTable where possible.
  include/swift/AST/Decl.h
  lib/AST/DeclContext.cpp
  lib/AST/NameLookup.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  test/ClangImporter/Inputs/SwiftPrivateAttr.txt
  test/ClangImporter/ctypes_parse.swift
  test/IDE/newtype.swift
  test/IDE/print_clang_decls.swift
  test/Interop/C/struct/struct-decl-context-module-interface.swift
  test/Interop/Cxx/class/access-specifiers-module-interface.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/linked-records-module-interface.swift
  test/Interop/Cxx/class/member-variables-module-interface.swift
  test/Interop/Cxx/class/memberwise-initializer-module-interface.swift
  test/Interop/Cxx/class/mutable-members-module-interface.swift
  test/Interop/Cxx/class/nested-records-module-interface.swift
  test/Interop/Cxx/enum/bool-enums-module-interface.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/static/static-member-var-module-interface.swift
  test/Interop/Cxx/templates/canonical-types-module-interface.swift
  test/Interop/Cxx/templates/class-template-with-typedef-module-interface.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/Cxx/templates/not-pre-defined-class-template-module-interface.swift
  test/Interop/Cxx/templates/using-directive-module-interface.swift
  test/SourceKit/DocSupport/doc_clang_module.swift.response
  test/SourceKit/InterfaceGen/gen_clang_module.swift.response
  test/SourceKit/InterfaceGen/gen_header.swift.header2.response
Labels: C++ Interop

#39733 Removing flaky escalation check
  test/Concurrency/Runtime/async_task_priority_current.swift
Labels: r5.5

#39787 [Distributed] Add support for distributed functions in extensions of distributed actors (fixed Linking too)
  docs/ABI/Mangling.rst
  include/swift/Demangling/DemangleNodes.def
  lib/AST/ASTMangler.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/IRGen/Linking.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeChecker.h
  test/Demangle/Inputs/manglings.txt
  test/SILGen/distributed_thunk.swift
  test/TBD/distributed.swift
Labels: Distributed

#34458 Added protocol CodingKeyRepresentable
  stdlib/public/core/Codable.swift
  test/api-digester/Outputs/cake-abi.json
  test/api-digester/Outputs/cake.json
  test/stdlib/CodableTests.swift
Labels: swift-evolution-approved
