Repository swiftlang/swift, pull requests merged in 2021-03, with the labels that each got.

#36144 C++ Interop: cleanup operator tests (NFC)
  test/Interop/Cxx/operators/Inputs/member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/member-out-of-line.h
  test/Interop/Cxx/operators/Inputs/non-member-inline.h
  test/Interop/Cxx/operators/Inputs/non-member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/non-member-out-of-line.h
  test/Interop/Cxx/operators/member-out-of-line-irgen.swift
  test/Interop/Cxx/operators/member-out-of-line-silgen.swift
  test/Interop/Cxx/operators/member-out-of-line.swift
  test/Interop/Cxx/operators/non-member-inline-module-interface.swift
  test/Interop/Cxx/operators/non-member-inline-typechecker.swift
  test/Interop/Cxx/operators/non-member-inline.swift
  test/Interop/Cxx/operators/non-member-out-of-line-irgen.swift
  test/Interop/Cxx/operators/non-member-out-of-line-silgen.swift
  test/Interop/Cxx/operators/non-member-out-of-line.swift
Labels: C++ Interop

#36075 C++ Interop: import call operators
  include/swift/SIL/AbstractionPattern.h
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/SIL/IR/AbstractionPattern.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/Inputs/member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/member-out-of-line.h
  test/Interop/Cxx/operators/member-inline-irgen.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/member-out-of-line.swift
Labels: C++ Interop

#35222 [cxx-interop] Using shadow with class template.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
Labels: C++ Interop

#36343 [cxx-interop] Bail earlier when importing invalid records.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/invalid-nested-struct.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/invalid-nested-struct-module-interface.swift
  test/Interop/Cxx/class/type-classification-loadable-silgen.swift
  test/Interop/Cxx/class/type-classification-module-interface.swift
Labels: C++ Interop

#35962 [cxx-interop] Don't crash when importing invalid decl.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/static/Inputs/constexpr-static-member-var-errors.h
  test/Interop/Cxx/static/Inputs/module.modulemap
  test/Interop/Cxx/static/constexpr-static-member-var-errors.swift
Labels: C++ Interop

#36554 [cxx-interop] Don't instantiate empty class template specializations.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/Inputs/explicit-class-specialization.h
  test/Interop/Cxx/templates/explicit-class-specialization-module-interface.swift
Labels: C++ Interop

#36553 [cxx-interop] Improve performance of deep template instantiations.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/Inputs/large-class-templates.h
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
Labels: C++ Interop

#36546 [5.4][Driver] Use library search group when linking statically
  lib/Driver/UnixToolChains.cpp
  test/Driver/linker-args-order-linux.swift
Labels: r5.4

#36365 C++ Interop: import subscript operators
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Sema/TypeCheckStorage.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/Inputs/member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/member-out-of-line.h
  test/Interop/Cxx/operators/member-inline-irgen.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/member-out-of-line.swift
Labels: C++ Interop

#34401 [DNM][TypeChecker] Implement Double <-> CGFloat implicit conversion
  include/swift/AST/Types.h
  include/swift/Basic/LangOptions.h
  include/swift/Option/FrontendOptions.td
  include/swift/Sema/Constraint.h
  include/swift/Sema/ConstraintLocator.h
  include/swift/Sema/ConstraintLocatorPathElts.def
  include/swift/Sema/ConstraintSystem.h
  lib/AST/Type.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CSSolver.cpp
  lib/Sema/CSStep.cpp
  lib/Sema/Constraint.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/implicit_double_cgfloat_conversion.swift
  test/Misc/misc_diagnostics.swift
  validation-test/Sema/type_checker_perf/fast/rdar46541800.swift
Labels: swift-evolution-pending-discussion

#36344 [SE-0293] Implement revision #3 of property wrapper parameters
  CHANGELOG.md
  include/swift/AST/AnyFunctionRef.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/AST/Type.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenProlog.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/TypeCheckAccess.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckStorage.cpp
  test/SILGen/property_wrapper_parameter.swift
  test/Sema/property_wrapper_parameter_invalid.swift
Labels: swift-evolution-approved
