Repository swiftlang/swift, pull requests merged in 2022-08, with the labels that each got.

#60298 [interop][SwiftToCxx] generics: support inOut generic param
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/generics/generic-function-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
Labels: C++ Interop

#60325 [cxx-interop] Explicitly require `CxxSequence`'s iterator to be `CxxIterator`
  stdlib/public/Cxx/CxxSequence.swift
Labels: C++ Interop

#60331 [interop][SwiftToCxx] NFC, move swift::Int&UInt declarations into shi…
  lib/PrintAsClang/PrintAsClang.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
Labels: C++ Interop

#60333 [interop][SwiftToCxx] NFC, add test to cover cross-module enum refs
  test/Interop/SwiftToCxx/cross-module-refs/Inputs/enums.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
Labels: C++ Interop

#60313 [cxx-interop] Add anonymous enum logic to `importFunctionReturnType`.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/anonymous-with-swift-name.h
  test/Interop/Cxx/enum/anonymous-with-swift-name-module-interface.swift
Labels: C++ Interop

#60314 Issue #59903 - Removing _decodeScalar function that isn't being used
  stdlib/public/core/UnicodeHelpers.swift
Labels: Standard Library

#60338 [cxx-interop] Fix issue where multiple records in a module containing the same meth…
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/method/Inputs/ambiguous_methods.h
  test/Interop/Cxx/class/method/ambiguous-methods-module-interface.swift
  test/Interop/Cxx/ergonomics/implicit-computed-properties-module-interface.swift
Labels: C++ Interop

#60352 [interop][SwiftToCxx] docs, add initial user guide docs for class typ…
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
Labels: C++ Interop

#60353 [interop][SwiftToCxx] add support for passing class types to Swift functions
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangClassType.h
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
Labels: C++ Interop

#60359 [interop][SwiftToCxx] copy construct & assign should do ARC operations for class reference values
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/class-api-prohibited.cpp
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
Labels: C++ Interop

#60371 [interop][SwiftToCxx] map class inheritance to C++ class hierarchy
  lib/PrintAsClang/PrintClangClassType.cpp
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-inheritance-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-inheritance-in-cxx.swift
Labels: C++ Interop

#60375 [interop][SwiftToCxx] include _SwiftCxxInteroperability.h in the tool…
  lib/PrintAsClang/PrintAsClang.cpp
  test/PrintAsCxx/empty.swift
Labels: C++ Interop

#60373 [cxx-interop] Fix circular reference errors during conformance synthesis
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: C++ Interop

#60386 [5.7] [Sema] Look through FunctionConversionExpr when finding @discardableResult callee
  lib/Sema/TypeCheckStmt.cpp
  test/Concurrency/attr_discardableResult_async_await.swift
Labels: r5.7

#60381 [interop][SwiftToCxx] add support for members in class types
  docs/CppInteroperability/CppInteroperabilityStatus.md
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
Labels: C++ Interop

#60336 [cxx-interop] Always import cxx shim when cxx-interop is enabled
  include/swift/Frontend/Frontend.h
  include/swift/Strings.h
  lib/Frontend/Frontend.cpp
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions.swift
  test/Interop/Cxx/foreign-reference/pod.swift
  test/Interop/Cxx/operators/member-inline.swift
  validation-test/ParseableInterface/verify_all_overlays.py
Labels: C++ Interop

#60392 🍒[5.7] Disallow async IBAction Methods
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/attr/attr_cdecl_async.swift
  test/attr/attr_ibaction.swift
  test/attr/attr_ibsegueaction.swift
Labels: r5.7

#60193 [build] Checkout Swift LLVM Bindings repo
  utils/update_checkout/update-checkout-config.json
Labels: C++ Interop

#60409 [5.7][CSClosure] Add support for projected/wrapper values
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSClosure.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  validation-test/Sema/type_checker_crashers_fixed/issue59294.swift
Labels: r5.7

#60437 [cxx-interop] NFC: Add explicit `override` to associated types
  stdlib/public/Cxx/CxxSequence.swift
Labels: C++ Interop

#60442 [interop][SwiftToCxx] add support for passing and returning class val…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/PrintAsCxx/empty.swift
Labels: C++ Interop

#60446 [interop][SwiftToCxx] docs: add SwiftTypeRepresentationInC++ document
  docs/CppInteroperability/SwiftTypeRepresentationInC++.md
Labels: C++ Interop

#60448 [interop][SwiftToCxx] ensure that resilient class values are supported
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-inheritance-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-inheritance-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
Labels: C++ Interop

#60466 [interop][SwiftToCxx] update swift type representation docs with diff…
  docs/CppInteroperability/SwiftTypeRepresentationInC++.md
Labels: C++ Interop

#60472 [interop][SwiftToCxx] pass&return value types to/from generic functions
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/resilient-generic-function-execution.cpp
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: C++ Interop

#60480 [Distributed] more specific errorCodes for dist failures
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: Distributed

#60476 🍒 [5.7][Distributed] Dont hang calls on not found accessors #60266
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_bad_targets.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
Labels: Distributed, r5.7

#60401 [5.7🍒] Fix crash when emitting force-unwrap-and-call expression for optional ObjC methods
  lib/SILGen/SILGenApply.cpp
  test/ClangImporter/objc_async.swift
  test/Inputs/clang-importer-sdk/usr/include/ObjCConcurrency.h
  test/SILGen/dynamic_lookup.swift
Labels: r5.7

#60499 [5.7] [Sema] Diagnose 'nonisolated' attribute on wrapped properties
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/Concurrency/global_actor_inference.swift
Labels: r5.7

#60451 [Interop][SwiftToCxx] add support for resilient enum
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-case-functions.swift
Labels: C++ Interop

#60473 [5.7] Add Task.sleep(for: Duration)
  stdlib/public/Concurrency/TaskSleepDuration.swift
Labels: r5.7

#60517 RequirementMachine: Fix crash-on-invalid with recursive same-type requirements [5.7]
  lib/AST/RequirementMachine/ConcreteContraction.cpp
  lib/AST/RequirementMachine/Diagnostics.cpp
  lib/AST/RequirementMachine/Diagnostics.h
  lib/AST/RequirementMachine/HomotopyReduction.cpp
  lib/AST/RequirementMachine/RequirementBuilder.cpp
  lib/AST/RequirementMachine/RewriteSystem.h
  lib/AST/RequirementMachine/Rule.cpp
  lib/AST/RequirementMachine/Rule.h
  test/Constraints/same_types.swift
  test/Generics/abstract_type_witnesses_in_protocols.swift
  test/Generics/occurs_check_diagnostic.swift
  test/attr/attr_specialize.swift
  test/type/opaque.swift
Labels: r5.7

#60389 [cxx-interop] Clang member lookup should not look into Swift extensions
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/inheritance/extensions-typechecker.swift
Labels: C++ Interop

#60524 [interop][SwiftToCxx] update reverse interop user guide for new enum design
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
Labels: C++ Interop

#60530 [cxx-interop] Emit LValue type in a base subscript assignment expression
  lib/ClangImporter/ClangImporter.cpp
Labels: C++ Interop

#60539 [cxx-interop] Re-enable debug mangling for C++ value types.
  lib/IRGen/IRGenDebugInfo.cpp
  lib/IRGen/IRGenSIL.cpp
  test/Interop/Cxx/class/debug-info-irgen.swift
Labels: C++ Interop

#60553 [cxx-interop] Fix anonymous enum issue for swift-named computed prope…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/enum/Inputs/anonymous-with-swift-name.h
  test/Interop/Cxx/enum/anonymous-with-swift-name.swift
Labels: C++ Interop

#60533 [5.7][ConstraintSystem] Retrieve contextual type from a solution for ambiguities
  include/swift/AST/DiagnosticsSema.def
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/overload.swift
Labels: r5.7

#60561 [interop][SwiftToCxx] add a test that verifies that we can emit C++ header from previously built swiftmodule/swiftinterface
  test/Interop/SwiftToCxx/core/gen-header-for-module.swift
Labels: C++ Interop

#60477 [5.7] Handle long tagged NSStrings
  stdlib/public/core/SmallString.swift
  stdlib/public/core/StringBridge.swift
  test/Inputs/SmallStringTestUtilities.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/Inputs/NSSlowTaggedLocalizedString/NSSlowTaggedLocalizedString.h
  test/stdlib/Inputs/NSSlowTaggedLocalizedString/NSSlowTaggedLocalizedString.m
  test/stdlib/Inputs/NSSlowTaggedLocalizedString/module.map
  test/stdlib/NSSlowTaggedLocalizedString.swift
Labels: r5.7

#60408 [5.7] Use `collections.abc.Iterable` instead of `collection.Iterable`
  utils/build_swift/build_swift/shell.py
  utils/build_swift/tests/build_swift/test_shell.py
Labels: r5.7

#60583 [interop][SwiftToCxx] do not emit unsupported function signatures yet
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
Labels: C++ Interop

#60564 [Interop][SwiftToCxx] Update current enum implementation for new enum design
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-case-functions.swift
Labels: C++ Interop

#60587 AST: Change return type of Requirement::subst() to Requirement [5.7]
  include/swift/AST/Requirement.h
  lib/AST/ASTContext.cpp
  lib/AST/ExistentialGeneralization.cpp
  lib/AST/GenericSignature.cpp
  lib/AST/GenericSignatureBuilder.cpp
  lib/AST/ProtocolConformance.cpp
  lib/AST/RequirementEnvironment.cpp
  lib/AST/RequirementMachine/RequirementLowering.cpp
  lib/AST/RequirementMachine/RequirementMachineRequests.cpp
  lib/AST/Type.cpp
  lib/IDE/IDETypeChecking.cpp
  lib/SILOptimizer/Utils/Generics.cpp
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/TypeCheckGeneric.cpp
  lib/Sema/TypeCheckProtocol.cpp
  validation-test/IDE/crashers_fixed/rdar98565072.swift
Labels: r5.7

#60525 Serialization: Preserve identity of opened generic environments [5.7]
  include/swift/AST/GenericEnvironment.h
  lib/AST/ASTContext.cpp
  lib/AST/GenericEnvironment.cpp
  lib/Serialization/DeclTypeRecordNodes.def
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFile.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/Serialization.h
  test/Serialization/Inputs/nested_opened_archetype_other.swift
  test/Serialization/nested_opened_archetype.swift
Labels: r5.7

#60570 🍒[5.7][Concurrency] Deprecate one of the cancellation handler overloads
  stdlib/public/BackDeployConcurrency/SourceCompatibilityShims.swift
  stdlib/public/Concurrency/SourceCompatibilityShims.swift
Labels: Concurrency, r5.7

#60332 [cxx-interop] Synthesize conformances to `CxxSequence`
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence.swift
Labels: C++ Interop

#60596 Apply @preconcurrency to typealiases at the point of use
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Sema/TypeCheckType.h
  test/Concurrency/preconcurrency_typealias.swift
Labels: r5.7

#60597 [5.7][ConstraintSystem] Don't produce argument info object for extraneous …
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/argument_matching.swift
Labels: r5.7

#60569 [Concurrency] Deprecate one of the cancellation handler overloads
  stdlib/public/BackDeployConcurrency/SourceCompatibilityShims.swift
  stdlib/public/Concurrency/SourceCompatibilityShims.swift
Labels: Concurrency

#60605 [5.7][incrParse] Encode Unicode characters in command output if stdout doesn't support Unicode
  utils/incrparse/test_util.py
Labels: r5.7

#60296 [Distributed] More API documentation
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: Distributed

#60620 [5.7] Disable match-module-cache-with-compiler.swift test on Linux
  test/SourceKit/Misc/match-module-cache-with-compiler.swift
Labels: r5.7

#60516 Sema: Fix deep equality matching for parameterized protocol types [5.7]
  include/swift/Sema/ConstraintLocatorPathElts.def
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/parameterized_existentials.swift
Labels: r5.7

#60642 [cherry-pick][5.7] Presets: Build a release stdlib on the lldb sanitizer bot.
  utils/build-presets.ini
Labels: r5.7

#60628 [5.7][CSDiagnostics] Verify that member is in collection context
  lib/Sema/CSDiagnostics.cpp
  test/expr/closure/multi_statement.swift
Labels: r5.7

#60666 [interop][SwiftToCxx] fix the circular depedency issue for struct emi…
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-circular-dependent-defs.swift
Labels: C++ Interop

#60676 [5.7.0][incrParse] Encode Unicode characters in command output if stdout doesn't support Unicode
  utils/incrparse/test_util.py
Labels: r5.7

#60677 [5.7.0] Disable match-module-cache-with-compiler.swift test on Linux
  test/SourceKit/Misc/match-module-cache-with-compiler.swift
Labels: r5.7

#60703 [cxx-interop] NFC: Remove unused source file
  stdlib/public/Cxx/cxxshim/libcxxshim.swift
Labels: C++ Interop

#60708 Adopt Cxx header/implementation in example
  docs/CppInteroperability/GettingStartedWithC++Interop.md
Labels: C++ Interop

#60632 [5.7][stdlib] add explanations to _debugPrecondition calls
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafePointer.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  stdlib/public/core/UnsafeRawPointer.swift
Labels: r5.7

#60653 [5.7][Driver] Work around lld 13+ issue with --gc-sections for ELF by adding -z nostart-stop-gc
  lib/Driver/UnixToolChains.cpp
  test/Driver/link-time-opt.swift
Labels: r5.7

#60719 [Distributed] More API documentation
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: Distributed, Documentation

#60668 Witness thunk does not need to hop when the witness decl is accessible from anywhere
  lib/Sema/TypeCheckProtocol.cpp
  test/SILGen/async_conversion.swift
Labels: r5.7

#60662 [Concurrency] Fix a few annotations for the concurrency library
  stdlib/public/BackDeployConcurrency/CheckedContinuation.swift
  stdlib/public/BackDeployConcurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/CheckedContinuation.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/TaskGroup.swift
  test/Concurrency/async_tasks.swift
  test/Concurrency/unsafe_inherit_executor_lib.swift
Labels: r5.7

#60657 Open existential actors when retrieving their executors.
  lib/SILGen/SILGenProlog.cpp
  test/SILGen/isolated_parameters.swift
Labels: r5.7

#60715 [interop][SwiftToCxx] add @_expose(Cxx) attribute suppport
  docs/ReferenceGuides/UnderscoredAttributes.md
  include/swift/AST/Attr.def
  include/swift/AST/Attr.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/Attr.cpp
  lib/AST/SwiftNameTranslation.cpp
  lib/Parse/ParseDecl.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/ModuleContentsWriter.h
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/attr/attr_expose.swift
Labels: C++ Interop

#59881 🍒[5.7][Distributed] Prevent overloading on async in distributed methods, for wire compat
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_remoteChanged_asyncness.swift
  test/Distributed/distributed_func_overloads.swift
Labels: Distributed, r5.7

#60732 [5.7][CSSimplify] Failure to bind type variable to invalid dependent membe…
  lib/Sema/CSSimplify.cpp
  validation-test/Sema/type_checker_crashers_fixed/issue60649.swift
Labels: r5.7

#60757 [interop][SwiftToCxx] add a test to print out empty Swift stdlib module
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: C++ Interop

#60778 [cxx-interop] Don't import constructors of foreign reference types.
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/foreign-reference/no-ctor-errors.swift
Labels: C++ Interop

#60787 [interop][SwiftToCxx] docs: add section on converting Swift's String …
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
Labels: C++ Interop

#60785 [interop][SwiftToCxx] experimentally expose Swift::String type to C++
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/lit.local.cfg
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: C++ Interop

#60783 [5.7] Fix a potential use-after-free in lazy global emission
  lib/IRGen/GenDecl.cpp
  validation-test/IRGen/98995607.swift.gyb
Labels: r5.7

#60794 Reduce semantic dependencies in contextRequiresStrictConcurrencyChecking
  lib/Sema/TypeCheckConcurrency.cpp
Labels: r5.7

#60801 [5.7][SourceKit] Workaround a bug that parameterized protocols without 'any' cannot be mangled
  lib/IDE/CodeCompletionResultType.cpp
  test/IDE/complete_from_module_with_type_alias_to_parameterized_protocol.swift
  test/SourceKit/CursorInfo/cursor_from_module_with_type_alias_to_parameterized_protocol.swift
  tools/SourceKit/lib/SwiftLang/SwiftSourceDocInfo.cpp
Labels: r5.7

#60827 [interop][SwiftToCxx] support @_expose attribute on initializers
  include/swift/AST/Attr.def
  include/swift/AST/DiagnosticsSema.def
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/attr/attr_expose.swift
Labels: C++ Interop

#60832 [interop][SwiftToCxx] do not support generics with requirements for now
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
Labels: C++ Interop

#60835 [interop][SwiftToCxx] add support for generic methods
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/generics/generic-function-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
Labels: C++ Interop

#60725 [cxx-interop] Emit `-enable-experimental-cxx-interop` flag into the module interface
  include/swift/Option/Options.td
  test/Interop/Cxx/modules/Inputs/module.modulemap
  test/Interop/Cxx/modules/Inputs/namespace-extension-lib.swift
  test/Interop/Cxx/modules/emit-module-interface.swift
  test/Interop/Cxx/modules/use-namespace-extension-lib.swift
Labels: C++ Interop

#60843 [5.7🍒] Add missing function conversion for member access to preconcurrency
  include/swift/AST/Expr.h
  include/swift/AST/ExprNodes.def
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTVerifier.cpp
  lib/AST/Expr.cpp
  lib/SILGen/LValue.h
  lib/SILGen/SILGenExpr.cpp
  lib/SILGen/SILGenLValue.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/ConstraintSystem.cpp
  test/SILGen/Inputs/objc_preconcurrency.h
  test/SILGen/objc_preconcurrency.swift
Labels: Concurrency, r5.7

#60849 [5.7][ConstraintSystem] Before applying the result builder transform to a function body, map the result builder type into context.
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/BuilderTransform.cpp
  lib/Sema/TypeCheckRequestFunctions.cpp
  test/Constraints/result_builder_generic_infer.swift
Labels: r5.7

#60851 [Print as C++] Don't crash on sugared types
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/functions/PrintAsCxx/function_with_array.swift
Labels: C++ Interop

#60842 [Interop][SwiftToCxx] Support enum creation from Cxx
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-case-functions-execution.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-case-functions.swift
  test/Interop/SwiftToCxx/enums/swift-enum-cases-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-extract-payload-execution.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-extract-payload.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation-execution.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
Labels: C++ Interop

#60881 [5.7][ConstraintSystem] Fix result builder discovery in leading-dot syntax calls
  lib/Sema/CSSimplify.cpp
  test/Constraints/result_builder.swift
Labels: r5.7
