Repository swiftlang/swift, pull requests merged in 2022-01, with the labels that each got.

#40652 Fixes for stored property initializers
  lib/AST/Decl.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenGlobalVariable.cpp
  lib/SILGen/SILGenLValue.cpp
  test/Concurrency/Runtime/mainactor.swift
  test/Concurrency/property_initializers.swift
  test/SILGen/hop_to_executor_async_prop.swift
Labels: Concurrency

#34993 [cxx-interop] Add SIL function representation cxx_method; Support extending C++ types.
  docs/ABI/Mangling.rst
  include/swift/AST/ExtInfo.h
  include/swift/SIL/ApplySite.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ClangTypeConverter.cpp
  lib/AST/ExtInfo.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  lib/IRGen/Callee.h
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenPointerAuth.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/SIL/IR/Bridging.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/SILGen/SILGenPoly.cpp
  lib/SILGen/SILGenType.cpp
  lib/SILOptimizer/FunctionSignatureTransforms/FunctionSignatureOpts.cpp
  lib/SILOptimizer/Mandatory/MandatoryInlining.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/protocol-conformance-irgen.swift
  test/Interop/Cxx/class/protocol-conformance-silgen.swift
  test/Interop/Cxx/class/protocol-conformance.swift
  test/Interop/Cxx/foreign-reference/move-only-silgen.swift
  test/Interop/Cxx/foreign-reference/pod-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton-silgen.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
  test/Interop/Cxx/templates/partially-pre-defined-class-template-silgen.swift
Labels: C++ Interop

#40605 [Distributed] Func metadata operations and implement executeDistributedTarget entry
  include/swift/AST/KnownIdentifiers.def
  include/swift/Demangling/Demangle.h
  include/swift/Demangling/TypeDecoder.h
  lib/Demangling/Demangler.cpp
  lib/IRGen/Callee.h
  lib/IRGen/GenDistributed.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  stdlib/public/Distributed/HeterogeneousBuffer.swift
  stdlib/public/runtime/MetadataLookup.cpp
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
Labels: Distributed

#40767 Don't emit @main into SIL
  include/swift/AST/Attr.def
  include/swift/AST/Attr.h
  lib/AST/Attr.cpp
  lib/Parse/ParseDecl.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/attr/ApplicationMain/attr_main_struct.swift
Labels: r5.6

#40758 [5.6] [stdlib] Use Apple's PUA Unicode data
  stdlib/public/stubs/CMakeLists.txt
  stdlib/public/stubs/Unicode/Apple/NormalizationData.h
  stdlib/public/stubs/Unicode/Apple/ScalarPropsData.h
  stdlib/public/stubs/Unicode/Common/GraphemeData.h
  stdlib/public/stubs/Unicode/Common/NormalizationData.h
  stdlib/public/stubs/Unicode/Common/ScalarPropsData.h
  stdlib/public/stubs/Unicode/UnicodeData.cpp
  stdlib/public/stubs/Unicode/UnicodeGrapheme.cpp
  stdlib/public/stubs/Unicode/UnicodeNormalization.cpp
  stdlib/public/stubs/Unicode/UnicodeScalarProps.cpp
  stdlib/public/stubs/UnicodeGrapheme.cpp
  stdlib/public/stubs/UnicodeScalarProps.h
  utils/gen-unicode-data/Data/Apple/DerivedCoreProperties.txt
  utils/gen-unicode-data/Data/Apple/UnicodeData.txt
  utils/gen-unicode-data/Input/GraphemeData.h
  utils/gen-unicode-data/Input/NormalizationData.h
  utils/gen-unicode-data/Input/ScalarPropData.h
  utils/gen-unicode-data/Sources/GenNormalization/Comp.swift
  utils/gen-unicode-data/Sources/GenNormalization/Decomp.swift
  utils/gen-unicode-data/Sources/GenNormalization/NormData.swift
  utils/gen-unicode-data/Sources/GenNormalization/main.swift
  utils/gen-unicode-data/Sources/GenScalarProps/BinProps.swift
  utils/gen-unicode-data/Sources/GenScalarProps/Mappings.swift
  utils/gen-unicode-data/Sources/GenScalarProps/main.swift
  utils/gen-unicode-data/Sources/GenUtils/Emit.swift
Labels: r5.6

#40759 [5.6] [stdlib] Some fixes for scalar names
  stdlib/public/core/UnicodeScalarProperties.swift
  stdlib/public/stubs/Unicode/Apple/ScalarPropsData.h
  stdlib/public/stubs/Unicode/Common/ScalarPropsData.h
  stdlib/public/stubs/Unicode/UnicodeScalarProps.cpp
  utils/gen-unicode-data/Sources/GenScalarProps/Names.swift
Labels: r5.6

#40761 [5.6] AllocStackHoisting: fix the check for availability-checks
  lib/IRGen/AllocStackHoisting.cpp
  test/SILOptimizer/allocstack_hoisting.sil
Labels: r5.6

#40044 5.5 fix weak extended frame pointer flags
  lib/IRGen/IRGenModule.cpp
  test/Concurrency/Backdeploy/weak_linking.swift
Labels: r5.5

#40771 [5.6] Always Import FieldDecls from Records
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/class-template-instantiation.swift
  test/Interop/Cxx/templates/class-template-uninstantiatable-members-irgen.swift
Labels: r5.6

#40739 [5.6] [ShrinkBorrowScope] Fixed assert.
  lib/SILOptimizer/Utils/ShrinkBorrowScope.cpp
Labels: r5.6

#40814 [Distributed] Fix `_executeDistributedFunction` resume and result buffer
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
Labels: Distributed

#40803 [5.6] [stdlib] Implement the Indic grapheme breaking rules
  stdlib/public/SwiftShims/UnicodeData.h
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/stubs/Unicode/Common/GraphemeData.h
  stdlib/public/stubs/Unicode/UnicodeGrapheme.cpp
  utils/gen-unicode-data/Sources/GenGraphemeBreakProperty/IndicRules.swift
  utils/gen-unicode-data/Sources/GenGraphemeBreakProperty/main.swift
  validation-test/stdlib/String.swift
Labels: r5.6

#40816 [Distributed] Pass args from Invocation to HBuffer
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/KnownProtocols.def
  lib/IRGen/GenMeta.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/HeterogeneousBuffer.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Inputs/dynamic_replacement_da_decl.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_dynamic_remote_func.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/Runtime/distributed_actor_whenLocal.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
  test/Distributed/Runtime/distributed_no_system_boom.swift
  test/IRGen/distributed_actor.swift
  test/SILGen/distributed_thunk.swift
  test/Serialization/Inputs/def_distributed.swift
  test/TBD/distributed.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#40821 Tolerate missing Sendable conformances on superclasses.
  lib/AST/ConformanceLookupTable.cpp
  lib/AST/Module.cpp
  test/Concurrency/sendable_conformance_checking.swift
Labels: r5.6

#40848 [Distributed] A couple of improvements to `HeterogeneousBuffer` and test-cases
  stdlib/public/Distributed/HeterogeneousBuffer.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
Labels: Distributed

#40851 ASTMangler: Respect @_originallyDefinedIn in mangleOpaqueTypeDecl() [5.6]
  lib/AST/ASTMangler.cpp
  lib/AST/Decl.cpp
  test/ModuleInterface/Inputs/CoreVegetable.swift
  test/ModuleInterface/originally-defined-attr-opaque-result.swift
Labels: r5.6

#40849 [Distributed] NFC: Disable remote call test on 32-bit watchOS
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
Labels: Distributed

#40864 [Distributed] Metadata: Refactor demangling of function types from method mangled names
  lib/IRGen/GenDistributed.cpp
  stdlib/public/runtime/MetadataLookup.cpp
Labels: Distributed

#40834 AST: Implement ProtocolConformance::subst() for BuiltinProtocolConformances [5.6]
  lib/AST/ProtocolConformance.cpp
  validation-test/compiler_crashers_2_fixed/sr15628.swift
Labels: r5.6

#40867 [cxx-interop] Fix linker errors when using std-vector.
  lib/IRGen/GenClangDecl.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
  test/Interop/Cxx/templates/Inputs/define-referenced-inline.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/define-referenced-inline.swift
Labels: C++ Interop

#40893 [cxx-interop] Fix crash when indexing with C++ interop enabled.
  lib/FrontendTool/FrontendTool.cpp
  test/Interop/Cxx/stdlib/import-foundation-with-indexing.swift
Labels: C++ Interop

#40905 [cxx-interop] Re-land part of 6ba7a1e. Fix an issue with extending nested namespaces across modules.
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/modules/Inputs/bridge-header.h
  test/Interop/Cxx/modules/Inputs/module.modulemap
  test/Interop/Cxx/modules/Inputs/namespace-extension-lib.swift
  test/Interop/Cxx/modules/Inputs/namespace.h
  test/Interop/Cxx/modules/use-namespace-extension-lib.swift
  test/Interop/Cxx/namespace/templates-module-interface.swift
Labels: C++ Interop

#40923 [interop] add an option to emit C++ header interface for a module
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Basic/SupplementaryOutputPaths.h
  include/swift/Frontend/Frontend.h
  include/swift/Frontend/FrontendInputsAndOutputs.h
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/Options.td
  include/swift/PrintAsObjC/PrintAsObjC.h
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/Frontend/ArgsToFrontendOutputsConverter.cpp
  lib/Frontend/Frontend.cpp
  lib/Frontend/FrontendInputsAndOutputs.cpp
  lib/Frontend/FrontendOptions.cpp
  lib/FrontendTool/FrontendTool.cpp
  lib/PrintAsObjC/PrintAsObjC.cpp
  test/Frontend/supplementary-output-support.swift
  test/PrintAsCxx/empty.swift
Labels: C++ Interop

#40924 [cxx-interop] Comment out failing test while I find a solution.
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: C++ Interop

#40951 [interop] emit a parsable C++ header for a module that includes names…
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/ModuleContentsWriter.h
  lib/PrintAsClang/OutputLanguageMode.h
  lib/PrintAsClang/PrintAsClang.cpp
  test/PrintAsCxx/empty.swift
  test/PrintAsCxx/lit.local.cfg
Labels: C++ Interop

#40967 [interop] restructure Swift -> C++ interop tests
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/PrintAsCxx/empty.swift
  test/PrintAsCxx/lit.local.cfg
  test/PrintAsObjC/empty.swift
  test/PrintAsObjC/lit.local.cfg
  test/lit.cfg
Labels: C++ Interop

#40983 Sema: Back out https://github.com/apple/swift/pull/36752 entirely [5.6]
  lib/Sema/TypeCheckProtocol.cpp
  test/DebugInfo/debug_scope_propagate.swift
  test/SILGen/enum_equatable_witness.swift
  test/SILGen/opaque_ownership.swift
  test/api-digester/Outputs/cake-abi.json
  test/api-digester/Outputs/cake.json
Labels: r5.6

#40963 Allow global-actor isolation on top-level variables
  lib/SILGen/SILGenLValue.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/SILGen/top_level_captures.swift
  test/SILGen/toplevel_errors.swift
  test/SILGen/toplevel_globalactorvars.swift
Labels: Concurrency

#41008 [5.6,SILOptimizer] Let visitTransitiveEndBorrows take SILValues.
  include/swift/SIL/OwnershipUtils.h
  lib/SIL/Utils/OwnershipUtils.cpp
  lib/SILOptimizer/Analysis/MemoryBehavior.cpp
  lib/SILOptimizer/Transforms/DeadCodeElimination.cpp
  test/SILOptimizer/dead_code_elimination_nontrivial_ossa.sil
Labels: r5.6

#40947 [Distributed] Augment accessor to support calling generic distributed thunks
  include/swift/ABI/Metadata.h
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenDistributed.cpp
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenModule.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  stdlib/public/runtime/MetadataLookup.cpp
  stdlib/public/runtime/Private.h
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: Distributed

#41020 [5.6] SIL optimizer: temporarily disable immortal arc elimination
  libswift/Sources/Optimizer/PassManager/PassUtils.swift
  test/SILOptimizer/immortal-arc-elimination.sil
  test/SILOptimizer/immortal-arc-elimination.swift
Labels: r5.6

#40998 Make top-level code variables `@MainActor @preconcurrency`
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  test/Concurrency/toplevel/Inputs/foo.swift
  test/Concurrency/toplevel/main.swift
  test/SILGen/toplevel_globalactorvars.swift
Labels: Concurrency

#41082 [Distributed] Augment accessor to be able to decode arguments instead of accepting buffer
  include/swift/AST/ASTContext.h
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/IRGen/GenDistributed.cpp
  lib/Sema/TypeCheckDistributed.cpp
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/HeterogeneousBuffer.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Inputs/dynamic_replacement_da_decl.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_takeThrowReturn.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_throw.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/Runtime/distributed_actor_whenLocal.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
  test/Distributed/SIL/distributed_actor_remoteCall_sil.swift
  test/Distributed/distributed_actor_accessor_section_macho.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/IRGen/distributed_actor.swift
  test/SILGen/distributed_thunk.swift
  test/Serialization/Inputs/def_distributed.swift
  test/TBD/distributed.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#41097 Fix Task.CancellationError type in doc comments
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskCancellation.swift
Labels: Concurrency

#41101 [Distributed] Augment distributed accessor to lookup witness tables for decode call
  include/swift/AST/KnownIdentifiers.def
  lib/IRGen/GenDistributed.cpp
  lib/Sema/TypeCheckDistributed.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Inputs/dynamic_replacement_da_decl.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_generic.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_local.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/Runtime/distributed_actor_whenLocal.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/IRGen/distributed_actor.swift
  test/SILGen/distributed_thunk.swift
  test/Serialization/Inputs/def_distributed.swift
  test/TBD/distributed.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed
