Repository swiftlang/swift, pull requests merged in 2022-09, with the labels that each got.

#60848 [interop][SwiftToCxx] initial generic struct support
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/SwiftToClangInteropContext.cpp
  lib/PrintAsClang/SwiftToClangInteropContext.h
  test/Interop/SwiftToCxx/functions/PrintAsCxx/function_with_array.swift
  test/Interop/SwiftToCxx/generics/generic-struct-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/resilient-generic-struct-execution.cpp
Labels: C++ Interop

#60886 [5.7🍒][Concurrency] Handle actor isolation for defers in closures
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_defer.swift
Labels: Concurrency, r5.7

#60892 [interop][SwiftToCxx] add support for invoking methods in generic structs & unify function and struct generics
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/GenProto.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/IRGen/MetadataSource.h
  lib/IRGen/Signature.h
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: C++ Interop

#60831 [5.7] Fix Substring.removeSubrange for entire substring
  stdlib/public/core/StringGutsRangeReplaceable.swift
Labels: r5.7

#60802 [5.7][CodeComplete] Show global completions from modules that are imported as `@_spi`
  include/swift/IDE/CodeCompletionCache.h
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CodeCompletionCache.cpp
  test/IDE/complete_from_swift_module_spi.swift
Labels: r5.7

#60905 [interop][SwiftToCxx] correctly invoke property accessors in generic …
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/generics/generic-struct-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
Labels: C++ Interop

#60907 [cxx-interop] Fix foreign reference types with reference counting that live in a namespace.
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/reference-counted-silgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: C++ Interop

#60915 [interop][SwiftToCxx] add support for generic methods in generic structs
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
Labels: C++ Interop

#60967 [cxx-interop][SwiftCompilerSources] Include Clang headers
  SwiftCompilerSources/CMakeLists.txt
  SwiftCompilerSources/Package.swift
Labels: C++ Interop

#60858 [SwiftToCxx] Including Cxx representation of Swift's Error
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
Labels: C++ Interop

#60774 [C++ Interop] Support C++ parameters in Obj-C++ methods.
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/reference/Inputs/const-ref-parameter.h
  test/Interop/Cxx/reference/Inputs/module.modulemap
  test/Interop/Cxx/reference/const-ref-parameter.swift
Labels: C++ Interop

#60978 [interop][SwiftToCxx] reimplement function lowering to correctly dist…
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/GenCall.cpp
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/LoadableByAddress.cpp
  lib/IRGen/Signature.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/SwiftToC/structs/small-structs-64-bit-pass-return-direct-in-c.swift
  test/Interop/SwiftToC/structs/small-structs-pass-return-direct-in-c-execution.c
  test/Interop/SwiftToC/structs/small-structs-pass-return-direct-in-c.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-generated-stub-64bit.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-execution-known-layout-direct.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-execution-known-layout-indirect.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/generics/resilient-generic-struct-execution-known-layout-direct.cpp
  test/Interop/SwiftToCxx/generics/resilient-generic-struct-execution-known-layout-indirect.cpp
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
Labels: C++ Interop

#60887 [5.7🍒] pair of small fixes
  lib/SILGen/SILGenProlog.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/SILGen/hop_to_executor_async_prop.swift
Labels: r5.7

#60997 [interop][SwiftToCxx] experimentally expose Swift's Array type
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: C++ Interop

#61004 [Interop][SwiftToCxx] Support printing methods and properties for enums
  docs/CppInteroperability/CppInteroperabilityStatus.md
  docs/CppInteroperability/UserGuide-CallingSwiftFromC++.md
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation-execution.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
Labels: C++ Interop

#61019 [cxx-interop] update reverse interop status docs
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#61026 [cxx-interop] Lazily instanciate var types and compute their type.
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Sema/TypeCheckDecl.cpp
  test/Interop/Cxx/static/Inputs/invalid-static-member-var.h
  test/Interop/Cxx/static/Inputs/module.modulemap
  test/Interop/Cxx/static/constexpr-invalid-static-member-var.swift
  test/Interop/Cxx/static/constexpr-static-member-var-errors.swift
Labels: C++ Interop

#61047 [interop] pass and return C++ value types to/from Swift in C++
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/lit.local.cfg
  test/PrintAsCxx/empty.swift
  test/PrintAsObjC/empty.swift
  test/PrintAsObjC/mixed-framework-fwd.swift
  test/PrintAsObjC/mixed-framework.swift
Labels: C++ Interop

#61053 [interop] use C++ value types bridged to Swift in Swift generic context from C++
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/SwiftToClangInteropContext.cpp
  lib/PrintAsClang/SwiftToClangInteropContext.h
  stdlib/public/SwiftShims/_SwiftCxxInteroperability.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
Labels: C++ Interop

#61067 [interop][SwiftToCxx] experimentally expose exposable Swift's Array members to C++
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/SwiftToClangInteropContext.cpp
  lib/PrintAsClang/SwiftToClangInteropContext.h
  test/Interop/SwiftToCxx/extension/struct-extension-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-types-in-cxx.swift
Labels: C++ Interop

#60133 Add CustomDebugDescription conformance to AnyKeyPath
  include/swift/Demangling/Demangle.h
  lib/Demangling/NodePrinter.cpp
  stdlib/public/core/KeyPath.swift
  stdlib/public/runtime/ReflectionMirror.cpp
  test/Interpreter/keypath.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/symbol-visibility-linux.test-sh
Labels: swift-evolution-approved

#61072 [interop][SwiftToCxx] expose generic type traits for C++ types in gen…
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/SwiftToClangInteropContext.cpp
  lib/PrintAsClang/SwiftToClangInteropContext.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: C++ Interop

#61000 [C++-Interop] Import `const &T` function parameters as @in_guaranteed
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILGen/SILGenBridging.cpp
  test/Interop/Cxx/reference/Inputs/module.modulemap
  test/Interop/Cxx/reference/Inputs/reference-silgen-cxx-objc-ctors+init.h
  test/Interop/Cxx/reference/const-ref-parameter.swift
  test/Interop/Cxx/reference/reference-silgen-cxx-objc-ctors+init.swift
  test/Interop/Cxx/reference/reference-silgen.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
Labels: C++ Interop

#41608 [SE-0370] pointer family initialization improvements & better buffer slices
  stdlib/public/core/ArrayBufferProtocol.swift
  stdlib/public/core/Bitset.swift
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/HashTable.swift
  stdlib/public/core/StringGuts.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafeBufferPointerSlice.swift
  stdlib/public/core/UnsafePointer.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  stdlib/public/core/UnsafeRawPointer.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  validation-test/stdlib/UnsafeBufferPointer.swift.gyb
  validation-test/stdlib/UnsafeBufferPointerSlices.swift
Labels: swift-evolution-approved

#61074 [5.7][CSClosure] Fix some aspects of property wrapper handling in closures
  lib/Sema/CSClosure.cpp
  test/expr/closure/multi_statement.swift
  validation-test/Sema/type_checker_crashers_fixed/issue59294.swift
Labels: r5.7

#61107 [interop][SwiftToCxx] initial generic enum support
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/generics/generic-enum-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
Labels: C++ Interop

#60968 [cxx-interop][SwiftCompilerSources] Use `swift::SILDebugLocation` instead of `BridgedLocation`
  SwiftCompilerSources/CMakeLists.txt
  SwiftCompilerSources/Sources/SIL/Location.swift
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingUtils.h
  include/swift/module.modulemap
  lib/SIL/Utils/SILBridging.cpp
Labels: C++ Interop

#61109 [5.7][ConstraintSystem] Use witnesses for `makeIterator` and `next` refs in `for-in` context
  include/swift/AST/ASTContext.h
  include/swift/Sema/Constraint.h
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ASTContext.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/Constraint.cpp
  validation-test/Sema/issue-60514.swift
  validation-test/Sema/issue-60958.swift
Labels: r5.7

#61099 [cxx-interop] Recognize `CxxStdlib` as an alias for `std`
  include/swift/AST/KnownIdentifiers.def
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: C++ Interop

#61131 [cxx-interop][SwiftCompilerSources] Use `swift::SubstitutionMap` instead of `BridgedSubstitutionMap`
  SwiftCompilerSources/Sources/SIL/SubstitutionMap.swift
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingUtils.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/module.modulemap
  lib/SIL/Utils/SILBridging.cpp
  lib/SILOptimizer/PassManager/PassManager.cpp
Labels: C++ Interop

#60916 [Distributed] More docs for ad-hoc requirements
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: Distributed

#61121 [interop][SwiftToCxx] experimentally expose Swift's Optional type to C++
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/optional/optional-execution.cpp
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-types-in-cxx.swift
Labels: C++ Interop

#61154 [cxx-interop] Fix ASAN error
  lib/ClangImporter/ClangImporter.cpp
Labels: C++ Interop

#61170 [5.7] SILGen: Function availability for linkage should use @_backDeploy OS version if present
  include/swift/AST/Attr.h
  include/swift/AST/Decl.h
  include/swift/SIL/SILDeclRef.h
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/SILFunctionBuilder.cpp
  lib/SILGen/SILGenBackDeploy.cpp
  test/IRGen/weak_import_back_deploy_attr.swift
  test/SILGen/back_deploy_attribute_accessor.swift
  test/SILGen/back_deploy_attribute_accessor_coroutine.swift
  test/SILGen/back_deploy_attribute_func.swift
  test/SILGen/back_deploy_attribute_generic_func.swift
  test/SILGen/back_deploy_attribute_struct_method.swift
  test/SILGen/back_deploy_attribute_throwing_func.swift
  test/attr/attr_backDeploy_evolution.swift
Labels: r5.7

#61188 [interop][SwiftToCxx] do not use std::move to move the returned C++ v…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
Labels: C++ Interop

#59880 [Distributed] Prevent overloading on async in distributed methods, for wire compat
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_remoteChanged_asyncness.swift
  test/Distributed/distributed_func_overloads.swift
Labels: Distributed

#61153 [cxx-interop][SwiftCompilerSources] Use C++ enums directly from Swift
  SwiftCompilerSources/Sources/Optimizer/DataStructures/FunctionUses.swift
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/StackProtection.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/EscapeUtils.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/WitnessTable.swift
  include/swift/AST/ASTBridging.h
  include/swift/Basic/Compiler.h
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILWitnessTable.h
  include/swift/module.modulemap
  lib/SIL/Utils/SILBridging.cpp
Labels: C++ Interop

#61205 [cxx-interop] Do not synthesize `successor()` for immortal types
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-typechecker.swift
Labels: C++ Interop

#61217 [cxx-interop] Add base classes as opaque fields when lowering in IRGen.
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/fields-module-interface.swift
  test/Interop/Cxx/class/inheritance/fields.swift
Labels: C++ Interop

#61224 [interop][SwiftToCxx] trap on moves of Swift values for now
  lib/PrintAsClang/PrintClangValueType.cpp
  stdlib/public/SwiftShims/swift/shims/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: C++ Interop

#61228 [cxx-interop] Fix ASTVerifier error when building SwiftCompilerSources
  lib/ClangImporter/ClangDerivedConformances.cpp
Labels: C++ Interop

#61225 [interop][SwiftToCxx] Declare the generic usability type trait before…
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/enums/zero-sized-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-circular-dependent-defs.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/zero-sized-struct-in-cxx.swift
Labels: C++ Interop

#61269 [cxx-interop] Add plus-equal, minus-equal, star-equal, slash-equal operators.
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/Inputs/non-member-inline.h
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/non-member-inline.swift
Labels: C++ Interop

#61260 [interop][docs] update status page for recent generic enum, Array and…
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#61268 [interop][SwiftToCxx] bridge ObjC class types to C++ (without Obj…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx-execution.mm
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/ObjCToSwiftToObjCxx/lit.local.cfg
Labels: C++ Interop

#61221 [cxx-interop] Do not synthesize `successor()` for foreign reference types
  lib/ClangImporter/ImportDecl.cpp
Labels: C++ Interop

#61299 [interop][SwiftToCxx] add support for bridging static properties
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/properties/getter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
Labels: C++ Interop

#61305 [interop][SwiftToCxx] support initializers for classes
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/initializers/init-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
Labels: C++ Interop

#61307 [interop][SwiftToCxx] update status doc for static property support
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#61308 [interop][SwiftToCxx] NFC, add a test for raw representable enum
  docs/CppInteroperability/CppInteroperabilityStatus.md
  test/Interop/SwiftToCxx/stdlib/optional/optional-execution.cpp
Labels: C++ Interop

#61306 [interop][SwiftToCxx] Referenced clang decls are always exposed
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
Labels: C++ Interop

#61317 [interop][SwiftToCxx] add -enable-experimental-cxx-interop-in-clang-h…
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/Options.td
  include/swift/PrintAsClang/PrintAsClang.h
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/FrontendTool/FrontendTool.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
Labels: C++ Interop

#61315 [interop][SwiftToCxx] support interop with FRT in the generated C++ b…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: C++ Interop

#61342 [interop][SwiftToCxx] forward declare - do not use bridged types in C…
  lib/PrintAsClang/ModuleContentsWriter.cpp
Labels: C++ Interop

#61343 [interop][SwiftToCxx] install _SwiftCxxInteroperability.h header as p…
  lib/PrintAsClang/CMakeLists.txt
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  stdlib/public/SwiftShims/swift/shims/CMakeLists.txt
  stdlib/public/SwiftShims/swift/shims/module.modulemap
  test/PrintAsCxx/empty.swift
Labels: C++ Interop

#61263 [5.7][SwiftSyntax] Support shorthand if-let
  test/Syntax/verify_shorthand_if_let.swift
  utils/gyb_syntax_support/StmtNodes.py
Labels: r5.7

#61338 [cxx-interop] Do not crash for non-ASCII strings
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: C++ Interop

#61359 [interop][SwiftToCxx] add a Swift stdlib overlay header
  lib/PrintAsClang/CMakeLists.txt
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: C++ Interop

#61354 [cxx-interop][docs] Update getting started guide
  docs/CppInteroperability/GettingStartedWithC++Interop.md
Labels: C++ Interop

#61380 [interop][SwiftToCxx] add experimental-interoperability-version.json …
  lib/PrintAsClang/CMakeLists.txt
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: C++ Interop

#40702 [SE-0365] Allow implicit self for `weak self` captures
  CHANGELOG.md
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/NameLookup.h
  include/swift/AST/Stmt.h
  lib/AST/NameLookup.cpp
  lib/AST/UnqualifiedLookup.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckNameLookup.cpp
  test/expr/closure/closures.swift
  test/expr/closure/closures_swift6.swift
Labels: swift-evolution-approved

#61384 [interop][SwiftToCxx] fix the include path for swiftToCxx shim header…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/experimental-interoperability-version.json
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/PrintAsCxx/empty.swift
Labels: C++ Interop
