Repository swiftlang/swift, pull requests merged in 2022-12, with the labels that each got.

#62316 [cxx-interop] Replace `std` module name with the new spelling `CxxStdlib` in the overlay
  stdlib/public/Cxx/std/std.swift
Labels: c++ interop

#62293 [cxx-interop] Synthesize conformances to `CxxConvertibleToCollection`
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
Labels: c++ interop

#62256 Move Generics.rst to archive folder
  docs/GenericsManifesto.md
  docs/README.md
  docs/ReferenceGuides/UnderscoredAttributes.md
  docs/archive/Generics.rst
Labels: documentation

#62339 [cxx-interop][rebranch] Handle clang elaborated types, part 2
  lib/ClangImporter/SwiftLookupTable.cpp
Labels: c++ interop

#62357 [Distributed] move test file to more logical place
  test/Distributed/SIL/distributed_thunk.swift
Labels: tests, Distributed

#62236 Fix effective context construction for NS_OPTIONS in linkage spec
  lib/ClangImporter/SwiftLookupTable.h
  test/Interop/Cxx/enum/Inputs/CenumsNSOptions.apinotes
  test/Interop/Cxx/enum/Inputs/CenumsNSOptionsExternC.apinotes
  test/Interop/Cxx/enum/Inputs/c-enums-NS_OPTIONS.h
  test/Interop/Cxx/enum/Inputs/c-enums-NS_OPTIONS_without_extern_C.h
  test/Interop/Cxx/enum/Inputs/module.modulemap
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS-transparent-linkage-spec-decl-modulemap-based-extern-c.swift
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS-transparent-linkage-spec-decl.swift
Labels: c++ interop

#62392 [CSSimplify] Account for tuple splat when resolving closure parameters
  lib/Sema/CSSimplify.cpp
  test/Constraints/closures.swift
  validation-test/Sema/type_checker_perf/fast/issue-62390.swift
Labels: compiler, type checker, compiler performance, bug fix, closures, tuple destructuring

#62406 docs: remove files converted to Markdown from `contents.rst`
  docs/contents.rst
Labels: documentation

#62412 [docs][interop] give a more specific example of how to use import_ref…
  docs/CppInteroperability/UserManual.md
Labels: c++ interop

#62413 [interop][docs] Clarify in the interop status that uncaught exception…
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: c++ interop

#62421 [interop][SwiftToCxx] give explicit error for @alwaysEmitIntoClient e…
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-funcs-in-cxx.swift
Labels: c++ interop

#62234 build-script-impl: remove CMark cases as unused
  utils/build-script-impl
  utils/swift_build_support/swift_build_support/build_script_invocation.py
Labels: build-script

#61160 [cxx-interop] Make `Cxx` Swift library static
  lib/IRGen/GenDecl.cpp
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#62417 docs: convert `FailableInitializers.rst` to Markdown
  docs/FailableInitializers.md
  docs/FailableInitializers.rst
  docs/README.md
Labels: documentation, contributor experience, error handling

#62437 Revert "[cxx-interop] Workaround interpreter crash"
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#62449 [cxx-interop] Emit IR for std::get in structured bindings declaration
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/structured-bindings-get-method.h
  test/Interop/Cxx/class/structured-bindings-get-method.swift
Labels: c++ interop

#62450 [cxx-interop] bump up the experimental interop version
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: c++ interop

#62458 [cxx-interop] NFC: Remove unused CMake build logic
  stdlib/cmake/modules/SwiftSource.cmake
Labels: c++ interop

#62469 [interop][CxxToSwiftToCxx] fix the tests for unsupported class templa…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: c++ interop

#62475 [cxx-interop] Hook libcxxshim modulemap/header to sdk-overlay
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#62516 [interop][SwiftToCxx] only emit metadata references for record types
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: c++ interop

#62239 [Concurrency] TaskLocal.withValue closure should produce no warnings inside Actor
  stdlib/public/BackDeployConcurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskLocal.swift
  test/Concurrency/Runtime/async_task_locals_basic.swift
  test/Concurrency/async_task_locals_basic_warnings.swift
Labels: concurrency

#62546 [Concurrency] Fix missing inherit executor on withTaskCancellationHandler
  stdlib/public/BackDeployConcurrency/TaskCancellation.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  test/Concurrency/Runtime/async_task_cancellation_taskGroup.swift
  test/Concurrency/actor_withCancellationHandler.swift
Labels: concurrency

#62330 [cxx-interop] Add ability to specify protocol conformance on C++ side.
  include/swift/AST/Attr.h
  include/swift/AST/DiagnosticsClangImporter.def
  lib/AST/ASTPrinter.cpp
  lib/AST/ConformanceLookupTable.cpp
  lib/AST/ProtocolConformance.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/conforms-to.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/conforms-to-errors.swift
  test/Interop/Cxx/class/conforms-to.swift
Labels: c++ interop

#62553 [interop][SwiftToCxx] support std::string -> Swift::String conversion…
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/string/string-conversions.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
Labels: c++ interop

#62562 Updated interop version to v10
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: c++ interop

#62572 [Distributed] LocalDAS cannot gain this constraint, even though the DAS protocol has it
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
Labels: Distributed

#62435 Stealer support for actor runtime.
  stdlib/public/Concurrency/Actor.cpp
Labels: concurrency

#62521 [cxx-interop] Move C++ standard library overlay to the toolchain
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#62597 [interop][SwiftToCxx] make it possible to convert Swift String to a std::string in C++
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/string/string-conversions.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#62627 [interop] add a testcase for std::set iteration in Swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-set.h
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#62618 Failing test for runtime polymorphism.
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/polymorphism.h
  test/Interop/Cxx/class/inheritance/runtime-polymorphism.swift
Labels: c++ interop

#61823 [Interop][SwiftToCxx] Introduces swift::Expected
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
Labels: c++ interop

#62575 [cxx-interop] Disambiguate const and non-const methods consistently
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/PrintAsClang/experimental-interoperability-version.json
  test/Interop/Cxx/class/method/Inputs/ambiguous_methods.h
  test/Interop/Cxx/class/method/ambiguous-methods-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
Labels: c++ interop

#62691 [interop][SwiftToCxx] disable the arm64e testing for swift-expected-e…
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
Labels: c++ interop

#62701 Refactor C++ to return Swift::Expected instead of SWIFT_RETURN_THUNK
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
Labels: c++ interop

#62709 [5.8] Utils: Decode subprocess output as UTF-8 in `swift-api-dump.py`.
  utils/swift-api-dump.py
Labels: r5.8

#62711 [cxx-interop] Import non-member operators as global functions
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/namespace/Inputs/free-functions.h
  test/Interop/Cxx/namespace/free-functions-module-interface.swift
Labels: c++ interop

#62710 [5.8] IRGen: Generate #_hasSymbol helpers for `dynamic` and `@_dynamicReplacement(for:)` functions
  include/swift/IRGen/Linking.h
  lib/IRGen/GenHasSymbol.cpp
  lib/IRGen/Linking.cpp
  test/IRGen/Inputs/has_symbol_helper.swift
  test/IRGen/has_symbol.swift
Labels: r5.8
