Repository swiftlang/swift, pull requests merged in 2022-11, with the labels that each got.

#61713 [docs] Improve instructions for using Ninja with Xcode & move them to GettingStarted.md
  docs/DevelopmentTips.md
  docs/HowToGuides/GettingStarted.md
Labels: Documentation, contributor experience

#61828 [cxx-interop] Emit IR for virtual methods
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-irgen.swift
Labels: C++ Interop

#61853 [cxx-interop] Fix nullptr casts in auto-conformance logic
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
Labels: C++ Interop

#61821 NFC: add code owners for C++ interop
  .github/CODEOWNERS
Labels: contributor experience

#61847 [cxx-interop] Avoid a ClangImporter dependency on Sema
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/SIL/CMakeLists.txt
  lib/SILGen/CMakeLists.txt
  tools/sil-passpipeline-dumper/CMakeLists.txt
Labels: C++ Interop

#61892 [cxx-interop] Don't cache CxxRecordSemanticsRequest.
  include/swift/ClangImporter/ClangImporterRequests.h
Labels: C++ Interop

#61878 [cxx-interop] Add explicit typealiases to `CxxRandomAccessCollection`
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
Labels: C++ interop

#61882 [interop][SwiftToCxx] add support for exposing non-isolated actor declarations
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/experimental-interoperability-version.json
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/class/swift-actor-execution.cpp
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-decls-in-cxx.swift
Labels: C++ interop

#61913 [interop][SwiftToCxx] add support for constructing generic enum cases…
  docs/CppInteroperability/CppInteroperabilityStatus.md
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/generics/generic-enum-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-execution.cpp
Labels: c++ interop

#61565 [interop] cxx vector benchmark - reenable without SwiftPM support
  benchmark/cxx-source/CxxVectorSum.swift
  benchmark/scripts/Benchmark_Driver
Labels: c++ interop

#61909 [cxx-interop] Synthesize conformances to `CxxRandomAccessCollection`
  include/swift/AST/KnownProtocols.def
  include/swift/AST/KnownStdlibTypes.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
Labels: c++ interop

#61938 add missing `@_unsafeInheritExecutor`'s to backdeploy library
  stdlib/public/BackDeployConcurrency/CheckedContinuation.swift
  stdlib/public/BackDeployConcurrency/PartialAsyncTask.swift
  stdlib/public/BackDeployConcurrency/TaskGroup.swift
Labels: concurrency

#61939 [5.7] add missing `@_unsafeInheritExecutor`'s to backdeploy library
  stdlib/public/BackDeployConcurrency/CheckedContinuation.swift
  stdlib/public/BackDeployConcurrency/PartialAsyncTask.swift
  stdlib/public/BackDeployConcurrency/TaskGroup.swift
Labels: concurrency, r5.7

#61923 build-script: Make `--xcode` imply `--skip-build --skip-early-swift-driver`
  docs/HowToGuides/GettingStarted.md
  utils/build-script
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/build_swift/test_driver_arguments.py
Labels: build-script, documentation, source tooling, contributor experience

#61916 [interop][SwiftToCxx] report an error for attempts to explicitly expo…
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-decls-in-cxx.swift
Labels: c++ interop

#61958 [interop][SwiftToCxx] NFC, adopt SWIFT_INLINE_THUNK in the stdlib ove…
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
Labels: c++ interop

#61962 [interop][SwiftToCxxToSwift] hide reverse interop module namespaces f…
  lib/ClangImporter/ImportDecl.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/gen-header-for-module.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/enums/zero-sized-enum-in-cxx.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/zero-sized-struct-in-cxx.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#61977 [interop][SwiftToCxx] Bump up the interoperability version
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: c++ interop

#61798 Fix typo in README
  README.md
Labels: documentation

#61995 [Distributed] Fix dist property being implicitly async after refactor
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckEffects.cpp
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_property_must_be_throws.swift
Labels: Distributed

#62004 update_checkout: re-read config for cross-repo testing
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout

#62036 [cxx-interop] Specify `Iterator` explicitly for `CxxRandomAccessCollection`
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
Labels: c++ interop

#62020 [docs] GettingStarted.md: Minor additions & amendments
  docs/HowToGuides/GettingStarted.md
Labels: documentation, contributor experience

#62054 update_checkout: fix `scheme_map` not reloaded
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout

#62048 [Docs] Add note about debugging with --release-debuginfo build-script flag
  docs/HowToGuides/GettingStarted.md
Labels: documentation, contributor experience

#62111 [cxx-interop] Disable auto-conformance to `CxxSequence` for non-random-access collections
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence.swift
Labels: c++ interop

#62118 [cxx-interop] Avoid side-effects in member lookup when conforming types to `CxxSequence`
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#62135 NFC: add code owner for SwiftCompilerSources
  .github/CODEOWNERS
Labels: contributor experience

#62133 [cxx-interop] Prevent "header not found" errors on Linux when tbb is not installed
  stdlib/public/Cxx/std/libstdcxx.h
Labels: c++ interop

#61993 [github] Misc improvements to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: contributor experience

#62139 [Interop][testing] Use libc++ from target Darwin SDK for clang check …
  test/Inputs/clang-importer-sdk/usr/include/wchar.h
  test/lit.cfg
Labels: c++ interop

#62156 [docs] GettingStarted.md: Recommend building the `--release` variant of `--xcode`
  docs/HowToGuides/GettingStarted.md
Labels: documentation, contributor experience

#62222 NFC: add code owner for Windows specifics
  .github/CODEOWNERS
Labels: contributor experience

#62195 [github] Auto-add the `triage needed` label to new issues for discoverability
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: contributor experience

#62215 docs: fix documentation for the `@inline` attribute
  docs/ReferenceGuides/UnderscoredAttributes.md
  docs/SIL.rst
Labels: documentation

#62276 docs: convert `Arrays` from `.rst` to `.md`
  docs/Arrays.md
  docs/Arrays.rst
Labels: standard library, documentation, contributor experience

#62268 .github: add `Threading` implementation code owners
  .github/CODEOWNERS
Labels: contributor experience

#62225 [cxx-interop] Emit IR for custom `operator new`
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/Inputs/custom-new-operator.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/custom-new-operator-irgen.swift
Labels: c++ interop

#62190 [cxx-interop][rebranch] Handle clang elaborated types properly
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportEnumInfo.cpp
  lib/ClangImporter/ImportEnumInfo.h
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportType.cpp
Labels: c++ interop

#62266 docs: convert `AccessControlInStdlib` from `.rst` to `.md`
  docs/AccessControlInStdlib.md
  docs/AccessControlInStdlib.rst
Labels: documentation, access control, contributor experience

#62251 serialization: encode allowable client names in binary module format
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/Frontend/FrontendOptions.h
  include/swift/Serialization/SerializationOptions.h
  include/swift/Serialization/Validation.h
  lib/AST/Module.cpp
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/Frontend/Frontend.cpp
  lib/Frontend/ModuleInterfaceBuilder.cpp
  lib/Sema/ImportResolution.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/ModuleInterface/allowable-client.swift
  test/Sema/allowable-client-import.swift
  tools/swift-ide-test/swift-ide-test.cpp
Labels: Serialization

#62261 [Concurrency] remove resolved radar reference
  test/Concurrency/voucher_propagation.swift
Labels: concurrency

#62283 [TBDGen] Ensure classes that emit ObjC MetaClass also emit matching ObjC Class symbols
  include/swift/SIL/SILSymbolVisitor.h
  lib/IRGen/IRSymbolVisitor.cpp
  lib/SIL/IR/SILSymbolVisitor.cpp
  test/TBD/multimodule-implied-objc.swift
Labels: TBDGen

#62277 update-checkout-config.json: bump Yams to 5.0.1
  utils/update_checkout/update-checkout-config.json
Labels: update-checkout

#62295 NFC: add code owner for dependency scanning and driver
  .github/CODEOWNERS
Labels: contributor experience

#62296 [cxx-interop] Replace `std` module name with the new spelling `CxxStdlib`
  SwiftCompilerSources/Sources/Basic/Utils.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#62179 [changelog] Describe SE-0370
  CHANGELOG.md
Labels: changelog

#62197 [Interop] [SwiftToCxx] Modify the swift::Error Dynamic Cast to return a Swift::Optional
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
Labels: c++ interop

#62307 [interop][SwiftToCxx] use the more appropriate String -> NSString bri…
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#62311 [interop][SwiftToCxx] support NSString -> Swift String bridging in C++
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#62297 docs: convert `ErrorHandling` from `.rst` to `.md`
  docs/ErrorHandling.md
  docs/ErrorHandling.rst
  docs/README.md
Labels: documentation
