Repository swiftlang/swift, pull requests merged in 2022-03, with the labels that each got.

#41580 SR-15910: C++ Interop Getting Started Documentation
  docs/CppInteropability/CppInteroperabilityManifesto.md
  docs/CppInteropability/GettingStartedWithC++Interop.md
Labels: C++ Interop

#40842 Eng/pr getters setters
  include/swift/ClangImporter/CXXMethodBridging.h
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Sema/TypeCheckStorage.cpp
  test/Interop/Cxx/ergonomics/Inputs/implicit-computed-properties.h
  test/Interop/Cxx/ergonomics/Inputs/module.modulemap
  test/Interop/Cxx/ergonomics/implicit-computed-properties-module-interface.swift
  test/Interop/Cxx/ergonomics/implicit-computed-properties.swift
Labels: C++ Interop

#41610 [cxx-interop] Add support for subscripts in base classes.
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: C++ Interop

#41624 [cxx-interop] Cache specialized function templates.
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/template-type-parameter-not-in-signature.swift
Labels: C++ Interop

#41569 [cxx-interop] Class template specializations each need their own metadata.
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/value-witness-table/Inputs/class-template-metadata.h
  test/Interop/Cxx/value-witness-table/Inputs/module.modulemap
  test/Interop/Cxx/value-witness-table/class-template-metadata.swift
Labels: C++ Interop

#41611 [cxx-interop] Import `const T&` parameters as `T`.
  lib/ClangImporter/ImportType.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/ergonomics/implicit-computed-properties-module-interface.swift
  test/Interop/Cxx/reference/Inputs/reference.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-irgen.swift
  test/Interop/Cxx/reference/reference-module-interface.swift
  test/Interop/Cxx/reference/reference-silgen.swift
  test/Interop/Cxx/reference/reference.swift
  test/Interop/Cxx/templates/Inputs/dependent-types.h
  test/Interop/Cxx/templates/dependent-types-module-interface.swift
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/function-template-module-interface.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
Labels: C++ Interop

#41660 [cxx-interop] Bail on dependent reference types. We don't know how to handle those yet.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-module-interface.swift
Labels: C++ Interop

#41655 [cxx-interop] Make sure to use the cannonical base class type.
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions.swift
Labels: C++ Interop

#41658 [cxx-interop] Support references to template types.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-module-interface.swift
  test/Interop/Cxx/reference/reference.swift
Labels: C++ Interop

#40661 Cleaning up _runAsyncMain a bit
  include/swift/AST/Attr.def
  stdlib/public/Concurrency/Task.swift
Labels: Concurrency

#41462 [cxx-interop] Add remaining lifetime operations.
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/constructors-irgen.swift
  test/Interop/Cxx/value-witness-table/Inputs/module.modulemap
  test/Interop/Cxx/value-witness-table/Inputs/witness-lifetime-operations.h
  test/Interop/Cxx/value-witness-table/witness-lifetime-operations-irgen.swift
Labels: C++ Interop

#41240 [cxx-interop] std::string::push_back is broken
  lib/IRGen/GenCall.cpp
  test/ClangImporter/cxx_interop_ir.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: C++ Interop

#41722 [Concurrency][Distributed] Move AnyActor to Concurrency module
  stdlib/public/Concurrency/Actor.swift
  stdlib/public/Distributed/DistributedActor.swift
  test/Distributed/actor_protocols.swift
  test/api-digester/stability-concurrency-abi.test
Labels: Concurrency, Distributed

#41712 [cxx-interop] Fix typo in getting started, and update example for creating the cxx module
  docs/CppInteropability/GettingStartedWithC++Interop.md
Labels: C++ Interop

#41761 [docs] NFC, fix typo CppInteropability -> CppInteroperability
  docs/CppInteroperability/CppInteroperabilityManifesto.md
  docs/CppInteroperability/GettingStartedWithC++Interop.md
Labels: C++ Interop

#41775 [Distributed] NFC: Allow 64-bit distributed test only on x86_64 and arm64
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: Distributed

#41602 [Distributed] better diagnostics for missing actor system typealias
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckProtocol.cpp
  test/Distributed/distributed_actor_system_missing.swift
Labels: Distributed

#41727 [Distributed] Implicit Codable conformance for distributed actors
  include/swift/AST/DistributedDecl.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/DistributedDecl.cpp
  lib/AST/Module.cpp
  lib/AST/ProtocolConformance.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Inputs/FakeCodableForDistributedTests.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_encode_roundtrip.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/distributed_actor_implicit_codable.swift
  test/Distributed/distributed_actor_system_missing.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#41783 [Distributed] IRGen: Don't emit accessor for distributed thunk specia…
  lib/IRGen/IRGenSIL.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
Labels: Distributed

#40995 [interop][SwiftToC++] print C++ interface for top-level Swift functions
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/CMakeLists.txt
  lib/PrintAsClang/CxxSynthesis.cpp
  lib/PrintAsClang/CxxSynthesis.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/functions/cdecl-execution.cpp
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-functions-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/lit.local.cfg
  test/Interop/lit.local.cfg
Labels: C++ Interop

#41410 [ClangImporter] Suffix ambiguous protocol names if C++ interop is enabled
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/class/Inputs/class-protocol-name-clash.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/class-protocol-name-clash.swift
Labels: C++ Interop

#41794 [cxx-interop][test] add %check-interop-cxx-header-in-clang test command substitution to parse and validate generated C++ header in multiple C++ language modes
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/Interop/lit.local.cfg
Labels: C++ Interop

#41584 [cxx-interop][IRGen] Walk initializer decls when walking constructor decls
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/inline-function-codegen/Inputs/constructor-calls-function-from-nested-calls.h
  test/Interop/Cxx/class/inline-function-codegen/Inputs/constructor-calls-function-from-nested-struct.h
  test/Interop/Cxx/class/inline-function-codegen/Inputs/constructor-calls-function.h
  test/Interop/Cxx/class/inline-function-codegen/Inputs/module.modulemap
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-execution.swift
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-from-nested-calls-execution.swift
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-from-nested-calls-irgen.swift
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-from-nested-struct-execution.swift
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-from-nested-struct-irgen.swift
  test/Interop/Cxx/class/inline-function-codegen/constructor-calls-function-irgen.swift
Labels: C++ Interop

#41814 [Concurrency] Fix typo in internal variable name
  stdlib/public/Concurrency/TaskSleep.swift
Labels: Concurrency

#41805 SE-0343: De-experimentalify async top-level context
  CHANGELOG.md
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Basic/LangOptions.h
  lib/AST/Decl.cpp
  lib/AST/DeclContext.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/ClangImporter/objc_async.swift
  test/Concurrency/actor_call_implicitly_async.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/concurrency_warnings.swift
  test/Concurrency/concurrent_value_checking.swift
  test/Concurrency/property_initializers_swift6.swift
  test/stmt/async.swift
Labels: Concurrency

#41756 [Distributed] Offer LocalTestingDistributedActorSystem
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
  test/Distributed/Runtime/distributed_actor_localSystem.swift
Labels: Distributed

#41799 [Distributed] Add name parameter to recordArgument for better interop
  include/swift/AST/Decl.h
  include/swift/AST/KnownSDKTypes.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/DistributedDecl.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDistributed.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
  test/Distributed/Inputs/BadDistributedActorSystems.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Inputs/dynamic_replacement_da_decl.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/IRGen/distributed_actor.swift
  test/SILGen/distributed_thunk.swift
  test/Serialization/Inputs/def_distributed.swift
  test/TBD/distributed.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#41879 [nfc][docs][cxx-interop] Add example in the status document.
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#41876 [nfc][cxx-interop] Add some pretty stack traces for various things that crash a lot.
  include/swift/AST/PrettyStackTrace.h
  lib/AST/PrettyStackTrace.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
Labels: C++ Interop

#41871 [Distributed] Strip marker protocols from distributed thunks and accessible functions
  include/swift/AST/ASTMangler.h
  include/swift/AST/GenericSignature.h
  lib/AST/ASTMangler.cpp
  lib/AST/GenericSignature.cpp
  lib/IRGen/GenDecl.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/Runtime/distributed_actor_remoteCallTarget_demanglingTargetNames.swift
  test/Distributed/distributed_actor_accessor_section_coff.swift
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Distributed/distributed_actor_accessor_section_macho.swift
Labels: Distributed

#41874 [cxx-interop] Make sure to use TUScope when looking up clang decls.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/Inputs/dictionary-of-nsstrings.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/dictionary-of-nsstrings-module-interface.swift
Labels: C++ Interop

#41910 Disable test while we investigte
  test/Distributed/Runtime/distributed_actor_localSystem.swift
Labels: Distributed

#41933 Cleaning up _runAsyncMain
  stdlib/public/Concurrency/Task.swift
  test/api-digester/stability-concurrency-abi.test
Labels: Concurrency

#41894 [cxx-interop] Avoid crashing when importing functions that take pointers to dependent types
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/templates/Inputs/function-templates.h
  test/Interop/Cxx/templates/defaulted-template-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/function-template-module-interface.swift
Labels: C++ Interop

#40769 SE-0340: `noasync` availability kind
  CHANGELOG.md
  include/swift/AST/Attr.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/PrintOptions.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/Parse/ParseDecl.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/SymbolGraphGen/AvailabilityMixin.cpp
  test/Concurrency/Inputs/UnavailableFunction.swift
  test/Concurrency/unavailable_from_async.swift
  test/ModuleInterface/features.swift
  test/attr/attr_availability.swift
  test/attr/attr_availability_noasync.swift
Labels: Concurrency

#41967 🍒 [5.6] backtrack on part of SE-327 dealing with default-value exprs
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/global_actor_inference.swift
  test/Concurrency/property_initializers_swift6.swift
  validation-test/Sema/SwiftUI/radar88971160.swift
Labels: r5.6

#41960 [CSGen/CSApply] Don't expect implicit casts to have type reprs
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  unittests/Sema/CMakeLists.txt
  unittests/Sema/ConstraintGenerationTests.cpp
Labels: bug, Distributed

#41916 [Distributed] ResultHandler.onReturn must be ad-hoc because SerializationRequirement
  all.txt
  include/swift/AST/Decl.h
  include/swift/AST/DistributedDecl.h
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/ASTDumper.cpp
  lib/AST/Decl.cpp
  lib/AST/DistributedDecl.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/DerivedConformances.cpp
  lib/Sema/DerivedConformances.h
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckProtocol.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
  test/Distributed/Inputs/BadDistributedActorSystems.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_decode.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_self_calls.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/IRGen/distributed_actor.swift
  test/SILGen/distributed_thunk.swift
  test/Serialization/Inputs/def_distributed.swift
  test/Serialization/distributed.swift
  test/TBD/distributed.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: Distributed

#42003 [cxx-interop] Import `size_t` as Int instead of UInt on Linux
  benchmark/cxx-source/ReadAccessor.swift
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/fake-toolchain/include/c++/v1/fake-toolchain.h
  test/Interop/Cxx/stdlib/fake-toolchain-module-interface.swift
Labels: C++ Interop

#42013 [Distributed] Accessor: Add support for generic distributed actors
  lib/IRGen/GenDistributed.cpp
Labels: Distributed

#42008 Fully remove distributed checks
  include/swift/AST/Attr.def
  include/swift/AST/Attr.h
  include/swift/Basic/LangOptions.h
  lib/Frontend/CompilerInvocation.cpp
  tools/sil-opt/SILOpt.cpp
  tools/swift-ide-test/swift-ide-test.cpp
Labels: Distributed

#41747 [Distributed] Fix generic actors and distributed funcs returning those generics
  lib/AST/DistributedDecl.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILOptimizer/Utils/DistributedActor.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_hop_to.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/distributed_actor_generic_actor.swift
Labels: help wanted, Distributed

#42025 [Distributed] Review followups, cleanups
  all.txt
  include/swift/AST/Decl.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/ASTDumper.cpp
  lib/AST/DistributedDecl.cpp
  lib/SILGen/InitializeDistActorIdentity.h
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
Labels: Distributed

#41782 [cxx-interop] Import const-refs as value types when importing clang function types.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/reference/Inputs/closures.h
  test/Interop/Cxx/reference/Inputs/module.modulemap
  test/Interop/Cxx/reference/closures-module-interface.swift
  test/Interop/Cxx/reference/closures.swift
  test/Interop/Cxx/reference/reference.swift
Labels: C++ Interop

#42074 [Distributed] avoid double typechecking dist func decl
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/distributed_actor_isolation.swift
Labels: Distributed

#41810 [cxx-interop] Bail on parameter that are reference types to dependent types.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-module-interface.swift
  test/Interop/Cxx/templates/defaulted-template-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/dependent-types-module-interface.swift
Labels: C++ Interop

#42090 [cxx-interop] Emit C++ inline function thunks that with correct primitive types
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/PrimitiveTypeMapping.cpp
  lib/PrintAsClang/PrimitiveTypeMapping.h
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToC/functions/swift-function-argument-keyword-in-c.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-execution.cpp
  test/PrintAsObjC/empty.swift
  test/lit.cfg
Labels: C++ Interop

#42093 [Concurrency] Avoid redundant conformance warning on Actor
  stdlib/public/Concurrency/Actor.swift
Labels: Concurrency, Distributed

#42100 [cxx-interop] emit correct parameter name in the inline C++ function …
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/functions/swift-function-argument-keyword-in-cxx.swift
Labels: C++ Interop

#42103 [cxx-interop] Remove 'support' for importing C++ operators.
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/implementation-only-imports/check-operator-visibility-inversed.swift
  test/Interop/Cxx/implementation-only-imports/check-operator-visibility.swift
  test/Interop/Cxx/namespace/free-functions-module-interface.swift
  test/Interop/Cxx/namespace/free-functions.swift
  test/Interop/Cxx/operators/member-inline-irgen.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/member-out-of-line-irgen.swift
  test/Interop/Cxx/operators/member-out-of-line-silgen.swift
  test/Interop/Cxx/operators/member-out-of-line.swift
  test/Interop/Cxx/operators/non-member-inline-module-interface.swift
  test/Interop/Cxx/operators/non-member-inline-typechecker.swift
  test/Interop/Cxx/operators/non-member-inline.swift
  test/Interop/Cxx/operators/non-member-out-of-line-irgen.swift
  test/Interop/Cxx/operators/non-member-out-of-line-silgen.swift
  test/Interop/Cxx/operators/non-member-out-of-line.swift
Labels: C++ Interop
