Repository swiftlang/swift, pull requests merged in 2022-02, with the labels that each got.

#41109 [5.6][CSApply] Result coercion check should always use resolved type
  lib/Sema/CSApply.cpp
  validation-test/Sema/type_checker_crashers_fixed/rdar88285682.swift
Labels: r5.6

#41061 Concurrent top-level detection
  include/swift/AST/SourceFile.h
  include/swift/AST/Stmt.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/Decl.cpp
  lib/AST/DeclContext.cpp
  lib/AST/Module.cpp
  lib/AST/Stmt.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckEffects.cpp
  test/Concurrency/toplevel/async-5-top-level.swift
  test/Concurrency/toplevel/async-6-top-level.swift
  test/Concurrency/toplevel/no-async-5-top-level.swift
  test/Concurrency/toplevel/no-async-6-top-level.swift
  test/SILGen/toplevel.swift
  test/SILGen/toplevel_errors.swift
Labels: Concurrency

#41107 🍒 [5.6] Remove Task.CancellationError in doc comments
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskCancellation.swift
Labels: r5.6

#41143 [nfc][cxx-interop] Add some tests for calling C++ methods.
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/Inputs/module.modulemap
  test/Interop/Cxx/class/method/methods-module-interface.swift
  test/Interop/Cxx/class/method/methods.swift
Labels: C++ Interop

#41166 [nfc][cxx-interop] Add a basic test for using `std::string`.
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-string.h
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: C++ Interop

#41151 Make @preconcurrency suppress Sendable diagnostics more reliably.
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/sendable_preconcurrency.swift
  test/Concurrency/sendable_preconcurrency_unused.swift
  test/Concurrency/sendable_without_preconcurrency.swift
  test/Concurrency/sendable_without_preconcurrency_2.swift
Labels: r5.6

#40028 [SE-327] Implement flow-sensitive actor isolation for actor inits
  include/swift/AST/ActorIsolation.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/SILOptimizer/PassManager/Passes.def
  lib/AST/Decl.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILOptimizer/Mandatory/CMakeLists.txt
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.cpp
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.h
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  lib/SILOptimizer/Mandatory/FlowIsolation.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_definite_init.swift
  test/Concurrency/actor_definite_init_swift6.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/concurrent_value_checking.swift
  test/Concurrency/flow_isolation.swift
  test/Distributed/distributed_actor_isolation.swift
  test/SILGen/hop_to_executor.swift
  test/SILGen/observers.swift
  test/SILGen/observers_swift6.swift
  test/SILOptimizer/definite_init_actor.swift
Labels: Concurrency

#41155 [Distributed] Fix issues detected by ASAN
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericActor.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_takeThrowReturn.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_throw.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
Labels: Distributed

#41182 [Distributed] Update availability of distributed types to 5.7
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  test/Distributed/distributed_actor_accessor_section_coff.swift
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Distributed/distributed_actor_accessor_section_macho.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: Distributed

#41186 [cxx-interop] Fix crash when calling method that returns specialization of parent.
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/templates/Inputs/member-templates.h
  test/Interop/Cxx/templates/member-templates.swift
Labels: C++ Interop

#41187 Fix SILOptimizer crash for top-level async code
  lib/SILGen/SILGen.cpp
  test/SILGen/toplevel_globalactorvars.swift
Labels: Concurrency

#41195 [Distributed] IRGen: Let debug info know about distributed accessor
  lib/IRGen/GenDistributed.cpp
Labels: Distributed

#41194 Lower non-optional executors
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  test/SILOptimizer/lower_hop_to_actor.sil
Labels: Concurrency

#41214 [cxx-interop] Re-enable some method tests.
  test/Interop/Cxx/class/method/methods.swift
Labels: C++ Interop

#41218 [Distributed] IRGen: Fix loading of the witness tables
  lib/IRGen/GenDistributed.cpp
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: Distributed

#41255 GSB: Fix null pointer dereference in involvesNonSelfSubjectTypes() [5.6]
  lib/AST/GenericSignatureBuilder.cpp
  test/Generics/sr15792.swift
Labels: r5.6

#41233 [Distributed] allow get only distributed computed properties
  include/swift/AST/Attr.def
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckDistributed.h
  test/Distributed/Inputs/FakeCodableForDistributedTests.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_takeThrowReturn.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_throw.swift
  test/Distributed/Runtime/distributed_actor_init_local.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_functions.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Distributed/Runtime/distributed_actor_whenLocal.swift
  test/Distributed/Runtime/distributed_func_metadata.swift
  test/Distributed/SIL/distributed_actor_remoteCall_sil.swift
  test/Distributed/distributed_actor_inference.swift
  test/Distributed/distributed_actor_is_experimental_enabled_missing_import.swift
  test/Distributed/distributed_actor_isolation.swift
  test/Distributed/distributed_actor_isolation_and_tasks.swift
  test/Distributed/distributed_actor_nonisolated.swift
  test/Distributed/distributed_actor_var_implicitly_async_throws.swift
  test/Distributed/distributed_protocol_isolation.swift
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
Labels: Distributed

#41300 Remove ActorIsolation::DistributedActorInstance.
  include/swift/AST/ActorIsolation.h
  lib/AST/Decl.cpp
  lib/AST/DiagnosticEngine.cpp
  lib/AST/TypeCheckRequests.cpp
  lib/IDE/CodeCompletion.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenProlog.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckPropertyWrapper.cpp
  lib/Sema/TypeCheckProtocol.cpp
Labels: Distributed

#40631 [Docs] withCheckedThrowingContinuation `body` fix
  stdlib/public/Concurrency/CheckedContinuation.swift
Labels: Concurrency

#41307 [Distributed] Runtime: Add missing accessible function section registration on ELF
  stdlib/public/runtime/SwiftRT-ELF.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_takeThrowReturn.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_throw.swift
  test/Distributed/Runtime/distributed_actor_remoteCall.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_roundtrip.swift
Labels: Distributed

#41319 [Distributed] NFC: Remove obsolete remoteCall test XFAILs on 32-bit W…
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_echo.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_empty.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_genericFunc.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_takeThrowReturn.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_take_two.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_throw.swift
Labels: Distributed

#41308 [cxx Interop] Disambiguate methods within the same class with same name but differing "constness"
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/method/Inputs/ambiguous_methods.h
  test/Interop/Cxx/class/method/Inputs/module.modulemap
  test/Interop/Cxx/class/method/ambiguous-methods-module-interface.swift
  test/Interop/Cxx/class/method/ambiguous-methods.swift
  test/Interop/Cxx/class/method/methods-module-interface.swift
Labels: C++ Interop

#41323 [ABI] Add "accessible functions" section to object format
  include/swift/ABI/ObjectFile.h
Labels: Distributed

#41345 [5.6] Fix a miscompile in existential specialization during SILCombine.
  include/swift/SIL/SILInstruction.h
  lib/SILOptimizer/Utils/Existential.cpp
  test/SILOptimizer/sil_combine_concrete_existential.sil
Labels: r5.6

#41390 [Distributed] Treat `swift_distributed_execute_target` like a regular…
  lib/IRGen/Callee.h
  stdlib/public/Distributed/DistributedActor.cpp
Labels: Distributed

#41411 [cxx-interop] Start to import dependent types as `Any`
  lib/ClangImporter/ImportType.cpp
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/Inputs/dependent-types.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/dependent-types-module-interface.swift
  test/Interop/Cxx/templates/dependent-types-silgen.swift
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/member-templates.swift
Labels: C++ Interop

#41312 🍒 [5.6] Fix documentation getting/storing current task
  stdlib/public/Concurrency/Task.swift
Labels: Concurrency

#41441 Re land import dependent types as any
  lib/ClangImporter/ImportType.cpp
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/Inputs/dependent-types.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/dependent-types-module-interface.swift
  test/Interop/Cxx/templates/dependent-types-silgen.swift
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/member-templates.swift
Labels: C++ Interop

#41440 [cxx-interop] Fix calling methods with dependent types.
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/Inputs/dependent-types.h
  test/Interop/Cxx/templates/Inputs/template-type-parameter-not-in-signature.h
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/template-type-parameter-not-in-signature.swift
Labels: C++ Interop

#41463 [nfc] XFAIL dependent-types.swift on i386 while I fix the issue.
  test/Interop/Cxx/templates/dependent-types.swift
Labels: C++ Interop

#41466 [cxx-interop] Fix crash when inout parameter is used in some "template contexts".
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/Inputs/template-type-parameter-not-in-signature.h
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/template-type-parameter-not-in-signature.swift
Labels: C++ Interop

#39349 [cxx-interop] Rudimentary support for importing base classes.
  include/swift/AST/ClangModuleLoader.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/sub-types.h
  test/Interop/Cxx/class/inheritance/Inputs/type-aliases.h
  test/Interop/Cxx/class/inheritance/fields-module-interface.swift
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
  test/Interop/Cxx/class/inheritance/functions.swift
  test/Interop/Cxx/class/inheritance/sub-types-module-interface.swift
  test/Interop/Cxx/class/inheritance/type-aliases-module-interface.swift
Labels: C++ Interop

#41536 [cxx interop] Fix issue where const overloaded disambiguated methods were not in the lookup table
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/method/Inputs/ambiguous_methods.h
  test/Interop/Cxx/class/method/ambiguous-methods-module-interface.swift
  test/Interop/Cxx/class/method/ambiguous-methods.swift
Labels: C++ Interop
