Repository swiftlang/swift, pull requests merged in 2022-10, with the labels that each got.

#61385 [cxx-interop] Allow using `std::map` subscript
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: C++ Interop

#61417 [interop][SwiftToCxx] guard inline emitted Stdlib module
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/experimental-interoperability-version.json
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
Labels: C++ Interop

#61425 [interop][SwiftToCxx] Fix a bug with bridging class initializer in ve…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
Labels: C++ Interop

#61420 [cxx-interop] Handle `std::string`s with `\0` character
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: C++ Interop

#61438 [interop][SwiftToCxx] do not print documentation comment for emitted …
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
Labels: C++ Interop

#61444 [interop][SwiftToCxx] do not expose actor classes in the generated he…
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/unsupported/unsupported-decls-in-cxx.swift
Labels: C++ Interop

#61461 [interop][SwiftToCxx] add some helper methods to work with Swift's Op…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/optional/optional-execution.cpp
Labels: C++ Interop

#61491 [interop][SwiftToCxx] update status doc for class init support
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#61497 [interop][SwiftToCxx] clarify Swift to C++ status doc
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: C++ Interop

#61469 tests: Address a few stale FIXMEs & replace some commented-out test cases with verifications
  test/IDE/print_ast_tc_decls.swift
  validation-test/Sema/OverridesAndOverloads.swift
Labels: Testcases

#61542 [Distributed] More docs on the InvocationDecoder itself
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: Distributed, Documentation

#61456 [cxx-interop] Add initial benchmark to compare vector<uint32_t> sum i…
  benchmark/CMakeLists.txt
  benchmark/Package.swift
  benchmark/cmake/modules/AddSwiftBenchmarkSuite.cmake
  benchmark/cxx-source/CxxVectorSum.swift
  benchmark/utils/CxxTests/CxxStdlibPerformance.h
  benchmark/utils/CxxTests/module.modulemap
  benchmark/utils/main.swift
Labels: C++ Interop, Benchmark

#61552 [cxx-interop] Do not instantiate templates in unevaluated contexts
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/Inputs/unevaluated-context.h
  test/Interop/Cxx/templates/unevaluated-context.swift
Labels: C++ Interop

#61543 [cxx-interop] Drop return values of `+=`, `-=`, `*=`, `/=`
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/non-member-inline-typechecker.swift
  test/Interop/Cxx/operators/non-member-inline.swift
Labels: C++ Interop

#61484 [cxx-interop] Make some CxxSequence methods inlinable
  stdlib/public/Cxx/CxxSequence.swift
Labels: C++ Interop

#61540 [cxx-interop] Correctly check iterator conformances
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
Labels: C++ Interop

#61577 [cxx-interop] Optimize `CxxIterator` and `CxxSequence`
  stdlib/public/Cxx/CxxSequence.swift
Labels: C++ Interop

#61275 update-checkout: Do not update repository if not listed in the given branch-scheme
  utils/python_format.py
  utils/update_checkout/tests/scheme_mock.py
  utils/update_checkout/tests/test_clone.py
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout, contributor experience

#61181 [cxx-interop] Fix friend operators that come from class template specializations.
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nested-records-module-interface.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: C++ Interop

#61605 [interop][SwiftToCxx] include the swiftToCxx shim header only when ac…
  lib/PrintAsClang/PrintAsClang.cpp
  test/PrintAsCxx/empty.swift
  test/PrintAsObjC/empty.swift
Labels: C++ Interop

#61619 [interop] bump up the number in experimental-interoperability-version…
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: C++ Interop

#61448 Don’t suggest adding the project in the "submit a bug report" message
  include/swift/Basic/Compiler.h
  test/Frontend/batch_mode_output_file_map_missing_primary.swift
  test/Sema/rdar38885760.swift
  test/Serialization/Recovery/crash-recovery.swift
Labels: contributor experience

#61554 [cxx-interop] Add `CxxRandomAccessCollection` protocol
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-collection.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
Labels: C++ Interop

#61633 [docs] GettingStarted.md: Do not suggest to run tests when building toolchain
  docs/HowToGuides/GettingStarted.md
Labels: Documentation, contributor experience

#61639 [cxx-interop] Test typed and untyped enums cannot be assigned to each other
  test/Interop/Cxx/enum/Inputs/module.modulemap
  test/Interop/Cxx/enum/Inputs/typed-untyped-enums.h
  test/Interop/Cxx/enum/typed-untyped-enums.swift
Labels: C++ Interop

#60603 [cxx-interop] Implicitly import `Cxx` module
  lib/ClangImporter/ClangImporter.cpp
  lib/IRGen/GenDecl.cpp
  test/Interop/Cxx/class/constructors-copy-irgen-android.swift
  test/Interop/Cxx/class/constructors-copy-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-copy-irgen-windows.swift
  test/Interop/Cxx/class/constructors-copy-irgen.swift
  test/Interop/Cxx/class/constructors-irgen-android.swift
  test/Interop/Cxx/class/constructors-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-irgen-windows.swift
  test/Interop/Cxx/class/constructors-irgen.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence.swift
Labels: C++ Interop

#61618 Revert "Revert "[cxx-interop][SwiftCompilerSources] Use C++ enums directly from Swift""
  SwiftCompilerSources/Sources/Optimizer/DataStructures/FunctionUses.swift
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/StackProtection.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/EscapeUtils.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/WitnessTable.swift
  include/swift/AST/ASTBridging.h
  include/swift/Basic/Compiler.h
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILWitnessTable.h
  include/swift/module.modulemap
  lib/SIL/Utils/SILBridging.cpp
Labels: C++ Interop

#61638 [cxx-interop] Emit IR for destructors of temporary C++ values
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/Inputs/destructors-with-temporary-values.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/destructors-with-temporary-values-irgen.swift
Labels: C++ Interop

#61415 [Distributed] fix deprecation warning in `LocalTesting`
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
Labels: Distributed

#61695 [cxx-interop] Add conversions between `std::u16string` and `Swift.String`
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: C++ Interop

#61722 Test various nodiscard return cases.
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/nodiscard.h
  test/Interop/Cxx/class/nodiscard-typechecker.swift
Labels: C++ Interop

#61348 Gardening: Migrate CHANGELOG.md to GitHub issues
  CHANGELOG.md
Labels: Documentation

#61700 [cxx-interop] Synthesize conformances to `UnsafeCxxInputIterator`
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: C++ Interop

#60786 [cxx-interop] Mark un-specialized class templates as unavailable in Swift.
  SwiftCompilerSources/Sources/AST/DiagnosticEngine.swift
  include/swift/AST/ASTBridging.h
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/namespace/templates-module-interface.swift
  test/Interop/Cxx/namespace/templates-with-forward-decl-module-interface.swift
  test/Interop/Cxx/templates/Inputs/SwiftClassInstantiationModule.swift
  test/Interop/Cxx/templates/Inputs/class-template-for-swift-module.h
  test/Interop/Cxx/templates/class-template-instantiation-existing-specialization.swift
  test/Interop/Cxx/templates/class-template-instantiation-typechecker-calls-method-with-error.swift
  test/Interop/Cxx/templates/class-template-instantiation-typechecker-constructor-calls-method-with-error.swift
  test/Interop/Cxx/templates/class-template-instantiation.swift
  test/Interop/Cxx/templates/class-template-uninstantiatable-members-irgen.swift
  test/Interop/Cxx/templates/class-template-uninstantiatable-members.swift
  test/Interop/Cxx/templates/define-referenced-inline.swift
  test/Interop/Cxx/templates/dependent-types-silgen.swift
  test/Interop/Cxx/templates/dependent-types.swift
  test/Interop/Cxx/templates/swift-class-instantiation-module-interface.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: C++ Interop

#61321 Allow existential opening for parameters of optional type.
  lib/Sema/CSSimplify.cpp
  test/Constraints/opened_existentials.swift
  test/Generics/existential_restrictions.swift
Labels: swift-evolution-approved

#61533 [cxx-interop] Emit retain/release correctly for FRT's that are stored…
  lib/IRGen/GenEnum.cpp
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: C++ Interop

#61764 tests: enable a couple of C++ value witness table tests
  test/Interop/Cxx/value-witness-table/custom-destructors-virtual-irgen.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-virtual.swift
Labels: C++ Interop

#61626 [Interop] [SwiftToCxx] Introduce Dynamic Cast to swift::Error
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
Labels: C++ Interop

#60839 [BuilderTransform] Lift all restrictions from variable decls when AST…
  lib/Sema/BuilderTransform.cpp
  test/Constraints/result_builder_ast_transform.swift
Labels: swift-evolution-approved
