Repository swiftlang/swift, pull requests merged in 2023-06, with the labels that each got.

#66220 [cxx-interop] Synthesize a deprecated zero initializer for C++ structs
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/constructors-objc-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
  test/Interop/Cxx/union/anonymous-union-partly-invalid-module-interface.swift
Labels: c++ interop

#66246 [5.8] CMake: fix missing `SWIFT_CONCURRENCY_GLOBAL_EXECUTOR`
  CMakeLists.txt
  lib/DriverTool/autolink_extract_main.cpp
  stdlib/cmake/modules/StdlibOptions.cmake
  test/Driver/static-stdlib-autolink-linux.swift
  test/Driver/static-stdlib-linux.swift
  test/lit.cfg
  utils/build-script-impl
Labels: bug, concurrency, Linux, build-script, cmake, 🍒 release cherry pick, swift 5.8

#66169 [cxx-interop] Do not treat `std::pair<UnsafeType, T>` as safe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-pair-typechecker.swift
Labels: c++ interop

#66256 [5.9] Print package-name in .private.swiftinterface only for better abstraction
  include/swift/Frontend/ModuleInterfaceSupport.h
  include/swift/Option/Options.h
  include/swift/Option/Options.td
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/Frontend/ModuleInterfaceSupport.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/Sema/accessibility_package_inline_interface.swift
  test/Sema/accessibility_package_interface.swift
  test/Serialization/load_package_module.swift
  test/Serialization/module_package_name.swift
Labels: 🍒 release cherry pick, swift 5.9

#66225 [5.9] IRGen: Assorted `-unavailable-decl-optimization` fixes
  include/swift/SIL/SILModule.h
  lib/AST/Availability.cpp
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/MetadataLayout.cpp
  lib/SIL/IR/SILModule.cpp
  test/IRGen/unavailable_decl_optimization_complete_enum.swift
  test/IRGen/unavailable_decl_optimization_complete_objc.swift
  test/Interpreter/enum_unavailable_cases.swift
Labels: 🍒 release cherry pick, swift 5.9

#66285 5.9: [ClosureSpecializer] Don't release trivial noescape apply argument twice.
  lib/SILOptimizer/IPO/ClosureSpecializer.cpp
  test/SILOptimizer/closure_specialize.sil
Labels: swift 5.9

#66284 🍒[cxx-interop] Do not treat `std::pair<UnsafeType, T>` as safe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-pair-typechecker.swift
Labels: c++ interop

#66268 🍒[cxx-interop] Synthesize a deprecated zero initializer for C++ structs
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/constructors-objc-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
  test/Interop/Cxx/union/anonymous-union-partly-invalid-module-interface.swift
Labels: c++ interop

#66249 build: prepare for versioning of the toolchain
  utils/build-windows-toolchain.bat
Labels: Windows, swift 5.9

#66336 5.9: [IRGen] Mask off metadata pack passed to DebugInfo.
  lib/IRGen/GenPack.cpp
  lib/IRGen/GenPack.h
  lib/IRGen/LocalTypeData.cpp
  test/DebugInfo/variadic-generics.swift
  test/IRGen/run_variadic_generics.sil
  test/IRGen/variadic_generic_outlining.sil
Labels: swift 5.9

#66344 5.9: [IRGen] Dealloc on-stack metadata/wtable packs on the dominance frontier.
  docs/SIL.rst
  include/swift/AST/SILOptions.h
  include/swift/AST/Types.h
  include/swift/IRGen/IRGenSILPasses.h
  include/swift/Option/FrontendOptions.td
  include/swift/SIL/Dominance.h
  include/swift/SIL/SILBuilder.h
  include/swift/SIL/SILCloner.h
  include/swift/SIL/SILFunction.h
  include/swift/SIL/SILInstruction.h
  include/swift/SIL/SILNodes.def
  include/swift/SIL/SILType.h
  include/swift/SILOptimizer/PassManager/Passes.def
  include/swift/SILOptimizer/Utils/StackNesting.h
  lib/AST/ASTContext.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/Address.h
  lib/IRGen/CMakeLists.txt
  lib/IRGen/GenPack.cpp
  lib/IRGen/GenPack.h
  lib/IRGen/IRGenFunction.cpp
  lib/IRGen/IRGenFunction.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/PackMetadataMarkerInserter.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/SILFunction.cpp
  lib/SIL/IR/SILInstruction.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Utils/Dominance.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/UtilityPasses/SerializeSILPass.cpp
  lib/SILOptimizer/Utils/SILInliner.cpp
  lib/SILOptimizer/Utils/StackNesting.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SerializeSIL.cpp
  test/IRGen/pack_metadata_marker_inserter.sil
  test/IRGen/variadic_generic_functions.sil
  test/SIL/Parser/pack_metadata.sil
  test/SIL/verifier_failures.sil
  tools/sil-opt/SILOpt.cpp
  validation-test/IRGen/pack_stack_metadata_alloc_loop.sil
Labels: swift 5.9

#66345 5.9: [Mem2Reg] Recognize store_borrows for debug_value.
  lib/SILOptimizer/Transforms/SILMem2Reg.cpp
  test/SILOptimizer/mem2reg_ossa.sil
Labels: swift 5.9

#66163 [5.9] Fix SILCombine to preserve a release of a move-only type
  lib/SIL/IR/TypeLowering.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/SILOptimizer/sil_combine_moveonly.sil
Labels: swift 5.9

#66355 [5.9] SIL: Don't skip lowering obsolete decls
  lib/SIL/IR/SILModule.cpp
  test/SILGen/unavailable_decl_optimization_complete.swift
Labels: 🍒 release cherry pick, swift 5.9

#66271 [cxx-interop] Initializing a Swift.Array from CxxConvertibleToCollection should not copy the collection
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#66374 [cxx-interop] add a SWIFT_MUTATING customization macro
  lib/ClangImporter/bridging
  test/Interop/Cxx/class/Inputs/mutable-members.h
  test/Interop/Cxx/class/mutable-members-with-mutating-annotation-module-interface.swift
Labels: c++ interop

#66357 [5.9][move-only] Fix SIL representation and SILOptimizer to preserve value deinits.
  include/swift/SIL/InstructionUtils.h
  include/swift/SIL/SILMoveOnlyDeinit.h
  include/swift/SIL/SILNodes.def
  include/swift/SILOptimizer/PassManager/Passes.def
  include/swift/SILOptimizer/Utils/InstOptUtils.h
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenStmt.cpp
  lib/SILOptimizer/Analysis/RCIdentityAnalysis.cpp
  lib/SILOptimizer/IPO/DeadFunctionElimination.cpp
  lib/SILOptimizer/Mandatory/CMakeLists.txt
  lib/SILOptimizer/Mandatory/OwnershipModelEliminator.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  lib/SILOptimizer/Transforms/CMakeLists.txt
  lib/SILOptimizer/Transforms/MoveOnlyDeinitDevirtualization.cpp
  lib/SILOptimizer/Transforms/SILCodeMotion.cpp
  lib/SILOptimizer/Transforms/SILLowerAggregateInstrs.cpp
  lib/SILOptimizer/Utils/InstOptUtils.cpp
  test/SILGen/discard.swift
  test/SILGen/moveonly_deinits.swift
  test/SILOptimizer/dead_code_elimination_ossa.sil
  test/SILOptimizer/earlycodemotion_moveonly.sil
  test/SILOptimizer/late_release_hoisting.sil
  test/SILOptimizer/loweraggregateinstrs_moveonly.sil
  test/SILOptimizer/moveonly_deinit_devirtualization.sil
  test/SILOptimizer/moveonly_deinits.swift
  test/SILOptimizer/moveonly_lifetime.swift
  test/SILOptimizer/sil_combine_moveonly.sil
Labels: swift 5.9

#66389 🍒[cxx-interop] Initializing a Swift.Array from CxxConvertibleToCollection should not copy the collection
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#66396 [5.9][cxx-interop] add a SWIFT_MUTATING customization macro
  lib/ClangImporter/bridging
  test/Interop/Cxx/class/Inputs/mutable-members.h
  test/Interop/Cxx/class/mutable-members-with-mutating-annotation-module-interface.swift
Labels: c++ interop, swift 5.9

#66397 [5.9][interop][SwiftToCxx] support copy-assignment operation for Swift val…
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-move-semantics-in-cxx.cpp
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member-execution.cpp
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop, swift 5.9

#65348 [5.9] [CS] Allow ExprPatterns to be type-checked in the solver
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Types.h
  include/swift/Sema/CSFix.h
  include/swift/Sema/CompletionContextFinder.h
  include/swift/Sema/ConstraintLocator.h
  include/swift/Sema/ConstraintLocatorPathElts.def
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ASTContext.cpp
  lib/IDE/TypeCheckCompletionCallback.cpp
  lib/Parse/ParseStmt.cpp
  lib/Sema/BuilderTransform.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CSSolver.cpp
  lib/Sema/CSSyntacticElement.cpp
  lib/Sema/CompletionContextFinder.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckCodeCompletion.cpp
  lib/Sema/TypeCheckPattern.cpp
  lib/Sema/TypeChecker.h
  test/Constraints/optional.swift
  test/Constraints/patterns.swift
  test/Constraints/rdar105781521.swift
  test/Constraints/rdar105782480.swift
  test/Constraints/rdar106598067.swift
  test/Constraints/rdar107420031.swift
  test/Constraints/rdar107651291.swift
  test/Constraints/rdar107709341.swift
  test/Constraints/rdar107724970.swift
  test/Constraints/rdar109419240.swift
  test/Constraints/rdar44770297.swift
  test/Constraints/result_builder_diags.swift
  test/Constraints/result_builder_invalid_stmts.swift
  test/Constraints/static_members_on_protocol_in_generic_context.swift
  test/IDE/complete_unresolved_members.swift
  test/Misc/misc_diagnostics.swift
  test/Parse/confusables.swift
  test/Parse/matching_patterns.swift
  test/Parse/matching_patterns_reference_bindings.swift
  test/SILGen/switch_expr.swift
  test/StringProcessing/Parse/forward-slash-regex.swift
  test/decl/var/property_wrappers.swift
  test/stdlib/StringDiagnostics.swift
  test/stmt/errors.swift
  test/stmt/foreach.swift
  test/stmt/if_while_var.swift
  validation-test/Sema/SwiftUI/rdar70256351.swift
  validation-test/Sema/type_checker_crashers_fixed/issue-65360.swift
Labels: 🍒 release cherry pick, swift 5.9

#66386 [5.9][CMake] Allow install_name_tool to edit pure swift library load paths
  cmake/modules/AddPureSwift.cmake
Labels: 🍒 release cherry pick, swift 5.9

#65385 [5.9][Macros] Remove usages of deprecated methods in SwiftSyntaxMacros
  lib/ASTGen/Sources/ASTGen/SourceManager+MacroExpansionContext.swift
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand.swift
Labels: 🍒 release cherry pick, swift 5.9

#66371 [Backtracing][IRGen] Add a semantic attribute to force frame pointer.
  include/swift/AST/SemanticAttrs.def
  lib/IRGen/IRGenSIL.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66370 [5.9][Serialization] Fix serializing CompilerPluginExecutablePaths values
  lib/Frontend/Frontend.cpp
  lib/Serialization/Serialization.cpp
  test/Macros/serialize_plugin_search_paths.swift
Labels: 🍒 release cherry pick, swift 5.9

#66415 Call python3 to execute XCTest's build_script.py.
  utils/build-script-impl
Labels: 🍒 release cherry pick, swift 5.9

#66422 [Backtracing] Use stderr by default unless interactive.
  include/swift/Runtime/Backtrace.h
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/CrashHandlerLinux.cpp
  stdlib/public/runtime/CrashHandlerMacOS.cpp
  test/Backtracing/Crash.swift
  test/Backtracing/CrashAsync.swift
  test/Backtracing/CrashWithThunk.swift
  test/Backtracing/Overflow.swift
  test/Backtracing/StackOverflow.swift
  test/lit.cfg
Labels: 🍒 release cherry pick, swift 5.9

#66430 [Backtracing][Linux] Use syscall() to call gettid().
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66427 [5.9] Add flags to toolchain Info.plist to allow using macros from Apple's SDKs when building in Xcode using swift.org toolchains
  utils/build-script-impl
Labels: 🍒 release cherry pick, swift 5.9

#66461 [5.9][SourceKit] Add barrier-related functions to sourcekitdInProc-darwin.exports
  tools/SourceKit/tools/sourcekitd/bin/InProc/sourcekitdInProc-darwin.exports
Labels: 🍒 release cherry pick, swift 5.9

#66418 [cxx-interop][driver] make '-emit-clang-header-path' a fully supporte…
  include/swift/Option/Options.td
Labels: c++ interop, driver options

#65922 [cxx-interop] evaluate default constructor's unevaluated exception sp…
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenStruct.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-itanium.swift
Labels: c++ interop

#66464 [5.9][Sema] InitAccessors: Don't synthesize default memberwise arg for ini…
  lib/Sema/CodeSynthesis.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66459 [5.9] Tests: disable AutoDiff/compiler_crashers_fixed/issue-55852-tangent-value-category-mismatch.swift on linux
  test/AutoDiff/compiler_crashers_fixed/issue-55852-tangent-value-category-mismatch.swift
Labels: 🍒 release cherry pick, swift 5.9

#66478 [cxx-interop] Make a test work properly with optimizations
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#66485 [Backtracing][Linux] Replace regex with ProcMapsScanner.
  stdlib/public/Backtracing/Backtrace.swift
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/Backtracing/ProcMapsScanner.swift
Labels: 🍒 release cherry pick, swift 5.9

#66487 [Backtracing][Linux] Include declarations for gettid() and tgkill().
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66491 🍒[cxx-interop] Make a test work properly with optimizations
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#66433 [Backtracing] Make StackOverflow test less sensitive.
  test/Backtracing/StackOverflow.swift
Labels: 🍒 release cherry pick, swift 5.9

#66477 [5.9][cxx-interop] evaluate default constructor's unevaluated exception sp…
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenStruct.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-itanium.swift
Labels: c++ interop, swift 5.9

#66558 [cxx-interop] compilations that do not enable C++ interoperability sh…
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/Basic/LangOptions.h
  include/swift/Option/FrontendOptions.td
  include/swift/Serialization/Validation.h
  lib/AST/Module.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxx-interop-module-without-interop.swift
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxxstdlib-interop-module-without-interop.swift
  test/Interop/Cxx/modules/prohibit-import-into-non-interop-compilation.swift
Labels: c++ interop, swift 5.9

#66564 [5.9] [Immediate] Workaround for loading merged frameworks in immediate mode
  lib/Immediate/Immediate.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66557 [cxx-interop] Avoid linker errors when calling a defaulted constructor
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#66566 [5.9] [CS] A couple of ExprPattern conjunction fixes
  lib/Sema/CSGen.cpp
  lib/Sema/CSSyntacticElement.cpp
  test/Constraints/issue-66561.swift
  test/Constraints/rdar110617471.swift
Labels: 🍒 release cherry pick, swift 5.9

#66571 [5.9] [SILGen] Emit block after unreachable when emitting if/switch expressions
  lib/SILGen/SILGenExpr.cpp
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.9

#65087 [cxx-interop] Add `std::set` initializer that takes a Swift Sequence
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#66149 🍒 Diagnose additional @objcImpl member mismatch errors
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclObjC.cpp
  test/IRGen/objc_implementation.swift
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
  test/decl/ext/objc_implementation_conflicts.swift
Labels: 🍒 release cherry pick

#66595 🍒[cxx-interop] Avoid linker errors when calling a defaulted constructor
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#66601 [cxx-interop] Optimize CxxSet initialization from a Swift Sequence
  stdlib/public/Cxx/CxxSet.swift
Labels: c++ interop

#66599 [cxx-interop] Simplify a `std::string` test
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-string.h
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#66581 [5.9] Fix sign of fractional units in Duration initializers from Double.
  stdlib/public/core/Duration.swift
  test/stdlib/Duration.swift
Labels: swift 5.9

#66627 [Backtracing][Linux] Properly align the stacks.
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66641 swift_build_support: support FreeBSD on arm64 in `targets.py`
  utils/swift_build_support/swift_build_support/targets.py
Labels: arm64, build, platform support, FreeBSD

#66631 [5.9][Test] Use SyntaxRewriter.rewrite not visit
  test/Macros/Inputs/syntax_macro_definitions.swift
Labels: 🍒 release cherry pick, swift 5.9

#66652 swift_build_support cmake.py: allow bootstrapping CMake on FreeBSD
  utils/swift_build_support/swift_build_support/cmake.py
Labels: build-script, cmake, platform support, FreeBSD

#66655 build-script-impl: add support for `freebsd-arm64`
  cmake/modules/SwiftConfigureSDK.cmake
  utils/build-script-impl
Labels: arm64, build, build error, platform support, FreeBSD

#66649 🍒 Diagnose conformances on @objcImpl extensions
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclObjC.cpp
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
Labels: 🍒 release cherry pick

#66619 [cxx-interop] Add fix for corner case where NS_OPTIONS typedef has to be desugared
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.apinotes
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/ns-options-mangling.swift
Labels: c++ interop

#66656 [5.9][Build] Read all shell output as UTF-8
  utils/swift_build_support/swift_build_support/shell.py
Labels: 🍒 release cherry pick, swift 5.9

#65813 [cxx-interop] Itanium ABI C++ records should have address-only layout when they can't be passed in registers
  lib/ClangImporter/ImportDecl.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/clang-trivial-abi.swift
  test/Interop/Cxx/objc-correctness/Inputs/cxx-class-with-arc-fields-ctor.h
  test/Interop/Cxx/objc-correctness/Inputs/objc-class-with-non-trivial-cxx-record.mm
  test/Interop/Cxx/objc-correctness/call-to-generated-init-with-nsstring.swift
  test/Interop/Cxx/objc-correctness/objcxx-arc-field-in-struct-type-layout-execution.swift
Labels: c++ interop

#66677 [5.9] Sema: Diagnose `@backDeployed` on functions with opaque result types
  include/swift/AST/DiagnosticEngine.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/DiagnosticEngine.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/attr/attr_backDeployed.swift
Labels: 🍒 release cherry pick, swift 5.9

#66693 [5.9][cxx-interop] add a testcase to verify that 'borrowing' works with co…
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop, swift 5.9

#66709 [5.9][ConstraintSystem] Use fallback type constraint to default pack expansion
  include/swift/Sema/Constraint.h
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSBindings.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/Constraint.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/pack-expansion-expressions.swift
  unittests/Sema/ConstraintSimplificationTests.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66710 [5.9] [CS] Diagnose UnresolvedPatternExprs as part of constraint solving
  include/swift/Sema/CSFix.h
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/issue-66553.swift
  test/Constraints/rdar105782480.swift
  test/Constraints/rdar106598067.swift
Labels: 🍒 release cherry pick, swift 5.9

#66717 5.9: [TypeLowering] Move-only types are lexical.
  lib/SIL/IR/TypeLowering.cpp
  lib/SILOptimizer/UtilityPasses/UnitTestRunner.cpp
  test/SIL/type_lowering_unit.sil
  test/SILGen/discard.swift
  test/SILGen/moveonly.swift
  test/SILGen/moveonly_deinits.swift
  test/SILGen/moveonly_enum_literal.swift
  test/SILGen/moveonly_escaping_closure.swift
Labels: swift 5.9

#66072 Add frontend flag for explicitly setting ccc
  include/swift/AST/IRGenOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenHeap.cpp
  lib/IRGen/IRGenModule.cpp
Labels: IRGen, armv7, Frontend

#66715 [5.9][Sema/SILGen] Omnibus of `init accessor` feature improvements
  include/swift/AST/Decl.h
  include/swift/AST/DeclContext.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  include/swift/Sema/CSFix.h
  include/swift/Sema/ConstraintSystem.h
  lib/AST/Decl.cpp
  lib/AST/DeclContext.cpp
  lib/Parse/ParseExpr.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckMacros.cpp
  lib/Sema/TypeCheckStorage.cpp
  test/Interpreter/init_accessors.swift
  test/SILOptimizer/init_accessor_definite_init_diagnostics.swift
  test/decl/var/init_accessors.swift
Labels: 🍒 release cherry pick, swift 5.9

#66727 5.9: [SILOptimizer] Don't optimize move-only lifetimes.
  lib/SILOptimizer/Transforms/SSADestroyHoisting.cpp
  lib/SILOptimizer/Utils/CanonicalizeOSSALifetime.cpp
  test/SILOptimizer/canonicalize_ossa_lifetime_unit.sil
  test/SILOptimizer/hoist_destroy_addr.sil
Labels: swift 5.9

#66760 GettingStarted.md: add missing link for Ubuntu 18.04 dependencies
  docs/HowToGuides/GettingStarted.md
Labels: Linux, documentation, contributor experience

#66753 [cxx-interop] Make `std::string::append` usable from Swift
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#66754 Complete sentence in TaskLocal Documentation
  stdlib/public/Concurrency/TaskLocal.swift
Labels: concurrency, documentation

#66778 [5.9] Fix MoveOnlyAddressChecker to handle value deinits
  lib/SIL/Utils/FieldSensitivePrunedLiveness.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyAddressCheckerUtils.cpp
  test/Interpreter/moveonly_discard.swift
  test/SILOptimizer/moveonly_addresschecker.sil
Labels: swift 5.9

#66749 [cxx-interop] Avoid crashing when template substitution fails
  include/swift/AST/DiagnosticsSema.def
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/templates/Inputs/enable-if.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/enable-if-typechecker.swift
Labels: c++ interop

#66765 [cxx-interop] Make CxxShim header and modulemap arch-independent
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#66802 [Backtracing] Fix crash in CrashAsync test on Ubuntu 18.04.
  stdlib/public/Backtracing/FramePointerUnwinder.swift
Labels: 🍒 release cherry pick, swift 5.9

#66811 Revert `static-executable-args.lnk` changes
  stdlib/public/Resources/wasi/static-executable-args.lnk
  stdlib/public/runtime/CMakeLists.txt
Labels: bug, cmake

#66805 🍒[cxx-interop] Make `std::string::append` usable from Swift and avoid crashing for substitution failures
  include/swift/AST/DiagnosticsSema.def
  lib/ClangImporter/ClangImporter.cpp
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/templates/Inputs/enable-if.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/enable-if-typechecker.swift
Labels: c++ interop

#66816 [5.9] SILCombine: correctly set the `[stack]` flag when replacing `alloc_ref_dynamic` with `alloc_ref`
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/SILOptimizer/sil_combine_ossa.sil
Labels: swift 5.9

#66841 [Distributed] Don't diagnose declared dist member properties when importing module
  lib/Sema/TypeCheckDistributed.cpp
Labels: distributed

#41690 Docs: add DSO, GOT, and PLT to `Lexicon.md`
  docs/Lexicon.md
Labels: documentation, contributor experience

#66764 [cxx-interop] Allow inserting elements into `std::set` from Swift
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#66809 [5.9][SwiftSyntax] Remove spacing between `Any` and `.`
  test/SourceKit/Macros/macro_basic.swift
Labels: 🍒 release cherry pick

#66862 🍒 Support required inits in @objcImpl
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
  test/decl/ext/objc_implementation_conflicts.swift
Labels: 🍒 release cherry pick

#66807 🍒[cxx-interop] Make CxxShim header and modulemap arch-independent
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#66855 [cxx-interop] Make libstdc++ header and modulemap arch-independent
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Cxx/libstdcxx/CMakeLists.txt
  unittests/ClangImporter/ClangImporterTests.cpp
Labels: c++ interop

#66781 [5.9 🍒][Compile Time Constant Extraction] Add extraction of all conformancesand type aliases of applicable nominal types
  lib/ConstExtract/ConstExtract.cpp
  lib/Option/features.json
  test/ConstExtraction/ExtractAnnotations.swift
  test/ConstExtraction/ExtractCalls.swift
  test/ConstExtraction/ExtractEnums.swift
  test/ConstExtraction/ExtractGroups.swift
  test/ConstExtraction/ExtractLiterals.swift
  test/ConstExtraction/ExtractOpaqueTypealias.swift
  test/ConstExtraction/ExtractResultBuilders.swift
  test/ConstExtraction/ExtractRuntimeMetadataAttr.swift
  test/ConstExtraction/ExtractTypeValue.swift
Labels: 🍒 release cherry pick, swift 5.9

#66843 Conditional conformances for variadic generic types [5.9]
  include/swift/ABI/GenericContext.h
  include/swift/ABI/Metadata.h
  include/swift/ABI/MetadataValues.h
  lib/IRGen/Fulfillment.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenMeta.h
  lib/IRGen/GenProto.cpp
  lib/IRGen/LocalTypeData.cpp
  stdlib/public/runtime/Metadata.cpp
  stdlib/public/runtime/MetadataLookup.cpp
  stdlib/public/runtime/Private.h
  stdlib/public/runtime/ProtocolConformance.cpp
  test/IRGen/variadic_generic_conditional_conformances.swift
  test/Interpreter/variadic_generic_conditional_conformances.swift
  test/Interpreter/variadic_generic_conformances.swift
Labels: swift 5.9

#66886 [5.9][Completion] Add targetEnvironment(macCatalyst) platform condition
  lib/IDE/CodeCompletion.cpp
  test/IDE/complete_pound_directive.swift
Labels: 🍒 release cherry pick, swift 5.9

#66885 [5.9][CSSimplify] Add special handling if specialized type comes from `TypeExpr`
  include/swift/Sema/ConstraintLocator.h
  lib/Sema/CSSimplify.cpp
  test/decl/ext/specialize.swift
Labels: 🍒 release cherry pick, swift 5.9

#66912 [Concurrency] Fix code snippet on task group docs
  stdlib/public/Concurrency/TaskGroup.swift
Labels: concurrency, documentation

#66876 🍒 Fix @objcImpl crash with async/sync overloads
  lib/Sema/TypeCheckDeclObjC.cpp
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
Labels: 🍒 release cherry pick

#66927 [5.9][ConstraintSystem] Adjust the way pack parameters are opened
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/variadic_generic_types.swift
Labels: 🍒 release cherry pick, swift 5.9

#66968 [5.9][Index] Include generic macro arguments
  lib/AST/ASTWalker.cpp
  lib/IDE/SourceEntityWalker.cpp
  test/Index/index_macros.swift
Labels: 🍒 release cherry pick, swift 5.9

#66696 [cxx-interop] Add fix for corner case where NS_OPTIONS typedef has to be desugared
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.apinotes
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/ns-options-mangling.swift
Labels: c++ interop

#67004 SIL: Pass SubstFlags::PreservePackExpansionLevel in a few places [5.9]
  include/swift/AST/SubstitutionMap.h
  include/swift/SIL/SILCloner.h
  lib/AST/SubstitutionMap.cpp
  test/SILOptimizer/variadic_generics_sil_cloner.swift
Labels: swift 5.9

#67013 [build] Fix cmake config for reflection test without dynamic stdlib
  stdlib/private/SwiftReflectionTest/CMakeLists.txt
Labels: test suite, cmake, reflection

#67014 [wasm][stdlib] Add wasi-libc support for Heap.cpp
  stdlib/public/runtime/Heap.cpp
Labels: runtime

#66852 [Distributed] Try to make test for null sourcefile
  test/Distributed/distributed_actor_basic.swift
  test/ModuleInterface/distributed_actors.swift
Labels: distributed

#67026 [5.9][ConstraintSystem] Fix a couple of issues related to generic specialization
  include/swift/Sema/CSFix.h
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
  test/Macros/macro_and_typealias.swift
  test/Macros/macros_diagnostics.swift
Labels: 🍒 release cherry pick, swift 5.9

#64933 [docs][Concurrency] Fix typo in method signature in code snippets of groups
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency, documentation
