Repository swiftlang/swift, pull requests merged in 2023-01, with the labels that each got.

#62762 [cxx-interop] Fix typo in `test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h`
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
Labels: c++ interop

#62763 [cxx-interop] Treat name lookup as successful if we found a C++ member operator
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#62764 [cxx-interop] Allow instantiated operator methods to serve as protocol conformance witnesses
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
Labels: c++ interop

#62811 [cxx-interop] Update and enable libc++ module interface test
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
Labels: c++ interop

#62808 [5.8] Sema/IRGen: Add clang decl support to `#_hasSymbol`
  include/swift/AST/DiagnosticsSema.def
  include/swift/SIL/SILSymbolVisitor.h
  lib/AST/ASTPrinter.cpp
  lib/IRGen/GenHasSymbol.cpp
  lib/Sema/MiscDiagnostics.cpp
  test/IRGen/Inputs/has_symbol/has_symbol_helper.swift
  test/IRGen/Inputs/has_symbol/has_symbol_helper_clang.h
  test/IRGen/Inputs/has_symbol/has_symbol_helper_objc.h
  test/IRGen/Inputs/has_symbol/module.modulemap
  test/IRGen/has_symbol.swift
  test/IRGen/has_symbol_async.swift
  test/IRGen/has_symbol_clang.swift
  test/IRGen/has_symbol_objc.swift
  test/Sema/Inputs/has_symbol/has_symbol_helper.swift
  test/Sema/Inputs/has_symbol/has_symbol_helper_clang.h
  test/Sema/Inputs/has_symbol/has_symbol_helper_objc.h
  test/Sema/Inputs/has_symbol/module.modulemap
  test/Sema/has_symbol.swift
  test/Sema/has_symbol_clang.swift
  test/Sema/has_symbol_objc.swift
Labels: r5.8

#62733 Remove prefix+ from StaticBigInt
  stdlib/public/core/StaticBigInt.swift
  test/stdlib/StaticBigInt.swift
Labels: swift evolution pending discussion

#62772 [docs] modified sentence structure
  docs/SequencesAndCollections.rst
Labels: standard library, documentation, typo fix

#62822 [5.8] Remove prefix add
  stdlib/public/core/StaticBigInt.swift
  test/stdlib/StaticBigInt.swift
Labels: r5.8

#62770 [5.8] COWOpts: fix a crash in case a buffer "escapes" to a cond_br condition
  lib/SILOptimizer/Transforms/COWOpts.cpp
  test/SILOptimizer/cow_opts.sil
Labels: r5.8

#62809 [5.8][TypeChecker] Enable result builder AST transform by default
  include/swift/AST/Decl.h
  include/swift/Basic/Features.def
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/IDE/CodeCompletionResultType.cpp
  lib/Sema/BuilderTransform.cpp
  lib/Sema/CSStep.cpp
  lib/Sema/CSStep.h
  lib/Sema/CSSyntacticElement.cpp
  lib/Sema/TypeCheckConstraints.cpp
  test/Constraints/result_builder_diags.swift
  test/Constraints/result_builder_invalid_vars.swift
  test/Constraints/result_builder_one_way.swift
  test/Constraints/result_builder_vars.swift
  test/IDE/complete_from_swift_module.swift
  test/IDE/complete_in_result_builder.swift
  test/IDE/complete_issue-57061.swift
  test/IDE/complete_no_cc_behavior_other_syntactic_element.swift
  test/IDE/complete_type_relation_global_results.swift
  test/Sema/type_eraser.swift
  test/StringProcessing/Sema/regex_builder_already_imported.swift
  validation-test/IDE/issues_fixed/issue-57041.swift
  validation-test/Sema/SwiftUI/issue-56479.swift
  validation-test/Sema/SwiftUI/issue-56591.swift
  validation-test/Sema/SwiftUI/mixed_swiftui_and_multistatement_closures.swift
  validation-test/Sema/SwiftUI/rdar75367157.swift
  validation-test/Sema/SwiftUI/rdar88256059.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar50869732.swift
  validation-test/compiler_crashers_2_fixed/issue-57241.swift
Labels: r5.8

#62823 [5.8][stdlib] Speed up short UTF-16 distance calculations
  stdlib/public/core/StringBreadcrumbs.swift
  stdlib/public/core/StringBridge.swift
  stdlib/public/core/StringUTF16View.swift
  test/stdlib/StringIndex.swift
Labels: r5.8

#62842 [5.8][CSClosure] A couple of closure related fixes
  lib/Sema/CSSimplify.cpp
  lib/Sema/CSSyntacticElement.cpp
  test/Constraints/sub-pattern-matching-of-enum-element-for-closure.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar83418797.swift
Labels: r5.8

#62807 Update Lexicon to add reference link to SIL and ir/refutable pattern
  docs/Lexicon.md
Labels: documentation

#62757 [cxx-interop] Instantiate templated `operator==` for iterator types
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#62843 [5.8][Diagnostics] Relax contextual type presence from assertion to a check
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/ConstraintSystem.cpp
  validation-test/Sema/type_checker_crashers_fixed/rdar103739206.swift
Labels: r5.8

#62865 [5.8] EscapeUtils: fix a wrong handling of argument indices in walkUpApplyResult
  SwiftCompilerSources/Sources/Optimizer/Utilities/EscapeUtils.swift
  test/SILOptimizer/escape_info.sil
Labels: r5.8

#62860 [5.8][stdlib] Expose index rounding entry points
  stdlib/public/core/StringIndexConversions.swift
  stdlib/public/core/StringIndexValidation.swift
  stdlib/public/core/StringUTF8View.swift
  test/stdlib/StringIndex.swift
Labels: r5.8

#62863 [5.8][stdlib] Export grapheme breaking facility
  stdlib/private/StdlibUnicodeUnittest/GraphemeBreaking.swift
  stdlib/public/core/StringGraphemeBreaking.swift
  test/stdlib/CharacterRecognizer.swift
  test/stdlib/StringIndex.swift
  validation-test/stdlib/StringGraphemeBreaking.swift
Labels: r5.8

#62874 [5.8][test] Disable test/stdlib/StringIndex.swift to unblock CI
  test/stdlib/StringIndex.swift
Labels: r5.8

#62832 [5.8] SILCombine: fix a crash when optimizing keypath-offset-of
  lib/SILOptimizer/SILCombiner/SILCombinerApplyVisitors.cpp
  test/SILOptimizer/keypath_offset.swift
Labels: r5.8

#62895 [5.8] Sema: Lift restriction requiring decls with `@_backDeploy` to have explicit availability
  include/swift/AST/Attr.h
  include/swift/AST/Availability.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/Attr.cpp
  lib/AST/Availability.cpp
  lib/AST/Decl.cpp
  lib/SIL/IR/SILProfiler.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/ModuleInterface/back-deploy-attr.swift
  test/SILGen/back_deploy_attribute_accessor.swift
  test/SILGen/back_deploy_attribute_accessor_coroutine.swift
  test/SILGen/back_deploy_attribute_func.swift
  test/SILGen/back_deploy_attribute_generic_func.swift
  test/SILGen/back_deploy_attribute_struct_method.swift
  test/SILGen/back_deploy_attribute_throwing_func.swift
  test/Sema/availability_define.swift
  test/Serialization/back-deployed-attr-skip-noninlinable-function-bodies.swift
  test/attr/attr_backDeploy.swift
  test/attr/attr_backDeploy_availability.swift
  test/attr/attr_objc.swift
Labels: r5.8

#62889 [5.8][MiscDiagnostics] OpaqueTypes: Handle unrelated #available conditions gracefully
  lib/Sema/MiscDiagnostics.cpp
  test/Serialization/Inputs/opaque_with_limited_availability.swift
Labels: r5.8

#62319 Preliminary support for member type representations with non-identifier qualifiers
  docs/Generics/generics.tex
  docs/proposals/DeclarationTypeChecker.rst
  include/swift/AST/CASTBridging.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/Expr.h
  include/swift/AST/NameLookup.h
  include/swift/AST/TypeDeclFinder.h
  include/swift/AST/TypeRepr.h
  include/swift/AST/TypeReprNodes.def
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTWalker.cpp
  lib/AST/CASTBridging.cpp
  lib/AST/Expr.cpp
  lib/AST/NameLookup.cpp
  lib/AST/TypeDeclFinder.cpp
  lib/AST/TypeRepr.cpp
  lib/ASTGen/Sources/ASTGen/Types.swift
  lib/IDE/CodeCompletion.cpp
  lib/IDE/SourceEntityWalker.cpp
  lib/IDE/SwiftSourceDocInfo.cpp
  lib/IDE/SyntaxModel.cpp
  lib/Index/Index.cpp
  lib/Migrator/APIDiffMigratorPass.cpp
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParseType.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeAccessScopeChecker.h
  lib/Sema/TypeCheckAccess.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckPattern.cpp
  lib/Sema/TypeCheckRuntimeMetadataAttr.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Sema/TypeCheckType.h
  lib/Sema/TypeChecker.cpp
  test/AutoDiff/Parse/differentiable_func_type.swift
  test/Frontend/dump-parse.swift
  test/Frontend/module-alias-dump-ast.swift
  test/Parse/recovery.swift
  test/SourceKit/SyntaxMapData/syntaxmap-edit-del.swift.response
Labels: compiler, sugared types, nested types

#62751 [5.8] Add -package-name flag and de/serialize package name in module binary
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/Module.h
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/Options.td
  include/swift/Serialization/Validation.h
  lib/Driver/ToolChains.cpp
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/Frontend/Frontend.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/Serialization/module_package_name.swift
  test/diagnostics/package-name-diagnostics.swift
Labels: r5.8

#62210 [NFC] github: Add code owners for some components
  .github/CODEOWNERS
Labels: contributor experience

#62888 [cxx-interop] More test coverage for Collection conformances
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#62885 [cxx-interop] Enable `test/Interop/Cxx/stdlib/use-std-string.swift` on Windows
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#62887 [5.8] Rename Reflection library to RemoteInspection
  CMakeLists.txt
  include/swift/RemoteInspection/MetadataSource.h
  include/swift/RemoteInspection/MetadataSourceBuilder.h
  include/swift/RemoteInspection/MetadataSources.def
  include/swift/RemoteInspection/Records.h
  include/swift/RemoteInspection/ReflectionContext.h
  include/swift/RemoteInspection/RuntimeInternals.h
  include/swift/RemoteInspection/TypeLowering.h
  include/swift/RemoteInspection/TypeRef.h
  include/swift/RemoteInspection/TypeRefBuilder.h
  include/swift/RemoteInspection/TypeRefs.def
  include/swift/Runtime/Metadata.h
  include/swift/StaticMirror/ObjectFileContext.h
  lib/CMakeLists.txt
  lib/IRGen/GenReflection.cpp
  lib/IRGen/MetadataPath.h
  lib/StaticMirror/BinaryScanningTool.cpp
  lib/StaticMirror/CMakeLists.txt
  lib/StaticMirror/ObjectFileContext.cpp
  lib/SwiftReflection/CMakeLists.txt
  lib/SwiftRemoteInspection/CMakeLists.txt
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Reflection/CMakeLists.txt
  stdlib/public/RemoteInspection/CMakeLists.txt
  stdlib/public/RemoteInspection/MetadataSource.cpp
  stdlib/public/RemoteInspection/TypeLowering.cpp
  stdlib/public/RemoteInspection/TypeRef.cpp
  stdlib/public/RemoteInspection/TypeRefBuilder.cpp
  stdlib/public/SwiftRemoteMirror/CMakeLists.txt
  stdlib/public/SwiftRemoteMirror/SwiftRemoteMirror.cpp
  stdlib/public/runtime/Demangle.cpp
  stdlib/public/runtime/MetadataLookup.cpp
  stdlib/tools/swift-reflection-test/CMakeLists.txt
  test/TypeRoundTrip/Inputs/RoundTrip/RoundTrip.cpp
  test/TypeRoundTrip/round-trip.swift
  tools/libStaticMirror/CMakeLists.txt
  tools/libSwiftScan/CMakeLists.txt
  tools/swift-reflection-dump/CMakeLists.txt
  tools/swift-reflection-dump/swift-reflection-dump.cpp
  tools/swift-reflection-fuzzer/CMakeLists.txt
  tools/swift-reflection-fuzzer/swift-reflection-fuzzer.cpp
  unittests/Reflection/CMakeLists.txt
  unittests/Reflection/TypeRef.cpp
Labels: 🍒 release cherry-pick, swift 5.8

#62927 [5.8] [SSADestroyHoisting] Don't fold over trivial use.
  include/swift/SIL/MemAccessUtils.h
  lib/SILOptimizer/Transforms/SSADestroyHoisting.cpp
  test/SILOptimizer/hoist_destroy_addr.sil
Labels: 🍒 release cherry-pick, swift 5.8

#62947 [5.8][TaskLocals] Avoid use of `defer` in back deployed functions in the standard library
  stdlib/public/BackDeployConcurrency/TaskCancellation.swift
  stdlib/public/BackDeployConcurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  stdlib/public/Concurrency/TaskLocal.swift
Labels: 🍒 release cherry-pick, swift 5.8

#62914 [Concurrency] DiscardingTaskGroup (rev 3)
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/TaskGroup.h
  include/swift/ABI/TaskStatus.h
  include/swift/AST/Builtins.def
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/Builtins.cpp
  lib/IRGen/Callee.h
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenConcurrency.cpp
  lib/IRGen/GenConcurrency.h
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  stdlib/public/BackDeployConcurrency/CompatibilityOverrideConcurrency.def
  stdlib/public/BackDeployConcurrency/TaskGroup.cpp
  stdlib/public/BackDeployConcurrency/TaskGroup.swift
  stdlib/public/BackDeployConcurrency/TaskStatus.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.swift
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/toolchain/Compatibility56/CompatibilityOverrideConcurrency.def
  stdlib/toolchain/Compatibility56/include/Concurrency/TaskPrivate.h
  test/Concurrency/Runtime/async_task_locals_prevent_illegal_use_discarding_taskgroup.swift
  test/Concurrency/Runtime/async_task_locals_prevent_illegal_use_taskgroup.swift
  test/Concurrency/Runtime/async_taskgroup_throw_rethrow.swift
  test/Concurrency/Runtime/async_taskgroup_void_neverConsumingTasks.swift
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
Labels: swift evolution approved, concurrency

#62945 [cxx-interop] NFC: Add documentation comments for string conversion
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#62869 [cxx-interop] NFC: Improve documentation comments
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  stdlib/public/Cxx/CxxSequence.swift
Labels: c++ interop

#62737 Fix NULL pointer dereference
  lib/SIL/Utils/PrunedLiveness.cpp
Labels: code health, compiler, SIL

#62971 [runtime] RuntimeMetadata: Remove unused infrastructure
  stdlib/public/SwiftShims/swift/shims/MetadataSections.h
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/ImageInspection.h
  stdlib/public/runtime/ImageInspectionCommon.cpp
  stdlib/public/runtime/ImageInspectionCommon.h
  stdlib/public/runtime/ImageInspectionMachO.cpp
  stdlib/public/runtime/ImageInspectionStatic.cpp
  stdlib/public/runtime/RuntimeAttribute.cpp
Labels: runtime, attributes

#62658 Remove one of two identical sub-expressions 'accessKind == AccessStorage::Class' to the left and to the right of the '||' operator
  lib/SILOptimizer/Transforms/AccessEnforcementOpts.cpp
Labels: compiler, gardening

#62970 [5.8][BuilderTransform] Make sure that synthesized `if` elements have corr…
  lib/Sema/BuilderTransform.cpp
  test/SourceKit/Sema/issue62848.swift
Labels: 🍒 release cherry-pick, swift 5.8

#62996 [5.8] [SE-0374] Add sleep(for:) to Clock
  stdlib/public/Concurrency/Clock.swift
  stdlib/public/Concurrency/TaskSleepDuration.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63009 [Concurrency] Fix DiscardingTaskGroup in TASK_TO_THREAD
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency

#62681 Fix bug wrong return value
  lib/SILOptimizer/Transforms/SILCodeMotion.cpp
Labels: code health, compiler, SILOptimizer, bug fix

#63015 CODEOWNERS: Add `update-checkout`/`update_checkout`
  .github/CODEOWNERS
Labels: contributor experience

#62728 Fix memory leak
  lib/DependencyScan/ScanDependencies.cpp
Labels: code health, compiler

#63025 [docs] Add warning to CppInteroperabilityManifesto.
  docs/CppInteroperability/CppInteroperabilityManifesto.md
Labels: c++ interop

#63007 [Concurrency] uncomment isCancelled override decl
  stdlib/toolchain/Compatibility56/CompatibilityOverrideConcurrency.def
Labels: concurrency

#63058 [cxx-interop] Emit IR for templated static members with an out-of-line definition
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-static-out-of-line-member.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/class-template-with-static-out-of-line-member.swift
Labels: c++ interop

#63002 [interop][SwiftToCxx] Annotate emitted declarations with Clang's external_source_symbol attribute
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-inheritance-in-cxx.swift
  test/Interop/SwiftToCxx/core/gen-header-for-module.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/enums/zero-sized-enum-in-cxx.swift
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/extension/struct-extension-in-cxx.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-inout-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-simd-vector-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-transparent-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-circular-dependent-defs.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/zero-sized-struct-in-cxx.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#63063 [cxx-interop] Do not crash while generating a diagnostic for un-instantiatable template
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-instantiation-errors.h
  test/Interop/Cxx/templates/class-template-instantiation-typechecker.swift
Labels: c++ interop

#62831 [cxx-interop] Members of private base classes should not be exposed
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
  test/Interop/Cxx/class/inheritance/functions-typechecker.swift
Labels: c++ interop

#62152 Bump cmake version in GettingStarted.md
  docs/HowToGuides/GettingStarted.md
Labels: documentation, contributor experience

#62952 [Interop][SwiftToCxx] Add class type support for enum with associated value
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.cpp
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
Labels: c++ interop

#63010 [5.8][Concurrency] Fix DiscardingTaskGroup in TASK_TO_THREAD
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency, 🍒 release cherry-pick, swift 5.8

#63109 [5.8][BuilderTransform] All `if` sequences without `else` should call `buildOptional`
  lib/Sema/BuilderTransform.cpp
  test/Constraints/result_builder.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63115 [5.8] SILGen: Fix double-free of `__owned` parameters of functions with `@_backDeploy`
  lib/SILGen/SILGenBackDeploy.cpp
  test/SILGen/back_deploy_attribute_generic_func.swift
  test/attr/Inputs/BackDeployHelper.swift
Labels: 🍒 release cherry-pick, swift 5.8

#62648 [cxx-interop] Add benchmark for std::set conversion to a Swift collection
  benchmark/CMakeLists.txt
  benchmark/cxx-source/CxxSetToCollection.swift
  benchmark/scripts/Benchmark_Driver
  benchmark/utils/CxxTests/CxxStdlibPerformance.h
  benchmark/utils/main.swift
Labels: c++ interop

#63193 [cxx-interop] Link with `CxxStdlib` binary if it is available
  lib/IRGen/GenDecl.cpp
Labels: c++ interop

#63078 [cxx-interop] Add benchmark for conversion between C++ and Swift strings
  benchmark/CMakeLists.txt
  benchmark/cxx-source/CxxStringConversion.swift
  benchmark/utils/main.swift
Labels: c++ interop

#62721 [Gardening] Simplify excessive conditional expression: (A && !B) || (!A && B) is equivalent to bool(A) != bool(B)
  lib/AST/RequirementMachine/RequirementMachineRequests.cpp
Labels: compiler, type checker, gardening

#62677 [Gardening] fix looking odd logical expression mixing bool and enum
  lib/SILOptimizer/Utils/CanonicalizeOSSALifetime.cpp
Labels: code health, compiler, SILOptimizer

#62684 [Refactoring] Merge identical cases of switch
  lib/SILOptimizer/Mandatory/AddressLowering.cpp
Labels: compiler, SILOptimizer, gardening

#62724 Add check against NULL before dereferencing pointer
  include/swift/AST/Expr.h
  lib/AST/Expr.cpp
  lib/IDE/Formatting.cpp
  lib/SIL/IR/SILProfiler.cpp
Labels: code health, compiler, type checker

#63082 docs: Supplant the "starter bug" term by "good first issue"
  docs/HowToGuides/FirstPullRequest.md
  docs/HowToGuides/GettingStarted.md
Labels: improvement, documentation, contributor experience

#63108 [cxx-interop] Disallow `import std`, require `import CxxStdlib`
  lib/AST/Module.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/IRGen/GenDecl.cpp
  lib/Serialization/ModuleFormat.h
  stdlib/public/Cxx/std/CMakeLists.txt
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#62698 Make std::string conform to CustomDebugStringConvertible
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#63243 [cxx-interop] Update the C++ stdlib module name in `SIL/verify_all_overlays.py`
  validation-test/SIL/verify_all_overlays.py
Labels: c++ interop

#63240 [5.8] Revert "At -Onone preserve debug info after splitting loads"
  include/swift/SIL/MemAccessUtils.h
  lib/SILOptimizer/Utils/CanonicalizeInstruction.cpp
  test/SILOptimizer/silgen_cleanup.sil
Labels: swift 5.8

#63246 [rebranch] Handle out-of-date identifiers in macros
  lib/ClangImporter/ImportMacro.cpp
  test/ClangImporter/Inputs/sdk-bridging-header.h
  test/ClangImporter/pch-bridging-header.swift
Labels: clang importer

#63016 [Concurrency] Fix too optimistic TaskGroup bail-out-when-empty,
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.swift
  test/Concurrency/Runtime/async_taskgroup_discarding.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_neverConsumingTasks.swift
  test/Concurrency/Runtime/async_taskgroup_throw_rethrow.swift
Labels: concurrency

#63008 [5.8][Concurrency] uncomment isCancelled override decl
  stdlib/toolchain/Compatibility56/CompatibilityOverrideConcurrency.def
Labels: concurrency, 🍒 release cherry-pick, swift 5.8

#63017 [5.8][Concurrency] Fix too optimistic TaskGroup bail-out-when-empty
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.swift
  test/Concurrency/Runtime/async_taskgroup_discarding.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_neverConsumingTasks.swift
  test/Concurrency/Runtime/async_taskgroup_throw_rethrow.swift
Labels: concurrency, 🍒 release cherry-pick, swift 5.8

#62820 Revert "[cxx-interop] Fix crash when indexing with C++ interop enabled."
  lib/FrontendTool/FrontendTool.cpp
  test/Interop/Cxx/stdlib/import-foundation-with-indexing.swift
  test/Interop/lit.local.cfg
Labels: c++ interop

#63294 [interop] verify that a C++ record is a Swift nominal type before try…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/print-foundation-module-interface.swift
Labels: c++ interop

#63279 [5.8] Sema: Avoid diagnosing missing imports for desugared typealiases in non-resilient modules
  lib/Sema/ResilienceDiagnostics.cpp
  test/Sema/missing-import-typealias-swift6.swift
  test/Sema/missing-import-typealias.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63300 Concurrency: use `_BitInt(128)` over `__int128`
  stdlib/public/Concurrency/Clock.cpp
Labels: concurrency, Windows, 32 bit only

#63265 [Concurrency] Add include of unistd.h to TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency

#63326 🍒[5.8][Distributed] LocalDAS cannot gain constraint on resolve method
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
Labels: Distributed, 🍒 release cherry-pick, swift 5.8

#63296 [interop] AST printer should only visit one original namespace decl t…
  include/swift/AST/ASTPrinter.h
  lib/AST/ASTPrinter.cpp
  test/Interop/Cxx/namespace/cross-module-redecls-module-interface.swift
  test/Interop/Cxx/stdlib/print-libcxx-module-interface.swift
  test/Interop/lit.local.cfg
Labels: c++ interop

#62775 Parser: Support member types with non-identifier qualifiers
  include/swift/AST/CASTBridging.h
  include/swift/AST/TypeRepr.h
  include/swift/IDE/CodeCompletionResult.h
  include/swift/Parse/IDEInspectionCallbacks.h
  include/swift/Parse/Parser.h
  lib/AST/CASTBridging.cpp
  lib/AST/TypeRepr.cpp
  lib/ASTGen/Sources/ASTGen/Types.swift
  lib/IDE/CodeCompletion.cpp
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParseExpr.cpp
  lib/Parse/ParseType.cpp
  lib/Sema/TypeCheckPattern.cpp
  test/IDE/complete_member_type.swift
  test/Parse/recovery.swift
  test/Parse/type_expr.swift
  test/attr/attr_implements.swift
  test/type/nested_types.swift
  test/type/protocol_composition.swift
Labels: parser, compiler, feature, sugared types, nested types
