Repository swiftlang/swift, pull requests merged in 2023-02, with the labels that each got.

#63271 build: Override default build variant for `--xcode`
  docs/HowToGuides/GettingStarted.md
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/build_swift/test_driver_arguments.py
Labels: build-script, generated xcode project, contributor experience, utils

#63321 [Distributed] LocalDAS cannot gain constraint on resolve method
  stdlib/public/Distributed/LocalTestingDistributedActorSystem.swift
Labels: Distributed

#63330 [5.8][Diagnostics] Collection of diagnostic fixes/improvements
  include/swift/Sema/CSFix.h
  lib/Sema/BuilderTransform.cpp
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/generics.swift
  test/Constraints/members.swift
  test/Constraints/result_builder_diags.swift
  test/expr/delayed-ident/member_chains.swift
  test/expr/expressions.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63244 [cxx-interop] Add `CxxSet` protocol for `std::set` ergonomics
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/Inputs/std-set.h
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#63286 [github] CODEOWNERS: Organize entries by directory
  .github/CODEOWNERS
Labels: contributor experience

#63347 [cxx-interop][docs] Update the C++ stdlib module name
  docs/CppInteroperability/CppInteroperabilityStatus.md
Labels: c++ interop

#63245 Make std::string conform to CustomStringConvertible
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#62992 [cxx-interop] Various improvements to the stdlib overlay
  benchmark/cxx-source/CxxStringConversion.swift
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
  stdlib/public/Cxx/CxxSequence.swift
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#63394 [5.8][SE-0376] Rename `@_backDeploy(before:)` to `@backDeployed(before:)`
  CHANGELOG.md
  docs/ReferenceGuides/UnderscoredAttributes.md
  include/swift/AST/Attr.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Parse/Parser.h
  include/swift/SIL/SILDeclRef.h
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/AST/DeclContext.cpp
  lib/Parse/ParseDecl.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenApply.cpp
  lib/SILGen/SILGenBackDeploy.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenLValue.cpp
  lib/SILOptimizer/UtilityPasses/SILSkippingChecker.cpp
  lib/Sema/ResilienceDiagnostics.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDecl.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/IDE/complete_decl_attribute.swift
  test/IRGen/weak_import_back_deployed_attr.swift
  test/ModuleInterface/back-deployed-attr.swift
  test/SILGen/back_deployed_attr.swift
  test/SILGen/back_deployed_attr_accessor.swift
  test/SILGen/back_deployed_attr_accessor_coroutine.swift
  test/SILGen/back_deployed_attr_async_func.swift
  test/SILGen/back_deployed_attr_func.swift
  test/SILGen/back_deployed_attr_generic_func.swift
  test/SILGen/back_deployed_attr_struct_init.swift
  test/SILGen/back_deployed_attr_struct_method.swift
  test/SILGen/back_deployed_attr_throwing_func.swift
  test/SILGen/opaque_values_silgen.swift
  test/Sema/availability_define.swift
  test/Serialization/back-deployed-attr-skip-noninlinable-function-bodies.swift
  test/attr/Inputs/BackDeployHelper.swift
  test/attr/attr_backDeploy.swift
  test/attr/attr_backDeployed.swift
  test/attr/attr_backDeployed_availability.swift
  test/attr/attr_backDeployed_evolution.swift
  test/attr/attr_inlinable_available.swift
  test/attr/attr_objc.swift
  utils/gyb_syntax_support/AttributeKinds.py
Labels: 🍒 release cherry-pick, swift 5.8

#62670 [runtime] Fix incorrect format specifier in warning message
  stdlib/public/runtime/EnvironmentVariables.cpp
Labels: code health, runtime

#63406 [5.8][SILOptimizer] Don't diagnose unreachable instructions that belong to…
  SwiftCompilerSources/Sources/SIL/Location.swift
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILLocation.h
  lib/SIL/IR/SILLocation.cpp
  lib/SIL/Utils/SILBridging.cpp
  lib/SILOptimizer/Mandatory/DiagnoseUnreachable.cpp
  test/SILOptimizer/diagnose_unreachable.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63435 ClosureLifetimeFixup: Fix corner case of unconnected basic blocks
  lib/SILOptimizer/Mandatory/ClosureLifetimeFixup.cpp
  test/SILOptimizer/closure-lifetime-fixup-dead-block.sil
Labels: 🍒 release cherry-pick, swift 5.8

#63364 [Distributed][CustomRuntimeAttrs] Support custom runtime attributes on distributed actors
  include/swift/IRGen/Linking.h
  lib/IRGen/Linking.cpp
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
  test/IRGen/runtime_attributes_on_distributed_actors.swift
  test/type/runtime_discoverable_attrs_distributed.swift
Labels: Distributed

#63458 [cxx-interop] Avoid extra copy in `CxxConvertibleToCollection`
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
Labels: c++ interop

#63344 [5.8][Concurrency] Add include of unistd.h to TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency, 🍒 release cherry-pick, swift 5.8

#63469 [cxx-interop] Change the hierarchy of CxxSequence protocols
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
  stdlib/public/Cxx/CxxSequence.swift
Labels: c++ interop

#63489 [5.8][CSSyntacticElement] Correctly determine whether body is a "single ex…
  lib/Sema/CSSyntacticElement.cpp
Labels: 🍒 release cherry-pick, swift 5.8

#63336 [interop] Emit symbolic interfaces while indexing
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Basic/Features.def
  include/swift/ClangImporter/ClangImporter.h
  include/swift/IDE/ModuleInterfacePrinting.h
  lib/AST/ASTPrinter.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportName.h
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/IDE/ModuleInterfacePrinting.cpp
  lib/Index/IndexRecord.cpp
  test/Interop/Cxx/symbolic-imports/indexing-emit-libcxx-no-foundation-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-no-symbolic-module-interface-no-clang-module-index.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-objcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface-used-decls.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
  test/Interop/lit.local.cfg
Labels: c++ interop

#63491 [CustomExecutors] unownedExecutor can be declared not directly on actor
  include/swift/Runtime/Concurrency.h
  lib/AST/Decl.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  test/Concurrency/Runtime/custom_executors_default.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
Labels: concurrency

#63492 [cxx-interop] Require `begin()` and `end()` to be non-mutating for auto-conformed container types
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
Labels: c++ interop

#63520 [interop] NFC, test, drop libcxx-in-sdk requirement
  test/Interop/Cxx/stdlib/print-libcxx-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
  test/Interop/lit.local.cfg
Labels: c++ interop

#63523 [interop][SwiftToCxx] add C++ bindings for static methods
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/methods/method-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
Labels: c++ interop

#63497 [cxx-interop] Add `CxxDictionary` protocol for `std::map` ergonomics
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxDictionary.swift
  stdlib/public/Cxx/CxxPair.swift
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#63560 [interop][SwiftToCxx] dispatch Swift class methods correctly using th…
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/IRGen/MetadataLayout.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
Labels: c++ interop

#63362 [5.8][stdlib] NFC: Restore doc comment for Unsafe[Mutable]BufferPointer
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
Labels: documentation, 🍒 release cherry-pick, swift 5.8

#63572 [interop][SwiftToCxx] dispatch virtual calls via thunks for resilient…
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch-execution.cpp
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
Labels: c++ interop

#63570 [cxx-interop] NFC: move unsafe iterator types to a separate file
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
  stdlib/public/Cxx/CxxSequence.swift
  stdlib/public/Cxx/UnsafeCxxIterators.swift
Labels: c++ interop

#63583 [interop][SwiftToCxx] use vtable offset/thunk to dispatch class property and subscript accessors
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
Labels: c++ interop

#63599 [interop][SwiftToCxx] dispatch swift class methods using signed isa a…
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-arm64e.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch-execution.cpp
Labels: c++ interop

#63506 [cxx-interop] Use "c function conventions" for static methods and ctors (not "cxx method conventions").
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/methods-silgen.swift
  test/Interop/Cxx/class/method/methods.swift
  test/Interop/Cxx/reference/const-ref-parameter.swift
  test/Interop/Cxx/reference/reference-silgen-cxx-objc-ctors+init.swift
Labels: c++ interop

#63628 [interop][SwiftToCxx] fix vtable offset computation & dispatch virtual Swift methods using a relative offset into the vtable for classes deriving from resilient classes
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch-execution.cpp
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
Labels: c++ interop

#63654 [cxx-interop] Partially re-enable a test on Linux
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#63531 [5.8] Fix backdeploy compat-56 ABI
  lib/ASTGen/CMakeLists.txt
  stdlib/public/BackDeployConcurrency/Actor.cpp
  stdlib/public/BackDeployConcurrency/TaskGroup.cpp
  stdlib/public/BackDeployConcurrency/TaskPrivate.h
  stdlib/toolchain/Compatibility56/CMakeLists.txt
  stdlib/toolchain/Compatibility56/Concurrency/Task.cpp
  stdlib/toolchain/Compatibility56/Overrides.cpp
  stdlib/toolchain/Compatibility56/include/Concurrency/Error.h
  stdlib/toolchain/Compatibility56/include/Concurrency/Task.h
  stdlib/toolchain/Compatibility56/include/Concurrency/TaskPrivate.h
  stdlib/toolchain/Compatibility56/include/Concurrency/TaskStatus.h
  stdlib/toolchain/Compatibility56/include/Concurrency/Threading/MutexPThread.h
  stdlib/toolchain/Compatibility56/include/Concurrency/VoucherShims.h
  stdlib/toolchain/Compatibility56/include/Runtime/Concurrency.h
  test/Concurrency/Runtime/continuation_validation.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63653 [cxx-interop] Do not synthesize ambiguous pointee properties
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-optional.h
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#63636 [C++-Interop] Allow for calling automatically synthesized ctors of arc types
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/objc-correctness/Inputs/cxx-class-with-arc-fields-ctor.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/call-to-generated-init-with-nsstring.swift
Labels: c++ interop

#62723 Fix bug: The '?:' operator has a lower priority than the '==' operator.
  lib/Frontend/ArgsToFrontendOutputsConverter.cpp
Labels: code health, compiler, bug fix

#63642 [5.8][CSGen] Detect nested out-of-scope variables in recursive declarations
  lib/Sema/CSGen.cpp
  lib/Sema/CSSyntacticElement.cpp
  test/expr/closure/multi_statement.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63526 [5.8][ConstraintSystem] Teach `getCalleeLocator` about pattern matching
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/patterns.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63744 [Gardening] Fix typos across docs and codebase
  SwiftCompilerSources/force_lib.c
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Basic/LangOptions.h
  include/swift/IDE/CodeCompletionResult.h
  include/swift/Refactoring/RefactoringKinds.def
  include/swift/SIL/TypeSubstCloner.h
  lib/AST/Attr.cpp
  lib/AST/FineGrainedDependencies.cpp
  lib/IRGen/GenDecl.cpp
  lib/Parse/Lexer.cpp
  lib/Refactoring/Refactoring.cpp
  lib/SILOptimizer/Mandatory/DiagnoseLifetimeIssues.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyAddressChecker.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyBorrowToDestructureTransform.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyDeinitInsertion.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/TypeChecker.h
  lib/Serialization/SourceInfoFormat.h
  stdlib/public/BackDeployConcurrency/Actor.cpp
  test/IRGen/weak_import_native_hoist.swift
  utils/gen-unicode-data/Sources/GenScalarProps/GeneralCategory.swift
Labels: gardening

#63756 [5.8][CSBindings] Solver result builder transformed closures as soon as al…
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/BuilderTransform.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/TypeCheckConstraints.cpp
  test/Constraints/result_builder_conjunction_selection.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63779 [Distributed] correct take semantics for synthesized ID assignments
  lib/SILGen/SILGenDistributed.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/SIL/distributed_actor_default_init_sil_8.swift
  test/Distributed/SIL/distributed_actor_resolve_sil.swift
  test/Distributed/SIL/distributed_id_system_ownership_verify_sil.swift
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: Distributed

#63678 [cxx-interop] Treat C++ structs that store iterators as unsafe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
Labels: c++ interop

#63780 [5.8][Distributed] correct take semantics for synthesized ID assignments
  lib/SILGen/SILGenDistributed.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/SIL/distributed_actor_default_init_sil_8.swift
  test/Distributed/SIL/distributed_actor_resolve_sil.swift
  test/Distributed/SIL/distributed_id_system_ownership_verify_sil.swift
  test/Distributed/distributed_actor_accessor_section_elf.swift
Labels: Distributed, 🍒 release cherry-pick, swift 5.8

#63719 [CXX-Interop] Fix NS_OPTION related label transformations and assertion failures
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/CenumsNSOptions.apinotes
  test/Interop/Cxx/enum/Inputs/c-enums-NS_OPTIONS.h
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS-typecheck-name-differs-between-versions.swift
  test/Interop/Cxx/enum/c-enums-withOptions-omit.swift
Labels: c++ interop

#63563 [Concurrency] Base priority should be present on UnsafeTask too
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/async_task_priority.swift
Labels: concurrency

#63824 [5.8] Fix Test in Release Build
  test/Distributed/SIL/distributed_actor_resolve_sil.swift
  test/Distributed/SIL/distributed_id_system_ownership_verify_sil.swift
Labels: concurrency

#63823 Fix Test in Release Build
  test/Distributed/SIL/distributed_actor_resolve_sil.swift
  test/Distributed/SIL/distributed_id_system_ownership_verify_sil.swift
Labels: concurrency

#63807 [5.8][BuilderTransform] Rework missing `buildWithLimitedAvailability` detection
  lib/Sema/CSSyntacticElement.cpp
  test/Constraints/result_builder_availability.swift
Labels: 🍒 release cherry-pick, swift 5.8

#63844 [test] print-libcxx-symbolic-module-interface.swift checks should be …
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
Labels: c++ interop

#63841 [cxx-interop] Disable support for dependent types.
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/templates/dependent-types-module-interface.swift
  test/Interop/Cxx/templates/dependent-types-silgen.swift
  test/Interop/Cxx/templates/dependent-types.swift
Labels: c++ interop

#63809 [interop] add itanium ABI support for trapping on uncaught exceptions when making a foreign call
  lib/IRGen/CallEmission.h
  lib/IRGen/Callee.h
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenDecl.h
  lib/IRGen/GenStruct.cpp
  lib/IRGen/IRBuilder.h
  lib/IRGen/IRGenFunction.h
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/Signature.h
  test/ClangImporter/cxx_interop_ir.swift
  test/Interop/Cxx/class/constructors-copy-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-objc-irgen.swift
  test/Interop/Cxx/class/protocol-conformance-irgen.swift
  test/Interop/Cxx/class/type-classification-non-trivial-irgen.swift
  test/Interop/Cxx/exceptions/exceptions-disabled-exception-irgen.swift
  test/Interop/Cxx/exceptions/objc-trap-on-exception-irgen-itanium.swift
  test/Interop/Cxx/exceptions/trap-on-exception-execution.swift
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-itanium.swift
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-msvc.swift
  test/Interop/Cxx/foreign-reference/move-only-irgen.swift
  test/Interop/Cxx/foreign-reference/pod-irgen.swift
  test/Interop/Cxx/foreign-reference/singleton-irgen.swift
  test/Interop/Cxx/namespace/class-inline-namespace-irgen.swift
  test/Interop/Cxx/namespace/classes-irgen.swift
  test/Interop/Cxx/namespace/free-functions-irgen.swift
  test/Interop/Cxx/namespace/function-overload-in-namespace-extension-irgen.swift
  test/Interop/Cxx/namespace/templates-irgen.swift
  test/Interop/Cxx/objc-correctness/call-to-generated-init-with-nsstring.swift
  test/Interop/Cxx/operators/member-inline-irgen.swift
  test/Interop/Cxx/operators/member-out-of-line-irgen.swift
  test/Interop/Cxx/operators/non-member-out-of-line-irgen.swift
  test/Interop/Cxx/reference/reference-irgen.swift
  test/Interop/Cxx/static/static-member-func-irgen.swift
  test/Interop/Cxx/templates/class-template-uninstantiatable-members-irgen.swift
  test/Interop/Cxx/templates/function-template-irgen.swift
  test/Interop/Cxx/union/anonymous-union-partly-invalid.swift
  test/Interop/Cxx/value-witness-table/copy-constructors-irgen.swift
  test/Interop/Cxx/value-witness-table/witness-lifetime-operations-irgen.swift
Labels: c++ interop

#63833 Revert "Revert "[cxx-interop] Add conversions between `std::u16string` and `Swift.String`""
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#63894 [interop][SwiftToCxx] annotate inline thunks with SWIFT_INLINE_THUNK
  include/swift/PrintAsClang/ClangMacros.def
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToC/structs/small-structs-64-bit-pass-return-direct-in-c.swift
  test/Interop/SwiftToC/structs/small-structs-pass-return-direct-in-c.swift
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-inheritance-in-cxx.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-member-param-no-shadow-case.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-generated-stub-64bit.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/extension/struct-extension-in-cxx.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-function-argument-keyword-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-inout-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-simd-vector-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-transparent-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-circular-dependent-defs.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#63839 [cxx-interop] Provide a support header for common attributes, etc.
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/swift-interop-support.h
Labels: c++ interop

#63865 [cxx-interop] Build the C++ stdlib overlay when `SWIFT_BUILD_SDK_OVERLAY=NO`
  stdlib/public/CMakeLists.txt
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#62953 Update GettingStartedWithC++Interop.md
  docs/CppInteroperability/GettingStartedWithC++Interop.md
Labels: c++ interop

#63946 [interop][SwiftToCxx] print availability attributes for Swift decls i…
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangClassType.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/SwiftToCxx/class/swift-class-availability-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/swift-init-availability-in-cxx.swift
  test/Interop/SwiftToCxx/methods/swift-method-availability-in-cxx.swift
  test/Interop/SwiftToCxx/properties/swift-property-availability-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-availability-in-cxx.swift
Labels: c++ interop

#63956 [Docs][Concurrency] TaskGroup docs: waitForAll (non-)cancellation
  stdlib/public/Concurrency/TaskGroup.swift
Labels: concurrency

#63960 [Docs][Concurrency] Fix documentation about cancellation, copy docs to a few methods
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.swift
Labels: concurrency

#63543 [Concurrency] UnownedJob.priority and TaskPriority gains description
  include/swift/Runtime/Concurrency.h
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
Labels: concurrency
