Repository swiftlang/swift, pull requests merged in 2023-12, with the labels that each got.

#70055 [embedded] Port and start building Darwin.swiftmodule as embedded
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Platform/Platform.swift
  stdlib/public/Platform/tgmath.swift.gyb
  stdlib/public/core/CMakeLists.txt
  test/embedded/darwin-bridging-header.swift
  test/embedded/darwin.swift
Labels: embedded

#70130 [5.10][Frontend] Ensure constraint solving runs salvaging
  lib/Frontend/ModuleInterfaceBuilder.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/Index/index_system_modules_swiftinterfaces.swift
Labels: 🍒 release cherry pick, swift 5.10

#70102 build: adjust the installer build and artifact staging
  utils/build.ps1
Labels: swift 5.10

#70173 [5.10][Compile Time Constant Extraction] Extract from all macro expansions
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractFromMacroExpansion.swift
  test/ConstExtraction/Inputs/Macros.swift
Labels: 🍒 release cherry pick, swift 5.10

#70158 SIL linker: delay function verification to end of linking
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  test/embedded/fragile-reference.swift
Labels: embedded

#69954 [cxx-interop] Enable virtual function calling from Swift to C++
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-irgen.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
Labels: c++ interop

#70165 [5.10][TypeChecker] Prevent invalid attribute on accessor from failing if i…
  lib/Sema/TypeCheckConcurrency.cpp
Labels: 🍒 release cherry pick, swift 5.10

#70177 [5.10] Fix tryRewriteToPartialApplyStack to handle undef
  lib/SILOptimizer/Mandatory/ClosureLifetimeFixup.cpp
  test/SILOptimizer/closure-lifetime-fixup.sil
Labels: swift 5.10

#70210 [cxx-interop] Use APINotes to apply `import_owned` attr to `std::string` and `std::vector`
  lib/ClangImporter/ClangImporter.cpp
  stdlib/public/Cxx/std/std.apinotes
Labels: c++ interop

#70224 [5.10] Fix MemoryLifetimeVerifier to ignore thin functions.
  lib/SIL/Verifier/MemoryLifetimeVerifier.cpp
  test/SIL/memory_lifetime.sil
Labels: swift 5.10

#69790 [cxx-interop] enable support for move-only types
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  lib/ClangImporter/bridging
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/move-only/Inputs/module.modulemap
  test/Interop/Cxx/class/move-only/Inputs/move-only-cxx-value-type.h
  test/Interop/Cxx/class/move-only/inherited-field-access-irgen.swift
  test/Interop/Cxx/class/move-only/inherited-field-access-silgen.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type-generics.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type.swift
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/class/type-classification-typechecker.swift
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
  test/Interop/Cxx/operators/move-only/Inputs/module.modulemap
  test/Interop/Cxx/operators/move-only/Inputs/move-only-cxx-value-operators.h
  test/Interop/Cxx/operators/move-only/move-only-synthesized-properties.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-property-typecheck.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-unique-ptr.h
  test/Interop/Cxx/stdlib/std-unique-ptr.swift
Labels: c++ interop

#70267 [5.10] SimplifyBeginCOWMutation: don't eliminate `end_cow_mutation` instructions and keep the `[keep_unique]` flag
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyBeginCOWMutation.swift
  lib/SILOptimizer/SILCombiner/SILCombinerCastVisitors.cpp
  test/SILOptimizer/reverse-array.swift
  test/SILOptimizer/sil_combine_inst_passes.sil
  test/SILOptimizer/sil_combine_ossa.sil
Labels: swift 5.10

#69776 Revert "Revert "[cxx-interop] Look up `NSNotificationName` in C++ language mode properly""
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop

#70304 [cxx-interop] Propagate `CONFORMS_TO` attribute to derived classes
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/conforms-to.h
  test/Interop/Cxx/class/conforms-to.swift
Labels: c++ interop

#67594 [SE-0408] Enable Pack Iteration
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/Sema/CSFix.h
  include/swift/Sema/ConstraintSystem.h
  include/swift/Sema/SyntacticElementTarget.h
  lib/AST/ASTVerifier.cpp
  lib/AST/ASTWalker.cpp
  lib/AST/Decl.cpp
  lib/AST/GenericSignature.cpp
  lib/AST/Stmt.cpp
  lib/IDE/CodeCompletion.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenPack.cpp
  lib/SILGen/SILGenStmt.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/variadic_generic_functions.swift
  test/IDE/complete_loop.swift
  test/SILGen/pack_iteration.swift
  test/stmt/foreach.swift
  test/stmt/pack_iteration.swift
Labels: for-in loops, variadic generics

#70329 [5.10][Concurrency] Start diagnosing use of global actor isolated propertie…
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_keypath_isolation.swift
  test/Concurrency/actor_keypath_isolation_swift6.swift
  test/Concurrency/global_actor_keypath_non_strict.swift
Labels: 🍒 release cherry pick, swift 5.10

#70286 [embedded] When missing a source location in a PerformanceDiagnostic, at least print the function name
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
Labels: embedded

#70352 [embedded] Make sure to install the embedded Concurrency .a libraries into the toolchain
  stdlib/public/Concurrency/CMakeLists.txt
Labels: embedded

#70309 [embedded] Run DeadFunctionAndGlobalElimination after MandatoryPerformanceOptimizations
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/UtilityPasses/Link.cpp
  stdlib/public/Platform/CMakeLists.txt
  test/embedded/darwin-bridging-header.swift
  test/embedded/darwin.swift
  test/embedded/duration.swift
  test/embedded/generic-autoclosure.swift
Labels: embedded

#70344 [embedded] Mark all functions as 'nounwind' in embedded Swift, add dependency tests
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenSIL.cpp
  test/embedded/dependencies.swift
Labels: embedded

#70401 [cxx-interop] Fix incorrect diagnostic for non-imported functions
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#70314 [embedded] Implement non-allocating embedded Swift mode, under -no-allocations flag
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/SILOptions.h
  include/swift/Option/Options.td
  lib/Frontend/CompilerInvocation.cpp
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  test/embedded/anyobject-error-no-stdlib.swift
  test/embedded/basic-errors-no-stdlib.swift
  test/embedded/metatypes.swift
  test/embedded/no-allocations.swift
  test/embedded/typeof.swift
Labels: embedded

#70325 [cxx-interop] Add friend operators to the lookup table properly
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftLookupTable.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/print-libcxx-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
Labels: c++ interop

#70411 [cxx-interop] Adjust detection of C++ modules after changes in libc++
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#70407 [embedded] Fix editor placeholders by adding a StaticString variant of _undefined
  stdlib/public/core/AssertCommon.swift
Labels: embedded

#70437 [embedded] Disable embedded/dependencies.swift test on Linux/AArch64
  test/embedded/dependencies.swift
Labels: embedded

#70448 [Runtime] Fix call site for malloc_type_posix_memalign.
  stdlib/public/runtime/Heap.cpp
Labels: 🍒 release cherry pick, swift 5.10

#70434 [embedded] Mark embedded/no-allocations.swift test as REQUIRES: optimized_stdlib
  test/embedded/no-allocations.swift
Labels: embedded

#70377 [Test] Mark distributed_actor_remoteCall_argument_labels.swift unsupported for use_os_stdlib.
  test/Distributed/Runtime/distributed_actor_remoteCall_argument_labels.swift
Labels: distributed

#70399 [5.10] [Sema] Correctly re-contextualize `if`/`switch` exprs in lazy vars
  include/swift/AST/Pattern.h
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/TypeCheckStorage.cpp
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.10

#70455 [5.10] cherry-pick: Update Windows-aarch64.cmake
  cmake/caches/Windows-aarch64.cmake
Labels: swift 5.10

#70462 [cxx-interop] Cleanup CxxStdlib tests
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/print-libcxx-module-interface.swift
Labels: c++ interop

#70466 [cxx-interop] Discard duplicating `IteratorTy::iterator_category` decls
  lib/ClangImporter/ClangDerivedConformances.cpp
Labels: c++ interop

#70445 [cxx-interop] Keep pulling in the entire libc++
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#70468 🍒[cxx-interop] Fix fallout of splitting libc++ module into many top-level modules
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/print-libcxx-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
Labels: c++ interop

#70474 [5.10][SE-0392] Back-deploy assertIsolation/assumeIsolation
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenProlog.cpp
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/MainActor.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Concurrency/async_main.swift
  test/SILGen/toplevel_globalactorvars.swift
Labels: 🍒 release cherry pick, swift 5.10

#70501 [cxx-interop] Do not import CxxShim explicitly in tests
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/subscripts.swift
Labels: c++ interop

#70500 [5.10] cherry-pick: build: add SwiftIDEUtils to the Swift Syntax modules
  lib/CMakeLists.txt
Labels: swift 5.10

#70503 [cxx-interop] Do not import constructors of abstract C++ classes
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
Labels: c++ interop

#70524 [windows][build] pass the /debug flag to the linker
  utils/build.ps1
Labels: Windows, build

#70534 [5.10] AST: Fix macCatalyst availability for synthesized declarations
  lib/AST/Availability.cpp
  test/ModuleInterface/actor_availability.swift
Labels: 🍒 release cherry pick, swift 5.10

#70529 [5.10][IRGen] Disable simple single payload enum in layout strings
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenEnum.h
  lib/IRGen/GenValueWitness.cpp
  lib/IRGen/TypeLayout.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types_resilient.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
Labels: 🍒 release cherry pick, swift 5.10
