Repository swiftlang/swift, pull requests merged in 2023-07, with the labels that each got.

#67036 [cxx-interop] Import ObjCPropertyDecl of type NS_OPTIONS fields as struct type
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-NS_OPTIONS.h
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS.swift
Labels: c++ interop

#67063 🍒 Match @objcImpl members’ foreign error conventions
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclObjC.cpp
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
Labels: 🍒 release cherry pick

#67044 🍒[5.9][docs][Concurrency] Include required parameter in group docs
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency, documentation

#67043 [Distributed][TestOnly] PoC using a property wrapper on distributed func param for validation
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_parameter_validation.swift
Labels: distributed

#67117 [Distributed] Handle composite type in generic bound in distributed accessor
  lib/IRGen/GenDistributed.cpp
  test/IRGen/distributed_actor.swift
Labels: distributed

#67097 Revert "[interop] do not import functions whose return type is not imported"
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/returns-unavailable-class.swift
Labels: c++ interop

#67116 [cxx-interop] Import `OS_OBJECT_DECL` consistently with and without C++ interop enabled
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/Inputs/os-object.h
  test/Interop/Cxx/objc-correctness/os-object.swift
Labels: c++ interop

#67101 [cxx-interop] Mangle numeric template arguments
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/templates/Inputs/class-template-non-type-parameter.h
  test/Interop/Cxx/templates/class-template-non-type-parameter-irgen.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
Labels: c++ interop

#67100 RequirementMachine: Same-type requirements imply same-shape requirements [5.9]
  include/swift/AST/Decl.h
  include/swift/AST/GenericEnvironment.h
  include/swift/AST/GenericParamKey.h
  include/swift/AST/GenericSignature.h
  include/swift/AST/Type.h
  include/swift/AST/Types.h
  lib/AST/ASTContext.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/AST/GenericEnvironment.cpp
  lib/AST/GenericSignature.cpp
  lib/AST/ParameterPack.cpp
  lib/AST/RequirementMachine/Diagnostics.cpp
  lib/AST/RequirementMachine/GenericSignatureQueries.cpp
  lib/AST/RequirementMachine/InterfaceType.cpp
  lib/AST/RequirementMachine/PropertyMap.cpp
  lib/AST/RequirementMachine/PropertyMap.h
  lib/AST/RequirementMachine/RequirementBuilder.cpp
  lib/AST/RequirementMachine/RequirementLowering.cpp
  lib/AST/RequirementMachine/RequirementMachine.cpp
  lib/AST/RequirementMachine/RequirementMachine.h
  lib/AST/RequirementMachine/RequirementMachineRequests.cpp
  lib/AST/RequirementMachine/RewriteSystem.cpp
  lib/AST/RequirementMachine/RewriteSystem.h
  lib/AST/RequirementMachine/RuleBuilder.cpp
  lib/AST/RequirementMachine/RuleBuilder.h
  lib/AST/RequirementMachine/Symbol.cpp
  lib/Sema/TypeCheckGeneric.cpp
  lib/Sema/TypeCheckProtocol.cpp
  lib/Sema/TypeChecker.h
  lib/SymbolGraphGen/JSON.cpp
  lib/SymbolGraphGen/JSON.h
  test/Generics/pack-shape-requirements.swift
  validation-test/compiler_crashers_2_fixed/rdar108319167.swift
Labels: swift 5.9

#67115 [cxx-interop] Tweak C++ type semantics detection
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/CSDiagnostics.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
Labels: c++ interop

#67143 test: add missing `import WASILibc` to `cancellation_handler.swift`
  test/Concurrency/Runtime/cancellation_handler.swift
Labels: test suite, Concurrencу

#67142 SwiftPrivate/IO.swift: unify `#if canImport` checks on most platforms
  stdlib/private/SwiftPrivate/IO.swift
Labels: standard library

#67138 test/stdlib: cover wasm32 in `FloatingPointIR.swift`
  test/stdlib/FloatingPointIR.swift
Labels: test suite, standard library

#67137 lit.cfg: simplify driver arguments when testing for WASI
  test/lit.cfg
Labels: test suite

#67125 🍒[cxx-interop] Import `OS_OBJECT_DECL` consistently with and without C++ interop enabled
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/Inputs/os-object.h
  test/Interop/Cxx/objc-correctness/os-object.swift
Labels: c++ interop

#67126 🍒[cxx-interop] Mangle numeric template arguments
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/templates/Inputs/class-template-non-type-parameter.h
  test/Interop/Cxx/templates/class-template-non-type-parameter-irgen.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
Labels: c++ interop

#67127 🍒[cxx-interop] Tweak C++ type semantics detection
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/CSDiagnostics.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
Labels: c++ interop

#66600 🍒[cxx-interop] Add `std::set` initializer that takes a Swift Sequence
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ClangImporter.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#67139 stdlib/cmake: add missing macro definitions required for WASI
  stdlib/cmake/modules/AddSwiftStdlib.cmake
Labels: standard library

#67134 [interop] do not import function templates with template parameter no…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/Inputs/enable-if.h
  test/Interop/Cxx/templates/enable-if-module-interface.swift
Labels: c++ interop

#62248 stdlib: add modulemap for Musl, add Musl platform module
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Platform/Musl.swift.gyb
  stdlib/public/Platform/musl.modulemap
Labels: Linux, standard library, static stdlib, platform support

#67165 [interop] do not import function templates with template parameter no…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/Inputs/enable-if.h
  test/Interop/Cxx/templates/enable-if-module-interface.swift
Labels: c++ interop, swift 5.9

#67130 Implement correct NS_OPTIONS type import inside objc interface (5.9)
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-NS_OPTIONS.h
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS.swift
Labels: c++ interop

#67169 [interop] do not warn about a template with too many specializations …
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/templates/Inputs/many-specializations.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/many-specializations.swift
Labels: c++ interop, swift 5.9

#67018 Build CMake 3.24.2 in Linux CI bots for main, next and rebranch
  utils/update_checkout/update-checkout-config.json
Labels: Linux, cmake, update-checkout

#67123 [5.9 🍒][Compile Time Constant Extraction] Refactor collection of opaque type requirements
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractOpaqueGenericTypealias.swift
  test/ConstExtraction/ExtractOpaqueTypealias.swift
Labels: 🍒 release cherry pick, swift 5.9

#67178 [cxx-interop] Do not add base class members that cause lookup ambigui…
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/fields-module-interface.swift
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
  test/Interop/Cxx/class/inheritance/functions-typechecker.swift
  test/Interop/Cxx/class/inheritance/functions.swift
Labels: c++ interop

#67042 [Sema] Record a fix about extra parens for computed properties
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
Labels: variadic generics

#67154 🍒[cxx-interop] Allow inserting elements into `std::set` from Swift
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#67017 [Threading][TSan] Fix TSan errors from lazy init on Linux.
  CMakeLists.txt
  cmake/modules/AddSwiftUnittests.cmake
  include/swift/Threading/Impl/Linux/ulock.h
  include/swift/Threading/ThreadSanitizer.h
  lib/Threading/CMakeLists.txt
  lib/Threading/Linux.cpp
  lib/Threading/ThreadSanitizer.cpp
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/StdlibOptions.cmake
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Concurrency/ThreadSanitizer.cpp
  stdlib/public/Threading/CMakeLists.txt
  stdlib/public/runtime/CMakeLists.txt
  test/Sanitizers/tsan/once.swift
  utils/build-presets.ini
  utils/build-script-impl
Labels: 🍒 release cherry pick, swift 5.8

#67211 [cxx-interop] Break when we find a linkage specification when traversing all decls in IRGen.
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/extern-c/Inputs/inline-func.h
  test/Interop/Cxx/extern-c/Inputs/module.modulemap
  test/Interop/Cxx/extern-c/inline-func.swift
Labels: c++ interop

#64629 build: bootstrap SwiftPM with forked and not host clang
  utils/swift_build_support/swift_build_support/products/swiftpm.py
Labels: build-script

#67247 [Distributed] Try redirecting AST dump to file for test
  test/Distributed/distributed_actor_executor_ast.swift
Labels: distributed

#67234 [cxx-interop] Mark C++ functions with unavailable return type as unav…
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/TypeCheckDecl.cpp
  test/Interop/Cxx/class/returns-unavailable-class.swift
Labels: c++ interop

#67221 [5.9][AST/Sema/SIL] Init accessor improvements
  include/swift/AST/Attr.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Parse/Parser.h
  include/swift/SIL/SILBuilder.h
  include/swift/SIL/SILCloner.h
  include/swift/SIL/SILInstruction.h
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/Macros/Sources/ObservationMacros/ObservableMacro.swift
  lib/Parse/ParseDecl.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/IR/SILInstructions.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/LValue.h
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenLValue.cpp
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  lib/SILOptimizer/Mandatory/RawSILInstLowering.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeCheckStorage.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/IDE/complete_decl_attribute.swift
  test/Interpreter/init_accessors.swift
  test/SILOptimizer/init_accessor_definite_init_diagnostics.swift
  test/SILOptimizer/init_accessor_raw_sil_lowering.swift
  test/SILOptimizer/init_accessors.swift
  test/decl/var/init_accessors.swift
  utils/gyb_syntax_support/AttributeKinds.py
Labels: 🍒 release cherry pick, swift 5.9

#67242 🍒[5.9][Distributed] Fix handling indirect @in convention params in distributed funcs #67240
  lib/IRGen/GenDistributed.cpp
  test/IRGen/distributed_func_indirect_in_parameter.swift
Labels: distributed, 🍒 release cherry pick, swift 5.9

#67235 [cxx-interop] Mark C++ functions with unavailable return type as unav…
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/TypeCheckDecl.cpp
  test/Interop/Cxx/class/returns-unavailable-class.swift
Labels: c++ interop, swift 5.9

#67222 [cxx-interop] Do not add base class members that cause lookup ambigui…
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/fields-module-interface.swift
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
  test/Interop/Cxx/class/inheritance/functions-typechecker.swift
  test/Interop/Cxx/class/inheritance/functions.swift
Labels: c++ interop, swift 5.9

#67240 [Distributed] Fix handling indirect @in convention params in distributed funcs
  lib/IRGen/GenDistributed.cpp
  test/IRGen/distributed_func_indirect_in_parameter.swift
Labels: distributed

#67255 [cxx-interop] NFC, test, drop extern_c from a test module
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/call-to-generated-init-with-nsstring.swift
Labels: c++ interop

#66934 [Sema] Improve SerialExecutor diagnostics
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/custom_executor_enqueue_availability.swift
Labels: concurrency

#67231 🍒[5.9][Sema] Improve SerialExecutor diagnostics
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/custom_executor_enqueue_availability.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#67291 [interop][SwiftToCxx] NFC, add additional test for https://github.com…
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx-darwin64bit.swift
Labels: c++ interop

#67290 [interop][SwiftToCxx] ensure swift::Int and swift::UInt are usable in…
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx-darwin64bit.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
Labels: c++ interop, swift 5.9

#67300 [5.9][CodeComplete] Fix a crash when completing in the signature of a function annotated with result builder
  lib/Sema/TypeCheckStmt.cpp
  test/IDE/complete_result_builder_func_signature.swift
Labels: 🍒 release cherry pick, swift 5.9

#67274 🍒[Observation] Avoid using T since it is a common generic name, instead use a very specific generic return value name
  lib/Macros/Sources/ObservationMacros/ObservableMacro.swift
Labels: swift 5.9

#67301 [cxx-interop] Import CF_OPTIONS types such as `Foundation.NSTextCheckingType` correctly
  lib/ClangImporter/CFTypeInfo.cpp
  test/Interop/Cxx/objc-correctness/Inputs/NSTextCheckingResult.h
  test/Interop/Cxx/objc-correctness/Inputs/SwiftTextCheckingResult.swift
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/foundation-string-extensions.swift
Labels: c++ interop

#67261 [cxx-interop] NFC: Add doc comments for overlay protocols
  stdlib/public/Cxx/CxxDictionary.swift
  stdlib/public/Cxx/CxxPair.swift
  stdlib/public/Cxx/CxxSet.swift
Labels: c++ interop

#66687 [cxx-interop] add a testcase to verify that 'borrowing' works with co…
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop, ownership

#67309 🍒[cxx-interop] NFC: Add doc comments for overlay protocols
  stdlib/public/Cxx/CxxDictionary.swift
  stdlib/public/Cxx/CxxPair.swift
  stdlib/public/Cxx/CxxSet.swift
Labels: c++ interop

#67308 🍒[cxx-interop] Import CF_OPTIONS types such as `Foundation.NSTextCheckingType` correctly
  lib/ClangImporter/CFTypeInfo.cpp
  test/Interop/Cxx/objc-correctness/Inputs/NSTextCheckingResult.h
  test/Interop/Cxx/objc-correctness/Inputs/SwiftTextCheckingResult.swift
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/foundation-string-extensions.swift
Labels: c++ interop

#67365 [5.9][Sema/SILGen] InitAccessors: A few improvements and bug fixes
  lib/Parse/ParseDecl.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/Serialization/Serialization.cpp
  test/SILOptimizer/init_accessors.swift
  test/Serialization/init_accessors.swift
  test/decl/var/init_accessors.swift
Labels: 🍒 release cherry pick, swift 5.9

#65129 [interop] Prohibit use of C++ APIs in public interfaces that opt-in i…
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAccess.cpp
  lib/Sema/TypeCheckAccess.h
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/std/CMakeLists.txt
  test/Interop/Cxx/library-evolution/allow-objc-in-cxx-mode-in-evolving-libraries.swift
  test/Interop/Cxx/library-evolution/prohibit-cxx-api-in-evolving-libraries.swift
  test/Interop/Cxx/library-evolution/prohibit-cxx-calls-in-evolving-inlinable-bodies.swift
  test/Interop/Cxx/modules/Inputs/namespace-extension-lib.swift
  test/Interop/Cxx/modules/Inputs/namespace.h
  test/Interop/Cxx/modules/emit-module-interface.swift
  test/Interop/Cxx/templates/swift-class-instantiation-module-interface.swift
Labels: c++ interop

#67393 WASI: support emulated signals in InterceptTraps.cpp
  stdlib/private/StdlibUnittest/InterceptTraps.cpp
Labels: StdlibUnittest

#67394 StdlibUnittest: fix building with WASI
  stdlib/private/StdlibUnittest/StdlibUnittest.swift
Labels: StdlibUnittest

#67367 [5.9][Test] Force unicode_filename JSON verification to use UTF-8
  test/ScanDependencies/unicode_filename.swift
Labels: 🍒 release cherry pick, swift 5.9

#67373 🍒[cxx-interop] Handle inherited templated operators during auto-conformance
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-collection.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#67340 [5.9] [CS] Walk UnresolvedDeclRefExprs in UnresolvedVarCollector
  lib/Sema/CSSyntacticElement.cpp
  test/Constraints/rdar112264204.swift
Labels: 🍒 release cherry pick, swift 5.9

#67382 🍒[5.8/linux][Distributed] Fix handling indirect @in convention params in distributed funcs
  lib/IRGen/GenDistributed.cpp
  test/IRGen/distributed_func_indirect_in_parameter.swift
Labels: distributed, 🍒 release cherry pick, swift 5.8

#67437 [5.9][Sema/SIL] InitAccessors: Support default initialization of init accessor properties
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenLValue.cpp
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.cpp
  lib/SILOptimizer/Mandatory/RawSILInstLowering.cpp
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Interpreter/init_accessors.swift
  test/SILOptimizer/init_accessor_definite_init_diagnostics.swift
  test/SILOptimizer/init_accessor_raw_sil_lowering.swift
  test/SILOptimizer/init_accessors.swift
Labels: 🍒 release cherry pick, swift 5.9

#67430 [Linux][Backtracing] Fix a couple of backtracer issues.
  stdlib/public/Backtracing/Elf.swift
  stdlib/public/Backtracing/FramePointerUnwinder.swift
Labels: 🍒 release cherry pick, swift 5.9

#67440 [ClangImporter] NFC: Remove unused definitions
  lib/ClangImporter/SwiftLookupTable.cpp
  lib/ClangImporter/SwiftLookupTable.h
Labels: c++ interop

#67268 [cxx-interop] windows methods fixes
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenCall.cpp
  test/Interop/Cxx/class/Inputs/destructors.h
  test/Interop/Cxx/class/Inputs/nodiscard.h
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/delete-operator-destructor-ref-irgen.swift
  test/Interop/Cxx/class/destructors-correct-abi-irgen.swift
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-itanium.swift
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-msvc.swift
  test/Interop/Cxx/class/method/methods.swift
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-itanium.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
  test/Interop/Cxx/value-witness-table/Inputs/custom-destructors.h
  test/Interop/Cxx/value-witness-table/custom-destructors-non-virtual-irgen.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-non-virtual.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-typechecker-trivial-windows-abi.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILOptimizer/Inputs/CXXTypesWithUserProvidedDestructor.h
Labels: c++ interop

#67456 [5.9][CSRanking] Augment overload ranking to account for variadic generics
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSGen.cpp
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/variadic_generic_overload_ranking.swift
Labels: 🍒 release cherry pick, swift 5.9

#67442 [cxx-interop][5.9] windows ABI fixes
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenCall.cpp
  test/Interop/Cxx/class/Inputs/destructors.h
  test/Interop/Cxx/class/Inputs/nodiscard.h
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/delete-operator-destructor-ref-irgen.swift
  test/Interop/Cxx/class/destructors-correct-abi-irgen.swift
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-itanium.swift
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-msvc.swift
  test/Interop/Cxx/class/method/methods.swift
  test/Interop/Cxx/exceptions/trap-on-exception-irgen-itanium.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
  test/Interop/Cxx/value-witness-table/Inputs/custom-destructors.h
  test/Interop/Cxx/value-witness-table/custom-destructors-non-virtual-irgen.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-non-virtual.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-typechecker-trivial-windows-abi.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILOptimizer/Inputs/CXXTypesWithUserProvidedDestructor.h
Labels: c++ interop, swift 5.9

#67471 test: disable crashing tests on WASI
  test/Concurrency/Runtime/actor_assert_precondition_executor.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Concurrency/Runtime/checked_continuation.swift
  test/Concurrency/Runtime/continuation_validation.swift
  test/stdlib/Error.swift
  test/stdlib/StringAPI.swift
  test/stdlib/StringAPICString.swift
  test/stdlib/TemporaryAllocation.swift
  test/stdlib/UnsafeRawPointer.swift
Labels: test suite

#67470 test/AutolinkExtract/empty.swift: add support for Wasm binary format
  test/AutolinkExtract/empty.swift
  test/AutolinkExtract/empty_archive.swift
  test/AutolinkExtract/import.swift
  test/AutolinkExtract/import_archive.swift
Labels: static stdlib, autolinking, static libraries, swift-autolink-extract

#67467 test/lit.cfg: force static linking for WASI as dynamic is unsupported
  test/lit.cfg
Labels: test suite, static stdlib, static libraries

#67468 build: Add support for `wasi-sysroot` option in build-script
  utils/build-script-impl
  utils/swift_build_support/swift_build_support/host_specific_configuration.py
Labels: build-script

#67475 cmake/caches: Update `Runtime-WASI-wasm32.cmake`
  cmake/caches/Runtime-WASI-wasm32.cmake
Labels: cmake, build

#67473 tests: configure Wasm runtime selection in `lit.cfg`
  test/lit.cfg
  utils/wasm-run.py
Labels: test suite

#67472 test: Add missing target-specific lit properties for WASI
  test/lit.cfg
Labels: test suite

#67469 test: Disable `test/stdlib/Duration.swift` on 32-bit platforms
  test/stdlib/Duration.swift
Labels: test suite, standard library

#67474 test/CMakeLists.txt: add support for WASI SDK
  test/CMakeLists.txt
Labels: test suite, cmake

#67277 Replace custom `Deque` implementation with swift-collection `Deque`
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Deque.swift
  stdlib/public/Concurrency/Deque/Compatibility.swift
  stdlib/public/Concurrency/Deque/Deque+Codable.swift
  stdlib/public/Concurrency/Deque/Deque+Collection.swift
  stdlib/public/Concurrency/Deque/Deque+CustomDebugStringConvertible.swift
  stdlib/public/Concurrency/Deque/Deque+CustomReflectable.swift
  stdlib/public/Concurrency/Deque/Deque+CustomStringConvertible.swift
  stdlib/public/Concurrency/Deque/Deque+Equatable.swift
  stdlib/public/Concurrency/Deque/Deque+ExpressibleByArrayLiteral.swift
  stdlib/public/Concurrency/Deque/Deque+Extras.swift
  stdlib/public/Concurrency/Deque/Deque+Hashable.swift
  stdlib/public/Concurrency/Deque/Deque+Storage.swift
  stdlib/public/Concurrency/Deque/Deque+Testing.swift
  stdlib/public/Concurrency/Deque/Deque+UnsafeHandle.swift
  stdlib/public/Concurrency/Deque/Deque.swift
  stdlib/public/Concurrency/Deque/UnsafeMutableBufferPointer+Utilities.swift
  stdlib/public/Concurrency/Deque/_DequeBuffer.swift
  stdlib/public/Concurrency/Deque/_DequeBufferHeader.swift
  stdlib/public/Concurrency/Deque/_DequeSlot.swift
  stdlib/public/Concurrency/Deque/_UnsafeWrappedBuffer.swift
Labels: Concurrencу

#67464 docs: fix old spelling of assert/assume APIs in docs
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor.swift
Labels: concurrency, documentation, 🍒 release cherry pick, swift 5.9

#67463 docs: fix old spelling of assert/assume APIs in docs
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor.swift
Labels: concurrency, documentation

#67482 [cxx-interop] Import iterator types that are not typedef-ed
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#67486 🍒[cxx-interop] Import iterator types that are not typedef-ed
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#67492 [5.9] Skip new parser validation when skipping function bodies
  lib/Frontend/Frontend.cpp
  test/Parse/new_parser_diagnostics.swift
  test/Parse/validate_new_parser_diagnostics.swift
Labels: 🍒 release cherry pick, swift 5.9

#67375 [cxx-interop] Import mutating dereference operators
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportName.h
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#67508 [cxx-interop] Add tests for `std::map::erase` and `std::set::erase`
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#67487 [AutoDiff] Fix return type of subset parameters thunk function
  lib/SILOptimizer/Differentiation/Thunk.cpp
  test/AutoDiff/SILOptimizer/param_thunk_tuple.swift
Labels: bug, AutoDiff

#67507 [Linux] Fix installation of swift-backtrace binary
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  utils/build-presets.ini
Labels: 🍒 release cherry pick, swift 5.9

#67523 [cxx-interop] add 'upcoming-swift' C++ interop compat version
  docs/CppInteroperability/CppInteroperabilityContributorGuide.md
  include/swift/Basic/LangOptions.h
  include/swift/Basic/Version.h
  lib/Basic/Version.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/driver/invalid-interop-compat-mode.swift
Labels: c++ interop

#67391 [5.9] StackPromotion: fix a crash due to a problem in liferange evaluation
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/StackPromotion.swift
  test/SILOptimizer/stack_promotion.sil
Labels: swift 5.9

#67532 test/DebugInfo: enable test for Wasm object format
  test/DebugInfo/modulecache.swift
Labels: test suite, debug info

#67531 test/stdlib/UnsafePointer.swift.gyb: disable crashing test on WASI
  test/stdlib/UnsafePointer.swift.gyb
Labels: test suite, standard library

#67536 [cxx-interop] Add `UnsafeCxxMutableInputIterator` protocol
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/UnsafeCxxIterators.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#67549 [cxx-interop] Fix assertion failure in IRGen with mutable dereference operators
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-sequence.h
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
Labels: c++ interop

#67557 [cxx-interop][linux] modularize the bits part of libstdc++
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Cxx/libstdcxx/libstdcxx.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/stdlib/foundation-and-std-module.swift
Labels: c++ interop

#67586 [5.9][SILGenConstructor] InitAccessors: Make sure that accessed fields are initialized before init accessors
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenFunction.h
  test/SILOptimizer/init_accessor_raw_sil_lowering.swift
Labels: 🍒 release cherry pick, swift 5.9

#67598 [cxx-interop] Memberwise init is not synthesized for C++ type with templated using decl
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/memberwise-initializer.h
  test/Interop/Cxx/class/memberwise-initializer-module-interface.swift
Labels: c++ interop

#67596 [cxx-interop][linux] modularize the bits part of libstdc++
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Cxx/libstdcxx/libstdcxx.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/stdlib/foundation-and-std-module.swift
Labels: c++ interop, swift 5.9

#67432 🍒[Observation] Forward availability and defines to extensions
  lib/Macros/Sources/ObservationMacros/Availability.swift
  lib/Macros/Sources/ObservationMacros/CMakeLists.txt
  lib/Macros/Sources/ObservationMacros/Extensions.swift
  lib/Macros/Sources/ObservationMacros/ObservableMacro.swift
  test/stdlib/Observation/Observable.swift
Labels: 🍒 release cherry pick, swift 5.9
