Repository swiftlang/swift, pull requests merged in 2023-08, with the labels that each got.

#66531 [stdlib] Fix calling convention mismatch for debugger utility functions
  stdlib/public/core/DebuggerSupport.swift
Labels: standard library

#67629 test/CMakeLists.txt: set correct resources path for static stdlib
  test/CMakeLists.txt
Labels: test suite, static stdlib

#67647 [cxx-interop] Conform Swift pointers to `UnsafeCxxMutableInputIterator`
  stdlib/public/Cxx/UnsafeCxxIterators.swift
Labels: c++ interop

#67639 [cxx-interop] correctly add and lookup enumerators added to enums tha…
  lib/AST/ASTPrinter.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/enum/Inputs/module.modulemap
  test/Interop/Cxx/enum/Inputs/nested-enums.h
  test/Interop/Cxx/enum/nested-enums-module-interface.swift
  test/Interop/Cxx/enum/nested-enums.swift
Labels: c++ interop

#67669 [Concurrency] Fix swift_taskGroup_initializeWithFlags availability
  include/swift/AST/ASTContext.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/Availability.cpp
  lib/IRGen/IRGenModule.cpp
Labels: concurrency

#67618 [cxx-interop] Force creating a memberwise init for `std::pair`
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-pair.swift
Labels: c++ interop

#67659 [5.9 🍒][Compile Time Constant Extraction] Deprecated extraction of property mangled names
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractAnnotations.swift
  test/ConstExtraction/ExtractCalls.swift
  test/ConstExtraction/ExtractEnums.swift
  test/ConstExtraction/ExtractGroups.swift
  test/ConstExtraction/ExtractLiterals.swift
  test/ConstExtraction/ExtractResultBuilders.swift
  test/ConstExtraction/ExtractRuntimeMetadataAttr.swift
  test/ConstExtraction/ExtractTypeValue.swift
Labels: 🍒 release cherry pick, swift 5.9

#67623 [cxx-interop] Allow mutating `std::map` from Swift
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxDictionary.swift
  stdlib/public/Cxx/CxxPair.swift
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#67653 [cxx-interop] Import `NSStreamDelegate.stream` correctly
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/objc-correctness/Inputs/CFOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.h
  test/Interop/Cxx/objc-correctness/Inputs/NSStreamDelegate.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/nsstreamdelegate.swift
Labels: c++ interop

#67670 🍒[5.9][Concurrency] Fix init task group with flags availability
  include/swift/AST/ASTContext.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/Availability.cpp
  lib/IRGen/IRGenModule.cpp
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#67600 [5.9][Runtime] Fix _swift_refCountBytesForMetatype for reference types
  stdlib/public/runtime/Metadata.cpp
  test/Interpreter/Inputs/ObjCClasses/ObjCClasses.h
  test/Interpreter/Inputs/ObjCClasses/ObjCClasses.m
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_objc.swift
Labels: 🍒 release cherry pick, swift 5.9

#67686 [cxx-interop] test, run another test on windows
  test/Interop/Cxx/concepts/method-requires.swift
Labels: c++ interop

#67260 [5.8][CI] Disable early swift driver/syntax on Linux presets
  utils/build-presets.ini
Labels: 🍒 release cherry pick, swift 5.8

#67259 [5.9][CI] Disable early swift driver/syntax on Linux presets
  utils/build-presets.ini
Labels: 🍒 release cherry pick, swift 5.9

#67706 [cxx-interop] Add test for mutable `std.optional.pointee`
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#67696 [5.9 🍒][Compile Time Constant Extraction] Map types with archetypes out of context, before mangling them for printing.
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractArchetype.swift
Labels: 🍒 release cherry pick, swift 5.9

#67700 🍒[5.9][TaskGroup] Reenable test and fix memory issue
  stdlib/public/Concurrency/TaskGroup.cpp
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak_class_error.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9, concurrency runtime

#67726 [cxx-interop] do not add friend decls as a member of Swift type that …
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/friend-class-member-in-interface.swift
Labels: c++ interop

#67728 [cxx-interop][symbolic interface] add a fallback for unknown generic …
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#67718 ClangImporter: correct a duplicated path component
  lib/ClangImporter/ClangIncludePaths.cpp
Labels: c++ interop

#67712 [Linux] Set rpath in add_swift_executable.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
Labels: 🍒 release cherry pick, swift 5.9

#67744 [cxx-interop] Add test for mutation of nested `std::map`
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#67392 [TaskGroup] Reenable test and fix memory issue
  stdlib/public/Concurrency/TaskGroup.cpp
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak_class_error.swift
Labels: concurrency, concurrency runtime

#67772 [cxx-interop] Add `CxxVector` protocol
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxVector.swift
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#67775 [cxx-interop] Fix SwiftCompilerSources hosttools build
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
Labels: c++ interop

#67793 [cxx-interop] Partially disable a test on Linux
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#67685 [cxx-interop][windows] additional fix for indirect return in methods
  lib/IRGen/GenCall.cpp
  test/Interop/Cxx/class/method/msvc-abi-return-indirect-trivial-record.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/msvc-std-vector-it.h
  test/Interop/Cxx/stdlib/msvc-abi-use-vector-iterator.swift
Labels: c++ interop

#67796 [cxx-interop] Adjust a test
  test/Interop/Cxx/stdlib/Inputs/std-optional.h
Labels: c++ interop

#67808 [cxx-interop][5.9] fix windows ABI convention for methods returning trivial records indirectly
  lib/IRGen/GenCall.cpp
  test/Interop/Cxx/class/method/msvc-abi-return-indirect-trivial-record.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/msvc-std-vector-it.h
  test/Interop/Cxx/stdlib/msvc-abi-use-vector-iterator.swift
Labels: c++ interop, swift 5.9

#67723 ClangImporter: correct a duplicated path component
  lib/ClangImporter/ClangIncludePaths.cpp
Labels: c++ interop, swift 5.9

#67813 [cxx-interop] Try more stdlib and overlay tests on Windows
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#67843 C++ interop rebranch test fixes
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/Cxx/stdlib/foundation-and-std-module.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-objcxx.swift
Labels: c++ interop

#67590 [TaskGroup] Fix unlock order, add missing detaches and add more assertions
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  test/Concurrency/Runtime/async_taskgroup_asynciterator_semantics.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
  test/Concurrency/Runtime/async_taskgroup_next_not_invoked_cancelAll.swift
  test/Concurrency/Runtime/async_taskgroup_next_on_pending.swift
  test/Sanitizers/tsan/async_taskgroup_next.swift
Labels: concurrency runtime

#67812 [5.9] AST: Get SPI status of PatternBindingDecl from anchoring VarDecl
  lib/AST/Availability.cpp
  lib/AST/Module.cpp
  test/attr/attr_inlinable_available.swift
Labels: 🍒 release cherry pick, swift 5.9

#67847 [cxx-interop] re-enable class-template-variadic.swift test
  test/Interop/Cxx/templates/class-template-variadic.swift
Labels: c++ interop

#67866 [cxx-interop] Add `UnsafeCxxMutableRandomAccessIterator` protocol
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/UnsafeCxxIterators.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#67851 [5.9] Sema: Correct availability for @inlinable global var accessors bodies
  lib/Sema/TypeCheckAvailability.cpp
  test/attr/attr_inlinable_available.swift
Labels: 🍒 release cherry pick, swift 5.9

#67819 🍒[5.9][TaskGroup] Fix unlock order, add missing detaches and add more assertions
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  test/Concurrency/Runtime/async_taskgroup_asynciterator_semantics.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
  test/Concurrency/Runtime/async_taskgroup_next_not_invoked_cancelAll.swift
  test/Concurrency/Runtime/async_taskgroup_next_on_pending.swift
  test/Sanitizers/tsan/async_taskgroup_next.swift
Labels: 🍒 release cherry pick, swift 5.9, concurrency runtime

#67892 🍒[5.9.0][TaskGroup] Fix unlock order, add missing detaches and add more assertions
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  test/Concurrency/Runtime/async_taskgroup_asynciterator_semantics.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
  test/Concurrency/Runtime/async_taskgroup_next_not_invoked_cancelAll.swift
  test/Concurrency/Runtime/async_taskgroup_next_on_pending.swift
  test/Sanitizers/tsan/async_taskgroup_next.swift
Labels: 🍒 release cherry pick, swift 5.9, concurrency runtime

#67703 NFC: Add clang-tidy config file
  .clang-tidy
  .github/CODEOWNERS
Labels: contributor experience

#67782 [5.9] Enable CxxStdlib on Windows
  lib/IRGen/GenDecl.cpp
  lib/Serialization/Serialization.cpp
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/std/CMakeLists.txt
  stdlib/public/Platform/ucrt.modulemap
  stdlib/public/Platform/vcruntime.modulemap
  test/Interop/Cxx/class/constructors-copy-irgen-windows.swift
  test/Interop/Cxx/class/constructors-irgen-windows.swift
  test/Interop/Cxx/class/copy-move-assignment-irgen.swift
  test/Interop/Cxx/class/destructors-correct-abi-irgen.swift
  test/Interop/Cxx/foreign-reference/Inputs/move-only.h
  test/Interop/Cxx/foreign-reference/Inputs/nullable.h
  test/Interop/Cxx/foreign-reference/Inputs/singleton.h
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/union/anonymous-union-partly-invalid.swift
  test/Interop/lit.local.cfg
  test/Serialization/static.swift
Labels: c++ interop, swift 5.9

#67887 [5.9.0] Update macro help in driver and diagnostics
  include/swift/AST/DiagnosticsSema.def
  include/swift/Option/Options.td
  test/Macros/macro_plugin_broken.swift
  test/Macros/macros_diagnostics.swift
Labels: 🍒 release cherry pick, swift 5.9

#65904 Update `-strict-concurrency` help text
  include/swift/Option/Options.td
Labels: concurrency

#67873 [cxx-interop] Make sure to create empty initializers for C++ structs
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/pthread_mutexattr_t.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface-used-decls.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#67932 Concurrency: Restore consume in TaskLocal.withValueImpl<R>(_:operation:)
  stdlib/public/BackDeployConcurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskLocal.swift
Labels: concurrency

#67935 [5.9][CSSimplify] Relax isBindable requirements for pack expansion variables
  lib/Sema/CSSimplify.cpp
  validation-test/Sema/type_checker_crashers_fixed/rdar112617922.swift
Labels: 🍒 release cherry pick, swift 5.9

#67959 [5.9][Executors] Do not consider Loc validity in determining to emit error/warning about enqueue(_:)
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/custom_executor_enqueue_deprecation_on_executor_extension.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#67960 [5.9.0][Executors] Do not consider Loc validity in determining to emit error/warning about enqueue(_:)
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/custom_executor_enqueue_deprecation_on_executor_extension.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#68012 [5.9 🍒][Compile Time Constant Extraction] Emit underlying types for typealias types
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractGroups.swift
  test/ConstExtraction/ExtractTypeAliasUnderlyingType.swift
Labels: 🍒 release cherry pick, swift 5.9

#67865 [cxx-interop] Import custom `NS_OPTIONS` correctly
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop

#68062 [cxx-interop] Add test for `INADDR_ANY` usage
  test/Interop/Cxx/objc-correctness/Inputs/POSIX.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/posix.swift
Labels: c++ interop

#68044 [cxx-interop] Conform `std::optional` to `ExpressibleByNilLiteral`
  stdlib/public/Cxx/CxxOptional.swift
  test/Interop/Cxx/stdlib/Inputs/std-optional.h
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#68046 🍒[cxx-interop] Import custom `NS_OPTIONS` correctly
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/CFOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/NSOptionsMangling.h
  test/Interop/Cxx/objc-correctness/Inputs/NSStreamDelegate.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
  test/Interop/Cxx/objc-correctness/nsstreamdelegate.swift
Labels: c++ interop

#68092 [5.8][Build] Skip early-* on non-darwin hosts
  utils/build-presets.ini
  utils/swift_build_support/swift_build_support/products/earlyswiftdriver.py
  utils/swift_build_support/swift_build_support/products/earlyswiftsyntax.py
  validation-test/BuildSystem/infer_dumps_deps_if_verbose_build.test
  validation-test/BuildSystem/test_early_swift_driver_and_infer.swift
  validation-test/BuildSystem/test_early_swift_driver_and_test.test
Labels: 🍒 release cherry pick, swift 5.8

#68093 [5.9.0][Build] Skip early-* on non-darwin hosts
  utils/build-presets.ini
  utils/swift_build_support/swift_build_support/products/earlyswiftdriver.py
  utils/swift_build_support/swift_build_support/products/earlyswiftsyntax.py
  validation-test/BuildSystem/infer_dumps_deps_if_verbose_build.test
  validation-test/BuildSystem/test_early_swift_driver_and_infer.swift
  validation-test/BuildSystem/test_early_swift_driver_and_test.test
Labels: 🍒 release cherry pick, swift 5.9

#68094 [5.9][Build] Skip early-* on non-darwin hosts
  utils/swift_build_support/swift_build_support/products/earlyswiftdriver.py
  utils/swift_build_support/swift_build_support/products/earlyswiftsyntax.py
  validation-test/BuildSystem/infer_dumps_deps_if_verbose_build.test
  validation-test/BuildSystem/test_early_swift_driver_and_infer.swift
  validation-test/BuildSystem/test_early_swift_driver_and_test.test
Labels: 🍒 release cherry pick, swift 5.9

#68097 [cxx-interop] Update an inheritance test
  test/Interop/Cxx/class/inheritance/Inputs/sub-types.h
Labels: c++ interop

#68056 [5.9] Fix compiler crashes with consuming and borrowing keywords.
  include/swift/SILOptimizer/Utils/InstOptUtils.h
  lib/SILOptimizer/Mandatory/CapturePromotion.cpp
  lib/SILOptimizer/Mandatory/ClosureLifetimeFixup.cpp
  lib/SILOptimizer/Utils/InstOptUtils.cpp
  test/SILOptimizer/closure-lifetime-fixup.sil
  test/SILOptimizer/noimplicitcopy_trivial.swift
Labels: swift 5.9

#67944 [AutoDiff] Fixes memory leaks in autodiff linear map context allocation builtins
  include/swift/AST/Builtins.def
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/Builtins.cpp
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenCall.h
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILOptimizer/Differentiation/VJPCloner.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  stdlib/public/runtime/AutoDiffSupport.cpp
  stdlib/public/runtime/AutoDiffSupport.h
  test/AutoDiff/IRGen/runtime.swift
  test/AutoDiff/SILGen/autodiff_builtins.swift
  test/AutoDiff/stdlib/callee_differential_not_leaked_in_func_with_loops.swift
Labels: AutoDiff

#68119 [5.9] Fix SILCombine miscompile for discard on non-copyable types
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/SILOptimizer/sil_combine_moveonly.sil
Labels: swift 5.9

#68100 [5.9][CodeSynthesis] Make sure that init synthesis expands macros
  lib/Sema/CodeSynthesis.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/init_accessor.swift
Labels: 🍒 release cherry pick, swift 5.9

#68140 [cxx-interop] Add tests for `.pointee` property access on derived type
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#68141 [5.9] AllocStackHoisting: fix a quadratic complexity bug when merging stack locations.
  lib/IRGen/AllocStackHoisting.cpp
  test/SILOptimizer/allocstack_hoisting.sil
Labels: swift 5.9

#68165 [SILGen] InitAccessors: Make sure that assign_or_init always directly references self
  lib/SILGen/SILGenFunction.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  test/Interpreter/init_accessors.swift
  test/SILOptimizer/init_accessor_raw_sil_lowering.swift
Labels: 🍒 release cherry pick, swift 5.9

#68188 [5.9][SILGen] InitAccessors: Materialize default argument if it's required by init/setter
  lib/SILGen/SILGenFunction.cpp
  test/SILOptimizer/init_accessors_with_indirect_newValue.swift
Labels: 🍒 release cherry pick, swift 5.9

#68217 [cxx-interop] Look up `NSNotificationName` in C++ language mode properly
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop
