Repository swiftlang/swift, pull requests merged in 2023-09, with the labels that each got.

#68245 [5.9][AST] ASTScope: Pass parent module to all search methods
  include/swift/AST/ASTScope.h
  lib/AST/ASTScopeCreation.cpp
  lib/AST/ASTScopeLookup.cpp
  lib/AST/ASTScopePrinting.cpp
Labels: 🍒 release cherry pick, swift 5.9

#67697 [AutoDiff] Emit a diagnostic for non-differentiable active values
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/SILOptimizer/optional_error.swift
Labels: AutoDiff

#68203 [5.9] Fix SIL function side effects to handle unapplied escaping closures
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/ComputeSideEffects.swift
  test/SILOptimizer/dead_store_elim.sil
  test/SILOptimizer/side_effects.sil
Labels: swift 5.9

#68241 🍒[cxx-interop][SwiftToCxx] Emit foreign reference types with `*` in the generated Clang header
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/CxxToSwiftToObjcxx/Inputs/bridge-cxx-types-to-objcxx.h
  test/Interop/CxxToSwiftToObjcxx/Inputs/module.modulemap
  test/Interop/CxxToSwiftToObjcxx/bridge-cxx-types-to-objcxx.swift
  test/Interop/CxxToSwiftToObjcxx/lit.local.cfg
Labels: c++ interop

#65077 [🍒 5.9] Replace mismatched `delete` with `swift_cxx_deleteObject`
  stdlib/public/runtime/Metadata.cpp
Labels: 🍒 release cherry pick

#68279 🍒[cxx-interop] Look up `NSNotificationName` in C++ language mode properly
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop

#68288 [5.9][PreCheck] Filter out macro declarations from result set
  lib/Sema/CSGen.cpp
  lib/Sema/PreCheckExpr.cpp
  test/Constraints/observable_macro_shadowing.swift
  test/Macros/macro_and_typealias.swift
Labels: 🍒 release cherry pick, swift 5.9

#68244 [embedded] Lay the groundwork for embedded Swift
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/MandatoryPerformanceOptimizations.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/Options.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Basic/Features.def
  include/swift/IRGen/Linking.h
  include/swift/SIL/RuntimeEffect.h
  include/swift/SIL/SILBridging.h
  include/swift/SILOptimizer/OptimizerBridging.h
  lib/AST/ASTPrinter.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenExistential.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/GenStruct.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/SIL/IR/SILSymbolVisitor.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  test/embedded/basic-errors-no-stdlib.swift
  test/embedded/basic-irgen-no-stdlib.swift
  test/embedded/evolution-with-embedded-diag.swift
Labels: embedded

#68295 [embedded] Add basics of module serialization, importing and validation in embedded Swift.
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/Serialization/SerializationOptions.h
  include/swift/Serialization/Validation.h
  lib/AST/Module.cpp
  lib/Frontend/Frontend.cpp
  lib/FrontendTool/FrontendTool.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  lib/SIL/IR/SILModule.cpp
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/embedded/basic-irgen-no-stdlib.swift
  test/embedded/basic-modules-no-stdlib.swift
  test/embedded/basic-modules-validation-no-stdlib.swift
  test/sil-passpipeline-dump/basic.test-sh
Labels: embedded

#68374 update_checkout.py: fix inconsistent options help capitalization
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout

#68434 [embedded] Add support for (non-generic) classes in embedded Swift
  include/swift/IRGen/Linking.h
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenMeta.h
  lib/IRGen/MetadataRequest.cpp
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/classes-no-stdlib.swift
Labels: embedded

#68443 [Concurrency] Re-enable async_taskgroup_asynciterator_semantics on linux
  test/Concurrency/Runtime/async_taskgroup_asynciterator_semantics.swift
Labels: concurrency, Linux

#68177 Reenable async_task_locals_groups.swift
  test/Concurrency/Runtime/async_task_locals_groups.swift
Labels: test suite, concurrency

#68447 [5.10] TBDGen: Don't skip extensions on clang types
  lib/SIL/IR/SILSymbolVisitor.cpp
  test/TBD/Inputs/custom-error.h
  test/TBD/Inputs/module.modulemap
  test/TBD/custom_objc_error.swift
Labels: 🍒 release cherry pick, swift 5.10

#68449 Add test to make sure we don't crash on missing ActorSystem typealias
  test/Distributed/distributed_actor_system_missing_type_dontCrash.swift
Labels: distributed

#68421 [embedded] Add an interim attr to mark declarations as unavailable in embedded Swift
  lib/Frontend/CompilerInvocation.cpp
  lib/Parse/ParseDecl.cpp
  lib/Sema/TypeCheckAvailability.cpp
  test/embedded/availability-code-removal.swift
  test/embedded/availability.swift
Labels: embedded

#68451 [Distributed] Add test coverage for extension where Self: DistributedActor
  test/Distributed/distributed_protocol_allow_extension_where_self_distributedactr.swift
Labels: distributed

#67319 [AutoDiff] Handle materializing adjoints with non-differentiable fields
  include/swift/SILOptimizer/Differentiation/AdjointValue.h
  lib/SILOptimizer/Differentiation/AdjointValue.cpp
  lib/SILOptimizer/Differentiation/CMakeLists.txt
  lib/SILOptimizer/Differentiation/JVPCloner.cpp
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/SILOptimizer/pullback_generation.sil
  test/AutoDiff/SILOptimizer/pullback_generation.swift
  test/AutoDiff/SILOptimizer/pullback_generation_nested_addelement_adjoints.swift
  test/AutoDiff/compiler_crashers_fixed/issue-66522-pullback-generation-when-tangentvector-of-input-contains-nondifferentiable-fields.swift
  test/AutoDiff/validation-test/simple_math.swift
Labels: AutoDiff

#68383 [interop] do not synthesize special members for C++ records with inco…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/nullable-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/singleton-module-interface.swift
Labels: c++ interop

#68454 [5.10] Ensure module tracing is off when checking `disable-implicit*`…
  cmake/modules/SwiftImplicitImport.cmake
Labels: swift 5.10

#68455 [5.9] Ensure module tracing is off when checking `disable-implicit*` …
  cmake/modules/SwiftImplicitImport.cmake
Labels: swift 5.9

#68461 [embedded] Initial support for generic classes in embedded Swift
  include/swift/AST/DiagnosticsSIL.def
  include/swift/IRGen/Linking.h
  include/swift/SIL/SILModule.h
  include/swift/SIL/SILVTable.h
  include/swift/SILOptimizer/PassManager/Passes.def
  include/swift/SILOptimizer/Utils/Generics.h
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenMeta.h
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/SIL/IR/SILModule.cpp
  lib/SIL/IR/SILVTable.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/Transforms/CMakeLists.txt
  lib/SILOptimizer/Transforms/VTableSpecializer.cpp
  lib/SILOptimizer/Utils/Generics.cpp
  lib/Serialization/SerializeSIL.cpp
  test/embedded/basic-modules-no-stdlib.swift
  test/embedded/classes-generic-no-stdlib.swift
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/classes-no-stdlib.swift
  test/embedded/classes-non-final-method-no-stdlib.swift
Labels: embedded

#68484 [embedded] Fix accidentally reversed logic in isGenericFunction + addAllNonGenericFunctions
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/MandatoryPerformanceOptimizations.swift
  include/swift/SIL/SILBridging.h
Labels: embedded

#68444 [Concurrency] Re-enable async_task_cancellation_early.swift and use latest Task.sleep
  test/Concurrency/Runtime/async_task_cancellation_early.swift
Labels: concurrency

#68482 🍒 5.10 [docs][concurrency] Document more explicitly closure lifetime of a Task init
  stdlib/public/Concurrency/Task.swift
Labels: concurrency, documentation

#68486 [embedded] Avoid marking all public symbols as 'do not dead strip' in embedded Swift
  lib/Frontend/CompilerInvocation.cpp
  test/embedded/internalize-no-stdlib.swift
Labels: embedded

#68509 [5.10] AST: Revert inherited type request in ConformanceLookupTable
  lib/AST/ConformanceLookupTable.cpp
  test/Generics/rdar115314044.swift
Labels: 🍒 release cherry pick, swift 5.10

#68500 [embedded] Fix compiler crash in getRuntimeEffect when processing ExistentialMetatypeInst
  lib/SIL/Utils/InstructionUtils.cpp
  test/embedded/anyobject-error-no-stdlib.swift
Labels: embedded

#68504 [stdlib] Remove the essential/non-essential file split in the stdlib
  stdlib/public/core/CMakeLists.txt
Labels: embedded

#68521 [5.10] IRGen: fix emission of constant single-case enums
  lib/IRGen/GenConstant.cpp
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenEnum.h
  test/SILOptimizer/static_enums.swift
  validation-test/SILOptimizer/static_enums_fuzzing.swift
Labels: swift 5.10

#68495 Legacy Driver: Make `--ld-path` option consistently use single dash
  include/swift/Option/Options.td
Labels: legacy driver, driver options

#68538 test: Disable access merging optimization test with invariant asserts
  test/SILOptimizer/merge_exclusivity.swift
Labels: test suite

#68478 [interop] do not synthesize special members for C++ records with inco…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/nullable-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/singleton-module-interface.swift
Labels: c++ interop, swift 5.10

#68527 build: fallback `BOOTSTRAPPING_MODE` before the first use
  CMakeLists.txt
Labels: build

#68358 [embedded] Require whole module optimization in embedded mode.
  include/swift/AST/DiagnosticsFrontend.def
  lib/Frontend/CompilerInvocation.cpp
  test/embedded/anyobject-error-no-stdlib.swift
  test/embedded/availability-code-removal.swift
  test/embedded/availability.swift
  test/embedded/basic-errors-no-stdlib.swift
  test/embedded/basic-irgen-no-stdlib.swift
  test/embedded/basic-modules-no-stdlib.swift
  test/embedded/basic-modules-validation-no-stdlib.swift
  test/embedded/classes-generic-no-stdlib.swift
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/classes-no-stdlib.swift
  test/embedded/classes-non-final-method-no-stdlib.swift
  test/embedded/evolution-with-embedded-diag.swift
  test/embedded/internalize-no-stdlib.swift
  test/embedded/wmo-with-embedded-diag.swift
Labels: embedded

#68547 [5.10][Runtime] Use handleRefCountsAssignWithCopy in swift_generic_assignWi…
  stdlib/public/runtime/BytecodeLayouts.cpp
Labels: 🍒 release cherry pick

#68566 [embedded] Add a testcase demonstrating IRGen of zeroinit globals and statics
  test/embedded/globals.swift
Labels: embedded

#68564 [embedded] Fix compiler asserts when building closures
  lib/IRGen/GenDecl.cpp
  test/embedded/closures.swift
Labels: embedded

#68373 swift_build_support: fix `shell.run` bytes printing
  utils/swift_build_support/swift_build_support/shell.py
Labels: update-checkout

#68588 [5.10] Serialization: Ignore missing potentially non-required dependencies when listing imports
  lib/Serialization/ModuleFile.cpp
  test/Serialization/access-level-import-dependencies.swift
Labels: 🍒 release cherry pick

#68413 [AutoDiff] Fix quite subtle but nasty bug in linear map tuple types computation
  lib/SILOptimizer/Differentiation/LinearMapInfo.cpp
  test/AutoDiff/SILOptimizer/differentiation_control_flow_sil.swift
Labels: AutoDiff

#68597 Allow Identifiable and correct ObjectIdentifier for embedded variants
  stdlib/public/core/Identifiable.swift
  stdlib/public/core/ObjectIdentifier.swift
Labels: embedded

#68587 [5.10] ModuleInterface: prepare to accept access-level on imports in swiftinterfaces
  lib/Frontend/ModuleInterfaceSupport.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/ModuleInterface/imports-swift6.swift
  test/ModuleInterface/imports.swift
  test/Sema/access-level-import-flag-check.swift
Labels: 🍒 release cherry pick

#68623 [5.10] IRGen: fix emission of constant single-case enums without payload
  lib/IRGen/GenConstant.cpp
  test/SILOptimizer/static_enums.swift
  validation-test/SILOptimizer/static_enums_fuzzing.swift
Labels: swift 5.10

#68541 [5.10] Legacy Driver: Make `--ld-path` option consistently use single dash
  include/swift/Option/Options.td
Labels: swift 5.10

#68621 🍒Revert "Revert "[cxx-interop] Import custom `NS_OPTIONS` correctly""
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop

#68613 [embedded] Build the stdlib for x86_64 too, and run executable tests on x86_64
  lib/Frontend/CompilerInvocation.cpp
  stdlib/public/core/CMakeLists.txt
  test/embedded/Inputs/print.c
  test/embedded/collection.swift
  test/embedded/custom-print.swift
  test/embedded/lto.swift
Labels: embedded

#68614 [embedded] Avoid use of a metatype in array implementation for embedded Swift
  stdlib/public/core/ArrayShared.swift
  stdlib/public/core/ContiguousArrayBuffer.swift
Labels: embedded

#68617 Avoid issuing warning when user lib implements only ExecutorJob enqueue
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/custom_executor_enqueue_availability.swift
  test/Concurrency/radar_concurrency_nio.swift
Labels: concurrency

#66273 Centralize KeyPath accessor calling convention logic to IRGen
  include/swift/AST/ExtInfo.h
  include/swift/AST/Types.h
  include/swift/SIL/ApplySite.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ClangTypeConverter.cpp
  lib/IRGen/CallEmission.h
  lib/IRGen/Callee.h
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenKeyPath.cpp
  lib/IRGen/GenKeyPath.h
  lib/IRGen/GenPointerAuth.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/GenericRequirement.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/SIL/IR/Bridging.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/SILOptimizer/FunctionSignatureTransforms/FunctionSignatureOpts.cpp
  lib/SILOptimizer/Mandatory/MandatoryInlining.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Constraints/keypath_dynamic_member_lookup.swift
  test/DebugInfo/keypath.swift
  test/IRGen/default_function_ir_attributes.swift
  test/IRGen/keypath_accessor.sil
  test/IRGen/keypaths.sil
  test/IRGen/keypaths_external.sil
  test/IRGen/keypaths_objc.sil
  test/IRGen/property_descriptor.sil
  test/SIL/Parser/keypath.sil
  test/SIL/Serialization/keypath.sil
  test/SILGen/back_deployed_attr_accessor.swift
  test/SILGen/default_arg_multiple_modules.swift
  test/SILGen/keypath_accessors_reabstraction.swift
  test/SILGen/keypaths.swift
  test/SILGen/keypaths_inlinable.swift
  test/SILGen/keypaths_objc_optional.swift
  test/SILGen/keypaths_resilient_generic.swift
  test/SILGen/opaque_result_type_class_property.swift
  test/SILGen/property_wrapper_coroutine_public.swift
  test/SILOptimizer/access_wmo.sil
  test/SILOptimizer/access_wmo.swift
  test/SILOptimizer/dead_alloc_elim.sil
  test/SILOptimizer/dead_alloc_elim_ossa.sil
  test/SILOptimizer/function_uses.sil
  test/SILOptimizer/sil_combine.sil
Labels: IRGen, key paths, WebAssembly

#68615 [embedded] Perform VTable specialization iteratively as part of MandatoryPerformanceOptimizations
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/MandatoryPerformanceOptimizations.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/Utils/InstOptUtils.h
  lib/SILOptimizer/PassManager/PassManager.cpp
  lib/SILOptimizer/Transforms/VTableSpecializer.cpp
  test/embedded/Inputs/tiny-runtime-dummy-refcounting.c
  test/embedded/arrays.swift
Labels: embedded

#68654 [embedded] Make StaticString versions assert/precondition/fatalError available in embedded Swift
  stdlib/public/core/Assert.swift
  test/embedded/stdlib-basic.swift
Labels: embedded

#68653 [5.9] [Sema] Catch invalid if/switch exprs in more places
  lib/AST/Expr.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/MiscDiagnostics.h
  lib/Sema/TypeCheckConstraints.cpp
  test/Constraints/closures.swift
  test/Constraints/if_expr.swift
  test/Constraints/switch_expr.swift
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/if_expr.swift
  test/Parse/recovery.swift
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
  test/expr/unary/if_expr.swift
  test/expr/unary/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.9

#68659 [embedded] Handle thick->thin metatype conversion on IsPOD builtin too
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyBuiltin.swift
  test/embedded/builtins-misc.swift
Labels: embedded

#68622 🍒Revert "Revert "[cxx-interop] Import custom `NS_OPTIONS` correctly""
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop

#68599 [5.10 🍒][Explicit Modules] Fix detection of a type-checking action in 'ExplicitModuleInterfaceBuilder'
  include/swift/Frontend/Frontend.h
  include/swift/Frontend/FrontendOptions.h
  lib/Frontend/Frontend.cpp
  lib/Frontend/FrontendOptions.cpp
  lib/Frontend/ModuleInterfaceBuilder.cpp
  lib/FrontendTool/FrontendTool.cpp
  test/ModuleInterface/downgrade-module-verification-error-explicit.swift
Labels: 🍒 release cherry pick, swift 5.10

#68626 [5.10][CodeCompletion] Suggest `init` as accessor
  lib/IDE/CodeCompletion.cpp
  test/IDE/complete_accessor.swift
Labels: swift 5.10

#68658 [embedded] Un-fatalError array to pointer conversion APIs, add test
  stdlib/public/core/Array.swift
  stdlib/public/core/Pointer.swift
  test/embedded/array-to-pointer.swift
Labels: embedded

#68649 [embedded] Add a temporary flag that turns throws into traps so that programs that use throwing can at least be compiled for now
  include/swift/Basic/LangOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  lib/SILGen/SILGenStmt.cpp
  test/embedded/throw-trap.swift
Labels: embedded

#68530 [embedded] Disable Objective-C interop in embedded Swift
  include/swift/AST/DiagnosticsFrontend.def
  lib/Frontend/CompilerInvocation.cpp
  test/embedded/objc-with-embedded-diag.swift
  test/embedded/wmo-with-embedded-diag.swift
Labels: embedded

#68681 [embedded] Require no_asan in the LTO test
  test/embedded/lto.swift
Labels: embedded

#68686 [embedded] Re-enable arrays.swift and collection.swift tests on asserts-on stdlib
  test/embedded/arrays.swift
  test/embedded/collection.swift
Labels: embedded

#68300 [AutoDiff] Handle init_enum_data_addr and inject_enum_addr for Optional
  lib/SILOptimizer/Analysis/DifferentiableActivityAnalysis.cpp
  lib/SILOptimizer/Differentiation/LinearMapInfo.cpp
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  stdlib/public/Differentiation/OptionalDifferentiation.swift
  test/AutoDiff/SILOptimizer/optional_pullback.swift
  test/AutoDiff/SILOptimizer/optional_pullback_error.swift
Labels: AutoDiff

#68688 [embedded] Make CMO's 'serialize everything' mode even more aggressive and allow serialization of private and shared functions
  include/swift/AST/SILOptions.h
  lib/Frontend/CompilerInvocation.cpp
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  test/embedded/globals.swift
  test/embedded/modules-print-exec.swift
Labels: embedded

#68697 [5.10] AccessUtils: fix handling of indexing in overlap checks
  SwiftCompilerSources/Sources/Optimizer/Utilities/AccessUtils.swift
  SwiftCompilerSources/Sources/SIL/SmallProjectionPath.swift
  test/SILOptimizer/dead_store_elim.sil
Labels: swift 5.10

#68724 [embedded] Disallow use of VWTs for take/copy/assign/destroy operations, even under -Osize
  lib/IRGen/Outlining.cpp
  test/embedded/array-builtins-no-stdlib.swift
Labels: embedded

#68727 [embedded] Make CMO's 'serialize everything' mode even more aggressive and allow serialization of private and shared functions
  include/swift/AST/SILOptions.h
  lib/Frontend/CompilerInvocation.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  test/embedded/globals.swift
  test/embedded/modules-print-exec.swift
Labels: embedded

#68703 Devirtualizer: be less restrictive when checking for correct types to enable witness method devirtualization
  lib/SILOptimizer/Utils/Devirtualize.cpp
  test/SILOptimizer/devirt_protocol_method_invocations.swift
Labels: embedded

#68722 [embedded] Stop emitting metadata for extensions
  lib/IRGen/GenDecl.cpp
  lib/IRGen/IRGenModule.cpp
  test/embedded/extensions.swift
Labels: embedded

#66539 [wasm] Add WASILibc module and its build support
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Platform/WASILibc.swift.gyb
  stdlib/public/Platform/wasi-libc.modulemap
Labels: WebAssembly

#68662 [embedded] Deserialize and import global variables in embedded Swift mode
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  test/embedded/modules-globals-exec.swift
  test/embedded/modules-globals-many.swift
  test/embedded/modules-globals.swift
Labels: embedded

#68741 [wasm][cmake] Remove wrong SWIFT_HOST_VARIANT_ cmake caches
  cmake/caches/Runtime-WASI-wasm32.cmake
Labels: WebAssembly

#68695 [embedded] Add a test showcasing a small runtime handling refcounting and class allocations written in embedded Swift
  stdlib/public/core/ContiguousArrayBuffer.swift
  test/embedded/Inputs/tiny-runtime-dummy-refcounting.c
  test/embedded/Inputs/tiny-runtime-dummy-refcounting.swift
  test/embedded/arrays-swift-runtime.swift
Labels: embedded

#68568 [embedded] Detect WMO via .hasPrimaryInputs() instead of -wmo flag presence
  lib/Frontend/CompilerInvocation.cpp
Labels: embedded

#68740 [wasm][cmake] Add WASI specific stdlib dependencies
  stdlib/private/StdlibUnittest/CMakeLists.txt
  stdlib/private/SwiftPrivate/CMakeLists.txt
  stdlib/private/SwiftPrivateLibcExtras/CMakeLists.txt
  stdlib/private/SwiftPrivateThreadExtras/CMakeLists.txt
  stdlib/public/Differentiation/CMakeLists.txt
Labels: WebAssembly

#68747 Revert "[cxx-interop] Look up `NSNotificationName` in C++ language mode properly"
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop

#68748 [embedded] Fix incorrectly ptrauth signed destructor in vtables
  lib/IRGen/GenMeta.cpp
Labels: embedded

#68670 [Linux] Force the inclusion of the backtracing code when static linking.
  cmake/modules/AddSwift.cmake
  stdlib/public/runtime/SwiftRT-ELF.cpp
  test/Backtracing/CrashStatic.swift
  test/lit.cfg
Labels: Linux, 🍒 release cherry pick, swift 5.9

#68671 [Linux] Force the inclusion of the backtracing code when static linking.
  cmake/modules/AddSwift.cmake
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
  test/Backtracing/CrashStatic.swift
  test/lit.cfg
Labels: Linux, 🍒 release cherry pick, swift 5.10

#68754 [embedded] Expand embedded runtime to handle stack promoted refcounted objects
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/classes-stack-promotion.swift
Labels: embedded

#68769 [embedded] Fix arm64e pointer signing in embedded heap object destruction
  stdlib/public/SwiftShims/swift/shims/EmbeddedShims.h
  stdlib/public/core/EmbeddedRuntime.swift
Labels: embedded

#68783 [embedded] Fix a warning in LibcShims.h about missing nullability annotations
  stdlib/public/SwiftShims/swift/shims/LibcShims.h
Labels: embedded

#68790 [embedded] Enable installing the embedded stdlib into the toolchain
  stdlib/public/core/CMakeLists.txt
Labels: embedded

#68804 [5.10] [SILGen] Remove `mark_uninitialized` for if/switch expr branches
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenStmt.cpp
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.10

#68801 [5.10] [Sema] Fix `try`/`await` handling for `if`/`switch` expressions
  lib/Sema/TypeCheckEffects.cpp
  test/expr/unary/if_expr.swift
  test/expr/unary/if_expr_reasync.swift
  test/expr/unary/switch_expr.swift
  test/expr/unary/switch_expr_reasync.swift
Labels: 🍒 release cherry pick, swift 5.10

#68809 [embedded] Resolve empty -sdk path warning in embedded stdlib build
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/core/CMakeLists.txt
Labels: embedded

#68799 [Linux] Make the backtracing symbol reference conditional.
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/SwiftRT-ELF.cpp
Labels: 🍒 release cherry pick, swift 5.9

#68781 [embedded] Remove unspecialized functions before running IRGen
  include/swift/AST/SILOptions.h
  include/swift/SIL/SILFunction.h
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenDecl.cpp
  lib/SILOptimizer/IPO/DeadFunctionElimination.cpp
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/Transforms/VTableSpecializer.cpp
  lib/SILOptimizer/UtilityPasses/Link.cpp
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/debuginfo.swift
Labels: embedded

#68808 [docs] Fix cut off sentence and correct Throwing discarding task group docs
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency, documentation, 🍒 release cherry pick, swift 5.10

#68854 [5.10] revert "Revert "Revert "[cxx-interop] Import custom NS_OPTIONS correctly"""
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop, swift 5.10

#68855 [5.9] revert "Revert "Revert "[cxx-interop] Import custom NS_OPTIONS correctly"""
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop, swift 5.9

#68853 revert "Revert "Revert "[cxx-interop] Import custom NS_OPTIONS correctly"""
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
  test/Interop/Cxx/objc-correctness/Inputs/customNSOptions.h
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/custom-nsoptions.swift
Labels: c++ interop

#68819 [embedded] Fix a compiler crash when using generic classes in -O/-Osize
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/embedded/classes-stack-promotion.swift
  test/embedded/osize-genericspecializer.swift
  test/embedded/osize-releasedevirt.swift
Labels: embedded

#68816 [embedded] Use -1 as the swift_once predicate indicator, to match Darwin expectations in the compiler
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/once.swift
Labels: embedded

#68745 Revert "🍒[cxx-interop] Look up `NSNotificationName` in C++ language mode properly"
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop

#68746 Revert "🍒[cxx-interop] Look up `NSNotificationName` in C++ language mode properly"
  lib/ClangImporter/ClangAdapter.cpp
  test/Interop/Cxx/objc-correctness/Inputs/nsnotification-bridging.h
  test/Interop/Cxx/objc-correctness/nsnotification-bridging-ide-test.swift
  test/Interop/Cxx/objc-correctness/nsnotification-typechecker.swift
Labels: c++ interop

#68829 [embedded] Resolve empty -sdk path warning in embedded stdlib build, take 2
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/SwiftShims/swift/shims/LibcShims.h
  stdlib/public/core/CMakeLists.txt
Labels: embedded

#68821 [embedded] Implement retain_n and release_n in the embedded runtime
  stdlib/public/core/EmbeddedRuntime.swift
Labels: embedded

#68820 [embedded] Add swift_initStaticObject to the embedded runtime
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/static-object.swift
Labels: embedded

#68873 [embedded] Mark embedded/osize-releasedevirt.swift as REQUIRES: optimized_stdlib
  test/embedded/osize-releasedevirt.swift
Labels: embedded

#68836 [5.9][Build] Do not error if wix already exists
  utils/build-windows-toolchain.bat
Labels: 🍒 release cherry pick, swift 5.9

#68837 [5.10][Build] Enable macros on 5.10
  lib/CMakeLists.txt
  utils/build-windows-toolchain.bat
Labels: 🍒 release cherry pick, swift 5.10

#68862 [embedded] Allow serialization of SILLinkage::shared functions without promoting them to public
  lib/SIL/IR/SILFunctionBuilder.cpp
  test/embedded/shared-linkage.swift
Labels: embedded
