Repository swiftlang/swift, pull requests merged in 2023-11, with the labels that each got.

#69545 [5.10] Add package name to public swiftinterface
  include/swift/AST/Decl.h
  include/swift/AST/Module.h
  include/swift/Option/Options.td
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/ModuleInterface/lazy-typecheck.swift
  test/Sema/accessibility_package_inline_interface.swift
  test/Sema/accessibility_package_interface.swift
  test/Serialization/load_package_module.swift
  test/Serialization/module_package_name.swift
Labels: 🍒 release cherry pick, swift 5.10

#69532 [Concurrency] Un-deprecate enqueue(UnownedJob) for easier adoption
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/custom_executor_enqueue_availability.swift
  test/Concurrency/custom_executor_enqueue_deprecation_on_executor_extension.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
Labels: concurrency

#69499 [5.10][AutoDiff] Fix linear map tuple types computation
  lib/SILOptimizer/Differentiation/LinearMapInfo.cpp
  test/AutoDiff/SILOptimizer/differentiation_control_flow_sil.swift
Labels: 🍒 release cherry pick, swift 5.10

#69524 5.10: [interop][SwiftToCxx] Use 'SWIFT_INLINE_PRIVATE_HELPER' for getTypeMetadata helper to avoid emitting a reference to it when 'DEBUG' macro is set
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/link-cxx-type-metadata-accessor.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop, swift 5.10

#69519 [interop][SwiftToCxx] Use 'SWIFT_INLINE_PRIVATE_HELPER' for getTypeMetadata helper to avoid emitting a reference to it when 'DEBUG' macro is set
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/link-cxx-type-metadata-accessor.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#69540 [5.10][AST/TypeChecker] Allow existential values of Sendable be used from Objective-C
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/ExistentialLayout.h
  lib/AST/Type.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Concurrency/emit_objc_header_with_Sendable.swift
  test/attr/attr_marker_protocol.swift
Labels: 🍒 release cherry pick, swift 5.10

#69568 Task Executors: Prepare for new TaskExecutor protocol
  include/swift/ABI/Executor.h
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
  include/swift/ABI/TaskStatus.h
  include/swift/AST/ASTSynthesis.h
  include/swift/AST/Builtins.def
  include/swift/AST/KnownProtocols.def
  include/swift/AST/KnownSDKTypes.def
  include/swift/AST/Types.h
  include/swift/Demangling/StandardTypesMangling.def
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  include/swift/Strings.h
  lib/AST/ASTContext.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenConcurrency.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/IRGenFunction.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Concurrency/Tracing.h
  stdlib/public/runtime/KnownMetadata.cpp
  unittests/runtime/Actor.cpp
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
  unittests/runtime/TaskStatus.cpp
Labels: concurrency

#69512 [cxx-interop] Lower macOS deployment target version for the Cxx module
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#69498 [embedded] Make embedded swift_once thread-safe
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/once-dependent.swift
  test/embedded/once-multithreaded.swift
Labels: embedded

#69586 Add `ld-path-driver-option` to `features.json`
  lib/Option/features.json
Labels: driver options

#69580 [5.10] Fix SILGen to emit fix_lifetime for inout-to-pointer conversion.
  lib/SILGen/LValue.h
  lib/SILGen/SILGenExpr.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyAddressCheckerUtils.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyWrappedTypeEliminator.cpp
  test/SILGen/pointer_conversion.swift
  test/SILOptimizer/pointer_conversion.swift
Labels: swift 5.10

#69633 [5.10][Runtime] Fix missing memcpy in handleSingleRefCountInitWithCopy
  stdlib/public/runtime/BytecodeLayouts.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 5.10

#68713 Add a lit test for Xcode project generation
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/llvm.py
  validation-test/BuildSystem/generate_xcode.test
  validation-test/BuildSystem/llvm-targets-options.test
  validation-test/BuildSystem/skip_build_xcode.test
Labels: test suite, generated Xcode project, contributor experience

#69608 build: cherry-picks from main for dependencies and Windows build
  utils/build-windows-toolchain.bat
  utils/build.cmd
  utils/build.ps1
  utils/update_checkout/update-checkout-config.json
Labels: swift 5.10

#69587 [5.10] Add `ld-path-driver-option` to `features.json`
  lib/Option/features.json
Labels: driver options, swift 5.10

#69648 [cxx-interop] code-complete namespace members
  lib/Sema/LookupVisibleDecls.cpp
  test/Interop/Cxx/namespace/Inputs/enums.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/namespace-completion.swift
Labels: c++ interop

#69595 [Distributed] Allow overloads with different types; mangling can handle it
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_overloads.swift
  test/Distributed/distributed_func_overloads.swift
Labels: distributed

#69669 [Docs][TaskLocal] Remove comment which is true, but is confusing to end users
  stdlib/public/Concurrency/TaskLocal.swift
Labels: documentation

#69246 Incorrect location of 'async' for protocol in actor's fix suggestion
  lib/Sema/TypeCheckProtocol.cpp
  test/decl/class/actor/conformance.swift
  test/decl/protocol/special/DistributedActor.swift
Labels: concurrency, distributed

#69668 🍒[5.10][Distributed]Add fixits for distributed system adhoc requirements; make easier to adopt
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_fixits.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/Distributed/distributed_imcomplete_system_dont_crash.swift
  test/Distributed/distributed_serializationRequirement_must_be_protocol.swift
Labels: distributed, 🍒 release cherry pick

#69602 [Linux] Improve backtracer ELF/DWARF parsing performance.
  stdlib/public/Backtracing/FileImageSource.swift
  stdlib/public/Backtracing/modules/OS/Libc.h
Labels: 🍒 release cherry pick, swift 5.9

#69603 [Linux] Improve backtracer ELF/DWARF parsing performance.
  stdlib/public/Backtracing/FileImageSource.swift
  stdlib/public/Backtracing/modules/OS/Libc.h
Labels: 🍒 release cherry pick, swift 5.10

#69636 [Backtracing][Linux] Handle inaccessible memory properly in Docker.
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.9

#69637 [Backtracing][Linux] Handle inaccessible memory properly in Docker.
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.10

#69674 Fix specialization of generic classes in embedded swift
  include/swift/SILOptimizer/Utils/Generics.h
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/GenMeta.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILOptimizer/Transforms/EagerSpecializer.cpp
  lib/SILOptimizer/Transforms/VTableSpecializer.cpp
  lib/SILOptimizer/Utils/Generics.cpp
  test/embedded/generic-classes.swift
Labels: embedded

#69614 [5.10][ConstraintSystem] Rework overload ranking based on Sendable conformances
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSimplify.cpp
  test/Concurrency/sendable_disambiguation.swift
Labels: 🍒 release cherry pick, swift 5.10

#69678 [embedded] Fix class_method devirtualizer to consider specialized VTables
  include/swift/SILOptimizer/Utils/Devirtualize.h
  lib/SILOptimizer/Mandatory/DiagnoseInfiniteRecursion.cpp
  lib/SILOptimizer/Transforms/SpeculativeDevirtualizer.cpp
  lib/SILOptimizer/Utils/Devirtualize.cpp
  test/embedded/generic-classes.swift
Labels: embedded

#69670 [build] Respect `DEPLOYMENT_VERSION_{IOS|TVOS|WATCHOS}` for Swift sources
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
Labels: c++ interop

#69682 [embedded] Avoid materializing generic functions for debuginfo purposes in embedded Swift
  lib/IRGen/IRGenDebugInfo.cpp
  test/embedded/generic-classes-debuginfo.swift
Labels: embedded

#69698 [5.10][ClangImporter] Always rebuild any bridging PCH that has errors
  lib/ClangImporter/ClangImporter.cpp
  test/ClangImporter/AllowErrors/invalid-pch-bridging-header.swift
Labels: 🍒 release cherry pick, swift 5.10

#69692 Revert "[cxx-interop] Partially disable a test on Linux"
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#69403 [embedded] Require SwiftCompilerSources to use embedded Swift
  include/swift/SIL/SILBridging.h
  lib/Frontend/CompilerInvocation.cpp
  lib/SIL/Utils/SILBridging.cpp
  test/embedded/anyobject-error-no-stdlib.swift
  test/embedded/array-builtins-exec.swift
  test/embedded/array-to-pointer.swift
  test/embedded/array-zero-size-struct.swift
  test/embedded/arrays.swift
  test/embedded/availability-code-removal.swift
  test/embedded/availability.swift
  test/embedded/basic-errors-no-stdlib.swift
  test/embedded/basic-modules-validation-no-stdlib.swift
  test/embedded/class-func.swift
  test/embedded/classes-arrays.swift
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/classes-no-stdlib.swift
  test/embedded/classes-non-final-method-no-stdlib.swift
  test/embedded/classes-stack-promotion.swift
  test/embedded/classes.swift
  test/embedded/closures-heap.swift
  test/embedded/collection.swift
  test/embedded/conditionals.swift
  test/embedded/custom-print.swift
  test/embedded/deserialize-vtables.swift
  test/embedded/evolution-with-embedded-diag.swift
  test/embedded/generic-classes.swift
  test/embedded/lto.swift
  test/embedded/metatypes.swift
  test/embedded/modules-classes.swift
  test/embedded/modules-globals-exec.swift
  test/embedded/modules-print-exec.swift
  test/embedded/no-autolink.swift
  test/embedded/objc-with-embedded-diag.swift
  test/embedded/once-dependent.swift
  test/embedded/once-multithreaded.swift
  test/embedded/once.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/runtime-release.swift
  test/embedded/runtime.swift
  test/embedded/static-object.swift
  test/embedded/static-string-interpolation.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-types.swift
  test/embedded/throw-trap-stdlib.swift
  test/embedded/throw-trap.swift
  test/embedded/throw-typed.swift
  test/embedded/typeof.swift
  test/embedded/wmo-with-embedded-diag.swift
Labels: embedded

#69688 [follow-up][Distributed]Adjust overload detection for distributed funcs
  lib/AST/Decl.cpp
Labels: concurrency, distributed

#69704 [5.10][Macros] Disallow expression macro as default argument
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Macros/macro_default_argument.swift
  test/ModuleInterface/unbuildable.swift
Labels: 🍒 release cherry pick, swift 5.10

#69352 [stdlib] 3rd attempt to fix calling convention mismatch for debugger utility functions
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/DebuggerSupport.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
Labels: standard library, lldb

#69719 [Backtracing] Add a caching wrapper for MemoryReader.
  stdlib/public/Backtracing/ArrayImageSource.swift
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/Backtracing/CachingMemoryReader.swift
  stdlib/public/Backtracing/Compression.swift
  stdlib/public/Backtracing/FileImageSource.swift
  stdlib/public/Backtracing/ImageSource.swift
  stdlib/public/Backtracing/MemoryImageSource.swift
  stdlib/public/Backtracing/MemoryReader.swift
  stdlib/public/Backtracing/Utils.swift
  stdlib/public/libexec/swift-backtrace/TargetLinux.swift
  stdlib/public/libexec/swift-backtrace/TargetMacOS.swift
Labels: 🍒 release cherry pick, swift 5.10

#69720 [Backtracing] Add a caching wrapper for MemoryReader.
  stdlib/public/Backtracing/ArrayImageSource.swift
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/Backtracing/CachingMemoryReader.swift
  stdlib/public/Backtracing/Compression.swift
  stdlib/public/Backtracing/FileImageSource.swift
  stdlib/public/Backtracing/ImageSource.swift
  stdlib/public/Backtracing/MemoryImageSource.swift
  stdlib/public/Backtracing/MemoryReader.swift
  stdlib/public/Backtracing/Utils.swift
  stdlib/public/libexec/swift-backtrace/TargetLinux.swift
  stdlib/public/libexec/swift-backtrace/TargetMacOS.swift
Labels: 🍒 release cherry pick, swift 5.9

#69746 [cxx-interop] Do not import inherited methods with rvalue this
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
  test/Interop/Cxx/class/inheritance/functions-typechecker.swift
Labels: c++ interop

#69612 [Linux] Disable fatalError() backtraces when the runtime backtracer is active.
  include/swift/Runtime/Backtrace.h
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/Errors.cpp
  test/Backtracing/FatalError.swift
  test/Runtime/backtrace.swift
Labels: 🍒 release cherry pick, swift 5.9

#69613 [Linux] Disable fatalError() backtraces when the runtime backtracer is active.
  include/swift/Runtime/Backtrace.h
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/Errors.cpp
  test/Backtracing/FatalError.swift
  test/Runtime/backtrace.swift
Labels: 🍒 release cherry pick, swift 5.10

#69708 [interop][SwiftToCxx] dispatch 'class' methods directly to avoid brok…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
Labels: c++ interop

#69702 [interop] fix consuming-parameter-in-cxx.swift failure
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
Labels: c++ interop

#69753 [5.10][cxx-interop] code-complete namespace members
  lib/Sema/LookupVisibleDecls.cpp
  test/Interop/Cxx/namespace/Inputs/enums.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/namespace-completion.swift
Labels: c++ interop, swift 5.10

#69754 [5.10][interop][SwiftToCxx] dispatch 'class' methods directly to avoid brok…
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
Labels: c++ interop, swift 5.10

#69755 [5.10][interop] fix consuming-parameter-in-cxx.swift failure
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
Labels: c++ interop, swift 5.10

#69763 [5.10][interop][SwiftToCxx] fix a CHECK line in string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
Labels: c++ interop, swift 5.10

#69762 [interop][SwiftToCxx] fix a CHECK line in string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
Labels: c++ interop

#69548 Import custom c++ types as unchecked sendable types
  lib/ClangImporter/bridging
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
Labels: c++ interop

#69774 [Backtracing] Add an indication that we're working on a backtrace.
  include/swift/Runtime/Backtrace.h
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/BacktracePrivate.h
  stdlib/public/runtime/BacktraceUtils.cpp
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/CrashHandlerLinux.cpp
  stdlib/public/runtime/CrashHandlerMacOS.cpp
  stdlib/public/runtime/Errors.cpp
  test/Backtracing/EarlyMessage.swift
  test/Backtracing/Timing.swift
Labels: 🍒 release cherry pick, swift 5.9

#69775 [Backtracing] Add an indication that we're working on a backtrace.
  include/swift/Runtime/Backtrace.h
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/BacktracePrivate.h
  stdlib/public/runtime/BacktraceUtils.cpp
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/CrashHandlerLinux.cpp
  stdlib/public/runtime/CrashHandlerMacOS.cpp
  stdlib/public/runtime/Errors.cpp
  test/Backtracing/EarlyMessage.swift
  test/Backtracing/Timing.swift
Labels: 🍒 release cherry pick, swift 5.10

#69781 [cxx-interop] make sure a const `operator []` is imported as a mutabl…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/member-inheritance.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#69623 [cxx-interop] Import using decls that expose methods from private base classes
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftLookupTable.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/using-base-members.h
  test/Interop/Cxx/class/inheritance/using-base-members-module-interface.swift
  test/Interop/Cxx/class/inheritance/using-base-members-typechecker.swift
  test/Interop/Cxx/class/inheritance/using-base-members.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  tools/swift-ide-test/swift-ide-test.cpp
Labels: c++ interop

#69501 [Distributed] Don't crash in thunk generation when missing SR conformance
  include/swift/AST/DistributedDecl.h
  lib/AST/DistributedDecl.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckStmt.cpp
  lib/Sema/TypeChecker.h
  test/Distributed/distributed_actor_func_param_not_conforming_req_full.swift
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
Labels: distributed

#69846 [Backtracing] Make sure we print the program counter on ARM64 linux.
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.10

#69845 [Backtracing] Make sure we print the program counter on ARM64 linux.
  stdlib/public/runtime/CrashHandlerLinux.cpp
Labels: 🍒 release cherry pick, swift 5.9

#69862 Revert "Revert "[cxx-interop] Partially disable a test on Linux""
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#69868 macros: install the runtime component for Windows
  lib/Macros/CMakeLists.txt
Labels: swift 5.10

#69893 [5.10][swift-syntax] Run `swift run` with `--vv`
  utils/swift_build_support/swift_build_support/products/swiftsyntax.py
Labels: swift 5.10

#69502 🍒[5.10][Distributed] Don't crash in thunk generation when missing SR conformance
  include/swift/AST/DistributedDecl.h
  lib/AST/DistributedDecl.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckStmt.cpp
  lib/Sema/TypeChecker.h
  test/Distributed/distributed_actor_func_param_not_conforming_req_full.swift
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
Labels: distributed

#69995 [NFC] stdlib: fix use of `__owned` in deprecation messages
  stdlib/public/Concurrency/Executor.swift
Labels: documentation

#69956 [5.10] [Profiler] Simplify CounterExpr
  include/swift/SIL/SILCoverageMap.h
  lib/SIL/IR/SILCoverageMap.cpp
  lib/SIL/IR/SILProfiler.cpp
  test/Profiler/rdar118185163.swift
Labels: 🍒 release cherry pick, swift 5.10

#70006 [cxx-interop] Test stdlib with the upcoming compat version
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#69808 .github: Migrate Markdown issue templates to YAML forms
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/crash-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.yml
Labels: contributor experience

#69973 [embedded] Start building embedded support on Linux/ELF, expand archs of the embedded stdlib to cover common embedded targets
  cmake/modules/SwiftSetIfArchBitness.cmake
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  test/embedded/array-builtins-exec.swift
  test/embedded/array-to-pointer.swift
  test/embedded/array-zero-size-struct.swift
  test/embedded/arrays.swift
  test/embedded/class-func.swift
  test/embedded/classes-arrays.swift
  test/embedded/classes-stack-promotion.swift
  test/embedded/classes.swift
  test/embedded/closures-heap.swift
  test/embedded/collection.swift
  test/embedded/concurrency-actors.swift
  test/embedded/concurrency-async-let.swift
  test/embedded/concurrency-builtins.swift
  test/embedded/concurrency-simple.swift
  test/embedded/custom-print.swift
  test/embedded/debuginfo.swift
  test/embedded/deserialize-vtables.swift
  test/embedded/dynamic-self.swift
  test/embedded/fno-builtin.swift
  test/embedded/generic-classes-debuginfo.swift
  test/embedded/generic-classes.swift
  test/embedded/lto.swift
  test/embedded/metatypes.swift
  test/embedded/modules-classes.swift
  test/embedded/modules-globals-exec.swift
  test/embedded/modules-globals-many.swift
  test/embedded/modules-globals.swift
  test/embedded/modules-print-exec.swift
  test/embedded/no-autolink.swift
  test/embedded/once-dependent.swift
  test/embedded/once-multithreaded.swift
  test/embedded/once.swift
  test/embedded/osize-genericspecializer.swift
  test/embedded/osize-releasedevirt.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/ptrauth-fieldptr1.swift
  test/embedded/ptrauth-fieldptr2.swift
  test/embedded/runtime-release.swift
  test/embedded/runtime.swift
  test/embedded/shared-linkage.swift
  test/embedded/static-object.swift
  test/embedded/static-string-interpolation.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-types.swift
  test/embedded/throw-trap-stdlib.swift
  test/embedded/throw-trap.swift
  test/embedded/throw-typed.swift
  test/embedded/typeof.swift
Labels: embedded

#70042 [embedded] Consider 'skipped' decls when SILGen-ing accessors, fix compiler crash on unavailable accessors
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenDecl.cpp
  lib/SILGen/SILGenTopLevel.cpp
  lib/SILGen/SILGenType.cpp
  test/IRGen/unavailable_decl_optimization_complete_struct.swift
  test/embedded/accessor-unavailable.swift
Labels: embedded

#69992 [cxx-interop] Fix assertion failure when emitting a module interface
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#69885 [embedded] Avoid compiler crash when using an opaque result type
  lib/IRGen/GenStruct.cpp
  test/embedded/opaque-return-types.swift
Labels: embedded

#70061 [5.10] ABCOpts: fix a miscompile in case a value is added to the array index
  lib/SILOptimizer/LoopTransforms/ArrayBoundsCheckOpts.cpp
  test/SILOptimizer/abcopts_ossa_guaranteed.sil
Labels: swift 5.10

#70063 [5.10] PredictableMemOpt: fix wrong handling of re-borrows of a load_borrow
  lib/SILOptimizer/Mandatory/PredictableMemOpt.cpp
  test/SILOptimizer/predictable_memopt_ownership.sil
Labels: swift 5.10

#70074 [cxx-interop] Test more of stdlib with the upcoming compat version
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/import-cxx-math-ambiguities.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#68430 [Distributed] Add fixits for distributed system adhoc requirements
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_fixits.swift
  test/Distributed/distributed_actor_system_missing_adhoc_requirement_impls.swift
  test/Distributed/distributed_imcomplete_system_dont_crash.swift
  test/Distributed/distributed_serializationRequirement_must_be_protocol.swift
Labels: distributed

#70070 [cxx-interop] Migrate to overlay the new compiler flag
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#70064 [embedded] Start building embedded support on Linux/ELF, expand archs of the embedded stdlib to cover common embedded targets, take 2
  cmake/modules/SwiftSetIfArchBitness.cmake
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  test/embedded/array-builtins-exec.swift
  test/embedded/array-to-pointer.swift
  test/embedded/array-zero-size-struct.swift
  test/embedded/arrays.swift
  test/embedded/class-func.swift
  test/embedded/classes-arrays.swift
  test/embedded/classes-stack-promotion.swift
  test/embedded/classes.swift
  test/embedded/closures-heap.swift
  test/embedded/collection.swift
  test/embedded/concurrency-actors.swift
  test/embedded/concurrency-async-let.swift
  test/embedded/concurrency-builtins.swift
  test/embedded/concurrency-simple.swift
  test/embedded/custom-print.swift
  test/embedded/debuginfo.swift
  test/embedded/deserialize-vtables.swift
  test/embedded/dynamic-self.swift
  test/embedded/fno-builtin.swift
  test/embedded/generic-classes-debuginfo.swift
  test/embedded/generic-classes.swift
  test/embedded/lto.swift
  test/embedded/metatypes.swift
  test/embedded/modules-classes.swift
  test/embedded/modules-globals-exec.swift
  test/embedded/modules-globals-many.swift
  test/embedded/modules-globals.swift
  test/embedded/modules-print-exec.swift
  test/embedded/no-autolink.swift
  test/embedded/once-dependent.swift
  test/embedded/once-multithreaded.swift
  test/embedded/once.swift
  test/embedded/osize-genericspecializer.swift
  test/embedded/osize-releasedevirt.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/ptrauth-fieldptr1.swift
  test/embedded/ptrauth-fieldptr2.swift
  test/embedded/runtime-release.swift
  test/embedded/runtime.swift
  test/embedded/shared-linkage.swift
  test/embedded/static-object.swift
  test/embedded/static-string-interpolation.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-types.swift
  test/embedded/throw-trap-stdlib.swift
  test/embedded/throw-trap.swift
  test/embedded/throw-typed.swift
  test/embedded/typeof.swift
Labels: embedded

#69976 [5.10][Runtime] Fix alignment of tuples in runtime layout string instantiation
  stdlib/public/runtime/Metadata.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
Labels: 🍒 release cherry pick, swift 5.10

#69978 [5.10][Runtime] Fix leak of bridge objects in swift_generic_initWithTake
  stdlib/public/runtime/BytecodeLayouts.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 5.10

#70075 [5.10][Test] Regex tests depend on host Swift compiler
  test/SourceKit/Sema/sema_regex.swift
Labels: 🍒 release cherry pick, swift 5.10

#70093 [5.9] backport missing 5.9.1 changes and re-enable HTTPS in curl
  utils/build-windows-toolchain.bat
Labels: swift 5.9

#70092 [5.10] build: enable HTTPS for CURL again
  utils/build.ps1
Labels: swift 5.10

#70084 [5.10][SILOpt] Fix mutable state in EagerSpecializer
  lib/SILOptimizer/Transforms/EagerSpecializer.cpp
  test/SILOptimizer/pre_specialize_rdar118554892.swift
Labels: 🍒 release cherry pick, swift 5.10

#70120 [5.10] [Profiler] Remove an assertion
  lib/SIL/IR/SILProfiler.cpp
  test/Profiler/rdar118896974.swift
Labels: swift 5.10

#70076 [ConstraintSystem] Implement sendability inference for key path expressions
  include/swift/AST/Expr.h
  include/swift/SIL/SILInstruction.h
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ASTWalker.cpp
  lib/AST/Expr.cpp
  lib/IDE/KeyPathCompletion.cpp
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/IR/SILInstructions.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/sendable_keypaths.swift
  test/Interpreter/keypath.swift
Labels: swift evolution pending discussion
