Repository swiftlang/swift, pull requests merged in 2023-05, with the labels that each got.

#65504 [5.9] LoadableByAddress: convert types of functions which are contained in structs inside global static initializers
  lib/IRGen/LoadableByAddress.cpp
  test/IRGen/big_types.sil
Labels: swift 5.9

#65497 [5.9][interop][SwiftToCxx] do not assert when emitting a public var and fu…
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
Labels: c++ interop

#65496 [5.9\[interop][SwiftToCxx] add additional type representation emission checks
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
Labels: c++ interop

#65498 [5.9][interop] avoid importing math functions from the C++ standard library
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/import-cxx-math-ambiguities.swift
Labels: c++ interop

#65344 [5.9][Serialization] Write down SPI-only dependencies as required in swiftmodules
  lib/Serialization/Serialization.cpp
  test/Serialization/spi-only-dependency.swift
Labels: swift 5.9

#65544 [5.9] Revert "[cxx-interop] Treat un-instantiated templated types as unsafe"
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/templates/Inputs/large-class-templates.h
Labels: c++ interop

#65543 Revert "[cxx-interop] Treat un-instantiated templated types as unsafe"
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/templates/Inputs/large-class-templates.h
Labels: c++ interop

#65560 IRGen: Unwrap one-element tuple metadata in emitDynamicTupleTypeMetadataRef() [5.9]
  lib/IRGen/GenPack.cpp
  lib/IRGen/GenTuple.cpp
  lib/IRGen/MetadataRequest.cpp
  test/IRGen/variadic_vanishing_tuple.swift
  test/Interpreter/variadic_generic_tuples.swift
Labels: swift 5.9

#65561 ASTMangler: Fix mangling of SILFunctionType with @pack conventions [5.9]
  lib/AST/ASTMangler.cpp
  lib/Demangling/Demangler.cpp
  test/DebugInfo/variadic-generics-closure.swift
  test/SILGen/variadic-generic-reabstraction.swift
Labels: swift 5.9

#65284 🍒[cxx-interop] Make `CxxConvertibleToCollection.forEach` public
  benchmark/cxx-source/CxxSetToCollection.swift
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#65574 [5.9] Revert #64269
  include/swift/AST/PrintOptions.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Attr.cpp
  test/ModuleInterface/macros.swift
Labels: 🍒 release cherry-pick, swift 5.9

#65567 [interop] lookup FRT retain/release functions in top level module
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/foreign-reference/submodule-lookup-retain-release.swift
Labels: c++ interop

#65588 [cxx-interop] Update a test on Linux
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#65522 [5.9][CSDiagnostics] Teach `diagnoseConflictingGenericArguments` about holes
  lib/Sema/ConstraintSystem.cpp
  validation-test/Sema/SwiftUI/rdar108534555.swift
Labels: 🍒 release cherry-pick, swift 5.9

#65582 [5.9] [SourceKit] Include generated macro buffers in diagnostic responses
  include/swift/AST/DiagnosticEngine.h
  lib/AST/DiagnosticEngine.cpp
  lib/Frontend/SerializedDiagnosticConsumer.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand.swift
  test/Macros/macro_expand_other.swift
  test/SourceKit/Diagnostics/diag_in_c_header.swift
  test/SourceKit/Inputs/sourcekitd_path_sanitize.py
  test/SourceKit/Macros/diags.swift
  test/SourceKit/Macros/diags.swift.response
  tools/SourceKit/include/SourceKit/Core/LangSupport.h
  tools/SourceKit/lib/SwiftLang/SwiftASTManager.cpp
  tools/SourceKit/lib/SwiftLang/SwiftDocSupport.cpp
  tools/SourceKit/lib/SwiftLang/SwiftEditor.cpp
  tools/SourceKit/lib/SwiftLang/SwiftEditorDiagConsumer.h
  tools/SourceKit/tools/sourcekitd/lib/Service/Requests.cpp
  unittests/SourceKit/SwiftLang/CursorInfoTest.cpp
  unittests/SourceKit/SwiftLang/EditingTest.cpp
  utils/gyb_sourcekit_support/UIDs.py
Labels: 🍒 release cherry-pick, swift 5.9

#65320 [5.8 🍒] Revert "Sema: Emit diagnostics when walking into collection literals with defaulted types"
  lib/Sema/MiscDiagnostics.cpp
  test/Constraints/array_literal.swift
  test/Constraints/casts.swift
  test/Constraints/casts_swift6.swift
  test/Constraints/construction.swift
  test/Constraints/dictionary_literal.swift
  test/Constraints/subscript.swift
  test/IDE/print_usrs_opaque_types.swift
  test/Parse/matching_patterns.swift
  test/expr/cast/objc_coerce_array.swift
Labels: bug, compiler, diagnostics QoI, type checker, literals, 🍒 release cherry-pick, swift 5.8, expressions, unexpected warning

#65584 [cxx-interop] Fix Linux build with `SWIFT_ENABLE_EXPERIMENTAL_CXX_INTEROP=NO`
  stdlib/public/CMakeLists.txt
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/libstdcxx/CMakeLists.txt
  stdlib/public/Cxx/libstdcxx/libstdcxx.h
  stdlib/public/Cxx/libstdcxx/libstdcxx.modulemap
  stdlib/public/Cxx/std/CMakeLists.txt
  unittests/ClangImporter/CMakeLists.txt
Labels: c++ interop

#65530 [WebAssembly][Test] Disable some tests to make the CI green.
  test/AutoDiff/e2e_optimizations.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Runtime/concurrentTypeByName.swift
Labels: concurrency

#65490 5.9: [SILOptimizer] Use BitfieldRef instead of invalidating SSAPrunedLiveness.
  include/swift/SIL/SILBitfield.h
  lib/SILOptimizer/Mandatory/ConsumeOperatorCopyableValuesChecker.cpp
  lib/SILOptimizer/Mandatory/DiagnoseLifetimeIssues.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyAddressCheckerUtils.cpp
Labels: swift 5.9

#65586 [5.9][ConstraintSystem] Anthology of changes to variadic generics
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/PackExpansionMatcher.h
  include/swift/AST/Types.h
  include/swift/Sema/CSFix.h
  include/swift/Sema/Constraint.h
  include/swift/Sema/ConstraintLocator.h
  include/swift/Sema/ConstraintLocatorPathElts.def
  include/swift/Sema/ConstraintSystem.h
  lib/AST/ParameterPack.cpp
  lib/Sema/BuilderTransform.cpp
  lib/Sema/CSBindings.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/CSSolver.cpp
  lib/Sema/CSStep.cpp
  lib/Sema/Constraint.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckConstraints.cpp
  lib/Sema/TypeCheckStmt.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/pack_expansion_types.swift
  test/Constraints/variadic_generic_constraints.swift
  test/Constraints/variadic_generic_functions.swift
  test/expr/closure/multi_statement.swift
  validation-test/Sema/type_checker_crashers_fixed/issue-65360.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar92327807.swift
Labels: 🍒 release cherry-pick, swift 5.9, variadic generics

#65589 [interop] update <swift/bridging> to have language comment and __has_attribute guard
  lib/ClangImporter/bridging
Labels: c++ interop

#65598 [interop] NFC, test, re-enable unit test for the for loop iteration o…
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#65615 Emit debug info for count arguments of variadic generic types.
  lib/IRGen/IRGenSIL.cpp
  test/DebugInfo/variadic-generics-count.swift
Labels: 🍒 release cherry pick

#65616 [5.9][Macros] Serialize plugin search paths for LLDB use
  include/swift/Serialization/SerializationOptions.h
  include/swift/Serialization/Validation.h
  lib/Frontend/Frontend.cpp
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Macros/serialize_plugin_search_paths.swift
  tools/lldb-moduleimport-test/lldb-moduleimport-test.cpp
Labels: 🍒 release cherry pick, swift 5.9

#65611 [5.9][RemoteMirror] Implement DependentMemberTypeRef support for
  stdlib/public/RemoteInspection/TypeRef.cpp
Labels: 🍒 release cherry pick, swift 5.9

#65621 [5.8 cherry-pick] Add -runtime-compatibility-version none to the VFE/WME LTO tests to workaround a linker failure
  test/IRGen/virtual-function-elimination-two-modules.swift
  test/IRGen/witness-method-elimination-two-modules.swift
Labels: 🍒 release cherry pick

#65623 [5.9][interop] NFC, test, re-enable unit test for the for loop iteration o…
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop, 🍒 release cherry pick, swift 5.9

#65569 [5.9][CodeComplete] Offer completions for the `names:` argument of a macro declaration
  include/swift/AST/MacroDeclaration.h
  include/swift/IDE/CompletionLookup.h
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/AST/Decl.cpp
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CodeCompletionResultBuilder.h
  lib/IDE/CompletionLookup.cpp
  lib/Parse/ParseDecl.cpp
  test/IDE/complete_macro_attribute.swift
Labels: 🍒 release cherry pick, swift 5.9

#65347 [5.9] Handle #if for if/switch expressions
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Stmt.h
  include/swift/Parse/Parser.h
  lib/AST/Expr.cpp
  lib/AST/Stmt.cpp
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParseExpr.cpp
  lib/Parse/Parser.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckStmt.cpp
  test/Constraints/if_expr.swift
  test/Constraints/switch_expr.swift
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
  test/expr/unary/if_expr.swift
  test/expr/unary/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.9

#65578 [cxx-interop] Disable rvalue references. We don't support them correc…
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/reference/Inputs/reference.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-cannot-import-diagnostic.swift
  test/Interop/Cxx/reference/reference-irgen.swift
  test/Interop/Cxx/reference/reference-module-interface.swift
  test/Interop/Cxx/reference/reference-silgen.swift
  test/Interop/Cxx/reference/reference.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#65649 [5.9][cxx-interop] do not import functions with rvalue ref parameters and fix ref parameter type conversion for typealiased refs
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/reference/Inputs/reference.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference-cannot-import-diagnostic.swift
  test/Interop/Cxx/reference/reference-irgen.swift
  test/Interop/Cxx/reference/reference-module-interface.swift
  test/Interop/Cxx/reference/reference-silgen.swift
  test/Interop/Cxx/reference/reference.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop, 🍒 release cherry pick, swift 5.9

#65654 5.9: [IRGen] Check for nil in final class cast opt.
  lib/IRGen/GenCast.cpp
  lib/IRGen/GenCast.h
  validation-test/IRGen/rdar108614878.swift
Labels: swift 5.9

#65644 [5.9] Fix ManagedValue::isPlusOne for addresses
  lib/SILGen/ManagedValue.cpp
  lib/SILGen/ManagedValue.h
  lib/SILGen/RValue.cpp
  lib/SILGen/RValue.h
  lib/SILGen/SILGenConvert.cpp
  lib/SILGen/SILGenDecl.cpp
  lib/SILGen/SILGenLValue.cpp
  lib/SILGen/SILGenPack.cpp
  lib/SILGen/SILGenPattern.cpp
  lib/SILGen/SILGenProlog.cpp
  lib/SILGen/Scope.cpp
  test/SILGen/protocol_enum_witness.swift
Labels: swift 5.9

#65657 [5.9][ConstraintSystem] Reverse direction of `ShapeOf` constraint
  include/swift/Sema/Constraint.h
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
Labels: 🍒 release cherry pick, swift 5.9

#65639 [5.9][CodeComplete] Offer code completion for attached macro attributes
  include/swift/AST/TypeCheckRequests.h
  lib/AST/Decl.cpp
  lib/IDE/CodeCompletion.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckMacros.cpp
  test/IDE/complete_macros.swift
Labels: 🍒 release cherry pick, swift 5.9

#65638 [5.9][CodeComplete] Offer completion suggestions for default argument values inside the macro declaration + argument label inside `#externalMacro`
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/Sema/TypeCheckMacros.cpp
  lib/Sema/TypeCheckStmt.cpp
  test/IDE/complete_macro_declaration.swift
Labels: 🍒 release cherry pick, swift 5.9

#65653 docs/GettingStarted.md: support Linux in incremental build steps
  docs/HowToGuides/GettingStarted.md
Labels: documentation, contributor experience

#65679 [5.9] Sema: Fix incorrect assert in TypeCheckProtocol.cpp.
  lib/Sema/TypeCheckProtocol.cpp
  validation-test/ParseableInterface/broken-optionset.swiftinterface
Labels: 🍒 release cherry pick, swift 5.9

#65459 🍒[5.9][Executors] Make move to ExecutorJob binary compatible; deprecate Job
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Distributed/DistributedDefaultExecutor.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_tryDiagnoseExecutorConformance_with_sdk_typealias_struct_job_types.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
  test/Inputs/clang-importer-sdk/swift-modules-concurrency-typealias-struct-job/_Concurrency.swift
  test/lit.cfg
Labels: 🍒 release cherry pick, swift 5.9

#65685 [5.9] Two @objcImpl protocol fixes
  lib/IRGen/GenClass.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  test/IRGen/Inputs/objc_implementation.h
  test/IRGen/objc_implementation.swift
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
Labels: swift 5.9

#65652 [cxx-interop] Do not emit IR for C++20 requires expr
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/concepts/Inputs/method-requires.h
  test/Interop/Cxx/concepts/Inputs/module.modulemap
  test/Interop/Cxx/concepts/method-requires.swift
Labels: c++ interop

#65547 [5.9][cherry-pick]Add username/email to bare git config in repo (#65392)
  utils/update_checkout/tests/scheme_mock.py
Labels: 🍒 release cherry pick, swift 5.9

#65662 [interop][SwiftToCxx] remove extraneous semicolon when emitting 'prag…
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-objcxx.swift
Labels: c++ interop

#65680 [interop][SwiftToCxx] avoid importing C++ stdlib in C++ section of ge…
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/stdlib/stdlib-in-cxx-no-diagnostics-generated-header.cpp
  test/PrintAsCxx/empty.swift
  test/PrintAsObjC/Inputs/comments-expected-output.h
Labels: c++ interop

#65665 [interop] do not import function template with templated rvalue ref
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/reference/reference-cannot-import-diagnostic.swift
  test/Interop/Cxx/templates/function-template-module-interface.swift
Labels: c++ interop

#65711 🍒[cxx-interop] Do not emit IR for C++20 requires expr
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/concepts/Inputs/method-requires.h
  test/Interop/Cxx/concepts/Inputs/module.modulemap
  test/Interop/Cxx/concepts/method-requires.swift
Labels: c++ interop

#65708 [5.9][CursorInfo] Prefer AST based results over solver based
  test/SourceKit/CursorInfo/cursor_reuses_astcontext.swift
  test/SourceKit/CursorInfo/cursor_with_file_replacement.swift
  test/SourceKit/CursorInfo/static_vs_class_spelling.swift
  tools/SourceKit/lib/SwiftLang/SwiftASTManager.cpp
  tools/SourceKit/lib/SwiftLang/SwiftInvocation.h
  tools/SourceKit/lib/SwiftLang/SwiftSourceDocInfo.cpp
Labels: 🍒 release cherry pick, swift 5.9

#65683 [interop][SwiftToCxx] add swift::String overlay constructor for const…
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/string/string-conversions.cpp
Labels: c++ interop

#65240 Backporting std::string init for UnsafePointer? fixes to Swift 5.9
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop, 🍒 release cherry pick, swift 5.9

#65740 [cxx-interop] Do not mix up computed properties from different records
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/ergonomics/explicit-computed-properties-typechecker.swift
Labels: c++ interop

#65269 [5.9] Introduce `-unavailable-decl-optimization=stub`
  docs/ABI/Mangling.rst
  include/swift/AST/KnownDecls.def
  include/swift/Basic/LangOptions.h
  include/swift/SIL/ApplySite.h
  include/swift/SIL/SILInstruction.h
  include/swift/SIL/SILModule.h
  include/swift/Strings.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/SIL/IR/SILModule.cpp
  lib/SILGen/SILGenApply.cpp
  lib/SILGen/SILGenBridging.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenGlobalVariable.cpp
  lib/SILGen/SILGenPoly.cpp
  lib/SILOptimizer/Mandatory/DiagnoseUnreachable.cpp
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  stdlib/public/core/AssertCommon.swift
  test/IRGen/unavailable_decl_optimization_complete.swift
  test/IRGen/unavailable_decl_optimization_complete_class.swift
  test/IRGen/unavailable_decl_optimization_complete_conformance.swift
  test/IRGen/unavailable_decl_optimization_complete_enum.swift
  test/IRGen/unavailable_decl_optimization_complete_nested_type.swift
  test/IRGen/unavailable_decl_optimization_complete_opaque_type.swift
  test/IRGen/unavailable_decl_optimization_complete_struct.swift
  test/Interpreter/unavailable_decl_optimization_stub.swift
  test/SILGen/unavailable_decl_optimization_complete.swift
  test/SILGen/unavailable_decl_optimization_stub.swift
  test/SILGen/unavailable_decl_optimization_stub_class.swift
  test/SILGen/unavailable_decl_optimization_stub_objc.swift
  test/SILGen/unavailable_decl_optimization_stub_opaque_type.swift
  test/SILGen/unavailable_decl_optimization_stub_protocol_witness.swift
  test/SILGen/unavailable_decl_optimization_stub_struct.swift
  test/SILOptimizer/unavailable_decl_optimization_stub.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  utils/cmpcodesize/cmpcodesize/compare.py
Labels: 🍒 release cherry pick, swift 5.9

#65728 [interop][SwiftToCxx] avoid emitting ambiguous C++ overloads and emit unavailable type stubs for top level types that could not be emitted in the C++ section of the generated header
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/cross-module-refs/do-not-expose-imported-api-by-default.swift
  test/Interop/SwiftToCxx/expose-attr/expose-rename-to-unavailable-decl.swift
  test/Interop/SwiftToCxx/functions/swift-function-overloads.swift
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unexposed-non-public-api-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-funcs-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-generics-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-types-in-cxx.swift
Labels: c++ interop

#65719 Fix DiscardingTaskGroup availability
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency

#65734 🍒[5.9][Executors] Fix delegation chain of Excecutor.enqueue for Job specifically
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#65749 [interop][SwiftToCxx] move semantics for Swift classes; use of C++ move for unimplemented Swift value moves fails at link time now
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-inheritance-execution.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-move-semantics-in-cxx.cpp
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#65738 [5.9][Macros] Terminate parsing expanded members if no progress is made
  include/swift/AST/DiagnosticsParse.def
  lib/Parse/ParseDecl.cpp
  test/Macros/macro_invalid.swift
Labels: 🍒 release cherry pick, swift 5.9

#65753 [5.9][interop][SwiftToCxx] avoid importing C++ stdlib in C++ section of ge…
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/stdlib/stdlib-in-cxx-no-diagnostics-generated-header.cpp
  test/PrintAsCxx/empty.swift
  test/PrintAsObjC/Inputs/comments-expected-output.h
Labels: c++ interop, swift 5.9

#65754 [5.9][interop][SwiftToCxx] add swift::String overlay constructor for const…
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/string/string-conversions.cpp
Labels: c++ interop, swift 5.9

#65762 [interop][SwiftToCxx] NFC, add missing include to swift-class-executi…
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
Labels: c++ interop

#65755 [5.9] [interop][SwiftToCxx] avoid emitting ambiguous C++ overloads and emit unavailable type stubs for top level types that could not be emitted in the C++ section of the generated header
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/cross-module-refs/do-not-expose-imported-api-by-default.swift
  test/Interop/SwiftToCxx/expose-attr/expose-rename-to-unavailable-decl.swift
  test/Interop/SwiftToCxx/functions/swift-function-overloads.swift
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unexposed-non-public-api-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-funcs-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-generics-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-types-in-cxx.swift
Labels: c++ interop, swift 5.9

#65752 [5.9][interop][SwiftToCxx] remove extraneous semicolon when emitting 'prag…
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-objcxx.swift
Labels: c++ interop, swift 5.9

#65733 [🍒 5.9]: Fix discarding task-group availability
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#65756 [5.9][interop][SwiftToCxx] move semantics for Swift classes; use of C++ move for unimplemented Swift value moves fails at link time now
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/class/swift-class-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-inheritance-execution.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-move-semantics-in-cxx.cpp
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop, swift 5.9

#65761 SILGen: Wrap captures of parameter packs inside tuples [5.9]
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenFunction.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenPack.cpp
  lib/SILGen/SILGenProlog.cpp
  lib/SILOptimizer/Utils/StackNesting.cpp
  test/Interpreter/variadic_generic_captures.swift
  test/SILGen/variadic-generic-captures.swift
Labels: swift 5.9

#65746 🍒[cxx-interop] Do not mix up computed properties from different records
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/ergonomics/explicit-computed-properties-typechecker.swift
Labels: c++ interop

#65714 [5.9][CSSimplify] Fix external property wrapper check to use parameter index
  lib/Sema/CSSimplify.cpp
  test/Sema/property_wrapper_parameter_invalid.swift
Labels: 🍒 release cherry pick, swift 5.9

#65758 Fix crash when back-deploying concurrency to iOS 15.0/15.1-era OSs
  stdlib/toolchain/Compatibility56/Concurrency/Actor.cpp
  stdlib/toolchain/Compatibility56/include/Concurrency/VoucherSupport.h
Labels: concurrency

#65759 Fix crash when back-deploying concurrency to iOS 15.0/15.1-era OSs
  stdlib/toolchain/Compatibility56/Concurrency/Actor.cpp
  stdlib/toolchain/Compatibility56/include/Concurrency/VoucherSupport.h
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#65760 Fix crash when back-deploying concurrency to iOS 15.0/15.1-era OSs
  stdlib/toolchain/Compatibility56/Concurrency/Actor.cpp
  stdlib/toolchain/Compatibility56/include/Concurrency/VoucherSupport.h
Labels: concurrency, 🍒 release cherry pick, swift 5.8

#65791 [Concurrency] Easier to handle deprecation of Job and friends
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
Labels: concurrency

#65781 [cxx-interop] add a build setting to control whether the <swift/bridg…
  CMakeLists.txt
  lib/ClangImporter/CMakeLists.txt
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/products/swift.py
  utils/swift_build_support/tests/products/test_swift.py
Labels: c++ interop, build

#65777 Concurrency: Revert workarounds for `@backDeployed` condfails
  stdlib/public/BackDeployConcurrency/TaskCancellation.swift
  stdlib/public/BackDeployConcurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  stdlib/public/Concurrency/TaskLocal.swift
  test/api-digester/stability-concurrency-abi.test
Labels: concurrency

#64899 [stdlib] Implement Never conformance to Codable
  stdlib/public/core/Policy.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/CodableTests.swift
  test/stdlib/Never.swift
Labels: swift evolution approved

#65803 docs: Fix shell var substitution in `GettingStarted.md`
  docs/HowToGuides/GettingStarted.md
Labels: bug, documentation, contributor experience

#65793 🍒[5.9][Concurrency] Easier to handle deprecation of Job and friends
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#65717 [5.9][CodeCompletion] Only show type annotations for macros that return non-void
  include/swift/IDE/CompletionLookup.h
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_macros.swift
Labels: 🍒 release cherry pick, swift 5.9

#65841 [5.9][CodeCompletion] Fix an assertion failure found by the stress tester
  include/swift/Sema/ConstraintSystem.h
  test/IDE/complete_call_pattern_heuristics.swift
  validation-test/IDE/crashers_2_fixed/0038-setTypeForArgumentIgnoredForCompletion.swift
Labels: 🍒 release cherry pick, swift 5.9

#65888 [5.9] [Changelog] Add changelog entry for SE-0380
  CHANGELOG.md
Labels: 🍒 release cherry pick, swift 5.9

#65715 [cxx-interop] Explicitly disable `-fmodules-local-submodule-visibility`
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/concepts/method-requires.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#65909 🍒[cxx-interop] Explicitly disable `-fmodules-local-submodule-visibility`
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/concepts/method-requires.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#65910 🍒[cxx-interop] Fix Linux build with `SWIFT_ENABLE_EXPERIMENTAL_CXX_INTEROP=NO`
  stdlib/public/CMakeLists.txt
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/libstdcxx/CMakeLists.txt
  stdlib/public/Cxx/libstdcxx/libstdcxx.h
  stdlib/public/Cxx/libstdcxx/libstdcxx.modulemap
  stdlib/public/Cxx/std/CMakeLists.txt
  unittests/ClangImporter/CMakeLists.txt
Labels: c++ interop

#65771 [5.9][CodeCompletion] Fix a crash when completing an argument to a function taking a parameter pack
  include/swift/IDE/ArgumentCompletion.h
  include/swift/IDE/SelectedOverloadInfo.h
  lib/IDE/ArgumentCompletion.cpp
  lib/IDE/CursorInfo.cpp
  lib/IDE/SelectedOverloadInfo.cpp
  test/IDE/complete_call_arg.swift
Labels: 🍒 release cherry pick, swift 5.9

#65874 [IRGen] Distributed: Destroy loaded arguments after the call
  lib/IRGen/GenDistributed.cpp
  test/Distributed/distributed_actor_thunk_doesnt_leak_class_arguments.swift
Labels: distributed

#65919 [cxx-interop] Make `std.optional.value` nullable
  stdlib/public/Cxx/CxxOptional.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#65355 [5.9] SE-0365 bug fixes
  include/swift/AST/Stmt.h
  lib/AST/Stmt.cpp
  lib/AST/UnqualifiedLookup.cpp
  lib/Sema/MiscDiagnostics.cpp
  test/expr/closure/closures.swift
  test/expr/closure/closures_swift6.swift
Labels: 🍒 release cherry pick, swift 5.9

#65920 [5.9] [Sema] Allow if/switch expressions in optional chain assignments
  lib/AST/ASTScopeCreation.cpp
  lib/Sema/MiscDiagnostics.cpp
  test/SILGen/if_expr.swift
  test/SILGen/switch_expr.swift
Labels: 🍒 release cherry pick, swift 5.9

#65948 [cxx-interop] implicitly imported CxxShim module should not force cli…
  lib/Frontend/Frontend.cpp
  test/Interop/Cxx/implementation-only-imports/Inputs/helper.h
  test/Interop/Cxx/implementation-only-imports/Inputs/use-cxx-stdlib-impl-only.swift
  test/Interop/Cxx/implementation-only-imports/Inputs/use-module-a-impl-only.swift
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxx-interop-module-without-interop.swift
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxxstdlib-interop-module-without-interop.swift
Labels: c++ interop, swift 5.9

#65795 CMake: fix missing `SWIFT_CONCURRENCY_GLOBAL_EXECUTOR` value
  CMakeLists.txt
  stdlib/cmake/modules/StdlibOptions.cmake
  test/Driver/static-stdlib-autolink-linux.swift
  test/Driver/static-stdlib-linux.swift
  test/lit.cfg
  utils/build-script-impl
Labels: bug, Linux, build-script, cmake, static libraries, swift-autolink-extract

#65957 [5.9 🍒][Explicit Module Builds] Ensure IRGen uses Swift compiler's target triple when '-clang-target' is set.
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/IRGen/IRGenModule.cpp
Labels: 🍒 release cherry pick

#65950 [5.9][Sema] Improvements to variadic generics inference and diagnostics
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  include/swift/Sema/CSFix.h
  lib/AST/Expr.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/bridging.swift
  test/Constraints/diagnostics.swift
  test/Constraints/fixes.swift
  test/Constraints/generics.swift
  test/Constraints/operator.swift
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/variadic_generic_functions.swift
  test/StringProcessing/Parse/forward-slash-regex.swift
  test/stdlib/UnicodeScalarDiagnostics.swift
Labels: 🍒 release cherry pick, swift 5.9

#65981 [5.9-20230510][AST] Use a different operator for member attribute macros
  docs/ABI/Mangling.rst
  lib/AST/ASTMangler.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  test/SourceKit/Macros/macro_basic.swift
Labels: 🍒 release cherry pick, swift 5.9

#65857 [5.8][Runtime] Fix swift_weakTakeStrong().
  stdlib/public/runtime/WeakReference.h
Labels: 🍒 release cherry pick, swift 5.8

#65980 [5.9][AST] Use a different operator for member attribute macros
  docs/ABI/Mangling.rst
  lib/AST/ASTMangler.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  test/SourceKit/Macros/macro_basic.swift
Labels: 🍒 release cherry pick, swift 5.9

#65695 [5.9][Runtime] Print type names in escape-from-deinit messages.
  stdlib/public/runtime/HeapObject.cpp
Labels: 🍒 release cherry pick

#65969 [5.9][Runtime][Backtracing] Conditionalise initialisation of the spawnattr.
  stdlib/public/runtime/Backtrace.cpp
Labels: 🍒 release cherry pick, swift 5.9

#65975 [5.9][CSBindings] Mark type variables that represent type parameter packs …
  lib/Sema/CSBindings.cpp
  test/Constraints/casts.swift
Labels: 🍒 release cherry pick, swift 5.9

#65994 [Distributed][Test] Avoid overlapping dump-ast which cause flaky test
  test/Distributed/distributed_actor_executor_ast.swift
Labels: distributed

#65995 🍒[5.9][Distributed][Test] Avoid overlapping dump-ast which cause flaky test
  test/Distributed/distributed_actor_executor_ast.swift
Labels: distributed, 🍒 release cherry pick, swift 5.9

#65997 5.9: [RequirementMachine] InferredGenericSignatureRequest uses valid location for generic signature requirements.
  lib/AST/RequirementMachine/RequirementMachineRequests.cpp
  test/AutoDiff/SILOptimizer/generics.swift
  test/Generics/concrete_contraction_unrelated_typealias.swift
  test/Generics/concrete_same_type_versus_anyobject.swift
  test/Generics/conditional_conformances.swift
  test/Generics/derived_via_concrete.swift
  test/Generics/issue-61192.swift
  test/Generics/rdar108963047.swift
  test/Generics/rdar75656022.swift
  test/Generics/rdar77462797.swift
  test/Generics/rdar91771352.swift
  test/Generics/requirement_inference.swift
  test/Generics/requirement_inference_objc.swift
  test/Generics/same_type_constraints.swift
  test/attr/attr_specialize.swift
  test/decl/ext/extensions.swift
Labels: swift 5.9

#65999 Update CODEOWNERS for static linking code
  .github/CODEOWNERS
Labels: contributor experience

#66001 [cxx-interop] Update help message for the driver flag
  include/swift/Option/Options.td
Labels: c++ interop

#65575 🍒[5.9][Concurrency] Adopt stable keyword consuming instead of __owned
  lib/AST/Decl.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Distributed/DistributedDefaultExecutor.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_crash.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
  test/Concurrency/Runtime/custom_executors_sdk_with_consuming_param_but_impl_owned.swift
  test/Concurrency/Runtime/custom_executors_sdk_with_owned_param_but_impl_consuming.swift
  test/Concurrency/Runtime/custom_executors_tryDiagnoseExecutorConformance_with_sdk_missing_job_type.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
  test/Inputs/clang-importer-sdk/swift-modules-concurrency-consuming-job-param/_Concurrency.swift
  test/Inputs/clang-importer-sdk/swift-modules-concurrency-owned-job-param/_Concurrency.swift
  test/lit.cfg
Labels: concurrency, 🍒 release cherry pick, swift 5.9

#66022 🍒[5.9][Distributed] Report error rather than crash no ad-hoc requirements are implemented
  lib/Sema/DerivedConformanceDistributedActor.cpp
  test/Distributed/distributed_imcomplete_system_dont_crash.swift
Labels: distributed

#66020 [Distributed] Report error rather than crash no ad-hoc requirements are implemented
  lib/Sema/DerivedConformanceDistributedActor.cpp
  test/Distributed/distributed_imcomplete_system_dont_crash.swift
Labels: distributed, diagnostics QoI

#65952 [Distributed] Ensure to swift_release during destroying decoded distributed call arguments
  lib/IRGen/GenDistributed.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_func_calls_decoded_args_deinit.swift
  test/Distributed/distributed_actor_thunk_doesnt_leak_class_arguments.swift
Labels: distributed

#66007 🍒[cxx-interop] Update help message for the driver flag
  include/swift/Option/Options.td
Labels: c++ interop

#66051 add missing %empty-directory in test
  test/Distributed/distributed_actor_thunk_doesnt_leak_class_arguments.swift
Labels: distributed

#65976 [5.9-20230510][CSBindings] Mark type variables that represent type parameter packs …
  lib/Sema/CSBindings.cpp
  test/Constraints/casts.swift
  test/Constraints/pack-expansion-expressions.swift
Labels: 🍒 release cherry pick, swift 5.9

#66066 [5.9][presets] Add presets for the SourceKit stress tester
  utils/build-presets.ini
Labels: 🍒 release cherry pick, swift 5.9

#66068 [5.9][Runtime] Use MetadataAllocator to allocate runtime instantiated layo…
  stdlib/public/runtime/Metadata.cpp
  stdlib/public/runtime/MetadataAllocatorTags.def
Labels: 🍒 release cherry pick, swift 5.9

#64639 [Backtracing] Add an option to output to stderr.
  docs/Backtracing.rst
  include/swift/Runtime/Backtrace.h
  stdlib/public/libexec/swift-backtrace/Target.swift
  stdlib/public/libexec/swift-backtrace/Utils.swift
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/CrashHandlerMacOS.cpp
Labels: 🍒 release cherry pick, swift 5.9

#66074 [Backtracing][Tests] Disable crashing tests under ASAN.
  test/Backtracing/Crash.swift
  test/Backtracing/CrashAsync.swift
  test/Backtracing/CrashWithThunk.swift
  test/Backtracing/StackOverflow.swift
Labels: 🍒 release cherry pick, swift 5.9

#66082 [5.9] [Diags] Avoid emitting fix-its for generated code
  lib/AST/DiagnosticEngine.cpp
  lib/Parse/ParseDecl.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_fixits.swift
  test/SourceKit/Macros/diags.swift
  test/SourceKit/Macros/diags.swift.response
Labels: 🍒 release cherry pick, swift 5.9

#65321 [5.9] Remove force unwrapping for source location
  lib/ASTGen/Sources/ASTGen/PluginHost.swift
  test/Macros/Inputs/syntax_macro_definitions.swift
Labels: 🍒 release cherry pick, swift 5.9

#65613 [DiscardingTG] Undo pointer auth workaround; fix memory leaks
  include/swift/ABI/MetadataValues.h
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.swift
  stdlib/public/Concurrency/TaskSleep.swift
  stdlib/public/Concurrency/TaskSleepDuration.swift
  stdlib/toolchain/Compatibility56/include/Runtime/Concurrency.h
  test/Concurrency/Runtime/async_taskgroup_discarding.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak_class_error.swift
  test/Concurrency/Runtime/async_taskgroup_dontLeakTasks.swift
  test/Concurrency/Runtime/async_taskgroup_throw_recover.swift
  test/lit.cfg
Labels: concurrency

#66166 [Distributed] Relax ordering of checks in async_taskgroup_discarding_dontLeak
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
Labels: distributed

#65824 [5.9] CMake: fix missing `SWIFT_CONCURRENCY_GLOBAL_EXECUTOR`
  CMakeLists.txt
  stdlib/cmake/modules/StdlibOptions.cmake
  test/Driver/static-stdlib-autolink-linux.swift
  test/Driver/static-stdlib-linux.swift
  test/lit.cfg
  utils/build-script-impl
Labels: bug, Linux, build-script, autolinking, static libraries, swift 5.9, swift-autolink-extract

#66103 🍒[5.9][DiscardingTG] Undo pointer auth workaround; fix memory leaks
  include/swift/ABI/MetadataValues.h
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskGroup.swift
  stdlib/public/Concurrency/TaskSleep.swift
  stdlib/public/Concurrency/TaskSleepDuration.swift
  stdlib/toolchain/Compatibility56/include/Runtime/Concurrency.h
  test/Concurrency/Runtime/async_taskgroup_discarding.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_dontLeak_class_error.swift
  test/Concurrency/Runtime/async_taskgroup_dontLeakTasks.swift
  test/Concurrency/Runtime/async_taskgroup_throw_recover.swift
  test/lit.cfg
Labels: distributed, 🍒 release cherry pick, swift 5.9

#65933 [5.9][CodeComplete] Offer completions after `~` in an inheritance clause
  include/swift/IDE/CodeCompletionResult.h
  include/swift/IDE/CompletionLookup.h
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CompletionLookup.cpp
  lib/Parse/ParseDecl.cpp
  test/IDE/complete_without_constraint_type.swift
Labels: 🍒 release cherry pick, swift 5.9

#66129 [cherry-pick] [5.8] Build lsan with -gline-tables-only
  utils/build-presets.ini
Labels: 🍒 release cherry pick

#66173 [5.9][ConstraintSystem] Some more variadic generic fixes
  include/swift/AST/PackConformance.h
  include/swift/AST/PackExpansionMatcher.h
  lib/AST/Module.cpp
  lib/AST/PackConformance.cpp
  lib/AST/Type.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/pack-expansion-expressions.swift
Labels: 🍒 release cherry pick, swift 5.9

#66121 [5.9][CMake] Don't add an extraneous rpath to the swift-frontend
  tools/driver/CMakeLists.txt
Labels: 🍒 release cherry pick, swift 5.9

#65618 [5.9] Fix RelBase indexing with composite types (#65550)
  lib/Index/Index.cpp
  test/Index/conformances.swift
  test/Index/multifile.swift
Labels: 🍒 release cherry pick, swift 5.9

#65532 [5.9] Include extended typealias in index data
  lib/Index/Index.cpp
  test/Index/roles.swift
Labels: 🍒 release cherry pick, swift 5.9

#66212 swift_build_support/cmake.py: parallelize default CMake build
  utils/swift_build_support/swift_build_support/cmake.py
Labels: build-script, cmake

#65960 [5.9] Frontend: Don't append `-target-min-inlining-target target` to implicit module builds
  include/swift/Frontend/ModuleInterfaceLoader.h
  include/swift/Frontend/ModuleInterfaceSupport.h
  lib/Frontend/ModuleInterfaceLoader.cpp
  lib/Frontend/ModuleInterfaceSupport.cpp
  test/Interpreter/implicit-module-build-overload-availability-inlinable-function.swift
  test/ModuleInterface/availability-library-level-api-5_8.swiftinterface
  test/ModuleInterface/availability-library-level-api-5_9.swiftinterface
Labels: 🍒 release cherry pick, swift 5.9
