Repository swiftlang/swift, pull requests merged in 2023-04, with the labels that each got.

#64784 [5.9][interop][SwiftToCxx] do not error out on -Wnon-modular-include-in-fr…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-imported-into-framework-module.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#64844 [5.9] Sema: Ban unavailable deinits
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeChecker.h
  test/Sema/availability_deinit.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64842 5.9: [Mem2Reg] Fix store_borrow user block omission.
  lib/SILOptimizer/Transforms/SILMem2Reg.cpp
  test/SILOptimizer/mem2reg_borrows.sil
Labels: swift 5.9

#64684 [5.9] Variadic generics cherry-picks
  SwiftCompilerSources/Sources/SIL/Argument.swift
  SwiftCompilerSources/Sources/SIL/Effects.swift
  include/swift/AST/Types.h
  include/swift/IRGen/GenericRequirement.h
  include/swift/Runtime/RuntimeFunctions.def
  include/swift/SIL/SILCloner.h
  lib/AST/ASTContext.cpp
  lib/AST/ASTDemangler.cpp
  lib/AST/ASTMangler.cpp
  lib/AST/ParameterPack.cpp
  lib/Demangling/NodePrinter.cpp
  lib/IRGen/Fulfillment.cpp
  lib/IRGen/GenArchetype.cpp
  lib/IRGen/GenExistential.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenKeyPath.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenPack.cpp
  lib/IRGen/GenPack.h
  lib/IRGen/GenProto.cpp
  lib/IRGen/GenProto.h
  lib/IRGen/GenReflection.cpp
  lib/IRGen/GenericArguments.h
  lib/IRGen/GenericRequirement.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/NecessaryBindings.h
  lib/IRGen/TypeLayout.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/Serialization/Deserialization.cpp
  test/IRGen/partial_apply_forwarder.sil
  test/IRGen/run_variadic_generics.sil
  test/IRGen/variadic_generic_captures.swift
  test/IRGen/variadic_generic_fulfillment.swift
  test/IRGen/variadic_generic_outlining.sil
  test/Interpreter/Inputs/opaque_result_type_runtime_call_other.swift
  test/Interpreter/opaque_result_type_runtime_call.swift
  test/Interpreter/variadic_generic_captures.swift
  test/Interpreter/variadic_generic_types.swift
  test/Reflection/capture_descriptors.sil
  test/Serialization/Inputs/pack_expansion_type_other.swift
  test/Serialization/pack_expansion_type.swift
  test/TypeDecoder/constrained_existentials.swift
Labels: swift 5.9

#64812 [Executors] Move assert/assume APIs onto actors; assumeIsolated()
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/MainActor.swift
  stdlib/public/Distributed/DistributedAssertions.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Concurrency/Runtime/custom_executors_complex_equality.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_crash.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_subclass.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_basic.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Distributed/Runtime/distributed_actor_executor_asserts.swift
  test/IDE/complete_cache_notrecommended.swift
Labels: concurrency, distributed

#64820 [5.9][ConstraintSystem] Improvements to variadic generics inference
  lib/Sema/CSApply.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/tuple_arguments.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64740 🍒[5.9][Executors] Clean up how we unwrap the local executor of distributed custom actor
  include/swift/AST/ASTContext.h
  include/swift/AST/Availability.h
  include/swift/AST/KnownSDKDecls.def
  lib/AST/Availability.cpp
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Distributed/DistributedActor.swift
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_basic.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Distributed/SIL/distributed_actor_initialize_nondefault.swift
  utils/availability-macros.def
Labels: concurrency, distributed, 🍒 release cherry-pick, swift 5.9

#64800 [Executors] Ensure we treat DA older than 5.9 always as DefaultActor
  include/swift/AST/ASTContext.h
  include/swift/AST/Availability.h
  lib/AST/Availability.cpp
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_basic.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Distributed/SIL/distributed_actor_initialize_nondefault.swift
  utils/availability-macros.def
Labels: concurrency, distributed

#64874 [5.9][Test] Fix up macros using optional trivia API
  test/Macros/Inputs/syntax_macro_definitions.swift
Labels: swift 5.9

#64891 🍒[5.9] Fix test using assume APIs, which landed concurrently to API renames
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
Labels: concurrency, distributed

#59154 [cxx-interop] Enable a test on Linux
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: test suite, c++ interop, Linux

#64897 [cxx-interop] Treat un-instantiated templated types as unsafe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/templates/Inputs/large-class-templates.h
Labels: c++ interop

#64746 Create feature flag for SE-0384
  include/swift/Basic/Features.def
  include/swift/Option/FrontendOptions.td
  lib/AST/ASTPrinter.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/ClangImporter/incomplete_objc_types_availability.swift
  test/ClangImporter/incomplete_objc_types_base_interface.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete_inter_file_clang_definition.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete_inter_file_swift_definition.swift
  test/ClangImporter/incomplete_objc_types_compatibility_incomplete_incomplete.swift
  test/ClangImporter/incomplete_objc_types_full_availability.swift
  test/ClangImporter/incomplete_objc_types_importing_limitations_diagnostics.swift
  test/ClangImporter/incomplete_objc_types_no_reference.swift
  test/ClangImporter/incomplete_objc_types_no_root_protocol.swift
  test/ClangImporter/incomplete_objc_types_nsproxy.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_implementationOnly.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_name_conflict.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_shadow_type_mismatch.swift
Labels: swift 5.9

#64884 5.9: [TypeLowering] NFC: Fix lexicality verification for packs and tuples.
  lib/SIL/IR/TypeLowering.cpp
  test/SILGen/variadic-generic-tuples.swift
Labels: swift 5.9

#64902 [cxx-interop] Enable `use-std-optional` test on Linux
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#64866 [5.9] Fix MandatoryARCOpts tryJoiningCopyValueLiveRangeWithOperand.
  lib/SILOptimizer/SemanticARC/CopyValueOpts.cpp
  test/SILOptimizer/semantic-arc-opts-lifetime-joining.sil
Labels: swift 5.9

#64759 [5.9] [stdlib] Update the stdlib to use Unicode 15 data
  stdlib/private/StdlibUnicodeUnittest/UnicodeScalarProperties.swift
  stdlib/public/core/UnicodeScalarProperties.swift
  stdlib/public/stubs/Unicode/Apple/NormalizationData.h
  stdlib/public/stubs/Unicode/Apple/ScalarPropsData.h
  stdlib/public/stubs/Unicode/Common/CaseData.h
  stdlib/public/stubs/Unicode/Common/GraphemeData.h
  stdlib/public/stubs/Unicode/Common/NormalizationData.h
  stdlib/public/stubs/Unicode/Common/ScalarPropsData.h
  stdlib/public/stubs/Unicode/Common/ScriptData.h
  stdlib/public/stubs/Unicode/Common/WordData.h
  stdlib/public/stubs/Unicode/UnicodeWord.cpp
  test/stdlib/Inputs/GraphemeBreakTest.txt
  test/stdlib/Inputs/NormalizationTest15.txt
  test/stdlib/Inputs/WordBreakTest.txt
  utils/gen-unicode-data/Data/14/Apple/DerivedCoreProperties.txt
  utils/gen-unicode-data/Data/14/Apple/UnicodeData.txt
  utils/gen-unicode-data/Data/14/CaseFolding.txt
  utils/gen-unicode-data/Data/14/DerivedAge.txt
  utils/gen-unicode-data/Data/14/DerivedBinaryProperties.txt
  utils/gen-unicode-data/Data/14/DerivedCoreProperties.txt
  utils/gen-unicode-data/Data/14/DerivedGeneralCategory.txt
  utils/gen-unicode-data/Data/14/DerivedName.txt
  utils/gen-unicode-data/Data/14/DerivedNormalizationProps.txt
  utils/gen-unicode-data/Data/14/DerivedNumericType.txt
  utils/gen-unicode-data/Data/14/DerivedNumericValues.txt
  utils/gen-unicode-data/Data/14/GraphemeBreakProperty.txt
  utils/gen-unicode-data/Data/14/IndicSyllabicCategory.txt
  utils/gen-unicode-data/Data/14/NameAliases.txt
  utils/gen-unicode-data/Data/14/PropList.txt
  utils/gen-unicode-data/Data/14/ScriptExtensions.txt
  utils/gen-unicode-data/Data/14/Scripts.txt
  utils/gen-unicode-data/Data/14/SpecialCasing.txt
  utils/gen-unicode-data/Data/14/UnicodeData.txt
  utils/gen-unicode-data/Data/14/WordBreakProperty.txt
  utils/gen-unicode-data/Data/14/emoji-data.txt
  utils/gen-unicode-data/Data/15/Apple/DerivedCoreProperties.txt
  utils/gen-unicode-data/Data/15/Apple/UnicodeData.txt
  utils/gen-unicode-data/Data/15/CaseFolding.txt
  utils/gen-unicode-data/Data/15/DerivedAge.txt
  utils/gen-unicode-data/Data/15/DerivedBinaryProperties.txt
  utils/gen-unicode-data/Data/15/DerivedCoreProperties.txt
  utils/gen-unicode-data/Data/15/DerivedGeneralCategory.txt
  utils/gen-unicode-data/Data/15/DerivedName.txt
  utils/gen-unicode-data/Data/15/DerivedNormalizationProps.txt
  utils/gen-unicode-data/Data/15/DerivedNumericType.txt
  utils/gen-unicode-data/Data/15/DerivedNumericValues.txt
  utils/gen-unicode-data/Data/15/GraphemeBreakProperty.txt
  utils/gen-unicode-data/Data/15/IndicSyllabicCategory.txt
  utils/gen-unicode-data/Data/15/NameAliases.txt
  utils/gen-unicode-data/Data/15/PropList.txt
  utils/gen-unicode-data/Data/15/ScriptExtensions.txt
  utils/gen-unicode-data/Data/15/Scripts.txt
  utils/gen-unicode-data/Data/15/SpecialCasing.txt
  utils/gen-unicode-data/Data/15/UnicodeData.txt
  utils/gen-unicode-data/Data/15/WordBreakProperty.txt
  utils/gen-unicode-data/Data/15/emoji-data.txt
  validation-test/stdlib/StringGraphemeBreaking.swift
  validation-test/stdlib/StringNormalization.swift
  validation-test/stdlib/StringWordBreaking.swift
  validation-test/stdlib/UnicodeScalarProperties.swift
Labels: swift 5.9

#64835 [5.9] Sema: Ban unavailable stored properties
  CHANGELOG.md
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/ClangImporter/Inputs/frameworks/SPIContainer.framework/Headers/SPIContainer.h
  test/ClangImporter/availability_spi_as_unavailable.swift
  test/ClangImporter/availability_spi_library_level_spi.swift
  test/IRGen/float16_macos.swift
  test/IRGen/unavailable_decl_optimization_class.swift
  test/IRGen/unavailable_decl_optimization_struct.swift
  test/Migrator/double_fixit_ok.swift
  test/Migrator/double_fixit_ok.swift.expected
  test/SILGen/unavailable_decl_optimization.swift
  test/Sema/availability.swift
  test/Sema/availability_script_mode.swift
  test/Sema/availability_stored_unavailable.swift
  test/Sema/availability_versions.swift
  test/Sema/generalized_accessors_availability.swift
  test/api-digester/Inputs/cake.swift
  test/api-digester/Outputs/cake-abi.json
  test/attr/attr_availability_transitive_osx.swift
  test/expr/unary/keypath/keypath.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64924 [interop] support 'default' mode for '-cxx-interoperability-mode' option
  docs/CppInteroperability/GettingStartedWithC++Interop.md
  include/swift/AST/DiagnosticsFrontend.def
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/driver/enable-interop-flag-depr.swift
  test/Interop/Cxx/driver/invalid-interop-compat-mode.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_cxx_module.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
  test/lit.cfg
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64841 [cxx-interop] Make sure interop does not trigger TBD validation errors
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  test/Interop/Cxx/class/inline-function-codegen/static-var-init-calls-function-execution.swift
  test/Interop/Cxx/class/inline-function-codegen/static-var-init-calls-function-irgen.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#64962 [5.9] Sema: Only diagnose unavailable attr when it is active for the target
  lib/Sema/TypeCheckAttr.cpp
  test/Sema/availability_stored_unavailable_maccatalyst.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64972 [cxx-interop] Conform `std::string` to Hashable
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
  stdlib/public/Cxx/cxxshim/libcxxshim.modulemap
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#64929 [5.9][Release Notes] Issue #64927: Constrain implicit raw pointer
  CHANGELOG.md
Labels: swift 5.9

#64976 [5.9] More variadic generics cherry picks
  include/swift/AST/Types.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/ParameterPack.cpp
  lib/AST/RequirementEnvironment.cpp
  lib/AST/RequirementMachine/RequirementLowering.cpp
  lib/AST/Type.cpp
  lib/IRGen/GenProto.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/Sema/TypeCheckProtocol.cpp
  lib/Sema/TypeCheckProtocolInference.cpp
  test/IRGen/variadic_generic_captures.swift
  test/Interpreter/variadic_generic_conformances.swift
  test/ModuleInterface/pack_expansion_type.swift
  test/decl/protocol/conforms/variadic_generic_type.swift
Labels: swift 5.9

#64911 [interop] update names and add docs for the interop C++ helper macros
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/bridging
  lib/ClangImporter/module.modulemap
  lib/Sema/CSDiagnostics.cpp
  test/Interop/Cxx/class/fixit-add-safe-to-import-self-contained.swift
  test/Interop/Cxx/class/invalid-class-errors.swift
  test/Interop/Cxx/class/invalid-unsafe-projection-errors.swift
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
  test/Interop/Cxx/foreign-reference/value-type-errors.swift
Labels: c++ interop

#64981 5.9: [DCE] Destroys of live values are live.
  lib/SILOptimizer/Transforms/DeadCodeElimination.cpp
  test/SILOptimizer/dead_code_elimination_ossa.sil
Labels: swift 5.9

#64872 [5.9] Fully enable ExperimentalStringProcessing
  include/swift/Basic/LangOptions.h
  lib/Frontend/CompilerInvocation.cpp
  test/IDE/complete_from_stdlib.swift
  test/StringProcessing/Parse/forward-slash-regex-disabled.swift
  test/StringProcessing/Sema/string_processing_import.swift
  test/StringProcessing/Sema/string_processing_module_shadowing.swift
  tools/swift-ide-test/swift-ide-test.cpp
  tools/swift-refactor/swift-refactor.cpp
  utils/refactor-check-compiles.py
  utils/swift-api-dump.py
Labels: swift 5.9

#64983 5.9: [LexicalLifetimeEliminator] Removed flag from move_values.
  include/swift/SIL/SILInstruction.h
  lib/SILOptimizer/Mandatory/LexicalLifetimeEliminator.cpp
  test/SILOptimizer/lexical_lifetime_elim.sil
Labels: swift 5.9

#64984 5.9: [TypeLowering] Fixed verifier variable shadowing.
  lib/SIL/IR/TypeLowering.cpp
  test/SILGen/lexical_lifetime.swift
Labels: swift 5.9

#64988 [5.9][interop] support 'default' mode for '-cxx-interoperability-mode' option
  docs/CppInteroperability/GettingStartedWithC++Interop.md
  include/swift/AST/DiagnosticsFrontend.def
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/driver/enable-interop-flag-depr.swift
  test/Interop/Cxx/driver/invalid-interop-compat-mode.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_cxx_module.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
  test/lit.cfg
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64982 🍒[cxx-interop] Conform `std::string` to Hashable
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
  stdlib/public/Cxx/cxxshim/libcxxshim.modulemap
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#64996 [5.9] Macro changes for the swift/bridging header
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/bridging
  lib/ClangImporter/module.modulemap
  lib/ClangImporter/swift-interop-support.h
  lib/Sema/CSDiagnostics.cpp
  test/Interop/Cxx/class/fixit-add-safe-to-import-self-contained.swift
  test/Interop/Cxx/class/invalid-class-errors.swift
  test/Interop/Cxx/class/invalid-unsafe-projection-errors.swift
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
  test/Interop/Cxx/foreign-reference/value-type-errors.swift
Labels: c++ interop

#64918 🍒[cxx-interop] Treat un-instantiated templated types as unsafe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/templates/Inputs/large-class-templates.h
Labels: c++ interop

#65007 🍒[cxx-interop] Make sure interop does not trigger TBD validation errors
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  test/Interop/Cxx/class/inline-function-codegen/static-var-init-calls-function-execution.swift
  test/Interop/Cxx/class/inline-function-codegen/static-var-init-calls-function-irgen.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#65000 [5.9] MultiDefPrunedLiveness: add support for arbitrary uses/defs
  include/swift/SIL/PrunedLiveness.h
  include/swift/SIL/ScopedAddressUtils.h
  include/swift/SILOptimizer/Utils/ParseTestSpecification.h
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Utils/OSSALifetimeCompletion.cpp
  lib/SIL/Utils/PrunedLiveness.cpp
  lib/SIL/Utils/ScopedAddressUtils.cpp
  lib/SILOptimizer/UtilityPasses/ParseTestSpecification.cpp
  lib/SILOptimizer/UtilityPasses/UnitTestRunner.cpp
  test/SILOptimizer/liveness_incomplete_unit.sil
  test/SILOptimizer/liveness_unit.sil
Labels: swift 5.9

#62151 Deprecate Application-Specific Main Entrypoint Attributes
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/TBD/objc-entry-point.swift
  test/attr/ApplicationMain/attr_NSApplicationMain.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_inherited.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_multi_file/another_delegate.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_multi_file/delegate.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_multiple.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_not_NSApplicationDelegate.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_swift6.swift
  test/attr/ApplicationMain/attr_NSApplicationMain_with_main/delegate.swift
  test/attr/ApplicationMain/attr_UIApplicationMain.swift
  test/attr/ApplicationMain/attr_UIApplicationMain_inherited.swift
  test/attr/ApplicationMain/attr_UIApplicationMain_multiple.swift
  test/attr/ApplicationMain/attr_UIApplicationMain_not_UIApplicationDelegate.swift
  test/attr/ApplicationMain/attr_UIApplicationMain_swift6.swift
  test/attr/ApplicationMain/attr_UIApplicationMain_with_main/delegate.swift
Labels: swift evolution approved, swift evolution implemented

#64969 [Executors] Remote distributed actors get "crash on enqueue" default executor
  include/swift/AST/Decl.h
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/KnownSDKDecls.def
  lib/AST/Decl.cpp
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/DerivedConformances.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedAssertions.swift
  stdlib/public/Distributed/DistributedDefaultExecutor.swift
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_basic.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Distributed/Runtime/distributed_actor_executor_asserts.swift
  test/Distributed/Runtime/distributed_actor_executor_default.swift
  test/Distributed/SIL/distributed_actor_initialize_nondefault.swift
  test/Distributed/actor_protocols.swift
  test/Distributed/distributed_actor_executor_ast.swift
Labels: concurrency, distributed

#64821 [5.9][IRGen] Add flags to enable or disable generation of layout string va…
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/IRGenOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenValueWitness.cpp
Labels: swift 5.9

#65045 [interop] mark C++ virtual functions as unavailable in Swift
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
Labels: c++ interop

#65029 [5.9][Completion] Only provide macro completions when they are valid
  include/swift/IDE/CodeCompletionCache.h
  include/swift/IDE/CodeCompletionResult.h
  include/swift/IDE/CodeCompletionResultType.h
  include/swift/IDE/CompletionLookup.h
  lib/IDE/AfterPoundExprCompletion.cpp
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CodeCompletionCache.cpp
  lib/IDE/CodeCompletionConsumer.cpp
  lib/IDE/CodeCompletionResult.cpp
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_decl_attribute.swift
  test/IDE/complete_init.swift
  test/IDE/complete_macros.swift
  test/IDE/complete_pound_directive.swift
  test/IDE/complete_pound_expr.swift
  test/SourceKit/CodeComplete/complete_sort_order.swift
  tools/SourceKit/lib/SwiftLang/CodeCompletionOrganizer.cpp
Labels: swift 5.9

#65049 [5.9][CSSyntaticElement] Desugar types before collecting "in scope" type v…
  lib/Sema/CSSyntacticElement.cpp
  validation-test/Sema/SwiftUI/rdar107835060.swift
Labels: 🍒 release cherry-pick, swift 5.9

#65070 5.9: [TempRValueOpt] Fold new destroy_addrs into loads.
  lib/SILOptimizer/Transforms/TempRValueElimination.cpp
  test/SILOptimizer/temp_rvalue_opt_ossa.sil
Labels: swift 5.9

#65038 🍒[5.9][Concurrency] Rename Job to ExecutorJob, ease transition with typealias
  include/swift/AST/KnownSDKTypes.def
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
Labels: 🍒 release cherry-pick, swift 5.9

#65055 [cxx-interop] Include `Cxx` and `CxxStdlib` modules in no-stdlib builds
  CMakeLists.txt
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#65043 [interop] make interop diagnostics more consistent with the rest of S…
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/DiagnosticsSema.def
  test/Inputs/clang-importer-sdk/usr/include/objc_structs.h
  test/Interop/Cxx/class/fixit-add-safe-to-import-self-contained.swift
  test/Interop/Cxx/class/fixits-for-std-vector.swift
  test/Interop/Cxx/class/invalid-class-errors.swift
  test/Interop/Cxx/class/invalid-unsafe-projection-errors.swift
  test/Interop/Cxx/driver/dont-enable-interop-compat.swift
  test/Interop/Cxx/driver/enable-interop-flag-depr.swift
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
  test/Interop/Cxx/foreign-reference/value-type-errors.swift
  test/Interop/Cxx/templates/class-template-instantiation-typechecker.swift
  test/Interop/Cxx/templates/function-template-typechecker-errors.swift
Labels: c++ interop

#65056 [interop] do not import functions whose return type is not imported
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/returns-unavailable-class.swift
Labels: c++ interop

#65093 [5.9] test: adjust tests for mandatory tail calls on Win64
  test/IRGen/async/hop_to_executor.sil
  test/IRGen/async/non_musttail_target.sil
  test/IRGen/async/run-call-dynamic-void_to_void.swift
  test/IRGen/async_dynamic_replacement.swift
Labels: swift 5.9

#65096 [5.9][Executors] update assertion in distributed_actor_executor_asserts.swift
  test/Distributed/Runtime/distributed_actor_executor_asserts.swift
Labels: concurrency, test failure

#65057 [cxx-interop] Adding std.string initializer for UnsafePointer<CChar>?
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#65138 [cxx-interop] Fix CxxStdlib build error on CentOS
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#65124 5.9: [AccessSummaryAnalysis] Look through moves in hasExpectedUsesOfNoEscapePartialApply.
  lib/SILOptimizer/Analysis/AccessSummaryAnalysis.cpp
  test/SILOptimizer/access_summary_analysis.sil
Labels: swift 5.9

#65153 [cxx-interop] Add missing dependency to CxxStdlib
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#65154 🍒[cxx-interop] Add missing dependency to CxxStdlib
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#65065 🍒[cxx-interop] Include `Cxx` and `CxxStdlib` modules in no-stdlib builds
  CMakeLists.txt
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#65017 [5.9][IRGen] Reject enums with inaccessible tpye metadata in layout string…
  lib/IRGen/TypeLayout.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: swift 5.9

#65212 [5.9] [Executors] Avoid using Job typealias and use the ExecutorJob explicitly
  stdlib/public/Distributed/DistributedDefaultExecutor.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_crash.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
Labels: swift 5.9

#65207 Fix `symbol-visibility-linux.test-sh` on CentOS
  test/stdlib/symbol-visibility-linux.test-sh
Labels: c++ interop

#65220 Fix pointer auth issues for discarding task group operation pointer
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency

#65223 🍒[5.9] Fix pointer auth issues for discarding task group operation pointer
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency, 🍒 release cherry-pick, swift 5.9

#65102 [5.9][stdlib] Create an offset based keypath at runtime
  stdlib/public/core/KeyPath.swift
  test/stdlib/KeyPath.swift
Labels: swift 5.9

#65259 [cxx-interop] Enable CxxShim headers for armv7k watchOS
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#65262 🍒[cxx-interop] Enable CxxShim headers for armv7k watchOS
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#65144 [cxx-interop] Make `CxxConvertibleToCollection.forEach` public
  benchmark/cxx-source/CxxSetToCollection.swift
  stdlib/public/Cxx/CxxConvertibleToCollection.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#65271 Fix main executor check in `startOnMainActor`
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
Labels: concurrency

#65242 Re-enable discarding group tests
  test/Concurrency/Runtime/async_taskgroup_discarding.swift
  test/Concurrency/Runtime/async_taskgroup_discarding_neverConsumingTasks.swift
  test/Concurrency/Runtime/async_taskgroup_throw_rethrow.swift
Labels: concurrency

#65241 SIL Optimizer improvements for variadic generics [5.9]
  lib/AST/SubstitutionMap.cpp
  lib/IRGen/Fulfillment.cpp
  lib/SIL/IR/SILInstruction.cpp
  lib/SILOptimizer/LoopTransforms/LoopUnroll.cpp
  lib/SILOptimizer/SILCombiner/SILCombiner.h
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  lib/SILOptimizer/Transforms/CSE.cpp
  lib/SILOptimizer/Utils/ConstantFolding.cpp
  lib/Serialization/DeclTypeRecordNodes.def
  lib/Serialization/Deserialization.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SILFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializeSIL.cpp
  test/SIL/Serialization/pack_expansion_type.swift
  test/SILOptimizer/constant_propagation.sil
  test/SILOptimizer/loop_unroll.sil
  test/SILOptimizer/tuples_from_packs.swift
Labels: swift 5.9

#65277 5.9: [Concurrency] Nest stack traffic in withValue.
  stdlib/public/BackDeployConcurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskLocal.swift
  validation-test/Concurrency/rdar107275872.swift
Labels: swift 5.9

#65222 build: Fixes for building Cxx w/, w/o stdlib
  CMakeLists.txt
  stdlib/public/Cxx/CMakeLists.txt
Labels: 🍒 release cherry-pick, swift 5.9

#65226 docs: convert `Modules.rst` to Markdown
  docs/Modules.md
  docs/Modules.rst
  docs/README.md
Labels: documentation, contributor experience

#65312 Various variadic generic fixes [5.9]
  include/swift/AST/PrintOptions.h
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Serialization/DeclTypeRecordNodes.def
  lib/Serialization/Deserialization.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFile.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SILFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/Serialization.h
  lib/Serialization/SerializeSIL.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/pack_expansion_types.swift
  test/Constraints/variadic_generic_constraints.swift
  test/DebugInfo/variadic-generics-count.swift
  test/Generics/pack-shape-requirements.swift
  test/Generics/variadic_generic_requirements.swift
  test/IRGen/variadic_generic_captures.swift
  test/IRGen/variadic_generic_functions.sil
  test/IRGen/variadic_generic_functions.swift
  test/IRGen/variadic_generic_outlining.sil
  test/IRGen/variadic_generic_types.swift
  test/ModuleInterface/pack_expansion_type.swift
  test/SIL/Parser/variadic_generics.sil
  test/SIL/Serialization/pack_expansion_type.swift
  test/SILGen/pack_expansion_type.swift
  test/SILGen/variadic-generic-arguments.swift
  test/SILGen/variadic-generic-reabstraction.swift
  test/SILGen/variadic-generic-results.swift
  test/SILGen/variadic-generic-tuples.swift
  test/SILOptimizer/variadic_generics.sil
  test/type/pack_expansion.swift
Labels: swift 5.9

#65100 [5.9][interop] mark C++ virtual functions as unavailable in Swift
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
Labels: c++ interop

#65103 [5.9][interop] make interop diagnostics more consistent with the rest of S…
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/DiagnosticsSema.def
  test/Inputs/clang-importer-sdk/usr/include/objc_structs.h
  test/Interop/Cxx/class/fixit-add-safe-to-import-self-contained.swift
  test/Interop/Cxx/class/fixits-for-std-vector.swift
  test/Interop/Cxx/class/invalid-class-errors.swift
  test/Interop/Cxx/class/invalid-unsafe-projection-errors.swift
  test/Interop/Cxx/driver/dont-enable-interop-compat.swift
  test/Interop/Cxx/driver/enable-interop-flag-depr.swift
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
  test/Interop/Cxx/foreign-reference/value-type-errors.swift
  test/Interop/Cxx/templates/class-template-instantiation-typechecker.swift
  test/Interop/Cxx/templates/function-template-typechecker-errors.swift
Labels: c++ interop

#65104 [5.9][interop] add availability for foreign reference types
  SwiftCompilerSources/Sources/AST/DiagnosticEngine.swift
  SwiftCompilerSources/Sources/Parse/Regex.swift
  include/swift/AST/ASTBridging.h
  include/swift/AST/BridgingUtils.h
  include/swift/AST/DiagnosticEngine.h
  include/swift/Basic/Compiler.h
  include/swift/Parse/RegexParserBridging.h
  lib/AST/ASTBridging.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Parse/Lexer.cpp
  lib/Parse/ParseRegex.cpp
  test/Interop/Cxx/foreign-reference/base-class-layout-irgen.swift
  test/Interop/Cxx/foreign-reference/move-only-irgen.swift
  test/Interop/Cxx/foreign-reference/move-only-silgen.swift
  test/Interop/Cxx/foreign-reference/move-only.swift
  test/Interop/Cxx/foreign-reference/nullable.swift
  test/Interop/Cxx/foreign-reference/pod-irgen.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface-macos.swift
  test/Interop/Cxx/foreign-reference/pod-silgen.swift
  test/Interop/Cxx/foreign-reference/pod.swift
  test/Interop/Cxx/foreign-reference/reference-counted-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton-irgen.swift
  test/Interop/Cxx/foreign-reference/singleton-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton.swift
  test/Interop/Cxx/foreign-reference/unimportable-member-layout-irgen.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: c++ interop

#65318 Revert "Sema: Emit diagnostics when walking into collection literals with defaulted types"
  lib/Sema/MiscDiagnostics.cpp
  test/Constraints/array_literal.swift
  test/Constraints/casts.swift
  test/Constraints/casts_swift6.swift
  test/Constraints/construction.swift
  test/Constraints/dictionary_literal.swift
  test/Constraints/subscript.swift
  test/IDE/print_usrs_opaque_types.swift
  test/Parse/matching_patterns.swift
  test/Parse/matching_patterns_reference_bindings.swift
  test/expr/cast/objc_coerce_array.swift
Labels: bug, compiler, diagnostics QoI, type checker, literals, expressions, unexpected warning

#65319 [5.9 🍒] Revert "Sema: Emit diagnostics when walking into collection literals with defaulted types"
  lib/Sema/MiscDiagnostics.cpp
  test/Constraints/array_literal.swift
  test/Constraints/casts.swift
  test/Constraints/casts_swift6.swift
  test/Constraints/construction.swift
  test/Constraints/dictionary_literal.swift
  test/Constraints/subscript.swift
  test/IDE/print_usrs_opaque_types.swift
  test/Parse/matching_patterns.swift
  test/Parse/matching_patterns_reference_bindings.swift
  test/expr/cast/objc_coerce_array.swift
Labels: bug, compiler, diagnostics QoI, type checker, literals, 🍒 release cherry-pick, expressions, swift 5.9, unexpected warning

#65341 Try harder not to emit calls to swift_getExtendedExistentialTypeMetadata() [5.9]
  include/swift/SIL/SILType.h
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenEnum.h
  lib/IRGen/GenRecord.h
  lib/IRGen/Outlining.cpp
  test/IRGen/extended_existential_metadata.swift
  test/IRGen/variadic_generic_outlining.sil
Labels: swift 5.9

#65338 [interop][SwiftToCxx] do not expose unsupported enums yet
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/cross-module-refs/Inputs/enums.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
Labels: c++ interop

#65349 5.9: [SIL] Accesses to globals are deinit barriers.
  include/swift/SIL/MemAccessUtils.h
  lib/SIL/Utils/MemAccessUtils.cpp
  test/SILOptimizer/deinit_barrier.sil
  test/SILOptimizer/side_effects.sil
Labels: swift 5.9

#65327 [5.9][IRGen] Fix layout string generation for pre-specialized metadata
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenValueWitness.cpp
  stdlib/public/runtime/Metadata.cpp
  test/IRGen/layout_string_union_types.swift
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: swift 5.9

#65163 [5.9][IRGen] Use ConditionalDominanceScope in AbstractMetadataAccessor::em…
  lib/IRGen/GenMeta.cpp
  test/IRGen/Inputs/opaque_result_with_conditional_availability_types.swift
  test/IRGen/opaque_result_with_conditional_availability.swift
Labels: swift 5.9

#65019 [5.9][IRGen] Pass component generic sig when emitting key path component for external property
  lib/IRGen/GenKeyPath.cpp
  validation-test/IRGen/rdar101179225.swift
Labels: swift 5.9

#65018 [5.9][IRGen] Prevent overflow in RecordField with large explosions
  include/swift/AST/DiagnosticsIRGen.def
  lib/IRGen/GenRecord.h
Labels: swift 5.9

#65380 5.9: [AllocBoxToStack] Specialize moved PAIs.
  lib/SILOptimizer/Transforms/AllocBoxToStack.cpp
  test/SILOptimizer/allocbox_to_stack.sil
Labels: swift 5.9

#65351 [interop][SwiftToCxx] do not expose unsupported enums yet
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/cross-module-refs/Inputs/enums.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
Labels: c++ interop

#65352 [interop][SwiftToCxx] do not assert when emitting non-resilient struc…
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/structs/struct-with-opaque-layout-resilient-member-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/structs/struct-with-opaque-layout-resilient-member-in-cxx.swift
Labels: c++ interop

#65379 5.9: [SILGen] Consuming a param implies it's eager-move.
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/ASTDumper.cpp
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/SILGen/consuming_parameter.swift
  test/SILOptimizer/consuming_parameter.swift
  test/attr/lexical.swift
Labels: swift 5.9

#65374 SIL: TypeSubstCloner::remapASTType() should not call getLoweredRValueType() [5.9]
  include/swift/SIL/TypeSubstCloner.h
Labels: swift 5.9

#65407 [Executors] Remove accidentally added availability on asUnownedSerial Executor
  stdlib/public/Concurrency/Executor.swift
Labels: concurrency

#65414 SIL: Bridge 'any Sendable' via the id-as-Any path [5.9]
  include/swift/AST/Types.h
  lib/AST/Type.cpp
  lib/SIL/IR/Bridging.cpp
  test/SILGen/Inputs/objc_bridging_sendable.h
  test/SILGen/objc_bridging_sendable.swift
Labels: swift 5.9

#65430 Sema: Ban shadowing generic parameters from outer scopes [5.9]
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckGeneric.cpp
  lib/Sema/TypeChecker.h
  test/AutoDiff/Sema/derivative_attr_type_checking.swift
  test/Compatibility/accessibility.swift
  test/Constraints/generics.swift
  test/Constraints/issue-53296.swift
  test/Constraints/members.swift
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/super_method.swift
  test/Generics/shadowed_generic_params.swift
  test/Sema/accessibility.swift
  test/Sema/moveonly_illegal_types.swift
  test/attr/attr_override.swift
  test/attr/attr_rethrows_protocol.swift
  test/decl/ext/generic.swift
  test/decl/nested/type_in_extension.swift
  test/decl/nested/type_in_function.swift
  test/decl/nested/type_in_type.swift
  test/decl/overload.swift
  test/decl/protocol/existential_member_accesses_self_assoctype.swift
  test/decl/typealias/generic.swift
  validation-test/Sema/result_builder_buildBlock_resolution.swift
Labels: swift 5.9

#65432 [5.9] Sema: Relax distributed actor typechecking for swiftinterfaces
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDistributed.cpp
  test/ModuleInterface/distributed-actor.swift
Labels: 🍒 release cherry-pick, swift 5.9

#62235 stdlib: Improve Never documentation
  stdlib/public/core/Policy.swift
Labels: improvement, standard library, documentation

#65452 [5.9][interop] Ensure an FRT or a pointer to struct/class gets a Swift typ…
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
Labels: c++ interop

#65447 [interop] Ensure an FRT or a pointer to struct/class gets a Swift typ…
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
Labels: c++ interop

#65365 [interop][SwiftToCxx] do not expose enums with a protocol type associ…
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/unsupported/unsupported-enums-in-cxx.swift
Labels: c++ interop

#65401 [interop][SwiftToCxx] do not assert when emitting a public var and fu…
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
Labels: c++ interop

#65437 [interop] avoid importing math functions from the C++ standard library
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/import-cxx-math-ambiguities.swift
Labels: c++ interop

#65491 [5.9][Macros] Automatically format expanded macros
  include/swift/Refactoring/RefactoringKinds.def
  lib/ASTGen/CMakeLists.txt
  lib/ASTGen/Sources/ASTGen/Macros.swift
  lib/Refactoring/Refactoring.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand.swift
  test/Macros/macro_expand_primary.swift
  test/SourceKit/Macros/macro_basic.swift
  test/SourceKit/Macros/macro_formatting.swift
Labels: swift 5.9

#65520 [5.9][Completion] Add convertible type relation for attached macros
  include/swift/IDE/CodeCompletionResult.h
  lib/IDE/CodeCompletionConsumer.cpp
  lib/IDE/CodeCompletionResult.cpp
  lib/IDE/CodeCompletionResultBuilder.cpp
  test/IDE/complete_macros.swift
  tools/SourceKit/lib/SwiftLang/CodeCompletionOrganizer.cpp
  tools/SourceKit/lib/SwiftLang/SwiftCompletion.cpp
  tools/swift-ide-test/swift-ide-test.cpp
Labels: swift 5.9
