Repository swiftlang/swift, pull requests merged in 2023-03, with the labels that each got.

#63970 [interop][SwiftToCxx] diagnose when certain generic decls can not yet…
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/unsupported/unsupported-generics-in-cxx.swift
Labels: c++ interop

#63973 [cxx-interop] Conform `std::u16string` to `CustomStringConvertible` and `CustomDebugStringConvertible`
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#63987 Enable Concurrency ABI verifier test on apple silicon
  test/api-digester/stability-concurrency-abi.test
Labels: concurrency

#64046 [interop][SwiftToCxx] do not require @_expose when generating C++ interface for a Swift module
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  include/swift/Basic/Features.def
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/Options.td
  lib/AST/ASTPrinter.cpp
  lib/AST/SwiftNameTranslation.cpp
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  lib/PrintAsClang/experimental-interoperability-version.json
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-function-overloads.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-funcs-in-cxx.swift
Labels: c++ interop

#64050 [Concurrency] Fix continuation documentation about execution semantics
  stdlib/public/Concurrency/CheckedContinuation.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
Labels: concurrency

#64030 [Concurrency] Add "assume on (actor) executor" APIs
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/ExecutorAssertions.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/IDE/complete_concurrency_keyword.swift
Labels: concurrency

#63812 SILGen: Account for abstraction differences when assigning in key path setters
  lib/SILGen/SILGenExpr.cpp
  test/SILGen/keypath_accessors_reabstraction.swift
Labels: bug, compiler, SILGen, key paths, generics, function types

#64062 [Concurrency] Complement assume... APIs with the assert and precondition ones
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/core/AssertCommon.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor.swift
  test/SourceKit/Indexing/index_with_clang_module.swift
Labels: concurrency

#64075 [interop][SwiftToCxx] use 'nodebug' for inline thunks and apply inline and artificial attributes to lambd…
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
Labels: c++ interop

#64083 [interop][SwiftToCxx] incorporate argument labels into Stdlib API nam…
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#62968 Implement convenience factory methods for Async[Throwing]Stream
  stdlib/public/Concurrency/AsyncStream.swift
  stdlib/public/Concurrency/AsyncThrowingStream.swift
  test/Concurrency/Runtime/async_stream.swift
Labels: concurrency, swift evolution implemented

#63683 [cxx-interop] Add `CxxOptional` protocol for `std::optional` ergonomics
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxOptional.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#64054 Concurrency: swift_task_startOnMainActor
  include/swift/Runtime/Concurrency.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/Runtime/startOnMainActor.swift
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
Labels: concurrency

#64172 [android][test] Fix two C++ Interop tests that were recently updated on macOS
  test/Interop/Cxx/class/constructors-copy-irgen-android.swift
  test/Interop/Cxx/class/constructors-irgen-android.swift
Labels: c++ interop

#62789 Fix typo in InstOptUtils.cpp
  lib/SILOptimizer/Utils/InstOptUtils.cpp
Labels: compiler, gardening

#63545 DiagnosticVerifier: Implement defaulting behavior for lines in expected fix-it replacement range
  include/swift/Frontend/DiagnosticVerifier.h
  lib/Frontend/DiagnosticVerifier.cpp
  test/AutoDiff/SILOptimizer/differentiation_control_flow_diagnostics.swift
  test/AutoDiff/Sema/derivative_attr_type_checking.swift
  test/Concurrency/async_initializer.swift
  test/Concurrency/require-explicit-sendable.swift
  test/Constraints/diagnostics.swift
  test/Constraints/result_builder_diags.swift
  test/Constraints/result_builder_infer.swift
  test/Constraints/tuple_arguments.swift
  test/Distributed/distributed_protocol_isolation.swift
  test/Frontend/verify-fixits.swift
  test/Generics/associated_type_where_clause_hints.swift
  test/Parse/invalid.swift
  test/Parse/try.swift
  test/Parse/try_swift5.swift
  test/Sema/availability_versions.swift
  test/Sema/exhaustive_switch.swift
  test/Sema/immutability.swift
  test/attr/attr_availability_narrow.swift
  test/attr/attr_availability_tvos.swift
  test/attr/attr_availability_watchos.swift
  test/attr/attr_ibsegueaction.swift
  test/attr/attr_objc_override.swift
  test/attr/open.swift
  test/attr/open_objc.swift
  test/attr/require_explicit_availability.swift
  test/decl/class/override.swift
  test/decl/func/operator.swift
  test/decl/protocol/conforms/fixit_stub.swift
  test/decl/protocol/fixits_missing_protocols_in_context.swift
  test/decl/protocol/objc.swift
  test/decl/protocol/protocols.swift
  test/decl/protocol/special/coding/class_codable_inheritance_diagnostics.swift
  test/expr/closure/trailing.swift
  test/stmt/nonexhaustive_switch_stmt_editor.swift
  test/stmt/statements.swift
  test/stmt/switch_stmt2.swift
  test/stmt/switch_stmt_editor2.swift
Labels: compiler, feature, diagnostic verifier

#64177 [interop] Configure libstdc++ module map at runtime
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/ClangImporter/ClangIncludePaths.h
  stdlib/public/Cxx/std/libstdcxx.h
  stdlib/public/Cxx/std/libstdcxx.modulemap
  test/Interop/Cxx/stdlib/import-string-view-from-std.swift
  unittests/ClangImporter/CMakeLists.txt
  unittests/ClangImporter/ClangImporterTests.cpp
Labels: c++ interop

#61606 Import Forward Declared Objective-C Interfaces and Protocols
  include/swift/AST/ASTContext.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/AST/Module.h
  include/swift/Option/FrontendOptions.td
  lib/AST/Module.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/Serialization/Serialization.cpp
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/complete-swift-types.swift
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/complete-types.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/complete-types.m
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-noroottype-protocol-library.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-noroottype-protocol-library.m
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-nsproxy-library.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-nsproxy-library.m
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-type-library-1.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-type-library-1.m
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-type-library-2.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/incomplete-type-library-2.m
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/module.modulemap
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/objc-library-forward-declaring-complete-swift-types.h
  test/ClangImporter/Inputs/custom-modules/IncompleteTypes/objc-library-forward-declaring-complete-swift-types.m
  test/ClangImporter/experimental_clang_importer_diagnostics_bridging_header.swift
  test/ClangImporter/experimental_diagnostics_incomplete_types.swift
  test/ClangImporter/experimental_diagnostics_incomplete_types_negative.swift
  test/ClangImporter/experimental_diagnostics_no_noise.swift
  test/ClangImporter/experimental_diagnostics_opt_out.swift
  test/ClangImporter/experimental_eager_diagnostics.swift
  test/ClangImporter/incomplete_objc_types_availability.swift
  test/ClangImporter/incomplete_objc_types_base_interface.swift
  test/ClangImporter/incomplete_objc_types_base_interface_swift_6.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete_inter_file_clang_definition.swift
  test/ClangImporter/incomplete_objc_types_compatibility_complete_incomplete_inter_file_swift_definition.swift
  test/ClangImporter/incomplete_objc_types_compatibility_incomplete_incomplete.swift
  test/ClangImporter/incomplete_objc_types_full_availability.swift
  test/ClangImporter/incomplete_objc_types_full_availability_swift_6.swift
  test/ClangImporter/incomplete_objc_types_importing_limitations_diagnostics.swift
  test/ClangImporter/incomplete_objc_types_no_reference.swift
  test/ClangImporter/incomplete_objc_types_no_root_protocol.swift
  test/ClangImporter/incomplete_objc_types_nsproxy.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_implementationOnly.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_name_conflict.swift
  test/ClangImporter/incomplete_objc_types_swift_definition_imported_shadow_type_mismatch.swift
  test/IDE/print_clang_ObjectiveC.swift
  test/SourceKit/CursorInfo/Inputs/custom-modules/ForwardDeclarations/ForwardDeclaredInterfaceFoo.h
  test/SourceKit/CursorInfo/Inputs/custom-modules/ForwardDeclarations/ProtocolFoo.h
  test/SourceKit/CursorInfo/Inputs/custom-modules/ForwardDeclarations/module.modulemap
  test/SourceKit/Misc/importing_objc_forward_declarations.swift
Labels: objective-c interop

#64246 [interop][SwiftToCxx] do not emit _Concurrency APIs in the C++ sectio…
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
Labels: c++ interop

#64255 [interop] ensure IRGen traverses inherited C++ constructors correctly
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/constructor-inherited-from-base-irgen.swift
Labels: c++ interop

#64267 [Concurrency] Freeze JobPriority, comment that Flags location is assumed
  include/swift/ABI/Task.h
  stdlib/public/Concurrency/PartialAsyncTask.swift
Labels: concurrency

#64250 [cxx-interop] Build `CxxStdlib` module when `SWIFT_BUILD_SDK_OVERLAY=NO`
  stdlib/public/Cxx/CMakeLists.txt
Labels: c++ interop

#64265 [interop][SwiftToCxx] emit Swift's stdlib inside of 'swift' namespace
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/class/swift-actor-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/gen-header-for-module.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx-64-bit.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/enums/zero-sized-enum-in-cxx.swift
  test/Interop/SwiftToCxx/functions/PrintAsCxx/function_with_array.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/function-availability.swift
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-alwaysEmitInClient-func.swift
  test/Interop/SwiftToCxx/functions/swift-no-expose-unsupported-async-func.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/optional/optional-execution.cpp
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/stdlib-dep-inline-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/string/string-conversions.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/stdlib/string/string-to-nsstring.mm
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/zero-sized-struct-in-cxx.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#64268 [interop] do not stop traversal when looking for clang symbols to IRG…
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/templates/Inputs/unevaluated-context.h
Labels: c++ interop

#64263 [interop] bump up the experimental version in JSON file
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: c++ interop

#64284 [interop][SwiftToCxx] hide swift::Error APIs by default in C++ Swift …
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
Labels: c++ interop

#64290 [interop][SwiftToCxx] do not expose APIs with imported declarations w…
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/ModuleContentsWriter.h
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/cross-module-refs/do-not-expose-imported-api-by-default.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/not-referenced-cross-module-import.swift
Labels: c++ interop

#64287 [cxx-interop] Do not auto-complete unsafe underscored methods
  include/swift/AST/PrintOptions.h
  lib/AST/ASTPrinter.cpp
  test/Interop/Cxx/class/type-classification-completion.swift
  test/Interop/Cxx/class/type-classification-module-interface.swift
  tools/swift-ide-test/swift-ide-test.cpp
Labels: c++ interop

#64307 [interop][SwiftToCxx] annotate several value type members as 'noexcept'
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  lib/PrintAsClang/experimental-interoperability-version.json
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#62692 [Gardening] Simplify excessive conditional expression: (A && !B) || (!A && B) is equivalent to bool(A) != bool(B)
  lib/SILOptimizer/Analysis/AliasAnalysis.cpp
Labels: compiler, SILOptimizer, gardening, nfc

#64328 [interop][sourcekit] interface generator should show unavailable C++ …
  test/SourceKit/InterfaceGen/gen_clang_cxx_module_with_unavailable.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64343 [interop][SwiftToCxx] explicitly tell the user that @objc decls can't…
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/unsupported/unsupported-objc-decls-in-cxx.swift
Labels: c++ interop

#64348 [interop] ensure std::pair is imported into Swift
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-pair.swift
Labels: c++ interop

#64363 [interop][SwiftToCxx] use unconditional noexcept for C++ collection o…
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
Labels: c++ interop

#64368 [interop] do not traverse type locs when IRGening clang decls from Swift
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/templates/Inputs/unevaluated-context.h
  test/Interop/Cxx/templates/unevaluated-context.swift
Labels: c++ interop

#64372 [interop] SourceKit should retry generating module interface with C++…
  test/SourceKit/InterfaceGen/gen_clang_cxx_module.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64237 [Executors][Distributed] custom executors for distributed actor
  docs/ABI/Mangling.rst
  include/swift/ABI/Actor.h
  include/swift/ABI/MetadataValues.h
  include/swift/AST/Builtins.def
  include/swift/AST/Decl.h
  include/swift/AST/TypeNodes.def
  include/swift/AST/Types.h
  include/swift/Runtime/BuiltinTypes.def
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  include/swift/Strings.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/Builtins.cpp
  lib/AST/Decl.cpp
  lib/AST/Type.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/Remangler.cpp
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/Field.h
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/GenType.cpp
  lib/IRGen/IRGenDebugInfo.cpp
  lib/IRGen/MetadataLayout.cpp
  lib/IRGen/MetadataRequest.cpp
  lib/IRGen/StructLayout.cpp
  lib/IRGen/StructLayout.h
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/DerivedConformances.cpp
  lib/Serialization/ModuleFormat.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Actor.swift
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/runtime/KnownMetadata.cpp
  test/Distributed/Runtime/distributed_actor_custom_executor_basic.swift
  test/Distributed/SIL/distributed_actor_initialize_nondefault.swift
  test/Runtime/demangleToMetadata.swift
Labels: concurrency, Distributed

#64389 [interop][SwiftToCxx] use 'SWIFT_INLINE_PRIVATE_HELPER' macro for sta…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#64271 [Executors][Distributed] assumeOnLocalDistributedActorExecutor
  lib/Sema/DerivedConformanceDistributedActor.cpp
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Distributed/DistributedAssertions.swift
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
Labels: concurrency, Distributed

#64439 IRGen: correct field counting for distributed actors
  lib/IRGen/StructLayout.cpp
  test/Distributed/Runtime/distributed_actor_assume_executor.swift
Labels: concurrency, Distributed

#64324 SILOptimizer: Fix some issues with CSE of `open_existential_ref`
  lib/SILOptimizer/Transforms/CSE.cpp
  test/SILOptimizer/cse_open_existential_ref.sil
  validation-test/SIL/crashers/cse-open-existential-ref-term-inst.sil
Labels: bug, compiler, compiler crash, SILOptimizer, crash, regression, swift 5.8, CSE

#64453 [cxx-interop] Do not auto-complete unsafe underscored methods, part 2
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ASTPrinter.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/IDE/CompletionLookup.cpp
  test/Interop/Cxx/class/type-classification-completion.swift
Labels: c++ interop

#64397 [interop] C++ destination record should be destroyed before being cop…
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/Inputs/copy-move-assignment.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/copy-move-assignment-executable.swift
  test/Interop/Cxx/class/copy-move-assignment-irgen.swift
  test/Interop/Cxx/value-witness-table/witness-lifetime-operations-irgen.swift
Labels: c++ interop

#64452 [Distributed] Bring back Derived id synthesis, as some cases still use it
  lib/Sema/DerivedConformanceDistributedActor.cpp
Labels: Distributed

#64462 [interop] NFC, fix an integer comparison warning in VisitClassTemplat…
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#64459 [interop] 'conforms_to' attribute should be qualified with module name
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  lib/PrintAsClang/experimental-interoperability-version.json
  test/Interop/Cxx/class/Inputs/conforms-to-imported.swift
  test/Interop/Cxx/class/Inputs/conforms-to.h
  test/Interop/Cxx/class/conforms-to-errors.swift
  test/Interop/Cxx/class/conforms-to.swift
Labels: c++ interop

#64466 [interop] C++ record should use AddressOnly type layout only when it's non-trivial for purpose of calls
  include/swift/AST/Decl.h
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/type-classification-loadable-silgen.swift
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-pair.swift
Labels: c++ interop

#64468 [interop][SwiftToCxx] ensure we always expose limited set of APIs fro…
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
Labels: c++ interop

#64473 [interop] Swift -> C++ -> Swift class type bridging
  include/swift/ClangImporter/ClangImporterRequests.h
  include/swift/ClangImporter/ClangImporterTypeIDZone.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
  test/Interop/SwiftToCxxToSwift/import-swift-class-back-to-swift-execution.swift
  test/Interop/SwiftToCxxToSwift/import-swift-class-back-to-swift.swift
Labels: c++ interop

#64477 [Concurrency] Verify the #if guards around moveonly Job
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/Runtime/custom_executors.swift
  test/Concurrency/Runtime/custom_executors_default.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
  test/Concurrency/Runtime/exclusivity_custom_executors.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
  test/IRGen/async/builtin_executor.sil
Labels: concurrency

#64428 build-script: Don't build LLVM testing tools when generating Xcode projects
  utils/swift_build_support/swift_build_support/products/llvm.py
  validation-test/BuildSystem/skip_build_xcode.test
Labels: improvement, build-script, generated xcode project, contributor experience, utils

#63250 [cxx-interop] 'Support' C++ move only types; fix a few bugs in the object model.
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenStruct.cpp
Labels: c++ interop

#64493 [interop] ensure IRGen reaches code referenced through destructor inv…
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/delete-operator-destructor-ref-irgen.swift
Labels: c++ interop

#64497 [interop] NFC, bump up the experimental version in the JSON file
  lib/PrintAsClang/experimental-interoperability-version.json
Labels: c++ interop

#64496 [interop] do not print inline C++ namespaces when printing module int…
  include/swift/AST/PrintOptions.h
  lib/AST/ASTPrinter.cpp
  lib/IDE/ModuleInterfacePrinting.cpp
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64558 disable a few tests on iOS while we investigate
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
Labels: concurrency

#64538 [5.8] Sema: Relax availability checking for `@MainActor`
  include/swift/AST/ActorIsolation.h
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/AST/DiagnosticEngine.cpp
  lib/SILGen/SILGenProlog.cpp
  lib/Sema/TypeCheckAccess.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Sema/availability_main_actor.swift
  validation-test/ParseableInterface/unsafe-mainactor.swift
Labels: 🍒 release cherry-pick, swift 5.8

#64592 [5.9] Revert "Add a verify-di-hole assertion to SILBuilder."
  include/swift/SIL/PrunedLiveness.h
  include/swift/SIL/SILBuilder.h
  include/swift/SIL/SILDebugScope.h
  lib/SIL/IR/SILBuilder.cpp
  lib/SIL/IR/SILDebugScope.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenBuilder.cpp
  lib/SILGen/SILGenBuilder.h
Labels: swift 5.9

#64606 [5.9][SwiftSyntax] Add CMake argument to enable assertions in SwiftSyntax for Release+Assert builds
  utils/swift_build_support/swift_build_support/products/earlyswiftsyntax.py
Labels: swift 5.9

#64616 [5.9] [CopyPropagation] Fix destroy recording.
  lib/SILOptimizer/Utils/CanonicalizeOSSALifetime.cpp
  test/SILOptimizer/copy_propagation_value.sil
Labels: swift 5.9

#64619 [5.9] [SILOptimizer] hop_to_executor may synchronize.
  lib/SIL/Utils/MemAccessUtils.cpp
  test/SILOptimizer/deinit_barrier.sil
Labels: swift 5.9

#64620 [5.9] [SILGen] Use decl location for main's functions.
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenFunction.cpp
Labels: swift 5.9

#64523 [interop][sourcekit] print submodules of CxxStdlib when printing out …
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64623 [interop] do not assume we need to IRGen destructors of fields inside…
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/delete-operator-destructor-ref-irgen.swift
Labels: c++ interop

#64604 [Concurrency] SerialExecutor.isSameExclusiveExecutionContext
  include/swift/ABI/Executor.h
  include/swift/AST/Builtins.def
  include/swift/Basic/Features.def
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/Metadata.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Builtins.cpp
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenConcurrency.cpp
  lib/IRGen/GenConcurrency.h
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  lib/Serialization/ModuleFormat.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/runtime/Metadata.cpp
  stdlib/public/runtime/MetadataCache.h
  test/Concurrency/Runtime/custom_executors_complex_equality.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_crash.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
Labels: concurrency

#64648 [5.9][CSSimplify] Account for the fact that variadic generic parameters co…
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64666 🍒[5.9][Concurrency] ensure #if $MoveOnly evaluates to true and bring back moveonly Job
  include/swift/Basic/Features.def
  stdlib/public/Concurrency/PartialAsyncTask.swift
  test/Concurrency/Runtime/custom_executors_moveOnly_job.swift
  test/Concurrency/Runtime/custom_executors_priority.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
  test/Concurrency/custom_executor_enqueue_impls.swift
  test/IRGen/async/builtin_executor.sil
  test/ModuleInterface/moveonly_interface_flag.swift
  test/Sema/moveonly_experimental.swift
Labels: concurrency, 🍒 release cherry-pick, swift 5.9

#64650 5.9: [TypeLowering] NFC: Fix lexicality check for packs.
  lib/SIL/IR/AbstractionPattern.cpp
  lib/SIL/IR/TypeLowering.cpp
Labels: swift 5.9

#64672 [5.9][ConstraintSystem] Fix support for a single pack expansion parameter …
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/pack-expansion-expressions.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64645 [5.9][interop] do not assume we need to IRGen destructors of fields inside…
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/delete-operator-destructor-ref-irgen.swift
Labels: c++ interop

#64626 [5.9][interop][sourcekit] ensure CxxStdlib module printing fails without interop enabled to allow it to be printed with interop enabled
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64670 [Concurrency] Additional custom executor isSame test, for common base class
  test/Concurrency/Runtime/custom_executors_complex_equality_subclass.swift
Labels: concurrency

#64665 🍒[5.9][Concurrency] SerialExecutor.isSameExclusiveExecutionContext
  include/swift/ABI/Executor.h
  include/swift/AST/Builtins.def
  include/swift/Basic/Features.def
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/Metadata.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Builtins.cpp
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenConcurrency.cpp
  lib/IRGen/GenConcurrency.h
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  lib/Serialization/ModuleFormat.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/runtime/Metadata.cpp
  stdlib/public/runtime/MetadataCache.h
  test/Concurrency/Runtime/custom_executors_complex_equality.swift
  test/Concurrency/Runtime/custom_executors_complex_equality_crash.swift
  test/Concurrency/Runtime/custom_executors_protocol.swift
Labels: concurrency, 🍒 release cherry-pick, swift 5.9

#64703 🍒[cxx-interop] Remove CxxStdlib dependency on Darwin
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#64682 [5.9][Serialization] Pass up deserialization errors under generic type params
  lib/Serialization/Deserialization.cpp
Labels: swift 5.9

#64706 [5.9][shims] ensure that _SwiftConcurrency has the same Swift interface re…
  stdlib/public/SwiftShims/swift/shims/_SwiftConcurrency.h
  test/Interop/Cxx/stdlib/print-swiftconcurrencyshims-interface.swift
Labels: c++ interop

#64711 [5.9] Support all BorrowedValueKind in hasPointerEscape(BorrowedValue) api
  lib/SIL/Utils/OwnershipUtils.cpp
  lib/SILOptimizer/Transforms/DeadCodeElimination.cpp
  test/SILOptimizer/ownership-utils-unit.sil
Labels: swift 5.9

#64719 [Executors] Clean up how we unwrap the local executor of distributed custom actor
  include/swift/AST/KnownSDKDecls.def
  lib/SILOptimizer/Mandatory/LowerHopToActor.cpp
  stdlib/public/Distributed/DistributedActor.swift
Labels: concurrency, distributed

#64717 [5.9] PerformanceInliner: protect against misuse of @inline(__always)
  lib/SILOptimizer/Transforms/PerformanceInliner.cpp
Labels: swift 5.9

#64751 [5.9] Sema: Relax `@backDeployed` availability conflict diagnostics.
  lib/Sema/TypeCheckAttr.cpp
  test/attr/File
  test/attr/attr_backDeployed_availability_extension.swift
Labels: 🍒 release cherry-pick, swift 5.9

#64718 [5.9] stdlib: fix the #if guard for Builtin.unprotectedStackAlloc
  stdlib/public/core/TemporaryAllocation.swift
Labels: swift 5.9

#64725 🍒[cxx-interop] Add operators for comparing and concatenating `std::string`s
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#64756 [interop][SwiftToCxx] do not error out on -Wnon-modular-include-in-fr…
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-imported-into-framework-module.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#64768 🍒[cxx-interop] Do not try linking with swiftstd
  lib/IRGen/GenDecl.cpp
Labels: c++ interop

#64790 [5.9] Re-merge #63668: Improve @objcImplementation member checking
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/AST/NameLookupRequests.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/CodeSynthesis.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeChecker.h
  lib/Serialization/Deserialization.cpp
  test/IRGen/objc_implementation.swift
  test/ModuleInterface/Inputs/objc_implementation/module.modulemap
  test/ModuleInterface/Inputs/objc_implementation/objc_implementation.h
  test/ModuleInterface/objc_implementation.swift
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/objc_implementation.swift
  test/decl/ext/objc_implementation_conflicts.swift
Labels: swift 5.9

#64809 [Distributed] AST test was too picky about asserting the shape;
  test/Distributed/distributed_actor_executor_ast.swift
Labels: test failure

#64795 [interop] fix test failure after c4cc9e8e4277cdee3775d65e0bb7f1da002a…
  lib/PrintAsClang/PrintAsClang.cpp
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#64775 [interop] emit symbolic interfaces with method signatures with matchi…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/symbolic-imports/indexing-emit-objcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface-used-decls.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#64794 [5.9][Serialization] Load non-public transitive dependencies on @testable imports
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/FileUnit.h
  include/swift/Serialization/SerializedModuleLoader.h
  include/swift/Serialization/Validation.h
  lib/Sema/ImportResolution.cpp
  lib/Serialization/ModuleFile.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/SerializedModuleLoader.cpp
  test/Index/index_only_sdk_system_modules.swift
  test/ModuleInterface/loading-remarks.swift
  test/Serialization/access-level-import-dependencies.swift
  test/Serialization/package-dependencies.swift
Labels: swift 5.9

#64776 [interop][sourcekit] report a module error for any unconditional module loading failure
  test/SourceKit/InterfaceGen/gen_clang_mixed_lang_fmwk_cxx_module.swift
  tools/SourceKit/lib/SwiftLang/SwiftEditorInterfaceGen.cpp
Labels: c++ interop

#64792 [5.9][Attr] Refactor retrieving original attributes
  include/swift/AST/Attr.h
  lib/AST/Attr.cpp
Labels: swift 5.9

#64713 [5.9] Don't DCE @owned phis that may have escaped
  lib/SILOptimizer/Transforms/DeadCodeElimination.cpp
  test/SILOptimizer/dead_code_elimination_nontrivial_ossa.sil
Labels: swift 5.9

#64791 [5.9][AST] Do not copy SearchPathOptions in updateNonUserModule
  include/swift/AST/Decl.h
  include/swift/AST/Module.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/Module.cpp
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_diagnostics.swift
Labels: swift 5.9
