Repository swiftlang/swift, pull requests merged in 2023-10, with the labels that each got.

#68876 [embedded] In -throws-as-traps mode, avoid swift_willThrow calls from the stdlib
  lib/IRGen/GenBuiltin.cpp
  test/embedded/throw-trap-stdlib.swift
Labels: embedded

#68911 Revert "[embedded] Resolve empty -sdk path warning in embedded stdlib build, take 2"
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/SwiftShims/swift/shims/LibcShims.h
  stdlib/public/core/CMakeLists.txt
  test/embedded/fno-builtin.swift
Labels: embedded

#68886 [embedded] Use atomic load/store/rmw in embedded runtime refcounting implementation
  stdlib/public/core/EmbeddedRuntime.swift
Labels: embedded

#68851 [embedded] Add an embedded test for -enable-import-ptrauth-field-function-pointers, fix deserialization
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SILFormat.h
  lib/Serialization/SerializeSIL.cpp
  test/embedded/ptrauth-fieldptr1.swift
  test/embedded/ptrauth-fieldptr2.swift
Labels: embedded

#68786 [embedded] Do not emit .swiftinterface files for fragile modules (embedded stdlib, Cxx.swiftmodule)
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/core/CMakeLists.txt
  validation-test/ParseableInterface/verify_all_overlays.py
Labels: embedded

#68800 [Linux] Make the backtracing symbol reference conditional.
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
Labels: 🍒 release cherry pick, swift 5.10

#68904 [Linux] Cherry pick backtracing changes from the 5.9 branch.
  cmake/modules/AddSwift.cmake
  stdlib/public/runtime/CMakeLists.txt
  stdlib/public/runtime/SwiftRT-ELF.cpp
  test/Backtracing/CrashStatic.swift
  test/lit.cfg
Labels: 🍒 release cherry pick, swift 5.9

#68912 [embedded] Support closures with captures and promoting locals to refcounted heap objects
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenHeap.cpp
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/closures-heap.swift
Labels: embedded

#68929 [embedded] Resolve empty -sdk path warning in embedded stdlib build, take 3
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/SwiftShims/swift/shims/LibcShims.h
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/fno-builtin.swift
Labels: embedded

#68931 [wasm][test] WASI platform does not support injecting dynamic library
  test/lit.cfg
Labels: test suite, WebAssembly

#68784 [embedded] Fix a warning in stdlib build about never executed switch case
  stdlib/public/core/FloatingPointTypes.swift.gyb
Labels: embedded

#68905 [Linux] Provide a statically linked swift-backtrace binary.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/libexec/swift-backtrace/CMakeLists.txt
  test/Backtracing/StaticBacktracer.swift
Labels: 🍒 release cherry pick, swift 5.9

#68906 [Linux] Provide a statically linked swift-backtrace binary.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/libexec/swift-backtrace/CMakeLists.txt
  test/Backtracing/StaticBacktracer.swift
Labels: 🍒 release cherry pick, swift 5.9

#68957 [5.10] SIL: need to handle explicit_copy_addr in SILInstruction::mayRelease
  lib/SIL/IR/SILInstruction.cpp
  test/SILOptimizer/side_effects.sil
Labels: swift 5.10

#68794 [Concurrency] Allow default arguments to require actor isolation.
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/AST/Expr.cpp
  lib/AST/TypeCheckRequests.cpp
  lib/SILGen/SILGenConstructor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckStorage.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Concurrency/Inputs/serialized_default_arguments.swift
  test/Concurrency/isolated_default_arguments.swift
  test/Concurrency/isolated_default_arguments_serialized.swift
  test/Concurrency/isolated_default_property_inits.swift
Labels: concurrency

#68578 [cxx-interop] Add conversion to Bool for types that define `operator bool()`
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxConvertibleToBool.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/convertible-to-bool.h
  test/Interop/Cxx/stdlib/overlay/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool.swift
Labels: c++ interop

#67501 Add filter method for ordered and unordered map
  stdlib/public/Cxx/CxxDictionary.swift
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#68969 [5.10][ASTGen] Relax assertion on `BridgedSourceLoc` initializer
  lib/ASTGen/Sources/ASTGen/Misc.swift
  test/SourceKit/CursorInfo/at_eof_in_macro.swift
Labels: 🍒 release cherry pick, swift 5.10

#68991 [5.10][CSSimplify] Determine whether type is know Foundation entity in a safer way
  lib/Sema/CSSimplify.cpp
Labels: 🍒 release cherry pick, swift 5.10

#68987 [Linux] Enable frame pointers when building Swift libraries.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.9

#68988 [Linux] Enable frame pointers when building Swift libraries.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  test/Backtracing/FatalError.swift
  test/lit.cfg
Labels: 🍒 release cherry pick, swift 5.9

#68989 [Linux] Enable frame pointers when building Swift libraries.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.10

#69005 [wasm][stdlib] Don't include <thread> with swift-threading-package=none
  stdlib/public/stubs/Stubs.cpp
Labels: standard library, WebAssembly

#69006 [wasm][stdlib] Don't use <thread> sleep API with swift-threading-package=none
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
Labels: standard library, WebAssembly

#69019 [Test][Backtracing] Make FatalError test more lenient.
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.9

#69020 [Test][Backtracing] Make FatalError test more lenient.
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.10

#69018 [Test][Backtracing] Make FatalError test more lenient.
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.9

#68992 [embedded] Serialize+deserialize vtables, fix using non-generic classes from other modules in embedded Swift
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenMeta.h
  lib/IRGen/IRGenModule.h
  lib/SIL/IR/SILModule.cpp
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  test/embedded/modules-classes.swift
Labels: embedded

#69015 [test][IRGen] Split out objc-interop specific part in abitypes.swift
  test/IRGen/Inputs/abi/CGadget.h
  test/IRGen/Inputs/abi/Gadget.h
  test/IRGen/Inputs/abi/module.modulemap
  test/IRGen/abitypes_arm.swift
  test/IRGen/abitypes_objc.swift
  test/IRGen/abitypes_x86_64.swift
Labels: test suite, IRGen

#68928 [embedded] Initial Swift Concurrency for embedded Swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyBuiltin.swift
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
  include/swift/IRGen/Linking.h
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/GenBuiltin.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenValueWitness.cpp
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/Linking.cpp
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/AsyncLet.cpp
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/EmbeddedSupport.cpp
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/core/CMakeLists.txt
  test/embedded/concurrency-builtins.swift
  test/embedded/concurrency-simple.swift
Labels: embedded

#68977 [embedded] Add a embedded Swift + typed throw test showcasing that we avoid existentials
  test/embedded/throw-typed.swift
Labels: embedded

#69059 [test][IRGen] Avoid redefinition of bool in huge_c_type.swift
  test/IRGen/Inputs/huge_c_type.h
Labels: test suite, IRGen, WebAssembly

#69010 [embedded] Fix IR verification crash when using arrays of zero-sized structs
  lib/IRGen/GenBuiltin.cpp
  test/embedded/array-zero-size-struct.swift
Labels: embedded

#68620 [cxx-interop] Use more correct type names in C++ template parameters
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/namespace/class-inline-namespace-irgen.swift
  test/Interop/Cxx/namespace/templates-module-interface.swift
  test/Interop/Cxx/namespace/templates-second-header-module-interface.swift
  test/Interop/Cxx/namespace/templates-with-forward-decl-module-interface.swift
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/templates/class-template-instantiation-demangling.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-irgen.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/class-template-with-typedef-module-interface.swift
  test/Interop/Cxx/templates/explicit-class-specialization-module-interface.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
  test/Interop/Cxx/templates/mangling-irgen.swift
  test/Interop/Cxx/templates/mangling-silgen.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILGen/opaque_values_cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_cxx_module_with_unavailable.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#69062 [test][IRGen] Split windows autolink checks into a separate file
  test/IRGen/lto_autolink.swift
  test/IRGen/lto_autolink_windows.swift
Labels: test suite, IRGen

#68240 [cxx-interop] Provide similar support for std::u32string as std::string and std::u16string.
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
Labels: c++ interop

#69104 [5.10][SILGen/DI] InitAccessors: Fix handling of `nonmutating set` when type has other stored properties
  lib/SILGen/SILGenFunction.cpp
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
  test/Interpreter/init_accessors.swift
  test/SILGen/objc_properties.swift
  test/SILGen/property_wrapper_local.swift
  test/SILGen/property_wrappers.swift
  test/SILGen/resilient_assign_by_wrapper.swift
  test/SILOptimizer/init_accessor_raw_sil_lowering.swift
  test/SILOptimizer/init_accessors.swift
  test/SILOptimizer/init_accessors_with_indirect_newValue.swift
Labels: 🍒 release cherry pick, swift 5.10

#69113 [Concurrency] Hide `async_Main` from other object files
  lib/SIL/IR/SILDeclRef.cpp
  test/Concurrency/async_main.swift
  test/SILGen/toplevel_globalactorvars.swift
Labels: concurrency, linker error

#69064 [github] CODEOWNERS: Override `DiagnosticsParse.def` code owners
  .github/CODEOWNERS
Labels: contributor experience

#69040 [wasm][test] Add objc_codegen feature to exclude enable-objc-interop tests
  test/IRGen/async/builtins.sil
  test/IRGen/async/get_async_continuation.sil
  test/IRGen/async/partial_apply_forwarder.sil
  test/IRGen/c_functions.swift
  test/IRGen/clang_empty_type.swift
  test/IRGen/clang_inline_opt.swift
  test/IRGen/class_metadata.swift
  test/IRGen/class_resilience.swift
  test/IRGen/generic_vtable.swift
  test/IRGen/local_types.swift
  test/IRGen/nested_imported_type_context_descriptor.swift
  test/IRGen/objc_bridged_generic_conformance.swift
  test/IRGen/objc_class_empty_fields.swift
  test/IRGen/objc_class_in_storage_decls.swift
  test/IRGen/objc_dependent_type_closure_argument.swift
  test/IRGen/objc_enum_multi_file.swift
  test/IRGen/objc_extensions_jit.swift
  test/IRGen/objc_generic_protocol_conformance.swift
  test/IRGen/objc_int_encoding.sil
  test/IRGen/objc_properties_jit.swift
  test/IRGen/objc_protocol_multi_file.swift
  test/IRGen/objc_protocol_vars.sil
  test/IRGen/objc_runtime_visible.sil
  test/IRGen/objc_runtime_visible_conformance.swift
  test/IRGen/objc_selector.sil
  test/IRGen/partial_apply_forwarder.sil
  test/IRGen/related_entity.sil
  test/IRGen/swift_native_objc_runtime_base.sil
  test/IRGen/trap-function-clang.swift
  test/IRGen/trap-function.swift
  test/IRGen/type_layout_reference_storage.swift
  test/IRGen/witness_table_objc_associated_type.swift
  test/lit.cfg
Labels: test suite, WebAssembly

#69061 [test][IRGen] Cover more tests for WebAssembly target
  test/IRGen/c_layout.sil
  test/IRGen/errors.sil
  test/IRGen/has_symbol_clang.swift
  test/IRGen/objc_simd.sil
  test/IRGen/protocol_resilience.sil
Labels: test suite, IRGen, WebAssembly

#69129 Sema: Fix two bugs with type resolution of generic arguments [5.10]
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Sema/TypeCheckType.h
  test/Constraints/pack-expansion-expressions.swift
  test/Generics/rdar115538574.swift
  test/Generics/variadic_generic_types.swift
  test/Macros/macros_diagnostics.swift
  test/type/pack_expansion.swift
Labels: swift 5.10

#69136 [5.10][SE-0331][stdlib] Mark unsafe pointer conformances to Sendable as explicitly unavailable
  include/swift/AST/KnownStdlibTypes.def
  stdlib/public/core/BridgeObjectiveC.swift
  stdlib/public/core/CTypes.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafePointer.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  stdlib/public/core/UnsafeRawPointer.swift
  test/Concurrency/sendable_checking.swift
Labels: 🍒 release cherry pick, swift 5.10

#69060 [test][IRGen] Cover WebAssembly specific @_section behaviors
  test/IRGen/section.swift
  test/IRGen/section_asm.swift
  test/IRGen/section_wasm.swift
Labels: test suite, IRGen, WebAssembly

#69161 [test][IRGen] Disable dylib related tests on WebAssembly
  test/IRGen/pic.swift
  test/IRGen/pre_specialize.swift
  test/IRGen/prespecialized-metadata/enum-inmodule-evolution-1argument-1distinct_use-external_resilient-nonfrozen.swift
  test/IRGen/protocol_synthesized.swift
  test/IRGen/vtable_symbol_linkage.swift
Labels: test suite, WebAssembly

#69125 [docs] FirstPullRequest: Update and improve sections on tidying up & code review
  docs/HowToGuides/FirstPullRequest.md
Labels: documentation, contributor experience

#69142 [wasm] Use `__main_argc_argv` as entry point name
  include/swift/Basic/LangOptions.h
  lib/AST/ASTContext.cpp
  test/IRGen/big_types_corner_cases.swift
  test/IRGen/default_function_ir_attributes.swift
  test/IRGen/opaque-pointer-llvm.swift
  test/IRGen/wasm-absolute-func-ptr.swift
Labels: WebAssembly

#69185 [embedded] Use Builtin.RawPointer as the argument type on swift_release_n
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/runtime-release.swift
Labels: embedded

#69081 [embedded] Improve the diagnostic message when using an existential
  include/swift/AST/DiagnosticsSIL.def
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  test/embedded/anyobject-error-no-stdlib.swift
  test/embedded/basic-errors-no-stdlib.swift
  test/embedded/throw-trap.swift
Labels: embedded

#69193 [embedded] Make ExpressibleByStringInterpolation available in embedded Swift
  stdlib/public/core/CompilerProtocols.swift
  test/embedded/Inputs/print.swift
  test/embedded/static-string-interpolation.swift
Labels: embedded

#69090 [embedded] Add support for actors and async let into the embedded Concurrency runtime
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenCall.h
  lib/IRGen/GenConcurrency.cpp
  stdlib/public/Concurrency/AsyncLet.cpp
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/CheckedContinuation.swift
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  test/embedded/concurrency-actors.swift
  test/embedded/concurrency-async-let.swift
Labels: embedded

#69195 [5.10][Concurrency] Hide `async_Main` from other object files
  lib/SIL/IR/SILDeclRef.cpp
  test/Concurrency/async_main.swift
  test/SILGen/toplevel_globalactorvars.swift
Labels: 🍒 release cherry pick, swift 5.10

#69186 [embedded] When linking SIL vtables, also link superclass vtables
  lib/SIL/IR/Linker.cpp
  test/embedded/deserialize-vtables.swift
Labels: embedded

#69045 [test][IRGen] Split returnaddress related check into a separate file
  test/IRGen/access_markers.sil
  test/IRGen/access_markers_pc.sil
Labels: test suite, IRGen, WebAssembly

#68846 [cxx-interop] Use a synthesized C++ method when invoking a base metho…
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangImporter.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/subscripts.h
  test/Interop/Cxx/class/inheritance/fields-irgen.swift
  test/Interop/Cxx/class/inheritance/fields-silgen.swift
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions-irgen.swift
  test/Interop/Cxx/class/inheritance/functions-silgen.swift
  test/Interop/Cxx/class/inheritance/functions.swift
  test/Interop/Cxx/class/inheritance/subscript-irgen.swift
  test/Interop/Cxx/class/inheritance/subscript-silgen.swift
  test/Interop/Cxx/class/inheritance/subscripts.swift
  test/Interop/Cxx/foreign-reference/Inputs/derived-field-getter-returns-owned-frt.h
  test/Interop/Cxx/foreign-reference/Inputs/member-inheritance.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/derived-field-getter-retainable-frt-irgen.swift
  test/Interop/Cxx/foreign-reference/derived-field-getter-retainable-frt-silgen.swift
  test/Interop/Cxx/foreign-reference/derived-field-getter-returns-owned-frt.swift
  test/Interop/Cxx/foreign-reference/function-inheritance-irgen.swift
  test/Interop/Cxx/foreign-reference/member-inheritance.swift
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxx-interop-module-without-interop.swift
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#69217 [embedded] Don't gate embedded stdlib build behind SWIFT_BUILD_STDLIB
  stdlib/public/CMakeLists.txt
Labels: embedded

#69180 [embedded] Move _CustomStringConvertibleOrNone/_LosslessStringConvertibleOrNone to avoid detaching doccomments from their declarations
  stdlib/public/core/Integers.swift
  stdlib/public/core/ObjectIdentifier.swift
Labels: embedded

#69205 [embedded] Start diagnosing metatype/value_metatype instructions in embedded Swift
  include/swift/AST/DiagnosticsSIL.def
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  stdlib/public/core/ContiguousArrayBuffer.swift
  test/embedded/metatypes.swift
  test/embedded/typeof.swift
Labels: embedded

#69262 [cxx-interop] disallow use of non-trivial C++ types in @objc declarat…
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Type.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  test/Interop/Cxx/objc-correctness/at-objc-api-using-non-trivial-cxx.swift
Labels: c++ interop

#69266 [embedded] Allow metadata for DynamicSelfType to support using Self in classes
  include/swift/IRGen/Linking.h
  test/embedded/dynamic-self.swift
Labels: embedded

#69283 [cxx-interop] Fix test failures after https://github.com/apple/swift/…
  test/Interop/Cxx/class/inheritance/fields-irgen.swift
  test/Interop/Cxx/class/inheritance/functions-irgen.swift
  test/Interop/Cxx/class/inheritance/subscript-irgen.swift
  test/Interop/Cxx/foreign-reference/derived-field-getter-retainable-frt-irgen.swift
  test/Interop/Cxx/foreign-reference/function-inheritance-irgen.swift
Labels: c++ interop

#69288 [embedded] Fix missing REQUIRES: executable_test marker on embedded concurrency tests
  test/embedded/concurrency-actors.swift
  test/embedded/concurrency-async-let.swift
  test/embedded/concurrency-simple.swift
Labels: embedded

#69285 [embedded] Avoid building the embedded stdlib when BOOTSTRAPPING=OFF
  stdlib/public/CMakeLists.txt
Labels: embedded

#69291 [embedded] Add a test showcasing class method runtime dispatch
  test/embedded/class-func.swift
Labels: embedded

#69242 [Distributed] Handle dispatch thunks and superclasses in ad-hoc witness for decodeNextArguent
  lib/AST/ASTContext.cpp
  lib/IRGen/GenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/Runtime/distributed_actor_system_decoder_subclass.swift
Labels: distributed

#69275 [Test][Backtracing] Disable FatalError test for macOS.
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.10

#69274 [Test][Backtracing] Disable FatalError test for macOS.
  test/Backtracing/FatalError.swift
Labels: 🍒 release cherry pick, swift 5.9

#69301 [5.10] Optimizer: fix compiler crashes caused by certain types of statically initialized global variables
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/InitializeStaticGlobals.swift
  lib/IRGen/GenDecl.cpp
  lib/SILOptimizer/IPO/DeadFunctionElimination.cpp
  test/IRGen/referenced_global.swift
  test/SILOptimizer/dead_function_elimination.swift
  test/SILOptimizer/init_static_globals.sil
  test/SILOptimizer/remove_unused_func.sil
Labels: swift 5.10

#36068 `@retroactive` conformance syntax and checking
  include/swift/AST/Attr.def
  include/swift/AST/CASTBridging.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/AST/ProtocolConformance.h
  include/swift/AST/TypeRepr.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Decl.cpp
  lib/AST/Module.cpp
  lib/AST/NameLookup.cpp
  lib/AST/ProtocolConformance.cpp
  lib/AST/TypeRepr.cpp
  lib/ASTGen/Sources/ASTGen/Types.swift
  lib/ClangImporter/ImportDecl.cpp
  lib/Frontend/ModuleInterfaceSupport.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Serialization/Deserialization.cpp
  stdlib/public/Differentiation/SIMDDifferentiation.swift.gyb
  test/Concurrency/sendable_preconcurrency.swift
  test/Concurrency/sendable_without_preconcurrency.swift
  test/Concurrency/sendable_without_preconcurrency_2.swift
  test/Constraints/bridging-nsnumber-and-nsvalue.swift.gyb
  test/Constraints/bridging.swift
  test/Constraints/implicit_double_cgfloat_conversion.swift
  test/Inputs/clang-importer-sdk/swift-modules/ObjectiveC.swift
  test/Interop/Cxx/class/extensions-typechecker.swift
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
  test/ModuleInterface/retroactive-conformances.swift
  test/Sema/Inputs/implementation-only-import-in-decls-helper.swift
  test/Sema/accessibility_package_in_extension.swift
  test/Sema/conformance_availability_overlapping.swift
  test/Sema/extension_retroactive_conformances.swift
  test/Sema/fixits-derived-conformances.swift
  test/Sema/implementation-only-import-in-decls.swift
  test/Sema/spi-in-decls.swift
  test/Sema/spi-inlinable-conformances.swift
  test/attr/attr_ibaction.swift
  test/decl/enum/bool_raw_value.swift
  test/decl/enum/objc_bool_raw_value.swift
  test/decl/protocol/conforms/Inputs/placement_module_B.swift
  test/decl/protocol/conforms/failure.swift
  test/decl/protocol/conforms/placement.swift
Labels: swift evolution implemented

#69296 [5.10][Distributed] Handle dispatch thunks and superclasses in ad-hoc witness for decodeNextArguent
  lib/AST/ASTContext.cpp
  lib/IRGen/GenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/Runtime/distributed_actor_system_decoder_subclass.swift
Labels: distributed

#69229 [ASTGen] Introduce wrapper types for AST nodes
  include/swift/AST/ASTBridgingWrappers.def
  include/swift/AST/CASTBridging.h
  include/swift/AST/DeclNodes.def
  lib/AST/CASTBridging.cpp
  lib/ASTGen/Sources/ASTGen/ASTGen.swift
  lib/ASTGen/Sources/ASTGen/Bridge.swift
  lib/ASTGen/Sources/ASTGen/Decls.swift
  lib/ASTGen/Sources/ASTGen/DiagnosticsBridge.swift
  lib/ASTGen/Sources/ASTGen/Exprs.swift
  lib/ASTGen/Sources/ASTGen/Generics.swift
  lib/ASTGen/Sources/ASTGen/Literals.swift
  lib/ASTGen/Sources/ASTGen/ParameterClause.swift
  lib/ASTGen/Sources/ASTGen/PluginHost.swift
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/ASTGen/Sources/ASTGen/Stmts.swift
  lib/ASTGen/Sources/ASTGen/Types.swift
Labels: ASTGen

#69327 [cxx-interop] Avoid circular reference errors when importing C++ structs
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/reference-to-derived.h
  test/Interop/Cxx/class/inheritance/reference-to-derived-irgen.swift
Labels: c++ interop

#69310 [5.10 🍒][Dependency Scanning] On discovering cross-import overlays, do not add their discovered dependencies to the main module's direct dependencies
  lib/DependencyScan/ModuleDependencyScanner.cpp
  test/ScanDependencies/Inputs/Swift/_cross_import_E.swiftinterface
  test/ScanDependencies/module_deps_cross_import_overlay.swift
Labels: 🍒 release cherry pick, swift 5.10

#69325 [ASTGen] NFC: Format with swift-format
  lib/ASTGen/.swift-format
  lib/ASTGen/Package.swift
  lib/ASTGen/Sources/ASTGen/ASTGen.swift
  lib/ASTGen/Sources/ASTGen/Bridge.swift
  lib/ASTGen/Sources/ASTGen/Decls.swift
  lib/ASTGen/Sources/ASTGen/Diagnostics.swift
  lib/ASTGen/Sources/ASTGen/DiagnosticsBridge.swift
  lib/ASTGen/Sources/ASTGen/Exprs.swift
  lib/ASTGen/Sources/ASTGen/Macros.swift
  lib/ASTGen/Sources/ASTGen/PluginHost.swift
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/ASTGen/Sources/ASTGen/SourceManager+MacroExpansionContext.swift
  lib/ASTGen/Sources/ASTGen/SourceManager.swift
  lib/ASTGen/Sources/ASTGen/Types.swift
  lib/ASTGen/Sources/LLVMJSON/LLVMJSON.swift
Labels: ASTGen

#69336 [ASTGen] NFC: Fixup formatting
  lib/ASTGen/Sources/LLVMJSON/LLVMJSON.swift
Labels: ASTGen

#69326 [ASTGen] Introduce nullable variants of bridging wrappers
  include/swift/AST/ASTBridgingWrappers.def
  include/swift/AST/CASTBridging.h
  lib/AST/CASTBridging.cpp
  lib/ASTGen/Sources/ASTGen/ASTGen.swift
  lib/ASTGen/Sources/ASTGen/Bridge.swift
  lib/ASTGen/Sources/ASTGen/Decls.swift
  lib/ASTGen/Sources/ASTGen/Generics.swift
  lib/ASTGen/Sources/ASTGen/ParameterClause.swift
  lib/ASTGen/Sources/ASTGen/Stmts.swift
  lib/ASTGen/Sources/ASTGen/Types.swift
Labels: ASTGen

#69347 [wasm][test] Remove unused argc/argv parameters from @main decl
  test/IRGen/async/run-call-classinstance-int64-to-void.sil
  test/IRGen/async/run-call-classinstance-void-to-void.sil
  test/IRGen/async/run-call-existential-to-void.sil
  test/IRGen/async/run-call-generic-to-generic.sil
  test/IRGen/async/run-call-genericEquatable-x2-to-bool.sil
  test/IRGen/async/run-call-int64-and-int64-to-void.sil
  test/IRGen/async/run-call-int64-to-void.sil
  test/IRGen/async/run-call-protocolextension_instance-void-to-int64.sil
  test/IRGen/async/run-call-protocolwitness_instance-void-to-int64.sil
  test/IRGen/async/run-call-resilient-classinstance-void-to-void.sil
  test/IRGen/async/run-call-struct_five_bools-to-void.sil
  test/IRGen/async/run-call-structinstance-int64-to-void.sil
  test/IRGen/async/run-call-void-throws-to-int-throwing.sil
  test/IRGen/async/run-call-void-throws-to-int-throwing_call-async-nothrow_call-sync-throw.sil
  test/IRGen/async/run-call-void-throws-to-int-throwing_call-async-throw.sil
  test/IRGen/async/run-call-void-throws-to-int-throwing_call-sync-nothrow_call-async-throw.sil
  test/IRGen/async/run-call-void-throws-to-int-throwing_call-sync-throw.sil
  test/IRGen/async/run-call-void-to-existential.sil
  test/IRGen/async/run-call-void-to-int64-and-int64.sil
  test/IRGen/async/run-call-void-to-struct_large.sil
  test/IRGen/async/run-call_generic-protocolwitness_instance-generic-to-int64-and-generic.sil
  test/IRGen/async/run-call_generic-protocolwitness_instance-void-to-int64.sil
  test/IRGen/async/run-convertfunction-int64-to-void.sil
  test/IRGen/async/run-partialapply-capture-class-to-void.sil
  test/IRGen/async/run-partialapply-capture-classinstance-to-void.sil
  test/IRGen/async/run-partialapply-capture-generic_conformer-and-generic-to-void.sil
  test/IRGen/async/run-partialapply-capture-inout-generic-and-in-generic-to-generic.sil
  test/IRGen/async/run-partialapply-capture-int64-int64-throws-to-int64.sil
  test/IRGen/async/run-partialapply-capture-int64-int64-to-int64.sil
  test/IRGen/async/run-partialapply-capture-int64-to-generic.sil
  test/IRGen/async/run-partialapply-capture-struct_classinstance_classinstance-and-int64-to-int64.sil
  test/IRGen/async/run-partialapply-capture-structgeneric_classinstance_to_struct_and_error.sil
  test/IRGen/async/run-partialapply-capture-structgeneric_polymorphic_constrained-to-void.sil
  test/IRGen/async/run-partialapply-capture-type_structgeneric_polymorphic_constrained-to-void.sil
  test/IRGen/async/run-partialapply-capture-type_thin-and-classinstance-to-void.sil
  test/IRGen/async/run-thintothick-int64-to-void.sil
  test/IRGen/partial_apply_run_generic_method1.sil
  test/IRGen/run_variadic_generics.sil
Labels: test suite, WebAssembly

#69350 [c-interop] Fix @extern attribute printing for module interface
  lib/AST/Attr.cpp
  test/ModuleInterface/extern_attr.swift
Labels: bug, c interop

#69345 [5.9][Macros] Improve visitation of auxiliary decls
  include/swift/AST/Module.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Module.cpp
  lib/AST/NameLookup.cpp
  lib/Frontend/ModuleInterfaceSupport.cpp
  lib/Sema/LookupVisibleDecls.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/ModuleInterface/macros.swift
  test/SourceKit/Macros/macro_basic.swift
Labels: 🍒 release cherry pick, swift 5.9

#69348 [test] Adjust IRGen tests to be ptr size agnostic
  test/IRGen/simple_partial_apply_or_not.swift
Labels: test suite

#69351 [test][stdlib] Fix calling convention mismatch in test/stdlib/Runtime.swift.gyb
  test/stdlib/Runtime.swift.gyb
Labels: test suite

#69349 [wasm][test] Skip some executable IRGen tests
  test/IRGen/async/run-call-dynamic-void_to_void.swift
  test/IRGen/report_dead_method_call.swift
  test/IRGen/testing-enabled-resilient-super-class-external-module.swift
Labels: test suite, WebAssembly

#69363 [cxx-interop] Enable an overlay test on Linux
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
Labels: c++ interop

#69343 [5.10][cxx-interop] disallow use of non-trivial C++ types in @objc declarat…
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Type.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  test/Interop/Cxx/objc-correctness/at-objc-api-using-non-trivial-cxx.swift
Labels: c++ interop, swift 5.10

#69369 [5.10][TypeChecker] Disallow use of global actor attributes of setters, add…
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/attr/global_actor.swift
Labels: 🍒 release cherry pick, swift 5.10

#69222 [cxx-interop] Synthesize C++ wrapper method when invoking a base method or accessor from a derived class in Swift
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangImporter.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/subscripts.h
  test/Interop/Cxx/class/inheritance/fields-irgen.swift
  test/Interop/Cxx/class/inheritance/fields-silgen.swift
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/class/inheritance/functions-irgen.swift
  test/Interop/Cxx/class/inheritance/functions-silgen.swift
  test/Interop/Cxx/class/inheritance/functions.swift
  test/Interop/Cxx/class/inheritance/subscript-irgen.swift
  test/Interop/Cxx/class/inheritance/subscript-silgen.swift
  test/Interop/Cxx/class/inheritance/subscripts.swift
  test/Interop/Cxx/foreign-reference/Inputs/derived-field-getter-returns-owned-frt.h
  test/Interop/Cxx/foreign-reference/Inputs/member-inheritance.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/derived-field-getter-retainable-frt-irgen.swift
  test/Interop/Cxx/foreign-reference/derived-field-getter-retainable-frt-silgen.swift
  test/Interop/Cxx/foreign-reference/derived-field-getter-returns-owned-frt.swift
  test/Interop/Cxx/foreign-reference/function-inheritance-irgen.swift
  test/Interop/Cxx/foreign-reference/member-inheritance.swift
  test/Interop/Cxx/implementation-only-imports/import-implementation-only-cxx-interop-module-without-interop.swift
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop, swift 5.10

#69381 [cxx-interop] test, use C++17 in bridge-cxx-struct-back-to-cxx.swift …
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: c++ interop

#69093 [Distributed] Fix effectiveLabel implementation to expected semantics
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_argument_labels.swift
Labels: distributed

#69384 [cxx-interop] benchmark, disable ReadAccessor benchmark while investi…
  benchmark/cxx-source/ReadAccessor.swift
Labels: c++ interop

#68750 Enable WebAssembly target in LLVM backend by default
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
Labels: WebAssembly

#69101 [wasm][build] Build stdlib and test IRGen for WebAssembly
  stdlib/public/Platform/wasi-libc.modulemap
  test/IRGen/async_dynamic_replacement.swift
  test/IRGen/section_wasm.swift
  utils/build-presets.ini
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/__init__.py
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
  utils/update_checkout/update-checkout-config.json
Labels: build-script, WebAssembly

#69249 [5.10][CSDiagnostics] Adjust how requirement failures anchor type is computed
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Generics/conditional_conformances.swift
  test/Generics/conditional_conformances_literals.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar116122902.swift
Labels: 🍒 release cherry pick, swift 5.10

#69420 Fix precondition in UMRBP.initialize(as:fromContentsOf:)
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  validation-test/stdlib/UnsafeBufferPointer.swift.gyb
Labels: standard library

#69408 [cxx-interop] Use unique mangling for distinct C++ class template specializations
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  lib/ClangImporter/ClangClassTemplateNamePrinter.h
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-primitive-argument.h
  test/Interop/Cxx/templates/class-template-with-primitive-argument-module-interface.swift
  test/SILGen/opaque_values_cxx.swift
Labels: c++ interop

#69424 [cxx-interop] use raw pointer metadata for dynamic FRT field metadata
  lib/IRGen/MetadataRequest.cpp
  test/Interop/Cxx/foreign-reference/layout-in-opaque-layout-struct.swift
  test/Interop/Cxx/foreign-reference/pod.swift
Labels: c++ interop

#69328 🍒[cxx-interop] Use more correct type names in C++ template parameters
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/namespace/class-inline-namespace-irgen.swift
  test/Interop/Cxx/namespace/templates-module-interface.swift
  test/Interop/Cxx/namespace/templates-second-header-module-interface.swift
  test/Interop/Cxx/namespace/templates-with-forward-decl-module-interface.swift
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/templates/class-template-instantiation-demangling.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-irgen.swift
  test/Interop/Cxx/templates/class-template-non-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/class-template-with-typedef-module-interface.swift
  test/Interop/Cxx/templates/explicit-class-specialization-module-interface.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
  test/Interop/Cxx/templates/mangling-irgen.swift
  test/Interop/Cxx/templates/mangling-silgen.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-silgen.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILGen/opaque_values_cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_cxx_module_with_unavailable.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#69365 🍒[cxx-interop] Avoid circular reference errors when importing C++ structs
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/Inputs/reference-to-derived.h
  test/Interop/Cxx/class/inheritance/reference-to-derived-irgen.swift
Labels: c++ interop

#69441 [interop][SwiftToCxx] disable -Wnon-modular-include-in-framework-modu…
  lib/PrintAsClang/PrintAsClang.cpp
  test/PrintAsCxx/empty.swift
Labels: c++ interop

#69105 stdlib: map `wchar_t` to `UInt16` on Windows
  stdlib/public/core/CTypes.swift
  test/ClangImporter/Inputs/unicode/module.modulemap
  test/ClangImporter/Inputs/unicode/unicode.h
  test/ClangImporter/unicode.swift
  test/Interop/SwiftToC/functions/swift-primitive-functions-c-bridging.swift
  test/Interop/SwiftToC/functions/swift-primitive-functions-execution.c
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/stdlib/PrintInteger.swift
Labels: swift 5.10

#69473 [interop][SwiftToCxx] consuming parameters should be passed using an …
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/CxxToSwiftToCxx/consuming-cxx-struct-parameter-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/disallow-shared-frt-back-to-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/resilient-consuming-parameter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#69521 5.10: [cxx-interop] use raw pointer metadata for dynamic FRT field metadata
  lib/IRGen/MetadataRequest.cpp
  test/Interop/Cxx/foreign-reference/layout-in-opaque-layout-struct.swift
  test/Interop/Cxx/foreign-reference/pod.swift
Labels: c++ interop, swift 5.10

#69522 5.10: [interop][SwiftToCxx] consuming parameters should be passed using an additional copy
  include/swift/IRGen/IRABIDetailsProvider.h
  lib/IRGen/IRABIDetailsProvider.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintClangValueType.h
  lib/PrintAsClang/_SwiftCxxInteroperability.h
  test/Interop/CxxToSwiftToCxx/consuming-cxx-struct-parameter-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/disallow-shared-frt-back-to-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/resilient-consuming-parameter-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/stdlib/array/array-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop, swift 5.10
