Repository swiftlang/swift, pull requests merged in 2024-06, with the labels that each got.

#74062 [6.0][IRGen] Assign layout strings for static layout generic types in meta…
  lib/IRGen/GenMeta.cpp
  validation-test/IRGen/rdar127535274.swift
Labels: 🍒 release cherry pick, swift 6.0

#74077 [embedded] In -emit-empty-object-file mode, don't emit autolink entries
  lib/IRGen/IRGenModule.cpp
  test/embedded/modules-empty-object.swift
Labels: embedded

#74078 [6.0] Fix SILCombine to delete dead end_access instructions.
  include/swift/SIL/InstructionUtils.h
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/SILOptimizer/sil_combine.sil
Labels: 🍒 release cherry pick, swift 6.0

#74099 [6.0][Caching] Don't rely on FileSystem when replaying diagnostics
  lib/Frontend/CachedDiagnostics.cpp
  test/CAS/path_remap.swift
Labels: swift 6.0

#74103 [6.0][Frontend] Swift 6: Enable checked continuations when suspending for …
  lib/Frontend/CompilerInvocation.cpp
  test/SILGen/objc_async_checked.swift
  test/SILGen/objc_effectful_properties_checked.swift
Labels: 🍒 release cherry pick, swift 6.0

#74105 [6.0][ScanDependency][canImport] Improve canImport handling in explicit build
  include/swift/AST/ASTContext.h
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/SearchPathOptions.h
  include/swift/Option/FrontendOptions.td
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/CAS/can-import.swift
  test/Parse/ConditionalCompilation/can_import_options.swift
  test/ScanDependencies/module_deps_can_import.swift
Labels: swift 6.0

#73997 [6.0] [Sema] Preserve compatibility for `weak self` with `@_implicitSelfCapture`
  lib/Sema/MiscDiagnostics.cpp
  test/expr/closure/closures.swift
  test/expr/closure/closures_swift6.swift
Labels: 🍒 release cherry pick, swift 6.0

#74112 [6.0] Fix quadratic performance of the ListMerger in specific usage pattern
  benchmark/CMakeLists.txt
  benchmark/single-source/AsyncTree.swift
  benchmark/utils/main.swift
  include/swift/ABI/MetadataValues.h
  include/swift/Basic/HeaderFooterLayout.h
  include/swift/Basic/ListMerger.h
  include/swift/Basic/PriorityQueue.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  stdlib/public/Concurrency/Tracing.h
  stdlib/public/Concurrency/TracingSignpost.h
  stdlib/public/Concurrency/TracingStubs.h
  utils/test-header-footer-layout/Makefile
  utils/test-header-footer-layout/TestHeaderFooterLayout.cpp
  utils/test-list-merger/Makefile
  utils/test-list-merger/TestListMerger.cpp
  utils/test-priority-queue/Makefile
  utils/test-priority-queue/TestPriorityQueue.cpp
Labels: performance, concurrency, 🍒 release cherry pick

#74119 [6.0] [Coverage] Avoid recording regions from macro expansions
  lib/SIL/IR/SILProfiler.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Profiler/coverage_macros.swift
Labels: 🍒 release cherry pick, swift 6.0

#74049 🍒[cxx-interop] Re-enable a test for borrowing const ref
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop

#74120 🍒[cxx-interop] Adjust tests for new search path mechanism
  test/Interop/Cxx/symbolic-imports/indexing-emit-libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-no-symbolic-module-interface-no-clang-module-index.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-objcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface-used-decls.swift
  test/Interop/Cxx/symbolic-imports/indexing-emit-symbolic-module-interface.swift
Labels: c++ interop

#74138 [6.0][IRGen] Strip marker protocols in a few more places
  lib/IRGen/IRGenMangler.cpp
  lib/IRGen/IRGenMangler.h
  lib/IRGen/MetadataRequest.cpp
  test/IRGen/marker_protocol.swift
  test/IRGen/marker_protocol_backdeploy.swift
  test/Interpreter/protocol_composition_with_markers.swift
  test/Interpreter/rdar128667580.swift
Labels: 🍒 release cherry pick, swift 6.0

#74046 [6.0][lld] Allow opt-out from building lld via --skip-build-lld
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/llvm.py
Labels: 🍒 release cherry pick, swift 6.0

#74144 [Synchronization] Fix Wasm mutex build
  stdlib/public/Synchronization/Mutex/WasmImpl.swift
Labels: WebAssembly

#71721 [AutoDiff] Fix custom derivative thunk for Optional
  lib/SILGen/SILGenPoly.cpp
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/AutoDiff/SILGen/nil_coalescing.swift
Labels: AutoDiff

#74168 [6.0][Distributed] Distributed thunks take parameters as 'sending'
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/distributed_actor_accessor_section_coff.swift
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Distributed/distributed_actor_accessor_section_macho.swift
  test/Distributed/distributed_actor_sending_thunks.swift
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#74059 [6.0] Handle startAsyncLetWithLocalBuffer in exclusivity diagnostics.
  lib/SILOptimizer/Analysis/AccessSummaryAnalysis.cpp
  test/SILOptimizer/access_summary_analysis.sil
Labels: 🍒 release cherry pick, swift 6.0

#74205 [6.0] [Completion] Better handle merging of lookup base types
  include/swift/IDE/PostfixCompletion.h
  include/swift/IDE/UnresolvedMemberCompletion.h
  include/swift/Sema/IDETypeChecking.h
  include/swift/Sema/IDETypeCheckingRequests.h
  lib/IDE/IDETypeChecking.cpp
  lib/IDE/PostfixCompletion.cpp
  lib/IDE/UnresolvedMemberCompletion.cpp
  lib/Sema/IDETypeCheckingRequests.cpp
  test/IDE/complete_cgfloat_double.swift
  test/IDE/complete_rdar126168123.swift
  test/IDE/complete_subtype_overload.swift
Labels: 🍒 release cherry pick, swift 6.0

#74204 [6.0] [Completion] A couple of trailing closure fixes
  lib/IDE/ArgumentCompletion.cpp
  lib/IDE/CodeCompletion.cpp
  test/IDE/complete_multiple_trailingclosure.swift
Labels: 🍒 release cherry pick, swift 6.0

#74208 [cxx-interop][IRGen] Emit type metadata accessors correctly
  lib/IRGen/MetadataRequest.cpp
  test/Interop/Cxx/foreign-reference/multiple-protocol-conformances.swift
Labels: c++ interop

#74213 [SourceKit] Don’t set `DisableModulesValidateSystemDependencies` to `true`
  lib/IDETool/CompilerInvocation.cpp
  test/SourceKit/test-change-modulemap-of-system-module.swift
Labels: swift 6.0

#74224 🍒[cxx-interop][IRGen] Emit type metadata accessors correctly
  lib/IRGen/MetadataRequest.cpp
  test/Interop/Cxx/foreign-reference/multiple-protocol-conformances.swift
Labels: c++ interop

#74249 [6.0] [Completion] Only skip result builder expressions in the same builder
  lib/Sema/BuilderTransform.cpp
  test/IDE/complete_actorisolation.swift
  test/IDE/complete_after_pattern_in_closure.swift
  test/IDE/complete_annotation.swift
  test/IDE/complete_annotation_concurrency.swift
  test/IDE/complete_call_pattern.swift
  test/IDE/complete_concurrency_keyword.swift
  test/IDE/complete_diagnostics_concurrency.swift
  test/IDE/complete_globalactorunsafe_strict.swift
  test/IDE/complete_if_switch_expr.swift
  test/IDE/complete_implicit_last_expr.swift
  test/IDE/complete_member_basetypes.swift
  test/IDE/complete_optionset.swift
  test/IDE/complete_rdar126168123.swift
  test/IDE/complete_rdar127154780.swift
  test/IDE/complete_rdar63965160.swift
  test/IDE/complete_rdar94369218.swift
  test/IDE/complete_subtype_overload.swift
  test/IDE/complete_then_stmt.swift
  test/IDE/complete_type_relation_any_some.swift
  test/IDE/complete_typerelation.swift
  test/IDE/complete_unresolved_members.swift
Labels: 🍒 release cherry pick, swift 6.0

#74250 [cxx-interop] Avoid emitting methods that cause name clash
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/enums/enum-element-method-name-clash.swift
Labels: c++ interop

#74257 [docs] Suggest `--skip-xros` in the Getting Started guide
  docs/HowToGuides/GettingStarted.md
Labels: contributor experience

#73944 [embedded] Add a section on Strings into the User Manual
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
  docs/EmbeddedSwift/UserManual.md
Labels: embedded

#73961 [embedded] Add a summary of the Embedded Swift ABI
  docs/EmbeddedSwift/ABI.md
Labels: embedded

#74268 Revert "[AutoDiff] Fix custom derivative thunk for Optional"
  lib/SILGen/SILGenPoly.cpp
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/AutoDiff/SILGen/nil_coalescing.swift
Labels: bug, AutoDiff

#74263 [6.0] [Completion] Fix macro argument and protocol static member completion
  lib/IDE/CodeCompletion.cpp
  lib/Sema/IDETypeCheckingRequests.cpp
  test/IDE/complete_rdar129024996.swift
Labels: 🍒 release cherry pick, swift 6.0

#74262 [6.0] [Sema] Restore 5.10 implicit self behavior prior to Swift 6 mode
  lib/AST/UnqualifiedLookup.cpp
  lib/Sema/MiscDiagnostics.cpp
  test/attr/attr_noescape.swift
  test/expr/closure/closures.swift
  test/expr/closure/closures_swift6.swift
  test/expr/closure/implicit_weak_capture.swift
Labels: 🍒 release cherry pick, swift 6.0

#74261 [cxx-interop] Only run tests for reference types against a recent Swift runtime
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#74287 [cxx-interop] Fix unavailable generics triggering compilation error
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/unsupported/unsupported-generics-in-cxx.swift
Labels: c++ interop

#73873 [embedded] Make Mirror present but unavailable
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/EmbeddedStubs.swift
  stdlib/public/core/KeyValuePairs.swift
  stdlib/public/core/Mirror.swift
  test/embedded/mirror.swift
Labels: embedded

#74284 [Distributed] Improve erroring out when distributed types not found
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
Labels: distributed

#74300 [6.0] [Mangler] Mangle function type for invalid enum element
  lib/AST/ASTMangler.cpp
  test/Index/enum_case_with_invalid_associated_type.swift
  test/Index/rdar129065620.swift
  test/SourceKit/Indexing/index_effective_access_level.swift.response
Labels: 🍒 release cherry pick, swift 6.0

#74293 🍒[cxx-interop] Only run tests for reference types against a recent Swift runtime
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#74336 [6.0 🍒] Cache visible Clang modules for interface printing in 'ModuleDecl'
  include/swift/AST/Module.h
  lib/AST/ASTPrinter.cpp
  lib/AST/Module.cpp
Labels: 🍒 release cherry pick, swift 6.0

#74279 [cxx-interop] import static operator call from C++23 as member callAs…
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#74355 [6.0] SILGen: ignore unreachable var decls
  lib/SILGen/SILGenStmt.cpp
  test/SILGen/local_decl_after_unreachable.swift
Labels: swift 6.0

#74323 [6.0][ModuleInterface] Save `-public-autolink-library` module option
  include/swift/Option/FrontendOptions.td
  lib/Frontend/ModuleInterfaceBuilder.cpp
  test/ModuleInterface/public-autolink-library.swift
Labels: bug, 🍒 release cherry pick, swift 6.0

#74330 [cxx-interop] Fix extra indirection when exporting CFData arguments
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/CFTypeInfo.h
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop

#74378 [AutoDiff] Fix custom derivative thunk for Optional
  lib/SILGen/SILGenPoly.cpp
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  test/AutoDiff/SILGen/nil_coalescing.swift
Labels: AutoDiff

#74380 [6.0] embedded: add swift_dynamicCastClass runtime function
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/classes.swift
Labels: swift 6.0

#74353 [6.0] PerformanceDiagnostics: avoid false meta-data alarms for non-loadable types
  include/swift/SIL/SILType.h
  lib/SIL/IR/SILType.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  test/SILOptimizer/performance-annotations.swift
Labels: swift 6.0

#74384 [cxx-interop] Fix generated declaration order
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-operators.swift
Labels: c++ interop

#74319 [docs] Provide more documentation on custom executors with global actors
  stdlib/public/Concurrency/GlobalActor.swift
  test/Concurrency/Runtime/custom_executors.swift
  test/Concurrency/Runtime/custom_executors_globalActor.swift
Labels: concurrency, documentation

#74367 [6.0] Define availability for the 6.0 stdlib & runtime
  benchmark/single-source/CharacterRecognizer.swift
  benchmark/single-source/StringTests.swift
  include/swift/AST/FeatureAvailability.def
  include/swift/AST/RuntimeVersions.def
  stdlib/public/ClangOverlays/float.swift.gyb
  stdlib/public/core/ErrorType.swift
  test/ModuleInterface/distributed-actor.swift
  utils/availability-macros.def
Labels: swift 6.0

#74324 [Distributed] Fix availability of DAS requirements and always emit into client whenLocal with typed throws
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/abi/macOS/arm64/distributed.swift
  test/abi/macOS/x86_64/distributed.swift
Labels: distributed

#74174 [6.0][Concurrency] TaskExecutor ownership fixes
  include/swift/ABI/Executor.h
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
  include/swift/ABI/TaskStatus.h
  include/swift/AST/ASTSynthesis.h
  lib/AST/Builtins.cpp
  lib/IRGen/GenConcurrency.cpp
  lib/IRGen/GenConcurrency.h
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGenBuiltin.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskGroup+TaskExecutor.swift
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Concurrency/TaskStatus.cpp
  stdlib/public/SwiftShims/swift/shims/RefCount.h
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func.swift
  test/Concurrency/Runtime/async_task_executor_unstructured_task_ownership.swift
  test/Concurrency/async_main.swift
  test/IRGen/async/builtins.sil
  test/SILGen/async_builtins.swift
Labels: distributed, 🍒 release cherry pick

#74417 [Distributed] Remove "Stdlib" in macro as it is not understood in user code
  lib/Macros/Sources/SwiftMacros/DistributedResolvableMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_inheritance.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_various_requirements.swift
Labels: distributed

#74354 [embedded] Respect float arg lowering convention under -mfloat-abi=hard
  lib/IRGen/GenCall.cpp
  test/embedded/float-abi-hard.swift
Labels: embedded

#74420 [6.0] [Completion] Skip `tryOptimizeGenericDisjunction` if there's a completion child
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSRanking.cpp
  lib/Sema/CSSolver.cpp
  lib/Sema/ConstraintSystem.cpp
  test/IDE/complete_rdar127844278.swift
Labels: 🍒 release cherry pick, swift 6.0

#74435 [cxx-interop] Fix a test for move-only types
  test/Interop/Cxx/class/move-only/inherited-field-access-silgen.swift
Labels: c++ interop

#74408 [6.0][Distributed] Fix availability of DAS requirements and always emit into client whenLocal with typed throws
  stdlib/public/Distributed/DistributedActor.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/abi/macOS/arm64/distributed.swift
  test/abi/macOS/x86_64/distributed.swift
Labels: distributed, 🍒 release cherry pick

#74320 [6.0][docs] Provide more documentation on custom executors with global actors
  stdlib/public/Concurrency/GlobalActor.swift
  test/Concurrency/Runtime/custom_executors.swift
  test/Concurrency/Runtime/custom_executors_globalActor.swift
Labels: concurrency, documentation, 🍒 release cherry pick

#71396 [cxx-interop] Allow initializing `std::function` from Swift closures
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/ClangImporter/ClangDerivedConformances.h
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-function.h
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#74442 [embedded] Implement missing _convertConstStringToUTF8PointerArgument to support string to pointer conversion
  stdlib/public/core/Pointer.swift
  test/embedded/string-to-pointer.swift
Labels: embedded

#74429 [6.0][AST] `@preconcurrency` conformance applies to implied conformances as well
  include/swift/AST/ProtocolConformance.h
  test/Concurrency/preconcurrency_conformances.swift
  test/Interpreter/preconcurrency_conformances.swift
  test/Interpreter/preconcurrency_conformances_with_disabled_checks.swift
  test/SILGen/preconcurrency_conformances.swift
Labels: 🍒 release cherry pick, swift 6.0

#74482 [SourceKit] Mark overridable declarations as dynamic
  lib/IDE/IDERequests.cpp
  test/SourceKit/CursorInfo/cursor_of_protocol_requirement_is_dynamic.swift
Labels: swift 6.0

#74480 [embedded] Skip EagerSpecializer on embedded Swift
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/embedded/specialize-attrs2.swift
Labels: embedded

#74499 [6.0] [Completion] Don’t generate USRs for local decls
  lib/AST/ASTMangler.cpp
  lib/IDE/CodeCompletionResultBuilder.cpp
  test/SourceKit/CodeComplete/complete_local_decl.swift
Labels: 🍒 release cherry pick, swift 6.0

#74339 [cxx-interop] Make function signature printing transactional
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
Labels: c++ interop

#74508 [6.0] Guard lifetime dependence diagnostics by experimental flag
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
Labels: 🍒 release cherry pick, swift 6.0

#74426 [cxx-interop] Add `std::span` tests
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#74504 [6.0] Fix MoveOnlyWrappedTypeEliminator; handle dealloc_box
  lib/SILOptimizer/Mandatory/MoveOnlyWrappedTypeEliminator.cpp
  test/SILOptimizer/moveonly_type_eliminator.sil
Labels: 🍒 release cherry pick, swift 6.0

#74489 [embedded] Don't build *all* the embedded stdlibs by default
  stdlib/public/CMakeLists.txt
  test/embedded/float-abi-hard.swift
  test/embedded/fragile-reference.swift
  test/embedded/modules-empty-object.swift
  test/embedded/no-allocations-print.swift
  test/embedded/optionset2.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/stdlib-array.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-dictionary.swift
  test/embedded/stdlib-random.swift
  test/embedded/stdlib-set.swift
  test/embedded/stdlib-strings-interpolation3.swift
  test/embedded/stdlib-types-riscv.swift
  test/embedded/stdlib-types.swift
  test/embedded/wasm/classes.swift
  test/lit.site.cfg.in
  utils/build-presets.ini
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/products/swift.py
  utils/swift_build_support/tests/products/test_swift.py
Labels: embedded

#73561 [SILGen] Fix a crash when a closure is converted to a pointer to a function returning a non-trivial C++ type
  lib/SILGen/SILGenBridging.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/closure-thunk-irgen.swift
  test/Interop/Cxx/class/closure-thunk.swift
Labels: c++ interop

#74418 [6.0][Distributed] Remove "Stdlib" in macro as it is not understood in user code
  lib/Macros/Sources/SwiftMacros/DistributedResolvableMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_inheritance.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_various_requirements.swift
Labels: distributed, 🍒 release cherry pick

#74285 [6.0][Distributed] Improve erroring out when distributed types not found
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
Labels: distributed, 🍒 release cherry pick

#74526 [6.0] [Completion] Completions for `inout`, `borrowing`, `consuming`, `isolated`, `consume`, and `copy`
  include/swift/AST/DeclAttr.def
  include/swift/AST/TokenKinds.def
  include/swift/IDE/CodeCompletionResult.h
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/IDE/CodeCompletion.cpp
  lib/Parse/ParsePattern.cpp
  lib/Parse/ParseType.cpp
  test/IDE/complete_at_top_level_library.swift
  test/IDE/complete_keywords.swift
  test/IDE/complete_ownership_specifier.swift
  tools/SourceKit/lib/SwiftLang/CodeCompletionOrganizer.cpp
Labels: 🍒 release cherry pick, swift 6.0

#74334 [cxx-interop] Fix inadvertently renaming static method to Mutating
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/methods.swift
Labels: c++ interop

#74535 [embedded] Normalize spelling of SWIFT_SHOULD_BUILD_EMBEDDED_STDLIB for lit.site.cfg.in
  test/CMakeLists.txt
  test/embedded/modules-empty-object.swift
  test/embedded/specialize-attrs2.swift
Labels: embedded

#74551 [embedded] Enable read-only static array promotion in embedded mode
  lib/IRGen/IRGenModule.cpp
  test/embedded/static-object-non-darwin.swift
Labels: embedded

#74514 [6.0][Concurrency] if let value on async value should be banned (not crash)
  lib/ASTGen/Sources/ASTGen/Stmts.swift
  lib/Parse/ParseStmt.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/TypeCheckEffects.cpp
  test/Concurrency/effectful_properties_async_if_optional_unwrap.swift
  test/DebugInfo/guard-let-scope3.swift
  test/DebugInfo/if-let-scope.swift
  test/expr/unary/async_await.swift
Labels: 🍒 release cherry pick, swift 6.0

#74573 [cxx-interop] NFC: update a couple outdated comments
  include/swift/ABI/Metadata.h
  include/swift/ClangImporter/ClangImporterRequests.h
Labels: c++ interop

#73807 [stdlib] API additions for basic noncopyable primitives
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/MutableCollection.swift
  stdlib/public/core/NFC.swift
  stdlib/public/core/NFD.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/Result.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  test/IDE/complete_generic_optional.swift
  test/IDE/complete_unresolved_members.swift
  test/Prototypes/Hypoarray.swift
  test/api-digester/Outputs/stability-stdlib-source-x86_64.swift.expected
  test/stdlib/swap.swift
Labels: swift evolution approved

#74534 Fix renaming enum case parameters with unnamed associated arguments
  include/swift/IDE/IDEBridging.h
  include/swift/IDE/Utils.h
  lib/ASTGen/Sources/SwiftIDEUtilsBridging/NameMatcherBridging.swift
  lib/Refactoring/SyntacticRenameRangeDetails.cpp
  test/SourceKit/Refactoring/find_rename_ranges_enum_case_with_label.swift
  test/SourceKit/Refactoring/find_rename_ranges_enum_case_without_label.swift
  test/SourceKit/Refactoring/find_rename_ranges_enum_case_without_underscore_as_first_name_label.swift
  test/refactoring/SyntacticRename/Outputs/types/case-other.swift.expected
Labels: swift 6.0

#74580 🍒[Swift-6.0] [Windows] Update the Swift compiler to 5.10.1
  utils/build.ps1
Labels: swift 6.0

#74516 [cxx-interop] Fix exporting cdecl Swift functions to Obj-C++
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/PrintAsObjC/cdecl-imports.swift
  test/PrintAsObjC/cdecl.swift
Labels: c++ interop

#74572 🍒[cxx-interop] Fix inadvertently renaming static method to Mutating
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/class/method/Inputs/methods.h
  test/Interop/Cxx/class/method/methods.swift
Labels: c++ interop

#74587 [6.0] [Sema] Requestify pattern resolution
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/Sema/TypeCheckPattern.cpp
  validation-test/IDE/crashers_2_fixed/rdar128661960.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar92327807.swift
Labels: 🍒 release cherry pick, swift 6.0

#74575 [6.0][ClangImporter/SILGen] A couple of fixes for ObjC and Sendable interaction
  lib/ClangImporter/ImportDecl.cpp
  lib/SILGen/SILGenBridging.cpp
  test/ClangImporter/objc_method_with_sendable_generic_requirement.swift
  test/Interpreter/objc_method_with_sendable_generic_requirement.swift
  test/SILGen/Inputs/objc_bridging_sendable.h
  test/SILGen/objc_bridging_sendable.swift
Labels: 🍒 release cherry pick, swift 6.0

#74296 [cxx-interop] Only run tests for reference types against a recent Swift runtime, pt 2
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#74619 [cxx-interop] Instantiate the `std::function` constructor with a const pointer argument
  lib/ClangImporter/ClangDerivedConformances.cpp
Labels: c++ interop

#73810 [6.0][stdlib] API additions for basic noncopyable primitives
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/MutableCollection.swift
  stdlib/public/core/NFC.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/Result.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  test/IDE/complete_generic_optional.swift
  test/IDE/complete_unresolved_members.swift
  test/Prototypes/Hypoarray.swift
  test/api-digester/Outputs/stability-stdlib-source-x86_64.swift.expected
  test/stdlib/swap.swift
Labels: swift evolution approved

#74627 [cxx-interop] Fix mismatched quotation mark in a request message
  lib/AST/NameLookupRequests.cpp
Labels: c++ interop

#74624 [6.0][Concurrency] Don't attempt to diagnose `GlobalConcurrency` issues wi…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/global_actor_isolation_cross_module_reference.swift
Labels: 🍒 release cherry pick, swift 6.0

#74642 [embedded] Fix 3 compilation warnings in embedded stdlib
  stdlib/public/core/EmbeddedPrint.swift
  stdlib/public/core/Optional.swift
Labels: embedded

#73870 [embedded] Add a embedded-libraries CMake target to simplify the test dependencies
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Volatile/CMakeLists.txt
  stdlib/public/core/CMakeLists.txt
  stdlib/public/stubs/Unicode/CMakeLists.txt
  test/CMakeLists.txt
Labels: embedded

#74536 [embedded] Start building embedded stdlib on Windows
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
Labels: embedded

#74637 [PrintAsCxx] Fix printing of C++ enum args
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
Labels: c++ interop, swift to c++, enums c++

#74585 [6.0][PackageCMO] Add back missing change for package scope in table entry visibility check
  lib/AST/Decl.cpp
Labels: swift 6.0

#74615 🍒[cxx-interop] Fix exporting cdecl Swift functions to Obj-C++
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/PrintAsObjC/cdecl-imports.swift
  test/PrintAsObjC/cdecl.swift
Labels: c++ interop

#74656 [6.0] [Completion] Add completion for `sending` specifier
  include/swift/Parse/Parser.h
  lib/IDE/CodeCompletion.cpp
  lib/Parse/ParsePattern.cpp
  lib/Parse/ParseType.cpp
  test/IDE/complete_ownership_specifier.swift
  test/IDE/complete_param_specifier.swift
Labels: 🍒 release cherry pick, swift 6.0

#74155 Inspect class to determine if its a class, actor, or distributed actor
  lib/SymbolGraphGen/DeclarationFragmentPrinter.cpp
  test/SymbolGraph/Symbols/Kinds/Actor.swift
  test/SymbolGraph/Symbols/Kinds/DistributedActor.swift
  test/lit.cfg
Labels: distributed

#74541 [cxx-interop][serialization] resolve x-refs to instantiated/synthesiz…
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/Serialization/Deserialization.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-iterator-conformance-operator-synthesis-conformance.swift
Labels: c++ interop

#73559 [cxx-interop] Import the attributes from clang decl for synthesized s…
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-typechecker.swift
Labels: c++ interop

#74643 🌸[NFC] [PrintAsClang] Add tiebreaking rule to sort
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/PrintAsObjC/classes.swift
  test/PrintAsObjC/extensions.swift
Labels: 🍒 release cherry pick

#74676 [SILGen] Fix assertion failure when opaque value is enabled
  lib/SILGen/SILGenBridging.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/closure-thunk-opaque-values.swift
Labels: c++ interop

#74494 [cxx-interop] Builtin functions should ignore return type nullability…
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/function/Inputs/custom-string-builtins.h
  test/Interop/Cxx/function/Inputs/module.modulemap
  test/Interop/Cxx/function/builtin-nullability-return-type-typechecker.swift
Labels: c++ interop

#74620 [cxx-interop] Fix reverse interop test for virtual method dispatch on arm64e
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-arm64e.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
Labels: c++ interop

#74654 [cxx-interop] Reenable exporting Foreign Reference Types to C++
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/allow-shared-frt-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/consuming-cxx-struct-parameter-back-to-cxx-execution.cpp
Labels: c++ interop

#74712 [6.0 🍒][Compile Time Constant Extraction] Ensure macro-expanded declarations are visited in WMO
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractFromMacroExpansion.swift
Labels: 🍒 release cherry pick, swift 6.0

#74670 [6.0][PackageCMO] Don't allow modifying AST
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  test/SILOptimizer/package-cmo-swiftinterface.swift
Labels: swift 6.0

#74722 [cxx-interop] ensure destructors referenced only by the exception cle…
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/throwing-constructor-destructor-cleanup-ref-irgen.swift
Labels: c++ interop

#74640 [cxx-interop] ensure that the body of implicit virtual destructor is …
  lib/IRGen/GenClangDecl.cpp
  lib/IRGen/GenStruct.cpp
  lib/IRGen/IRGenModule.h
  test/Interop/Cxx/class/virtual-destructor-vtable-ref-irgen.swift
Labels: c++ interop

#74592 Improve logging in `swift_build_support/shell.py`
  utils/swift_build_support/swift_build_support/shell.py
Labels: build-script

#74746 [6.0] [Sema] Pass down ProtocolConformance to DerivedConformance
  lib/Sema/AssociatedTypeInference.cpp
  lib/Sema/DerivedConformanceEquatableHashable.cpp
  lib/Sema/DerivedConformances.cpp
  lib/Sema/DerivedConformances.h
  lib/Sema/TypeCheckProtocol.cpp
  lib/Sema/TypeChecker.h
Labels: 🍒 release cherry pick, swift 6.0

#74606 [Distributed] Adjust whenLocal impl to avoid potential ABI issues
  stdlib/public/Distributed/DistributedActor.swift
  test/abi/macOS/arm64/distributed.swift
  test/abi/macOS/x86_64/distributed.swift
Labels: distributed

#73569 [6.0][Concurrency] Remove last usages of @_unsafeInheritExecutor
  stdlib/public/Concurrency/Clock.swift
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  stdlib/public/Concurrency/TaskGroup.swift
  stdlib/public/Concurrency/TaskLocal.swift
  test/Concurrency/actor_withCancellationHandler.swift
  test/Concurrency/async_task_group_body_inherit_isolation.swift
  test/Concurrency/unsafe_inherit_executor_lib.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/api-digester/stability-concurrency-abi.test
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#74771 [cxx-interop] Add requirement executable_test
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#70603 Clear out the SchedulerPrivate fields before enqueueing the task
  stdlib/public/Concurrency/Actor.cpp
Labels: concurrency

#74713 [6.0 🍒][Compile Time Constant Extraction] Query nominal type conformances to get at the protocols, instead of `getAllProtocols`.
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractMacroExpandedConformances.swift
  test/ConstExtraction/Inputs/Macros.swift
Labels: 🍒 release cherry pick, swift 6.0

#74779 [6.0] fix a crash when de-virtualizing class or actor methods with typed throws
  include/swift/SIL/ApplySite.h
  lib/SILOptimizer/Utils/Devirtualize.cpp
  test/SILOptimizer/mandatory_inlining.sil
  test/SILOptimizer/mandatory_inlining.swift
Labels: swift 6.0

#74799 [6.0] Sema: Fix accessor availability checking regressions caused by #72412
  lib/Sema/TypeCheckAvailability.cpp
  test/Sema/availability_accessors.swift
Labels: 🍒 release cherry pick, swift 6.0

#74780 [cxx-interop] noexcept specifier before function attributes
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstdbool
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstddef
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstdint
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstring
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/new
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/type_traits
  test/Inputs/clang-importer-sdk/usr/include/ctypes.h
  test/PrintAsObjC/cdecl-imports.swift
  test/PrintAsObjC/cdecl.swift
  test/PrintAsObjC/lit.local.cfg
Labels: c++ interop

#74784 🍒[cxx-interop] noexcept specifier before function attributes
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstdbool
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstddef
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstdint
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/cstring
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/new
  test/Inputs/clang-importer-sdk/usr/include/c++/v1/type_traits
  test/Inputs/clang-importer-sdk/usr/include/ctypes.h
  test/PrintAsObjC/cdecl-imports.swift
  test/PrintAsObjC/cdecl.swift
  test/PrintAsObjC/lit.local.cfg
Labels: c++ interop

#74788 [6.0] [ClangImporter] Switch `lookupGlobalsAsMembers` to take a non-optional EffectiveClangContext
  lib/ClangImporter/SwiftLookupTable.cpp
  lib/ClangImporter/SwiftLookupTable.h
Labels: 🍒 release cherry pick, swift 6.0

#74787 [6.0 🍒][Dependency Scanning] Respect the Language Option for cross-import overlay enablement
  lib/DependencyScan/ModuleDependencyScanner.cpp
  test/CAS/module_deps.swift
  test/CAS/module_deps_include_tree.swift
  test/CAS/plugin_cas.swift
  test/ScanDependencies/module_deps_cache_reuse.swift
  test/ScanDependencies/module_deps_cross_import_overlay.swift
  test/ScanDependencies/module_deps_disable_cross_import_overlays.swift
Labels: 🍒 release cherry pick, swift 6.0

#74747 [6.0 🍒][Parseable Output] Make Emit-Module tasks indicate their name accordingly, instead of `compile`
  lib/FrontendTool/FrontendTool.cpp
  test/Frontend/parseable_output.swift
  test/Frontend/parseable_output_batch.swift
  test/Frontend/parseable_output_early.swift
  test/Frontend/parseable_output_emit_module.swift
  test/Frontend/parseable_output_error.swift
  test/Frontend/parseable_output_unknown_file_type.swift
Labels: 🍒 release cherry pick, swift 6.0

#74772 [cxx-interop] Enable hardening when running tests for std::span
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#74825 [6.0][IRGen] Fetch the correct IGM for synthesized files
  lib/IRGen/IRGen.cpp
  test/Macros/extension_emission.swift
Labels: 🍒 release cherry pick, swift 6.0
