Repository swiftlang/swift, pull requests merged in 2024-03, with the labels that each got.

#71994 [cxx-interop] Overhaul virtual method support
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
  test/Interop/Cxx/class/inheritance/virtual-methods.swift
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
Labels: c++ interop

#72050 [cxx-interop] Fix virtual method tests on non-macOS
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
  test/Interop/Cxx/class/inheritance/virtual-methods.swift
Labels: c++ interop

#72035 Fix `@isolated(any)` for distributed actors
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILGen/SILGenConcurrency.cpp
  lib/SILGen/SILGenFunction.h
  test/Distributed/distributed_actor_isolated_any.swift
  test/SILGen/isolated_any.swift
Labels: distributed

#72100 Disable IRGen/lto_autolink.swift on iOS and arm64e
  test/IRGen/lto_autolink.swift
Labels: 🍒 release cherry pick, swift 5.10

#72073 [Distributed] Emit accessors for distributed protocol requirements
  include/swift/IRGen/Linking.h
  lib/AST/ASTMangler.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenDistributed.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/Linking.cpp
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method_in_presence_of_multiple_systems.swift
Labels: distributed

#72107 [AST/Sema] Distributed: Refactor type and member queries
  include/swift/AST/ASTContext.h
  include/swift/AST/DistributedDecl.h
  lib/AST/ASTContext.cpp
  lib/AST/DistributedDecl.cpp
  lib/IRGen/GenDistributed.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
  test/ModuleInterface/distributed-actor.swift
Labels: distributed

#72081 [Distributed] Only synthesize Codable for DA where the ID is Codable
  include/swift/AST/DistributedDecl.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/ConformanceLookup.cpp
  lib/AST/DistributedDecl.cpp
  lib/AST/ProtocolConformance.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_localSystem_generic.swift
  test/Distributed/distributed_actor_conditionally_implicitly_codable.swift
  test/Distributed/distributed_actor_protocol_isolation.swift
  test/Distributed/distributed_actor_system_missing.swift
  test/Distributed/distributed_actor_system_missing_type_no_crash.swift
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
Labels: distributed

#72188 Update Wasm CI badge in README.md
  README.md
Labels: WebAssembly

#72180 [Distributed] Add ModuleInterface test with generic distributed actor
  lib/AST/DistributedDecl.cpp
  test/ModuleInterface/distributed-actor.swift
Labels: distributed

#72151 [Distributed] Handle distributed thunk requirements/witnesses
  include/swift/SIL/SILWitnessVisitor.h
  lib/AST/DistributedDecl.cpp
  lib/AST/ProtocolConformance.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenProto.cpp
  lib/SILGen/SILGenApply.cpp
  lib/SILGen/SILGenThunk.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method_in_presence_of_multiple_systems.swift
  test/Distributed/SIL/distributed_thunk.swift
Labels: distributed

#72217 Embedded: enable `*-unknown-windows-coff` triples in `Platform.cpp`
  lib/Basic/Platform.cpp
Labels: Windows, Frontend, embedded, needs tests

#72186 [cxx-interop] Refer to `SwiftBridging` module from `usr/include/module.modulemap`
  lib/ClangImporter/CMakeLists.txt
  lib/ClangImporter/SwiftBridging/CMakeLists.txt
  lib/ClangImporter/SwiftBridging/module.modulemap
  lib/ClangImporter/SwiftBridging/swift/bridging
  lib/ClangImporter/SwiftBridging/swift/bridging.modulemap
  test/Interop/Cxx/class/Inputs/mutable-members.h
  test/Interop/Cxx/class/mutable-members-with-mutating-annotation-module-interface.swift
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
Labels: c++ interop

#72135 [embedded] Diagnose usage of weak and unowned variables in embedded Swift
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/embedded/weak-unowned.swift
Labels: embedded

#71973 [Concurrency] Adjustments to withTaskExecutorPreference
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  test/Concurrency/Runtime/async_task_executor_withExecutor.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
Labels: concurrency

#72293 [embedded] Start building Synchronization in embedded Swift mode
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
  docs/EmbeddedSwift/UserManual.md
  stdlib/public/CMakeLists.txt
  stdlib/public/Synchronization/AtomicMemoryOrderings.swift
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/WordPair.swift
  stdlib/public/core/CMakeLists.txt
  test/embedded/synchronization.swift
Labels: embedded

#71712 [embedded] Add an Embedded Swift test building for riscv32 and riscv64
  test/embedded/stdlib-types-riscv.swift
Labels: embedded

#72311 [embedded] Add language feature list to EmbeddedSwiftStatus.md
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
Labels: embedded

#72371 [embedded] Specialize superclasses in VTableSpecializer as part of MandatoryPerformanceOptimizations
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/MandatoryPerformanceOptimizations.swift
  lib/SILOptimizer/Transforms/VTableSpecializer.cpp
  test/embedded/generic-classes2.swift
Labels: embedded

#72426 [6.0] Serialization: update for new diagnostics format
  lib/Serialization/Deserialization.cpp
  test/Serialization/Recovery/module-recovery-remarks.swift
  test/Serialization/modularization-error.swift
Labels: swift 6.0

#72394 [6.0][CSSimplify] Mark all type variables in member type as holes if base is a hole
  lib/Sema/CSSimplify.cpp
  test/Constraints/members.swift
Labels: 🍒 release cherry pick, swift 6.0

#72430 [6.0] Sema: Diagnose availability of storage accessors in key paths and writebacks
  lib/Sema/TypeCheckAvailability.cpp
  test/Sema/availability_accessors.swift
Labels: 🍒 release cherry pick, swift 6.0

#72438 [6.0] EagerSpecializer: fix a SIL verifier crash
  lib/SILOptimizer/Transforms/EagerSpecializer.cpp
  test/SILOptimizer/eager_specialize.sil
Labels: swift 6.0

#72429 [6.0][Test] Disable flakey test
  test/SourceKit/Diagnostics/cancel_diags.swift
Labels: 🍒 release cherry pick, swift 6.0

#72457 [6.0] Serialization: report type mismatch when it causes a deserialization failure
  include/swift/AST/DiagnosticsSema.def
  lib/Serialization/Deserialization.cpp
  lib/Serialization/DeserializationErrors.h
  test/Serialization/Recovery/module-recovery-remarks-on-type-changed.swift
Labels: 🍒 release cherry pick, swift 6.0

#72454 [6.0] Parse: Diagnose empty version numbers
  lib/Parse/ParseDecl.cpp
  test/Parse/availability_query.swift
  test/Parse/invalid.swift
  test/Sema/diag_originally_definedin.swift
  test/attr/attr_availability.swift
  test/attr/attr_backDeployed.swift
Labels: 🍒 release cherry pick, swift 6.0

#72462 [6.0][Tests] NFC: Gate preconcurrency conformances runtime test on presenc…
  test/Interpreter/preconcurrency_conformances.swift
Labels: 🍒 release cherry pick, swift 6.0

#72492 [6.0][Test] Disable IDE/complete_operators.swift on Linux (#72491)
  test/IDE/complete_operators.swift
Labels: 🍒 release cherry pick, swift 6.0

#71178 Add `--stash` as alternative to `--clean` to `update-checkout`
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout, contributor experience, utils, needs tests

#72488 [cxx-interop] Test stdlib support with newer C++ standards
  test/Interop/Cxx/stdlib/use-std-chrono.swift
  test/Interop/Cxx/stdlib/use-std-function.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
Labels: c++ interop

#72515 [6.0][Parser] Remove remaining -disable-experimental-parser-round-trip uses in test cases
  test/Concurrency/transfernonsendable_strong_transferring_results.swift
  test/ModuleInterface/lifetime_dependence_test.swift
  test/Parse/explicit_lifetime_dependence_specifiers.swift
  test/Parse/result_depends_on.swift
  test/Parse/transferring.swift
  test/SIL/explicit_lifetime_dependence_specifiers.swift
  test/SIL/implicit_lifetime_dependence.swift
  test/SIL/lifetime_dependence_buffer_view_test.swift
  test/SIL/lifetime_dependence_generics.swift
  test/SIL/result_depends_on.swift
  test/SILOptimizer/lifetime_dependence_borrow.swift
  test/SILOptimizer/lifetime_dependence_borrow_fail.swift
  test/SILOptimizer/lifetime_dependence_diagnostics.swift
  test/SILOptimizer/lifetime_dependence_generic.swift
  test/SILOptimizer/lifetime_dependence_inherit.swift
  test/SILOptimizer/lifetime_dependence_inherit_fail.swift
  test/SILOptimizer/lifetime_dependence_insertion.swift
  test/SILOptimizer/lifetime_dependence_mutate.swift
  test/SILOptimizer/lifetime_dependence_param.swift
  test/SILOptimizer/lifetime_dependence_param_fail.swift
  test/SILOptimizer/lifetime_dependence_scope.swift
  test/SILOptimizer/lifetime_dependence_scope_fixup.swift
  test/Sema/explicit_lifetime_dependence_specifiers1.swift
  test/Sema/explicit_lifetime_dependence_specifiers2.swift
  test/Sema/transferring.swift
  test/Serialization/explicit_lifetime_dependence.swift
  test/Serialization/implicit_lifetime_dependence.swift
  test/Serialization/transferring.swift
Labels: 🍒 release cherry pick, swift 6.0

#72517 [6.0][Parse] Disallow specifiers in front of parameter declarations
  lib/Parse/ParsePattern.cpp
  test/Parse/parameter_specifier_before_param_name.swift
  test/Sema/const_keypath.swift
Labels: 🍒 release cherry pick, swift 6.0

#72472 [embedded] Compile-time (literal) KeyPaths for Embedded Swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyApply.swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyKeyPath.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  include/swift/AST/DiagnosticsSIL.def
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/Utils/InstOptUtils.h
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  lib/SILOptimizer/PassManager/PassManager.cpp
  lib/SILOptimizer/SILCombiner/SILCombiner.h
  lib/SILOptimizer/SILCombiner/SILCombinerApplyVisitors.cpp
  lib/SILOptimizer/Utils/KeyPathProjector.cpp
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/EmbeddedStubs.swift
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/MemoryLayout.swift
  stdlib/public/core/UnsafePointer.swift
  test/IRGen/keypaths.sil
  test/IRGen/keypaths_external.sil
  test/IRGen/keypaths_objc.sil
  test/SILOptimizer/optimize_keypath.swift
  test/embedded/keypaths.swift
Labels: embedded

#72516 [6.0][SourceKit] Allow generation of cursor info for declarations from solutions that haven’t aren’t applied to the AST
  include/swift/IDE/Utils.h
  lib/IDE/CursorInfo.cpp
  lib/IDE/IDERequests.cpp
  lib/IDE/SourceEntityWalker.cpp
  test/SourceKit/CursorInfo/closure_with_invalid_var_reference.swift
  test/SourceKit/CursorInfo/cursor_ambiguous.swift
  tools/SourceKit/lib/SwiftLang/SwiftSourceDocInfo.cpp
  tools/swift-ide-test/swift-ide-test.cpp
Labels: swift 6.0

#72563 [embedded] Add swift_isUniquelyReferenced_native into the embedded runtime
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/classes-optional.swift
Labels: embedded

#72573 [6.0] AST: `#if hasAttribute(retroactive)` should evaluate true
  include/swift/AST/Attr.h
  lib/AST/Attr.cpp
  test/attr/has_attribute.swift
Labels: 🍒 release cherry pick, swift 6.0

#72554 [6.0] build-script: add flag to pass arguments to dsymutil
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/tests/test_cmake.py
  validation-test/BuildSystem/extra_dsymutil_args.test
  validation-test/BuildSystem/extra_dsymutil_args_empty.test
Labels: swift 6.0

#72581 [6.0] SIL: fix runtime effect of copy_addr of trivial types
  lib/SIL/Utils/InstructionUtils.cpp
  test/SILOptimizer/performance-annotations.swift
Labels: swift 6.0

#72567 [6.0] PredictableMemOpt: fix a crash, caused by a wrong instruction cast
  lib/SILOptimizer/Mandatory/PredictableMemOpt.cpp
  test/SILOptimizer/predictable_deadalloc_elim_ownership.sil
Labels: swift 6.0

#72530 [embedded] Add IVarDestroyers into class metadata, add support for throws in initializers
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/GenMeta.cpp
  stdlib/public/SwiftShims/swift/shims/EmbeddedShims.h
  stdlib/public/core/EmbeddedRuntime.swift
  test/embedded/classes-generic-no-stdlib.swift
  test/embedded/classes-methods-no-stdlib.swift
  test/embedded/classes-no-stdlib.swift
  test/embedded/init-throwing.swift
  test/embedded/managed-buffer.swift
Labels: embedded

#72611 [6.0] SIL: Fix handling of mark_dependence [nonescaping] in several utilities
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/StackProtection.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/AddressUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/BorrowUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/Utilities/AccessUtils.swift
  include/swift/SIL/OwnershipUseVisitor.h
  include/swift/SIL/OwnershipUtils.h
  include/swift/SIL/PrunedLiveness.h
  include/swift/SIL/SILInstruction.h
  lib/SIL/IR/SILInstruction.cpp
  lib/SIL/Utils/OwnershipUtils.cpp
  lib/SIL/Utils/PrunedLiveness.cpp
  lib/SILOptimizer/Mandatory/CapturePromotion.cpp
  lib/SILOptimizer/Utils/CanonicalizeBorrowScope.cpp
  test/SILOptimizer/accessutils.sil
  test/SILOptimizer/capture_promotion_ownership.sil
  test/SILOptimizer/copy_propagation.sil
  test/SILOptimizer/lifetime_dependence.sil
  test/SILOptimizer/lifetime_dependence_borrow.swift
  test/SILOptimizer/lifetime_dependence_diagnostics_generic.sil
  test/SILOptimizer/lifetime_dependence_generic.swift
  test/SILOptimizer/lifetime_dependence_inherit.swift
  test/SILOptimizer/liveness_unit.sil
Labels: swift 6.0

#72425 [6.0][Compile Time Constant Extraction] Extract macro added extensions
  lib/ConstExtract/ConstExtract.cpp
  test/ConstExtraction/ExtractFromMacroExpansion.swift
  test/ConstExtraction/Inputs/Macros.swift
Labels: 🍒 release cherry pick, swift 6.0

#70715 [embedded] Start building and including lld even in Darwin toolchains
  utils/build-presets.ini
  utils/build_swift/build_swift/defaults.py
  utils/swift_build_support/swift_build_support/products/llvm.py
Labels: embedded, WebAssembly

#72637 [6.0] Frontend: Allow any experimental feature to be enabled when compiling a module
  include/swift/Frontend/FrontendOptions.h
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/Frontend/FrontendOptions.cpp
  test/ModuleInterface/ExperimentalFeatures.swiftinterface
Labels: 🍒 release cherry pick, swift 6.0

#72654 [Demangler] Fix assertion failure.
  lib/Demangling/Demangler.cpp
  test/Demangle/Inputs/objc-getclass.txt
Labels: 🍒 release cherry pick, swift 6.0

#72631 [6.0] Serialization: Harden recovery from broken deserialization context
  lib/Serialization/Deserialization.cpp
Labels: 🍒 release cherry pick, swift 6.0

#71172 [SerialExecutor] SerialExecutor.checkIsolated() to check its own tracking for isolation checks
  include/swift/ABI/Executor.h
  include/swift/Runtime/Bincompat.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  stdlib/public/Concurrency/DispatchGlobalExecutor.inc
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/NonDispatchGlobalExecutor.inc
  stdlib/public/Distributed/DistributedAssertions.swift
  stdlib/public/runtime/Bincompat.cpp
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_bincompat.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_dispatch.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Concurrency/Runtime/data_race_detection_crash.swift
  test/Concurrency/Runtime/data_race_detection_legacy_warning.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
  test/Interpreter/preconcurrency_conformances.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/abi/macOS/x86_64/stdlib.swift
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
Labels: concurrency

#72686 🌸[6.0][SerialExecutor] SerialExecutor.checkIsolated() to check its own trac…
  include/swift/ABI/Executor.h
  include/swift/Runtime/Bincompat.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  stdlib/public/Concurrency/DispatchGlobalExecutor.inc
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/GlobalExecutor.cpp
  stdlib/public/Concurrency/NonDispatchGlobalExecutor.inc
  stdlib/public/Distributed/DistributedAssertions.swift
  stdlib/public/runtime/Bincompat.cpp
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_bincompat.swift
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_dispatch.swift
  test/Concurrency/Runtime/actor_assume_executor.swift
  test/Concurrency/Runtime/data_race_detection_crash.swift
  test/Concurrency/Runtime/data_race_detection_legacy_warning.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_availability.swift
  test/Interpreter/preconcurrency_conformances.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/abi/macOS/x86_64/stdlib.swift
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
Labels: 🍒 release cherry pick, swift 6.0

#72638 [6.0][SIL] Adjust `isTypeMetadataForLayoutAccessible()` to visit more lowered positions
  lib/SIL/IR/SIL.cpp
  test/IRGen/variadic_generic_captures.swift
Labels: 🍒 release cherry pick, swift 6.0

#72679 [6.0][Sema/ClangImporter] Improvements to witness matching
  include/swift/Sema/ConstraintLocator.h
  include/swift/Sema/ConstraintLocatorPathElts.def
  lib/AST/Type.cpp
  lib/ClangImporter/ImportType.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Concurrency/sendable_objc_attr_in_type_context_swift5.swift
  test/Concurrency/sendable_objc_attr_in_type_context_swift5_strict.swift
  test/Concurrency/sendable_objc_attr_in_type_context_swift6.swift
  test/IDE/print_clang_objc_async.swift
Labels: 🍒 release cherry pick, swift 6.0

#72621 [ASTGen] Adjustments for the deprecation of `CanImportExpr` and `CanImportVersionInfo`
  lib/ASTGen/Sources/ASTGen/Exprs.swift
Labels: swift 6.0

#72707 [6.0] Sema: Signatures of decls in local contexts always inherit availability
  lib/Sema/TypeCheckAvailability.cpp
  test/attr/attr_inlinable_available.swift
Labels: 🍒 release cherry pick, swift 6.0

#72402 [PrintAsClang] Fix thunks for Never funcs
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-member-param-no-shadow-case.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-function-argument-keyword-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-inout-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
Labels: swift to c++
