Repository swiftlang/swift, pull requests merged in 2024-11, with the labels that each got.

#76798 [cxx-interop] Warning unannotated C++ APIs returning SWIFT_SHARED_REF…
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#77324 Flush build step log messages in `build_script_invocation.py`
  utils/swift_build_support/swift_build_support/build_script_invocation.py
Labels: bug, build-script

#77360 Fix typos in VCRuntime modulemap.
  stdlib/public/Platform/vcruntime.modulemap
Labels: c++ interop

#77342 [cxx-interop] Import some C++ methods as Unsafe
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#77350 Fixes build logger call crashing with ImplicitOpenExistentials.
  lib/Sema/InstrumenterSupport.h
  lib/Sema/PlaygroundTransform.cpp
  test/PlaygroundTransform/existential.swift
Labels: playground transform

#77367 [cxx-interop] Fix IRGen for C++ types that use tail padding of their bases
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/fields.swift
Labels: c++ interop

#77323 [cxx-interop] Use the locations imported from C++
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckMacros.cpp
  test/ClangImporter/cfuncs_scope.swift
  test/ClangImporter/diags-with-many-imports.swift
  test/ClangImporter/experimental_diagnostics_no_noise.swift
  test/ClangImporter/experimental_diagnostics_opt_out.swift
  test/ClangImporter/generic_compatibility_alias.swift
  test/ClangImporter/objc_bridging_generics.swift
  test/DebugInfo/test-foundation.swift
  test/Inputs/clang-importer-sdk/usr/include/ObjCConcurrency.h
  test/Interop/Cxx/class/nonescapable-errors.swift
  test/SourceKit/CursorInfo/cursor_info.swift
  test/TypeDecoder/objc_classes.swift
Labels: c++ interop

#77457 [cxx-interop] Refactoring reference semantic check for c++ records
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#77494 [cxx-interop] Workaround build error in SwiftCompilerSources
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#77531 [cxx-interop] Disambiguate template instantiations with enum parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-enum-parameter.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/class-template-with-enum-parameter-module-interface.swift
Labels: c++ interop

#76892 [cxx-interop] Import private fields of C++ structs
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/Sema/TypeCheckInvertible.cpp
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/sendable.h
  test/Interop/Cxx/class/access-specifiers-module-interface.swift
  test/Interop/Cxx/class/access-specifiers-typechecker.swift
  test/Interop/Cxx/class/inheritance/using-base-members-module-interface.swift
  test/Interop/Cxx/class/memberwise-initializer-module-interface.swift
  test/Interop/Cxx/class/sendable-typechecker.swift
  test/Interop/Cxx/ergonomics/implicit-computed-properties-module-interface.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
Labels: c++ interop

#77378 Updated PlaygroundTransform tests to cover both Swift 5 and 6.
  test/PlaygroundTransform/Inputs/PlaygroundModuleAndFileIDs.swift
  test/PlaygroundTransform/array.swift
  test/PlaygroundTransform/array_did_set.swift
  test/PlaygroundTransform/array_in_struct.swift
  test/PlaygroundTransform/async_let.swift
  test/PlaygroundTransform/bare_value.swift
  test/PlaygroundTransform/closure_parameters.swift
  test/PlaygroundTransform/control-flow.swift
  test/PlaygroundTransform/declarations.swift
  test/PlaygroundTransform/declarations_error.swift
  test/PlaygroundTransform/defer.swift
  test/PlaygroundTransform/disable_transform_only.swift
  test/PlaygroundTransform/do-catch.swift
  test/PlaygroundTransform/do.swift
  test/PlaygroundTransform/empty-tuple.swift
  test/PlaygroundTransform/extended_callbacks.swift
  test/PlaygroundTransform/for_crash.swift
  test/PlaygroundTransform/function_parameters.swift
  test/PlaygroundTransform/generics.swift
  test/PlaygroundTransform/high_performance.swift
  test/PlaygroundTransform/implicit_return_func_binaryoperation_args.swift
  test/PlaygroundTransform/implicit_return_func_is.swift
  test/PlaygroundTransform/implicit_return_func_stringliteral.swift
  test/PlaygroundTransform/implicit_return_init_nil.swift
  test/PlaygroundTransform/implicit_return_subscript_chain.swift
  test/PlaygroundTransform/implicit_return_var_intliteral.swift
  test/PlaygroundTransform/init.swift
  test/PlaygroundTransform/iuo.swift
  test/PlaygroundTransform/module_file_id.swift
  test/PlaygroundTransform/mutation.swift
  test/PlaygroundTransform/nested_function.swift
  test/PlaygroundTransform/noncopyable_assignment.swift
  test/PlaygroundTransform/noncopyable_declaration.swift
  test/PlaygroundTransform/noncopyable_functions.swift
  test/PlaygroundTransform/placeholder.swift
  test/PlaygroundTransform/playground_options.swift
  test/PlaygroundTransform/plus_equals.swift
  test/PlaygroundTransform/print.swift
  test/PlaygroundTransform/skip_bodies_without_types.swift
Labels: playground transform

#77591 [cxx-interop] Disambiguate template instantiations with nullptr parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-primitive-argument.h
  test/Interop/Cxx/templates/class-template-with-primitive-argument-module-interface.swift
Labels: c++ interop

#77445 [cxx-interop] Allow removing elements from `std::set`.
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#77616 Revert "[cxx-interop] Check the presence of copy constructor correctly"
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-copy-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
Labels: c++ interop

#77588 [cxx-interop] Support conditional escapability
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftBridging/swift/bridging
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#77646 Re-land "[cxx-interop] Check the presence of copy constructor correctly"
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-copy-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
Labels: c++ interop

#77677 [cxx-interop] Declare CxxStdlib dependency on _Builtin_float
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#77696 [6.1] Update update-checkout-config.json to support release/6.1 and remove …
  utils/update_checkout/update-checkout-config.json
Labels: swift 6.1

#77678 [cxx-interop] Support nested templates for conditional escapability
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#77702 [6.1 🍒] Ignore in-package transitive dependencies when building from non-package textual interface
  include/swift/AST/SearchPathOptions.h
  lib/Frontend/CompilerInvocation.cpp
  lib/Serialization/ModuleFile.cpp
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/SerializedModuleLoader.cpp
  test/ModuleInterface/no-package-dependencies-on-non-package-interface.swift
  test/lit.cfg
Labels: 🍒 release cherry pick, swift 6.1

#77746 [cxx-interop] Mark all CxxStdlib APIs as `@inlinable`
  stdlib/public/Cxx/std/Chrono.swift
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#77759 [AutoDiff][test] Enable previously disabled tests related to issue 55492
  test/AutoDiff/SILOptimizer/differentiation_diagnostics.swift
  test/AutoDiff/SILOptimizer/forward_mode_diagnostics.swift
Labels: test suite, AutoDiff

#77769 [cxx-interop] Use the new lifetime dependence language feature flag
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#77776 [cxx-interop] Mark all CxxStdlib APIs as `@_alwaysEmitIntoClient`
  stdlib/public/Cxx/std/Chrono.swift
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#77843 [cxx-interop] Workaround a deserialization error for CxxStdlib on Linux
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#77857 [cxx-interop] Workaround a compiler crash for CxxStdlib on Windows
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop
