Repository swiftlang/swift, pull requests merged in 2024-09, with the labels that each got.

#76106 [cxx-interop] Add `CxxMutableRandomAccessCollection` protocol
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-collection.h
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#76208 [cxx-interop] change hardening level in `std::span` test
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#76207 [cxx-interop] pass `-std=c++20` to configurations using `std::span`
  benchmark/Package.swift
Labels: c++ interop

#76211 [cxx-interop][NFC] Fix some clang-tidy warnings
  include/swift/AST/Evaluator.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
Labels: c++ interop

#76209 [cxx-interop] Add a SWIFT_NONESCAPABLE attribute to the bridging header
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftBridging/swift/bridging
  test/Interop/Cxx/class/nonescapable.swift
Labels: c++ interop

#76210 [cxx-interop] Make a test run faster
  test/Interop/Cxx/stdlib/foundation-and-std-module.swift
Labels: c++ interop

#74094 [cxx-interop][SwiftCompilerSources] Remove a workaround
  include/swift/SILOptimizer/Analysis/BasicCalleeAnalysis.h
  lib/SILOptimizer/Analysis/BasicCalleeAnalysis.cpp
Labels: c++ interop

#76176 [6.0] build-script: Copy `libclang_rt.a` from the host toolchain for visionOS
  stdlib/public/core/Availability.swift
  utils/swift_build_support/swift_build_support/products/llvm.py
Labels: 🍒 release cherry pick, swift 6.0

#76189 [6.0] Sema: Fix `@retroactive` does not apply diags for same-package conformance
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Sema/extension_retroactive_conformances_package.swift
Labels: 🍒 release cherry pick, swift 6.0

#76214 🍒[6.0][cxx-interop] Fix reverse interop crash when using raw modules
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/CxxToSwiftToCxx/span/span-execution.cpp
Labels: c++ interop

#76213 🍒 [6.0][cxx-interop] Do not export enums with indirect associated values
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
Labels: c++ interop

#76212 🍒[6.0][cxx-interop] Do not attempt to export read accessors to C++
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/functions/swift-operators.swift
Labels: c++ interop

#75243 [6.0][AST/Sema] Make it possible to use init accessors in inlinable initializers
  include/swift/AST/DiagnosticsSema.def
  lib/AST/ASTPrinter.cpp
  lib/AST/AccessRequests.cpp
  lib/Sema/ResilienceDiagnostics.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Compatibility/attr_usableFromInline_swift4.swift
  test/Compatibility/attr_usableFromInline_swift42.swift
  test/Interpreter/inlinable_init_accessors.swift
  test/ModuleInterface/init_accessors.swift
  test/SILOptimizer/init_accessors.swift
  test/attr/attr_alwaysEmitIntoClient.swift
  test/attr/attr_usableFromInline.swift
Labels: 🍒 release cherry pick, swift 6.0

#75923 [cxx-interop] Add tests for move-only objects behind smart pointers
  test/Interop/Cxx/stdlib/Inputs/std-unique-ptr.h
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
Labels: c++ interop

#76223 Add comparable conformance for C++ strings
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#76252 [cxx-interop] Do not crash for `static operator()`
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#76217 [6.0.1] Sema: Relax availability of typealiases for inferred type witness
  lib/Sema/AssociatedTypeInference.cpp
  test/decl/protocol/associated_type_availability.swift
  test/stdlib/Identifiable.swift
Labels: 🍒 release cherry pick, swift 6.0

#76249 [cxx-interop] Disambiguate template instantiations with SIMD parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-simd-parameter.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/class-template-with-simd-parameter-module-interface.swift
Labels: c++ interop

#76272 [6.0.0🍒][cxx-interop] Do not import `std::chrono::time_zone_link`
  lib/ClangImporter/ImportDecl.cpp
Labels: swift 6.0

#76260 [cxx-interop] Install CxxShim library for macCatalyst
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
Labels: c++ interop

#76280 [cxx-interop] Remove `-experimental-cxx-stdlib` flag
  include/swift/Option/Options.td
  lib/Driver/DarwinToolChains.cpp
  lib/Driver/ToolChains.cpp
  lib/Driver/UnixToolChains.cpp
  lib/Driver/WindowsToolChains.cpp
  test/Driver/cxx_interop.swift
  test/Driver/linker.swift
Labels: c++ interop

#75897 [cxx-interop] Add SWIFT_RETURNS_RETAINED and SWIFT_RETURNS_UNRETAINED…
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftBridging/swift/bridging
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#76313 [cxx-interop] Add a `MutableCollection` test that relies on `std::string` being `Comparable`
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#76147 Include swift-testing in the Wasm Swift SDK
  utils/swift_build_support/swift_build_support/products/swift_testing.py
  utils/swift_build_support/swift_build_support/products/wasmswiftsdk.py
Labels: build-script, WebAssembly, WASI

#76245 [cxx-interop] Create benchmarks for using std::span in Swift
  benchmark/CMakeLists.txt
  benchmark/cxx-source/CxxSpanTests.swift
  benchmark/utils/CxxTests/CxxStdlibPerformance.h
  benchmark/utils/main.swift
Labels: c++ interop

#76343 [cxx-interop][rebranch] Fix test on Windows
  test/Interop/Cxx/operators/member-out-of-line-irgen.swift
Labels: c++ interop

#76370 [cxx-interop] Fix check to include std::span
  benchmark/utils/CxxTests/CxxStdlibPerformance.h
Labels: c++ interop

#75477 [cxx-interop] Support nested structs
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangClassType.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-operators.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-simd-vector-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-transparent-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/module/module-to-namespace.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx-execution.cpp
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-decls-in-cxx.swift
Labels: c++ interop

#76131 Fixed diagnostics for incorrect parameters of retain/release function…
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
Labels: c++ interop

#76041 Extend internal `_mangledTypeName()` function to take non-copyable types.
  stdlib/public/core/Misc.swift
  test/Runtime/demangleToMetadata.swift
Labels: feature, runtime, mangling, move-only

#76408 [cxx-interop][SwiftCompilerSources] Do not use `SWIFT_IMPORT_UNSAFE` with `BridgedOwnedString`
  include/swift/Basic/BasicBridging.h
  include/swift/Basic/Compiler.h
  include/swift/SIL/SILBridging.h
  include/swift/SILOptimizer/OptimizerBridging.h
Labels: c++ interop

#76516 [cxx-interop] NFC: Remove unused method
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#76514 docs/WebAssembly.md: Add instructions for building Swift SDK for WebAssembly
  docs/WebAssembly.md
Labels: documentation, WebAssembly

#76508 Update Task.cancel() with more details
  stdlib/public/Concurrency/Task.swift
Labels: concurrency, documentation

#72010 CI: Include stdlib build for Wasm in the Linux buildbot
  utils/build-presets.ini
Labels: continuous integration, WebAssembly

#76515 [cxx-interop][SwiftCompilerSources] Reduce the number of `SWIFT_IMPORT_UNSAFE` attributes
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILLocation.h
  include/swift/SIL/SILType.h
Labels: c++ interop

#76549 [cxx-interop][rebranch] Re-enable an APINotes test
  test/ClangImporter/enum-renames.swift
Labels: c++ interop

#76311 [cxx-interop] Teach importer to interpret lifetimebound annotations
  include/swift/AST/LifetimeDependence.h
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#76522 [cxx-interop] Build benchmarks with modern C++ interop flag
  benchmark/Package.swift
Labels: c++ interop

#76429 [cxx-interop] Introduce a safe C++ interop mode
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftBridging/swift/bridging
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#76595 [Distributed] remote calls over-retain returned values
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_execute_doesnt_leak_return.swift
Labels: distributed, memory leak

#76651 [cxx-interop] Add test for lifetimebound annotation in ctor
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#76668 [cxx-interop] Fix off-by-one error when importing lifetimebound attrs
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#76672 docs: Update links to section on commit access
  docs/ContinuousIntegration.md
  docs/HowToGuides/FirstPullRequest.md
Labels: contributor experience

#76658 [embedded] Add support for ManagedBuffer to Embedded Swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyAllocRefDynamic.swift
  SwiftCompilerSources/Sources/SIL/Builder.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  stdlib/public/core/EmbeddedRuntime.swift
  stdlib/public/core/ManagedBuffer.swift
  test/SILOptimizer/simplify_alloc_ref_dynamic.sil
  test/embedded/managed-buffer2.swift
Labels: embedded

#76670 [cxx-interop] Re-enable a test for C foreign reference types
  test/Interop/C/struct/foreign-reference.swift
Labels: c++ interop

#76691 [cxx-interop] Reenable test
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#76695 [cxx-interop] Disable a test for `std::function` on Debian 12
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#76692 [6.0] [test] Remove a test for linking against libraries in the resource dir
  validation-test/execution/interpret-with-dependencies.swift
Labels: 🍒 release cherry pick

#76693 [6.0.0] [test] Remove a test for linking against libraries in the resource dir
  validation-test/execution/interpret-with-dependencies.swift
Labels: 🍒 release cherry pick

#76694 [6.0.2] [test] Remove a test for linking against libraries in the resource dir
  validation-test/execution/interpret-with-dependencies.swift
Labels: 🍒 release cherry pick

#74185 [cxx-interop] C++ reference types are not `AnyObject`s
  lib/Sema/CSSimplify.cpp
  test/Interop/Cxx/foreign-reference/not-any-object.swift
Labels: c++ interop

#76717 🍒[cxx-interop] C++ reference types are not `AnyObject`s
  lib/Sema/CSSimplify.cpp
  test/Interop/Cxx/foreign-reference/not-any-object.swift
Labels: c++ interop

#76720 🍒[cxx-interop] C++ reference types are not `AnyObject`s
  lib/Sema/CSSimplify.cpp
  test/Interop/Cxx/foreign-reference/not-any-object.swift
Labels: c++ interop

#76681 [embedded] Support default arguments with metatypes-as-type-hints in Embedded Swift
  lib/SIL/IR/SILDeclRef.cpp
  test/embedded/metatype-type-hint.swift
  test/embedded/metatype-type-hint2.swift
Labels: embedded

#76673 [cxx-interop] Add rules to recognize escapability of aggregates
  include/swift/ClangImporter/ClangImporterRequests.h
  include/swift/ClangImporter/ClangImporterTypeIDZone.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#76614 [Embedded] Enable RangeSet for embedded targets
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/RangeSet.swift
  stdlib/public/core/RangeSetRanges.swift
Labels: embedded

#76735 [cxx-interop] Use macosx paths when searching modulemaps for macCatalyst
  lib/ClangImporter/ClangIncludePaths.cpp
Labels: c++ interop

#76755 [cxx-interop] Workaround a modularization issue in benchmarks
  benchmark/cxx-source/CxxSpanTests.swift
Labels: c++ interop

#76733 [cxx-interop] Add diagnostic notes when retain/release are not import…
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
Labels: c++ interop

#76753 [embedded] Force deserialization of wtables when needed to support class-bound existentials
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  test/embedded/existential-class-bound8.swift
Labels: embedded
