Repository swiftlang/swift, pull requests merged in 2024-10, with the labels that each got.

#76726 [cxx-interop] Support `char8_t` C++20 type
  include/swift/ClangImporter/BuiltinMappedTypes.def
  include/swift/PrintAsClang/ClangMacros.def
  lib/ClangImporter/ImportMacro.cpp
  lib/ClangImporter/ImportType.cpp
  lib/PrintAsClang/PrimitiveTypeMapping.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  stdlib/public/core/CTypes.swift
  test/IRGen/objc_type_encoding.swift
  test/Interop/C/chars/Inputs/import-cchar-types.h
  test/Interop/C/chars/import-cchar-types.swift
  test/PrintAsObjC/classes.swift
  test/stdlib/PrintInteger.swift
Labels: c++ interop

#76782 [cxx-interop] Increase the size of `std::string`s in benchmarks
  benchmark/cxx-source/CxxStringConversion.swift
Labels: c++ interop

#76627 Revert "Revert "[Distributed] remote calls over-retain returned values""
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_execute_doesnt_leak_return.swift
Labels: distributed

#76830 [cxx-interop] Conform `std::set` to `ExpressibleByArrayLiteral`
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxSet.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
Labels: c++ interop

#76119 [test] Check that the C/C++ module maps are looked for in `-resource-dir` before `-sdk`
  lib/ClangImporter/ClangImporter.cpp
  test/ClangImporter/print-module-map-paths.swift
  test/Frontend/embed-bitcode.ll
Labels: c++ interop

#76844 [cxx-interop] Use the name of the typedef when an unnamed class is used as a template argument
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/class/Inputs/protocol-conformance.h
  test/Interop/Cxx/class/protocol-conformance-irgen.swift
Labels: c++ interop

#76846 [cxx-interop] Conform `std::map` to `ExpressibleByDictionaryLiteral`
  stdlib/public/Cxx/CxxDictionary.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#76869 [cxx-interop] Remove redundant `[extern_c]` in tests
  test/Interop/Cxx/apinotes/Inputs/module.modulemap
  test/Interop/Cxx/availability/Inputs/module.modulemap
  test/Interop/Cxx/objc-correctness/Inputs/module.modulemap
Labels: c++ interop

#76871 [cxx-interop] Workaround a compiler crash on Ubuntu 22.04
  benchmark/cxx-source/CxxSpanTests.swift
Labels: c++ interop

#76823 [cxx-interop] Modularize __msvc_bit_utils on Windows
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Platform/vcruntime.modulemap
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-numeric.h
  test/Interop/Cxx/stdlib/use-std-numeric-typechecker.swift
Labels: c++ interop

#76887 🍒[cxx-interop] Modularize __msvc_bit_utils on Windows
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/public/Platform/vcruntime.modulemap
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-numeric.h
  test/Interop/Cxx/stdlib/use-std-numeric-typechecker.swift
Labels: c++ interop

#76888 [Distributed] improve control flow of result buffer init detection
  stdlib/public/Distributed/DistributedActorSystem.swift
Labels: distributed

#76859 [cxx-interop] Fix swift::Type to clang::QualType conversion to correctly handle foreign reference types
  lib/AST/ClangTypeConverter.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/inheritance-typechecker.swift
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#76796 Fix instrumenting print and debugPrint for Swift 6.
  lib/Sema/PlaygroundTransform.cpp
  test/PlaygroundTransform/print.swift
Labels: playground transform

#76603 [6.0][Distributed] remote calls over-retain returned values
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_execute_doesnt_leak_return.swift
Labels: distributed, 🍒 release cherry pick

#75433 [stdlib] String.Index: conform to CustomDebugStringConvertible
  stdlib/public/core/StringIndex.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/StringIndex.swift
Labels: swift evolution approved

#76883 Move TaskLocal.h out of ABI folder
  include/swift/ABI/Executor.h
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.h
  stdlib/public/Concurrency/TaskPrivate.h
Labels: concurrency

#76907 [cxx-interop] Add flag to assume C++ types are resilient
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/allow-cxx-api-in-evolving-libraries.swift
Labels: c++ interop

#76956 [cxx-interop] Consider extern "C" structs as resilient
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-evolving-libraries.swift
Labels: c++ interop

#77018 [wasm][build] Disable LLVM unwinder in libcxxabi
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Labels: build-script, WebAssembly, WASI

#77006 [cxx-interop] Add `UnsafeCxxContiguousIterator` & `UnsafeCxxMutableContiguousIterator` protocols
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/UnsafeCxxIterators.swift
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-contiguous-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#76940 [cxx-interop] Add Hashable conformance to imported enums
  lib/ClangImporter/ImportDecl.cpp
  test/ClangImporter/Inputs/SwiftPrivateAttr.txt
  test/Interop/Cxx/class/access-specifiers-module-interface.swift
  test/Interop/Cxx/class/inheritance/sub-types-module-interface.swift
  test/Interop/Cxx/class/nested-records-module-interface.swift
  test/Interop/Cxx/enum/bool-enums-module-interface.swift
  test/Interop/Cxx/enum/hashable-enums-typecheck.swift
  test/Interop/Cxx/enum/hashable-enums.swift
  test/Interop/Cxx/enum/nested-enums-module-interface.swift
  test/SourceKit/DocSupport/doc_clang_module.swift.response
  test/SourceKit/DocSupport/doc_clang_module.swift.sub.response
  test/SourceKit/InterfaceGen/gen_clang_module.swift.response
  test/SourceKit/InterfaceGen/gen_clang_module.swift.sub.response
Labels: c++ interop

#76696 [cxx-interop] Add test for lifetimebound annotation in ctor
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#77053 [cxx-interop] Fix hashable-enums test
  test/Interop/Cxx/enum/hashable-enums.swift
Labels: c++ interop

#77049 [cxx-interop] Conform to `UnsafeCxxContiguousIterator` based on `iterator_concept` nested type
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-contiguous-iterator-module-interface.swift
Labels: c++ interop

#77025 [cxx-interop] Support ObjC protocols in C++ interop
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx-execution.mm
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#77069 [cxx-interop] Add test for iterator conformances with nested typedefs
  test/Interop/Cxx/stdlib/overlay/Inputs/custom-iterator.h
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#77071 [cxx-interop] Add test for `explicit operator bool`
  test/Interop/Cxx/stdlib/overlay/Inputs/convertible-to-bool.h
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-module-interface.swift
Labels: c++ interop

#77073 [cxx-interop] Diagnose misuses of escapability and lifetimebound
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#77076 [6.0][IRGen] Don't try to emit single payload CVW for incompatible multi p…
  lib/IRGen/TypeLayout.cpp
  test/Interpreter/layout_string_witnesses_objc.swift
Labels: 🍒 release cherry pick, swift 6.0

#77002 Disable use-std-function.swift on ubuntu-24.10
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#77098 [cxx-interop] Do not import `std::chrono::time_zone`
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/use-std-chrono.swift
Labels: c++ interop

#76011 [cxx-interop] Emit type metadata for foreign types more often
  lib/IRGen/IRGenSIL.cpp
  test/Interop/CxxToSwiftToCxx/link-cxx-type-metadata-accessor.swift
Labels: c++ interop

#77190 [cxx-interop] Allow creating a String from `std::string_view`
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-string-view.h
  test/Interop/Cxx/stdlib/use-std-string-view.swift
Labels: c++ interop

#77100 [cxx-interop] Mark some zero-sized value types as unavailable
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/Interop/SwiftToCxx/structs/zero-sized-struct-in-cxx.swift
Labels: c++ interop

#77247 [cxx-interop] Ensure that C++ structs are fully defined
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#73297 [cxx-interop] Check the presence of copy constructor correctly
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-copy-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
Labels: c++ interop

#77303 [6.0][Tests] Fix Interpreter/layout_string_witnesses_objc.swift
  test/Interpreter/layout_string_witnesses_objc.swift
Labels: 🍒 release cherry pick, swift 6.0

#77204 [cxx-interop] Import more C++ source locations into Swift
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Sema/TypeCheckMacros.cpp
Labels: c++ interop

#77298 [cxx-interop] Disambiguate template instantiations with array type parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-primitive-argument.h
  test/Interop/Cxx/templates/class-template-with-primitive-argument-module-interface.swift
Labels: c++ interop
