Repository swiftlang/swift, pull requests merged in 2024-05, with the labels that each got.

#73342 [🍒 6.0] CMake: ensure Swift host tools depend on HostCompatibilityLibs target
  cmake/modules/AddSwift.cmake
Labels: 🍒 release cherry pick, swift 6.0

#73375 [6.0] [SourceKit] Cancel in-flight builds on `editor.close`
  tools/SourceKit/include/SourceKit/Core/LangSupport.h
  tools/SourceKit/lib/SwiftLang/SwiftASTManager.cpp
  tools/SourceKit/lib/SwiftLang/SwiftASTManager.h
  tools/SourceKit/lib/SwiftLang/SwiftEditor.cpp
  tools/SourceKit/lib/SwiftLang/SwiftLangSupport.h
  tools/SourceKit/tools/sourcekitd/lib/Service/Requests.cpp
  unittests/SourceKit/SwiftLang/CMakeLists.txt
  unittests/SourceKit/SwiftLang/CloseTest.cpp
  unittests/SourceKit/SwiftLang/CursorInfoTest.cpp
  unittests/SourceKit/SwiftLang/EditingTest.cpp
  unittests/SourceKit/SwiftLang/NullEditorConsumer.h
  utils/gyb_sourcekit_support/UIDs.py
Labels: 🍒 release cherry pick, swift 6.0

#73356 6.0🍒[Observation] Optimize cancellation path to avoid excessive copies
  stdlib/public/Observation/Sources/Observation/ObservationRegistrar.swift
Labels: 🍒 release cherry pick

#72268 [cxx-interop] Faster `std::string` initialization from String
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#73392 [Build] Pass in swift-syntax to SwiftPM
  utils/build.ps1
Labels: swift 6.0

#73414 [Build] Add support for static-linking to the SDK system.
  cmake/modules/Libdispatch.cmake
  cmake/modules/SwiftConfigureSDK.cmake
Labels: 🍒 release cherry pick, swift 6.0

#73371 [Linux][Runtime][IRGen] Mark metadata sections as retained and support section GC.
  CMakeLists.txt
  cmake/modules/GoldVersion.cmake
  include/swift/RemoteInspection/ReflectionContext.h
  lib/Driver/UnixToolChains.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/IRGen.cpp
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Driver/link-time-opt.swift
  test/Driver/static-archive.swift
  test/IRGen/ELF-remove-autolink-section.swift
  test/IRGen/autolink_elf.swift
  test/IRGen/objc_protocol_vars.sil
  test/IRGen/section_asm.swift
  test/IRGen/unused.sil
  test/Interpreter/llvm_link_time_opt.swift
  test/LinkerSections/function_sections.swift
  test/embedded/internalize-no-stdlib.swift
  test/embedded/once.swift
  test/lit.cfg
  tools/SourceKit/cmake/modules/AddSwiftSourceKit.cmake
Labels: Linux, 🍒 release cherry pick, swift 6.0

#73354 🍒Fix LoadableByAddress assert: missing case.
  lib/IRGen/LoadableByAddress.cpp
  test/IRGen/big_types.sil
Labels: swift 5.10

#73343 [🍒 5.10] CMake: ensure Swift host tools depend on HostCompatibilityLibs target
  cmake/modules/AddSwift.cmake
Labels: 🍒 release cherry pick, swift 5.10

#73337 [cxx-interop] Do not crash when calling a subscript with unnamed parameter
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#73406 [6.0][IRGen] Fix alignment for imported C types in CVW
  lib/IRGen/TypeLayout.cpp
  test/Interpreter/Inputs/CTypes/CTypes.h
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#73427 [6.0][Runtime] Mask out spare bits after copying for Error in CVW
  stdlib/public/runtime/BytecodeLayouts.cpp
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#73451 🍒[cxx-interop] Do not crash when calling a subscript with unnamed parameter
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-silgen.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#73413 🍒[cxx-interop] Faster `std::string` initialization from String
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#73455 [Build] Add the new fully-static Linux SDK.
  CMakeLists.txt
  cmake/modules/SwiftConfigureSDK.cmake
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Resources/linux-static/static-executable-args.lnk
  stdlib/public/Resources/linux-static/static-stdlib-args.lnk
  test/CMakeLists.txt
  test/LinkerSections/function_sections.swift
  test/TypeRoundTrip/round-trip.swift
  test/lit.cfg
  utils/build-script
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/host_specific_configuration.py
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/llvm.py
  utils/swift_build_support/swift_build_support/targets.py
Labels: 🍒 release cherry pick, swift 6.0

#73466 [6.0][IRGen] Add missing blocklist check for some CVW cases
  lib/IRGen/GenValueWitness.cpp
  test/IRGen/layout_string_witnesses_block_list.swift
Labels: 🍒 release cherry pick, swift 6.0

#73493 swift-inspect: Explicitly reference String.init(cString:)
  tools/swift-inspect/Sources/swift-inspect/RemoteMirror+Extensions.swift
Labels: 🍒 release cherry pick, swift 6.0

#73484 [Runtime] Fix generation of .lnk files for static linking.
  stdlib/public/runtime/CMakeLists.txt
Labels: 🍒 release cherry pick, swift 6.0

#73480 [Lexer] Fix an assertion failure when invoking code completion inside a single-quoted string literal
  lib/Parse/Lexer.cpp
  test/SourceKit/CodeComplete/complete_in_single_quoted_string_literal.swift
Labels: swift 6.0

#73366 [cxx-interop][IRGen] Do not try to retain/release a null pointer
  lib/IRGen/ClassTypeInfo.h
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenObjC.cpp
  lib/IRGen/IRGenFunction.h
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#73524 [RelatedIdents] Fix an assertion failure if two invalid declarations have the same base name
  include/swift/Index/Index.h
  lib/Index/Index.cpp
  lib/Refactoring/LocalRename.cpp
  test/SourceKit/RelatedIdents/two_invalid_decls_with_same_base_name.swift
Labels: swift 6.0

#73508 [cxx-interop] Re-enable test for reference types in generic contexts
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#73536 [cxx-interop] Fixes for tests for foreign reference types
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#73523 [ClangImporter] Import `extern "C"` declarations from the bridging header
  lib/ClangImporter/ClangImporter.cpp
  test/SourceKit/CodeComplete/complete_extern_c_from_bridging_header.swift
Labels: swift 6.0

#73510 [cxx-interop][SwiftToCxx] Do not crash while trying to expose a macro to C++
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/macros/macro-name-collision.swift
Labels: c++ interop

#71775 [Autodiff] Adds part of the Autodiff specific closure-specialization optimization pass
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/ClosureSpecialization.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/PassRegistration.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/OptUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/Test.swift
  SwiftCompilerSources/Sources/SIL/ApplySite.swift
  SwiftCompilerSources/Sources/SIL/BasicBlock.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/SubstitutionMap.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  include/swift/AST/SILOptions.h
  include/swift/Option/FrontendOptions.td
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  include/swift/SIL/SILType.h
  include/swift/SILOptimizer/IPO/ClosureSpecializer.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/OptimizerBridgingImpl.h
  include/swift/SILOptimizer/PassManager/Passes.def
  include/swift/SILOptimizer/Utils/CFGOptUtils.h
  lib/Frontend/CompilerInvocation.cpp
  lib/SILOptimizer/IPO/ClosureSpecializer.cpp
  lib/SILOptimizer/PassManager/PassManager.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/Utils/CFGOptUtils.cpp
  test/AutoDiff/SILOptimizer/closure_specialization.sil
  test/AutoDiff/SILOptimizer/closure_specialization_xfail.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_spec_and_inline.swift
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_and_cfg.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_attrs.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_consolidated.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_dynamic_self.swift
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_fragile.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_loop.swift
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_opaque.sil
  test/SILOptimizer/experimental-swift-based-closure-specialization/closure_specialize_simple.sil
Labels: AutoDiff

#70441 [embedded] Start flagging AllocRefDynamicInst usage in embedded Swift
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
Labels: embedded

#73573 [embedded] Mark test/embedded/lto-multiple-object-files.swift as REQUIRES: optimized_stdlib
  test/embedded/lto-multiple-object-files.swift
Labels: embedded

#73515 🍒[cxx-interop][IRGen] Do not try to retain/release a null pointer
  lib/IRGen/ClassTypeInfo.h
  lib/IRGen/GenEnum.cpp
  lib/IRGen/GenObjC.cpp
  lib/IRGen/IRGenFunction.h
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#73584 [embedded] Add a test checking that printing StaticStrings, integers,booleans is allocation-free
  test/embedded/no-allocations-print.swift
Labels: embedded

#73567 🍒[cxx-interop][SwiftToCxx] Do not crash while trying to expose a macro to C++
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/macros/macro-name-collision.swift
Labels: c++ interop

#73542 🍒[cxx-interop] Do not crash when passing `Bool` as `const T&` parameter
  lib/SIL/IR/Bridging.cpp
  test/Interop/Cxx/reference/Inputs/reference.h
  test/Interop/Cxx/reference/reference.swift
  test/Interop/Cxx/templates/Inputs/function-templates.h
  test/Interop/Cxx/templates/function-template-typechecker-errors.swift
  test/Interop/Cxx/templates/function-template.swift
Labels: c++ interop

#73598 [Test] Temporarily mark typeref_decoding.swift as unsupported
  test/Reflection/typeref_decoding.swift
Labels: 🍒 release cherry pick, swift 6.0

#73599 [embedded] Explicitly install the embedded concurrency .a libraries with +x permissions
  stdlib/public/Concurrency/CMakeLists.txt
Labels: embedded

#73610 [6.0] ComputeSideEffects: correctly handle escaping arguments
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/ComputeSideEffects.swift
  test/SILOptimizer/side_effects.sil
Labels: swift 6.0

#73627 Adding stage-0 toolchain build preset
  utils/build-presets.ini
Labels: swift 5.10

#73636 [6.0][Distributed] Remove diagnostic emitting from macro, rely on compiler
  lib/Macros/Sources/SwiftMacros/DistributedResolvableMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_errors.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_expansion_errors.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_various_requirements.swift
Labels: distributed, 🍒 release cherry pick, swift 6.0

#73620 [6.0] Fix initialization of imported ObjC block types.
  lib/SIL/IR/ValueOwnership.cpp
  test/ClangImporter/Inputs/objc_init_blocks.h
  test/ClangImporter/objc_init_blocks.swift
Labels: 🍒 release cherry pick, swift 6.0

#73615 [cxx-interop][Runtime] Initialize metadata of a Swift array of C++ references correctly
  include/swift/ABI/Metadata.h
  lib/SILOptimizer/SILCombiner/SILCombinerApplyVisitors.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/Interop/Cxx/foreign-reference/not-any-object.swift
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#73553 🍒[5.10]: More exported libstdc++ symbol
  test/stdlib/symbol-visibility-linux.test-sh
Labels: 🍒 release cherry pick, swift 5.10

#73672 [cxx-interop] Fix test for reference types on armv7k, part 2
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
Labels: c++ interop

#73699 [Distributed] add test for not crashing when actor system type is "missing"
  test/Distributed/distributed_actor_system_missing_system_type.swift
Labels: distributed

#73671 🍒[cxx-interop][Runtime] Initialize metadata of a Swift array of C++ references correctly
  include/swift/ABI/Metadata.h
  lib/SILOptimizer/SILCombiner/SILCombinerApplyVisitors.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/Interop/Cxx/foreign-reference/not-any-object.swift
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#73681 [6.0 🍒] Apply the `@_alwaysEmitConformanceMetadata` semantics to conformances originating from macro-expanded declarations and extensions
  lib/SILOptimizer/Mandatory/AlwaysEmitConformanceMetadataPreservation.cpp
  test/Reflection/Inputs/Macros.swift
  test/Reflection/preserve_conformance_metadata_attr_macros.swift
Labels: 🍒 release cherry pick, swift 6.0

#73694 [6.0][TaskLocal] TL macro must handle force unwrapped optional types
  lib/Macros/Sources/SwiftMacros/SyntaxExtensions.swift
  lib/Macros/Sources/SwiftMacros/TaskLocalMacro.swift
  test/Concurrency/Runtime/async_task_locals_basic.swift
Labels: concurrency, 🍒 release cherry pick

#73693 [TaskLocal] TL macro must handle force unwrapped optional types
  lib/Macros/Sources/SwiftMacros/SyntaxExtensions.swift
  lib/Macros/Sources/SwiftMacros/TaskLocalMacro.swift
  test/Concurrency/Runtime/async_task_locals_basic.swift
Labels: concurrency

#73630 [cxx-interop][IRGen] Do not pass a foreign reference type to objc_retainAutoreleasedReturnValue
  lib/IRGen/GenCall.cpp
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted-objc-property.h
  test/Interop/Cxx/foreign-reference/reference-counted-objc-property.swift
Labels: c++ interop

#73683 🍒[cxx-interop] Fix test for reference types on armv7k, part 2
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
Labels: c++ interop

#73616 [cxx-interop] Fix a test on older macOS versions
  test/Interop/Cxx/foreign-reference/Inputs/witness-table.h
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#73709 [6.0] [CS] Avoid creating placeholder var if skipping for completion
  lib/Sema/BuilderTransform.cpp
  validation-test/IDE/issues_fixed/rdar127838305.swift
Labels: 🍒 release cherry pick, swift 6.0

#70910 Fix quadratic performance of the `ListMerger` in specific usage pattern
  benchmark/CMakeLists.txt
  benchmark/single-source/AsyncTree.swift
  benchmark/utils/main.swift
  include/swift/ABI/MetadataValues.h
  include/swift/Basic/HeaderFooterLayout.h
  include/swift/Basic/ListMerger.h
  include/swift/Basic/PriorityQueue.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  stdlib/public/Concurrency/Tracing.h
  stdlib/public/Concurrency/TracingSignpost.h
  stdlib/public/Concurrency/TracingStubs.h
  utils/test-list-merger/Makefile
  utils/test-list-merger/TestListMerger.cpp
  utils/test-priority-queue/Makefile
  utils/test-priority-queue/TestPriorityQueue.cpp
Labels: concurrency

#73757 [6.0] Update swift-driver checkout
  utils/update_checkout/update-checkout-config.json
Labels: swift 6.0

#73783 [cxx-interop][rebranch] Fix an IRGen test
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-itanium.swift
Labels: c++ interop

#73816 [wasm] Enable Distributed module build for Wasm target
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: distributed, WebAssembly

#73792 [cxx-interop] Avoid treating some Obj-C types as foreign reference types
  lib/AST/Decl.cpp
Labels: c++ interop

#73815 [ClangImporter] `-Xclang -fbuiltin-headers-in-system-modules` is being passed when it shouldn't
  lib/ClangImporter/ClangIncludePaths.cpp
Labels: 🍒 release cherry pick, swift 6.0

#73817 🍒[cxx-interop] Enable a test for reference types on Linux
  test/Interop/Cxx/foreign-reference/reference-counted.swift
Labels: c++ interop

#73811 [C++] Fix double pointers to foreign ref types
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
Labels: c++ interop

#73711 [cxx-interop] Fix a test on 32-bit platforms
  test/Interop/SwiftToC/structs/small-structs-pass-return-direct-in-c.swift
Labels: c++ interop

#72728 build: Build Swift SDK for WebAssembly
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/__init__.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
  utils/swift_build_support/swift_build_support/products/wasmswiftsdk.py
  utils/update_checkout/update-checkout-config.json
Labels: continuous integration, cross-compilation, WebAssembly

#73826 🌸 [C++] Fix double pointers to foreign ref types
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
Labels: 🍒 release cherry pick

#73726 [6.0] Suppress pointer conversion warnings for BitwiseCopyable elements.
  lib/SILGen/SILGenExpr.cpp
  test/SILGen/diagnose_implicit_raw_conversion.swift
Labels: 🍒 release cherry pick, swift 6.0

#73820 Fix a test that was failing on 32-bit platforms
  test/Interop/Cxx/foreign-reference/reference-counted-objc-property.swift
Labels: c++ interop

#73520 [SILGen] Fix a crash when a closure is converted to a block returning a value indirectly
  lib/IRGen/IRGenSIL.cpp
  lib/SILGen/SILGenBridging.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/closure-thunk-macosx-irgen.swift
  test/Interop/Cxx/class/closure-thunk-macosx.swift
Labels: c++ interop

#70446 [embedded] Port Swift.String to embedded Swift
  stdlib/public/core/ArrayShared.swift
  stdlib/public/core/Assert.swift
  stdlib/public/core/Builtin.swift
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/CompilerProtocols.swift
  stdlib/public/core/Dictionary.swift
  stdlib/public/core/EmbeddedPrint.swift
  stdlib/public/core/EmbeddedRuntime.swift
  stdlib/public/core/EmbeddedStubs.swift
  stdlib/public/core/Integers.swift
  stdlib/public/core/LegacyInt128.swift.gyb
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/MigrationSupport.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/Range.swift
  stdlib/public/core/Runtime.swift
  stdlib/public/core/String.swift
  stdlib/public/core/StringBridge.swift
  stdlib/public/core/StringCreate.swift
  stdlib/public/core/StringGuts.swift
  stdlib/public/core/StringInterpolation.swift
  stdlib/public/core/StringObject.swift
  stdlib/public/core/StringStorage.swift
  stdlib/public/core/StringTesting.swift
  stdlib/public/core/StringUTF8Validation.swift
  stdlib/public/core/UnicodeScalar.swift
  stdlib/public/core/UnicodeScalarProperties.swift
  test/embedded/dependencies-concurrency.swift
  test/embedded/dependencies-no-allocations.swift
  test/embedded/dependencies-print.swift
  test/embedded/dependencies-random.swift
  test/embedded/dependencies.swift
  test/embedded/stdlib-strings-append.swift
  test/embedded/stdlib-strings-datatables.swift
  test/embedded/stdlib-strings-interpolation.swift
  test/embedded/stdlib-strings-interpolation2.swift
  test/embedded/stdlib-strings-interpolation3.swift
  test/embedded/stdlib-strings-osize.swift
  test/embedded/stdlib-strings-print.swift
Labels: embedded

#73906 [6.0] Frontend: Lift restrictions on lazy type checking options
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  test/Serialization/lazy-typecheck.swift
Labels: 🍒 release cherry pick, swift 6.0

#73585 [embedded] Provide Unicode data tables for embedded as a static library
  stdlib/public/stubs/CMakeLists.txt
  stdlib/public/stubs/Unicode/UnicodeData.cpp
  stdlib/public/stubs/Unicode/UnicodeGrapheme.cpp
  stdlib/public/stubs/Unicode/UnicodeNormalization.cpp
  stdlib/public/stubs/Unicode/UnicodeScalarProps.cpp
  stdlib/public/stubs/Unicode/UnicodeWord.cpp
  test/embedded/stdlib-strings-datatables.swift
  test/embedded/stdlib-strings-unicode.swift
  test/embedded/unicode-dead-strip1.swift
  test/embedded/unicode-dead-strip2.swift
  test/embedded/unicode-dead-strip3.swift
Labels: embedded

#73904 [6.0] Sema: Relax feature check for non-escapable types in swiftinterfaces
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/TypeCheckType.cpp
  test/ModuleInterface/escapable.swiftinterface
  validation-test/ParseableInterface/rdar128577611.swift
Labels: 🍒 release cherry pick, swift 6.0

#73936 [cxx-interop] Fix test for reference types on armv7k
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
Labels: c++ interop

#73934 [Concurrency] Fix embedded, cannot refer to runtime/env vars from Actor.cpp
  stdlib/public/Concurrency/Actor.cpp
Labels: concurrency

#73778 [6.0] modulewrap: Disable ObjC interop by default on non-Darwin platforms
  lib/DriverTool/modulewrap_main.cpp
Labels: 🍒 release cherry pick, swift 6.0

#73970 [6.0] Start building and including lld even in Darwin toolchains
  utils/build-presets.ini
  utils/build_swift/build_swift/defaults.py
  utils/swift_build_support/swift_build_support/products/llvm.py
Labels: 🍒 release cherry pick, swift 6.0

#73941 6.0 CMake: do not assume target SDKs are provided when evaluting `NOT`
  stdlib/cmake/modules/AddSwiftStdlib.cmake
Labels: 🍒 release cherry pick, swift 6.0

#73983 [6.0][CSBindings] Optional object type variable should be connected to the optional
  lib/Sema/CSBindings.cpp
  lib/Sema/CSSimplify.cpp
  test/stmt/foreach.swift
Labels: 🍒 release cherry pick, swift 6.0

#74016 [6.0] [SymbolGraphGen] Handle cxx module imports in swift-symbolgraph-extract
  include/swift/Basic/LangOptions.h
  include/swift/Option/Options.td
  lib/DriverTool/swift_symbolgraph_extract_main.cpp
  lib/Frontend/CompilerInvocation.cpp
Labels: 🍒 release cherry pick, swift 6.0

#73991 [6.0][ChangeLog] Add entries for SE-0418 and SE-0423 implemented in Swift 6
  CHANGELOG.md
Labels: 🍒 release cherry pick, swift 6.0

#73981 [Index] Write empty record files
  lib/Index/IndexRecord.cpp
  test/Index/Store/record-empty.swift
  test/Index/Store/unit-from-compile.swift
Labels: swift 6.0

#74030 [6.0 🍒][Dependency Scanning] Add forgotten '-Xcc' qualifier to modulemap dependency flags
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/bridging_header_dep_module_map.swift
Labels: 🍒 release cherry pick, swift 6.0

#73943 [6.0 – stdlib] add failure explanations to debug preconditions
  stdlib/public/core/UnsafeRawPointer.swift
Labels: 🍒 release cherry pick

#74015 [6.0 - stdlib] remove deprecations added by SE-0426
  stdlib/public/core/UnsafeRawPointer.swift
Labels: 🍒 release cherry pick

#74007 [cxx-interop] Fix a test on 32-bit platforms, pt 2
  test/Interop/SwiftToC/structs/small-structs-pass-return-direct-in-c.swift
Labels: c++ interop

#73942 [cxx-interop] Re-enable a test for borrowing const ref
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop
