Repository swiftlang/swift, pull requests merged in 2024-04, with the labels that each got.

#72705 [6.0] Implement `count(where:)` method
  benchmark/CMakeLists.txt
  benchmark/single-source/CountAlgo.swift
  benchmark/utils/main.swift
  stdlib/public/core/SequenceAlgorithms.swift
  test/Constraints/diagnostics.swift
  validation-test/stdlib/SequenceType.swift.gyb
Labels: 🍒 release cherry pick, swift 6.0

#72736 [6.0][Concurrency] Fix signature mismatch of _task_serialExecutor_checkIsolated
  stdlib/public/Concurrency/GlobalExecutor.cpp
Labels: 🍒 release cherry pick

#72667 [6.0] Do not install binary swiftmodule for Darwin
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Platform/CMakeLists.txt
Labels: 🍒 release cherry pick, swift 6.0

#72708 [6.0] LargeTypesReg2Mem: Add a heuristic for C character arrays
  lib/IRGen/LoadableByAddress.cpp
  test/IRGen/Inputs/large_union.h
  test/IRGen/large_union.swift
Labels: 🍒 release cherry pick

#72743 [6.0🍒][Explicit Module Builds] Cherry-pick Explicit Module Loading fixes and improvements
  include/swift-c/DependencyScan/DependencyScan.h
  include/swift/AST/SearchPathOptions.h
  include/swift/Frontend/ModuleInterfaceLoader.h
  lib/DependencyScan/ScanDependencies.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  lib/FrontendTool/FrontendTool.cpp
  test/ScanDependencies/bridging_header_dep_module_map.swift
  test/ScanDependencies/bridging_header_modulemap_only.swift
  test/ScanDependencies/explicit-swift-dependencies.swift
  tools/libSwiftScan/libSwiftScan.cpp
  tools/libSwiftScan/libSwiftScan.exports
  tools/swift-ide-test/swift-ide-test.cpp
Labels: 🍒 release cherry pick, swift 6.0

#72753 🌸 Fix class extension visibility bug
  lib/ClangImporter/ClangImporter.cpp
  test/ClangImporter/Inputs/frameworks/Module.framework/Headers/Module.h
  test/ClangImporter/Inputs/frameworks/Module.framework/Modules/module.private.modulemap
  test/ClangImporter/Inputs/frameworks/Module.framework/PrivateHeaders/Sub3.h
  test/ClangImporter/Inputs/frameworks/Module.framework/PrivateHeaders/Sub4.h
  test/ClangImporter/diags_from_module.swift
  test/ClangImporter/rdar123543707.swift
Labels: 🍒 release cherry pick

#72759 🌸 Support objcImpl + implementationOnly
  lib/Sema/TypeCheckAvailability.cpp
  test/decl/ext/Inputs/objc_implementation_internal.h
  test/decl/ext/Inputs/objc_implementation_private.modulemap
  test/decl/ext/objc_implementation_impl_only.swift
Labels: 🍒 release cherry pick

#72749 🌸 Add @implementation and feature flags for objcImpl
  docs/ReferenceGuides/UnderscoredAttributes.md
  include/swift/AST/ASTBridging.h
  include/swift/AST/Attr.h
  include/swift/AST/DeclAttr.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Basic/Features.def
  lib/AST/ASTBridging.cpp
  lib/AST/ASTDumper.cpp
  lib/AST/Attr.cpp
  lib/AST/FeatureSet.cpp
  lib/ASTGen/Sources/ASTGen/DeclAttrs.swift
  lib/Parse/ParseDecl.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/ASTGen/attrs.swift
  test/IRGen/objc_implementation.swift
  test/Interpreter/objc_implementation.swift
  test/Interpreter/objc_implementation_swift_client.swift
  test/PrintAsObjC/objc_implementation.swift
  test/decl/ext/Inputs/objc_implementation.h
  test/decl/ext/cdecl_implementation_features.swift
  test/decl/ext/objc_implementation.swift
  test/decl/ext/objc_implementation_features.swift
Labels: 🍒 release cherry pick

#72766 [cxx-interop] Use C++17 standard by default
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/method/msvc-abi-return-indirect-trivial-record.swift
  test/Interop/Cxx/class/structured-bindings-get-method.swift
  test/Interop/Cxx/reference/reference-silgen-cxx-objc-ctors+init.swift
  test/Interop/Cxx/static/constexpr-static-member-var-errors.swift
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/import-cxx-math-ambiguities.swift
  test/Interop/Cxx/stdlib/import-string-view-from-std.swift
  test/Interop/Cxx/stdlib/msvc-abi-use-vector-iterator.swift
  test/Interop/Cxx/stdlib/use-std-chrono.swift
  test/Interop/Cxx/stdlib/use-std-function.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
Labels: c++ interop

#72828 [6.0] AST: Fix availability checking for macros as default arguments
  include/swift/AST/SourceFile.h
  include/swift/AST/TypeRefinementContext.h
  lib/AST/Module.cpp
  lib/AST/TypeRefinementContext.cpp
  lib/Sema/TypeCheckAvailability.cpp
  test/Concurrency/isolation_macro_availability.swift
Labels: 🍒 release cherry pick, swift 6.0

#71461 [AutoDiff] First cut of coroutines differentiation
  include/swift/AST/ASTDemangler.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/IndexSubset.h
  include/swift/AST/Types.h
  include/swift/Demangling/Demangle.h
  include/swift/Demangling/DemangleNodes.def
  include/swift/Demangling/TypeDecoder.h
  include/swift/RemoteInspection/TypeRefBuilder.h
  include/swift/SIL/SILFunctionConventions.h
  include/swift/SILOptimizer/Differentiation/ADContext.h
  include/swift/SILOptimizer/Differentiation/Common.h
  include/swift/SILOptimizer/Differentiation/LinearMapInfo.h
  include/swift/SILOptimizer/Differentiation/Thunk.h
  lib/AST/ASTDemangler.cpp
  lib/AST/AutoDiff.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILOptimizer/Analysis/DifferentiableActivityAnalysis.cpp
  lib/SILOptimizer/Differentiation/Common.cpp
  lib/SILOptimizer/Differentiation/LinearMapInfo.cpp
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  lib/SILOptimizer/Differentiation/Thunk.cpp
  lib/SILOptimizer/Differentiation/VJPCloner.cpp
  lib/SILOptimizer/Mandatory/Differentiation.cpp
  stdlib/public/runtime/MetadataLookup.cpp
  test/AutoDiff/SILOptimizer/activity_analysis.swift
  test/AutoDiff/SILOptimizer/differentiation_diagnostics.swift
Labels: AutoDiff

#72848 [6.0 🍒] Add mandatory SIL pass implementing `@_alwaysEmitConformanceMetadata` protocol attribute
  include/swift/SILOptimizer/PassManager/Passes.def
  lib/IRGen/IRGenModule.cpp
  lib/SILOptimizer/Mandatory/AlwaysEmitConformanceMetadataPreservation.cpp
  lib/SILOptimizer/Mandatory/CMakeLists.txt
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/Reflection/Inputs/PreservedConformanceProtocols.swift
  test/Reflection/preserve_conformance_metadata_attr.swift
Labels: 🍒 release cherry pick, swift 6.0

#72794 [Concurrency] waitForAll and next of TaskGroups must inherit isolation
  stdlib/public/Concurrency/TaskGroup.swift
  test/Concurrency/async_task_groups_and_actors.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/api-digester/stability-concurrency-abi.test
Labels: concurrency

#70944 Add experimental _Volatile module providing low-level primitives for MMIO
  include/swift/AST/DiagnosticsSema.def
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/Sema/ImportResolution.cpp
  stdlib/public/CMakeLists.txt
  stdlib/public/Volatile/CMakeLists.txt
  stdlib/public/Volatile/Volatile.swift
  test/Volatile/volatile-exec.swift
  test/Volatile/volatile-feature-flag.swift
  test/Volatile/volatile-ir.swift
  test/Volatile/volatile-null.swift
  test/Volatile/volatile-repeat-loads.swift
  test/embedded/volatile-exec.swift
  test/embedded/volatile-ir.swift
Labels: embedded

#72877 [6.0] Revert "[TypeChecker] TypeChecker::isSubtypeOf should recognize Sendable/@Sendable subtyping"
  lib/Sema/TypeCheckConstraints.cpp
  test/Concurrency/sendable_keypaths.swift
  test/Concurrency/sendable_methods.swift
Labels: 🍒 release cherry pick, swift 6.0

#72697 [6.0][IRGen] Add ability to disable compact value witnesses from block list
  include/swift/AST/DiagnosticsIRGen.def
  include/swift/Basic/BlockListAction.def
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenValueWitness.cpp
  lib/IRGen/GenValueWitness.h
  lib/IRGen/IRGen.cpp
  test/IRGen/layout_string_witnesses_block_list.swift
Labels: 🍒 release cherry pick, swift 6.0

#72898 [embedded] Don't retain subclass vtable entries if the base method was DCE'd
  lib/SILOptimizer/IPO/DeadFunctionElimination.cpp
  test/embedded/modules-subclasses.swift
Labels: embedded

#72915 [6.0] SILGen: Ignore placeholders and missing methods during conformance emission
  lib/SILGen/SILGenType.cpp
Labels: 🍒 release cherry pick, swift 6.0

#72819 [embedded] Avoid a crash on location-less SIL functions in PerformanceDiagnostics
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  test/embedded/keypath-crash.swift
Labels: embedded

#72666 [6.0] Fix LifetimeDependenceDiagnostics to ignore closure captures
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  lib/SILOptimizer/Mandatory/ConsumeOperatorCopyableAddressesChecker.cpp
  lib/SILOptimizer/Mandatory/ConsumeOperatorCopyableValuesChecker.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyDiagnostics.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/SILOptimizer/lifetime_dependence_borrow.swift
  test/SILOptimizer/lifetime_dependence_borrow_fail.swift
  test/SILOptimizer/lifetime_dependence_closure.swift
  test/SILOptimizer/lifetime_dependence_diagnostics.swift
  test/SILOptimizer/lifetime_dependence_inherit.swift
  test/SILOptimizer/lifetime_dependence_inherit_fail.swift
  test/SILOptimizer/lifetime_dependence_insertion.swift
  test/SILOptimizer/lifetime_dependence_mutate.swift
  test/SILOptimizer/lifetime_dependence_param.swift
  test/SILOptimizer/lifetime_dependence_param_fail.swift
  test/SILOptimizer/lifetime_dependence_scope.swift
  test/SILOptimizer/lifetime_dependence_todo.swift
  test/SILOptimizer/lifetime_dependence_util.sil
Labels: 🍒 release cherry pick, swift 6.0

#72874 [Remangler] Improve performance by caching hashes.
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/Demangling/RemanglerBase.h
  test/Demangle/Inputs/bigtype-remangle.txt
Labels: 🍒 release cherry pick, swift 6.0

#72873 [Runtime] Disable prespecialized metadata if we have overridden images.
  include/swift/Runtime/LibPrespecialized.h
  stdlib/public/runtime/LibPrespecialized.cpp
  stdlib/public/runtime/MetadataLookup.cpp
Labels: 🍒 release cherry pick, swift 6.0

#72768 [6.0] Fix LifetimeDependenceDefUseWalker for address yields.
  SwiftCompilerSources/Sources/Optimizer/Utilities/AddressUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  lib/SIL/Verifier/SILVerifier.cpp
  test/SILOptimizer/lifetime_dependence_diagnostics.swift
  test/SILOptimizer/ownership_liveness_unit.sil
Labels: 🍒 release cherry pick, swift 6.0

#72716 [embedded] Build the macOS Embedded Stdlib with a recent deployment target
  stdlib/public/CMakeLists.txt
  test/DebugInfo/embedded.swift
  test/IDE/complete_embedded_linux.swift
  test/IDE/complete_embedded_macos.swift
  test/SILOptimizer/devirt_deinits.swift
  test/embedded/concurrency-actors.swift
  test/embedded/concurrency-async-let.swift
  test/embedded/concurrency-builtins.swift
  test/embedded/concurrency-simple.swift
  test/embedded/lit.local.cfg
  test/embedded/opaque-return-types.swift
Labels: embedded

#72839 [6.0] LifetimeDependence: handle dependent values in throwing calls.
  SwiftCompilerSources/Sources/Optimizer/DataStructures/InstructionRange.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/SIL/ForwardingInstruction.swift
  SwiftCompilerSources/Sources/SIL/Value.swift
  include/swift/SIL/InstWrappers.h
  include/swift/SIL/SILInstruction.h
  lib/SIL/IR/SILInstruction.cpp
  lib/SILOptimizer/Utils/CanonicalizeInstruction.cpp
  test/SILOptimizer/lifetime_dependence_diagnostics.swift
  test/SILOptimizer/lifetime_dependence_util.sil
  test/SILOptimizer/ownership_liveness_unit.sil
  test/SILOptimizer/sil_combine_moveonly.sil
Labels: 🍒 release cherry pick, swift 6.0

#72902 [Demangler] Further optimizations for the remangler.
  include/swift/Demangling/Demangle.h
  lib/Demangling/Demangler.cpp
  lib/Demangling/Remangler.cpp
  test/Demangle/Inputs/bigtype-objcrt.txt
  test/Demangle/Inputs/bigtype-remangle.txt
  test/Demangle/recursion-limit.swift
Labels: 🍒 release cherry pick, swift 6.0

#72049 Set default linker to lld for Amazon Linux 2023
  CMakeLists.txt
  lib/Driver/UnixToolChains.cpp
Labels: Linux, linker error

#72817 [embedded] In -assert-config Debug, print errors in assertions, preconditions, fatalErrors
  include/swift/SIL/SILFunction.h
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  stdlib/public/core/Assert.swift
  stdlib/public/core/AssertCommon.swift
  stdlib/public/core/EmbeddedRuntime.swift
  test/SIL/modules-extern.swift
  test/SIL/modules-extern2.swift
  test/embedded/Inputs/unbuffered-putchar.c
  test/embedded/modules-extern.swift
  test/embedded/traps-fatalerror-exec.swift
  test/embedded/traps-fatalerror-ir.swift
  test/embedded/traps-multiple-preconditions-ir.swift
  test/embedded/traps-precondition-exec.swift
  test/embedded/traps-preconditionfailure-exec.swift
Labels: embedded

#72933 [6.0🍒][Dependency Scanning] Use a standalone `DependencyScanningFilesystem` on the scanner, sharing a common `status` cache from Clang's dependency service cache
  include/swift/AST/ModuleDependencies.h
  lib/AST/ModuleDependencies.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
Labels: 🍒 release cherry pick, swift 6.0

#72953 [wasm] Enable Synchronization module build
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: WebAssembly

#72950 [6.0] [Index] Avoid forming relations to non-indexed decls
  lib/Index/Index.cpp
  test/Index/index_module_inheritance_access.swift
  test/Index/property_wrappers.swift
  test/Index/roles-contained.swift
  test/Index/roles.swift
Labels: 🍒 release cherry pick, swift 6.0

#72946 [6.0] Fix type lowering of ~Copyable and ~Escapable generics.
  include/swift/SIL/AbstractionPattern.h
  lib/SIL/IR/AbstractionPattern.cpp
  lib/SIL/IR/TypeLowering.cpp
  test/SIL/type_lowering_unit.sil
  test/SILGen/mangling_inverse_generics.swift
  test/SILGen/typelowering_inverses.swift
Labels: 🍒 release cherry pick, swift 6.0

#72960 [SwiftSyntax] Test adjustments because no space is inserted between `#available` and `(` by SwiftSyntax anymore
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_inheritance.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_various_requirements.swift
Labels: swift 6.0

#72976 [CodeCompletion] Parse multiple `catch` clauses if the `do` body contains the code completion token
  lib/Parse/ParseStmt.cpp
  test/IDE/complete_do_with_multiple_catch_in_closure.swift
Labels: swift 6.0

#72983 [wasm] Enable Cxx module build
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: WebAssembly

#73035 [5.10] CMake: add a missing dependency to fix the bootstrapping build
  SwiftCompilerSources/CMakeLists.txt
Labels: swift 5.10

#73025 [6.0] LocalVariableUtils: add support for temporary enum initialization.
  SwiftCompilerSources/Sources/Optimizer/Utilities/LocalVariableUtils.swift
  test/SILOptimizer/lifetime_dependence_diagnostics.swift
  test/SILOptimizer/lifetime_dependence_optional.swift
Labels: 🍒 release cherry pick, swift 6.0

#73034 [6.0] CMake: add a missing dependency to fix the bootstrapping build
  SwiftCompilerSources/CMakeLists.txt
Labels: swift 6.0

#73042 [CodeCompletion] Fix a crash when completing the call pattern of a function that takes a parameter pack
  include/swift/Sema/ConstraintSystem.h
  lib/IDE/ArgumentCompletion.cpp
  lib/Sema/CSApply.cpp
  test/IDE/complete_call_arg.swift
  test/IDE/complete_dont_filter_overloads_with_cc_token.swift
  test/IDE/complete_enum_unresolved_dot_argument_labels.swift
  test/IDE/complete_in_result_builder.swift
  test/IDE/complete_parameter_pack_as_call_argument.swift
  test/IDE/complete_subscript.swift
  test/IDE/expected_type_of_call_pattern.swift
  validation-test/IDE/issues_fixed/issue-57149.swift
Labels: swift 6.0

#73038 [Caching] Adopt -finclude-tree-preserve-pch-path to fix -gmodules with
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  test/CAS/bridging-header.swift
  test/CAS/module_deps_include_tree.swift
Labels: swift 6.0

#73039 [SILGen] Fix a bug where the wrong convention was being used for lowering a closure to a C++ function pointer
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/closure-thunk-executable.swift
  test/Interop/Cxx/class/closure-thunk.swift
Labels: c++ interop

#72903 [cxx-interop] Zero-initialize C++ structs when calling their default constructors
  lib/IRGen/GenDecl.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/class/constructors-irgen-android.swift
  test/Interop/Cxx/class/constructors-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-irgen-windows.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
Labels: c++ interop

#73076 🍒[cxx-interop] Zero-initialize C++ structs when calling their default constructors
  lib/IRGen/GenDecl.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/class/constructors-irgen-android.swift
  test/Interop/Cxx/class/constructors-irgen-macosx.swift
  test/Interop/Cxx/class/constructors-irgen-windows.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
Labels: c++ interop

#73086 [cxx-interop] Do not try to import `std::tzdb`
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#73046 [Distributed][Macro] Improve diagnostics, handle edge cases, properties, assoc types
  lib/Macros/Sources/SwiftMacros/DistributedProtocolMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_errors.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
Labels: distributed

#72931 Add `swift-log` and `swift-async-algorithms` to checkouts
  utils/update_checkout/update-checkout-config.json
Labels: update-checkout

#73094 [6.0] Rename ExtensionImportVisibility to MemberImportVisibility and fix bugs
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/AST/SourceFile.h
  include/swift/Basic/Features.def
  lib/AST/Decl.cpp
  lib/AST/FeatureSet.cpp
  lib/AST/Module.cpp
  lib/AST/NameLookup.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckType.cpp
  test/NameLookup/Inputs/MemberImportVisibility/Bridging.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_A.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_A.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_B.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_B.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_C.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_C.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_D.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_E.swift
  test/NameLookup/Inputs/MemberImportVisibility/Submodule.h
  test/NameLookup/Inputs/MemberImportVisibility/Underlying.h
  test/NameLookup/Inputs/MemberImportVisibility/members_A.swift
  test/NameLookup/Inputs/MemberImportVisibility/members_B.swift
  test/NameLookup/Inputs/MemberImportVisibility/members_C.swift
  test/NameLookup/Inputs/MemberImportVisibility/module.modulemap
  test/NameLookup/extensions_transitive.swift
  test/NameLookup/extensions_transitive_objc.swift
  test/NameLookup/members_transitive.swift
  test/NameLookup/members_transitive_multifile.swift
  test/NameLookup/members_transitive_objc.swift
  test/NameLookup/members_transitive_underlying_clang.swift
  test/SPI/client_reuse_spi.swift
Labels: 🍒 release cherry pick, swift 6.0

#73049 [Distributed] Add more tests for implicit Codable on distributed actors
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_not_codable.swift
  test/Distributed/Runtime/distributed_actor_generic_codable_da_conformance.swift
  test/Distributed/distributed_actor_implicit_codable.swift
Labels: distributed

#73047 [6.0][Distributed][Macro] Handle more edge cases with distributed protocol macro
  lib/Macros/Sources/SwiftMacros/DistributedProtocolMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_errors.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
Labels: distributed, 🍒 release cherry pick, swift 6.0

#73105 [6.0][CSBindings] Delay inference through OptionalObject if "object" is l-value capable
  lib/Sema/CSBindings.cpp
  test/Constraints/diagnostics.swift
  test/Constraints/optional.swift
Labels: 🍒 release cherry pick, swift 6.0

#72782 [6.0] Parser: Don't skip functions with a nested typealias, protocol or actor for LLDB
  lib/Parse/ParseDecl.cpp
  test/Frontend/skip-function-bodies.swift
Labels: 🍒 release cherry pick, swift 6.0

#73126 [6.0] Allow @frozen and @_fixed_layout for package access level.
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/Sema/package_frozen_fixed_layout.swift
  test/Sema/package_resilience_bypass_exhaustive_switch.swift
  test/attr/attr_fixed_layout.swift
  test/attr/attr_inlinable.swift
Labels: swift 6.0

#73139 [6.0] Serialization: Protect against most errors in contexts for calls to `AnyObject` variables
  lib/Serialization/Deserialization.cpp
Labels: 🍒 release cherry pick, swift 6.0

#73146 [6.0🍒][Concurrency] Improvements to the concurrency model for stored properties of globally-isolated `Sendable` value types and globally-isolated function types.
  include/swift/AST/Types.h
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/AST/Type.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_isolation.swift
  test/Concurrency/actor_isolation_swift6.swift
  test/Concurrency/derived_conformances_nonisolated.swift
  test/Concurrency/global_actor_inference.swift
  test/Concurrency/global_actor_sendable_fn_type_inference.swift
  test/Concurrency/sendable_keypaths.swift
Labels: 🍒 release cherry pick, swift 6.0

#73162 [SILGen] Create thunks for non-throwing -> indirect error result conversions
  lib/SIL/IR/TypeLowering.cpp
  test/SILGen/typed_throws_thunk.swift
Labels: bug, SILGen, WebAssembly, typed throws

#72722 .github: Add a pull request template for release branch PRs
  .github/PULL_REQUEST_TEMPLATE/release.md
  .github/pull_request_template.md
Labels: contributor experience

#73182 [6.0] embedded: fix a crash when specializing a generic class method with an indirect return value
  lib/SILOptimizer/Utils/Generics.cpp
  test/embedded/classes-indirect-return.swift
Labels: swift 6.0

#73177 [6.0🍒][SILGen] Create thunks for non-throwing -> indirect error result conversions
  lib/SIL/IR/TypeLowering.cpp
  test/SILGen/typed_throws_thunk.swift
Labels: bug, 🍒 release cherry pick, WebAssembly, swift 6.0

#73187 [6.0][Runtime] Fix CVW for genreic single payload enums with no extra inha…
  stdlib/public/runtime/BytecodeLayouts.cpp
  stdlib/public/runtime/Enum.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
Labels: 🍒 release cherry pick, swift 6.0

#73184 [embedded] Consider move_value/copy_value as removable for keypath optimization
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyKeyPath.swift
  test/embedded/keypaths2.swift
  test/embedded/keypaths3.swift
Labels: embedded

#73055 [cxx-interop] Import `NonCopyable*` as `OpaquePointer` if noncopyable generics are disabled
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/move-only/Inputs/move-only-cxx-value-type.h
  test/Interop/Cxx/class/move-only/inherited-field-access-irgen.swift
  test/Interop/Cxx/class/move-only/inherited-field-access-silgen.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type-module-interface.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-properties.swift
Labels: c++ interop

#73203 [6.0] Sema: Improve warnings and notes related to access-level on imports
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Import.h
  lib/Sema/ImportResolution.cpp
  lib/Sema/TypeCheckAccess.cpp
  test/Concurrency/preconcurrency_implementationonly_override.swift
  test/ModuleInterface/module_shadowing.swift
  test/SPI/implementation_only_spi_import_exposability.swift
  test/SPI/report-ioi-in-spi.swift
  test/SPI/spi-only-import-conflicting.swift
  test/Sema/access-level-import-diag-priority.swift
  test/Sema/access-level-import-exportability.swift
  test/Sema/access-level-import-inconsistencies.swift
  test/Sema/access-level-import-inconsistent-same-file.swift
  test/Sema/access-level-import-inlinable.swift
  test/Sema/implementation-only-deprecated.swift
  test/Sema/implementation-only-import-from-non-resilient.swift
  test/Sema/implementation-only-import-in-decls.swift
  test/Sema/implementation-only-import-inlinable-conformances.swift
  test/Sema/implementation-only-import-inlinable-indirect.swift
  test/Sema/implementation-only-import-inlinable-multifile.swift
  test/Sema/implementation-only-import-inlinable.swift
  test/Sema/implementation-only-import-library-evolution.swift
  test/Sema/missing-import-inlinable-code.swift
  test/Sema/missing-import-typealias.swift
  test/Sema/restricted-imports-priorities.swift
  test/Sema/superfluously-public-imports.swift
Labels: 🍒 release cherry pick, swift 6.0

#73193 [SILGen] Fix a bug where the wrong convention was being used for lowering a closure to a C++ function pointer
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/closure-thunk-executable.swift
  test/Interop/Cxx/class/closure-thunk.swift
Labels: c++ interop

#73223 🍒[cxx-interop] Pull changes from `swift-6` compat mode into `swift-5.9`
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/conforms-to.swift
  test/Interop/Cxx/class/inheritance/using-base-members-typechecker.swift
  test/Interop/Cxx/class/inheritance/using-base-members.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-irgen.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-typechecker.swift
  test/Interop/Cxx/class/inheritance/virtual-methods.swift
  test/Interop/Cxx/class/move-only/Inputs/move-only-cxx-value-type.h
  test/Interop/Cxx/class/move-only/inherited-field-access-irgen.swift
  test/Interop/Cxx/class/move-only/inherited-field-access-silgen.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type-module-interface.swift
  test/Interop/Cxx/class/move-only/move-only-cxx-value-type.swift
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/class/type-classification-typechecker.swift
  test/Interop/Cxx/function/default-arguments-irgen.swift
  test/Interop/Cxx/function/default-arguments-module-interface.swift
  test/Interop/Cxx/function/default-arguments-typechecker.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-properties.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-property-typecheck.swift
  test/Interop/Cxx/stdlib/use-std-chrono.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
Labels: c++ interop

#73228 [6.0][SE-0428] NFC: Rename `_DistributedProtocol` macro into `Resolvable`
  lib/Macros/Sources/SwiftMacros/CMakeLists.txt
  lib/Macros/Sources/SwiftMacros/DistributedResolvableMacro.swift
  stdlib/public/Distributed/DistributedMacros.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_errors.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_inheritance.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_various_requirements.swift
  test/Distributed/Runtime/distributed_actor_localSystem_distributedProtocol.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method_in_presence_of_multiple_systems.swift
Labels: 🍒 release cherry pick, swift 6.0

#73273 [6.0] Basic: Add minimum availability version for visionOS
  lib/Basic/Platform.cpp
  test/attr/require_explicit_availability.swift
  test/attr/require_explicit_availability_macos.swift
Labels: 🍒 release cherry pick, swift 6.0

#73248 [cxx-interop] Test symbolic interface generation for new features
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#73272 [6.0][IRGen] Fix size computation for imported C types in type layouts
  lib/IRGen/TypeLayout.cpp
  test/Interpreter/Inputs/CTypes/CTypes.h
  test/Interpreter/Inputs/CTypes/module.modulemap
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
  test/Interpreter/layout_string_witnesses_objc.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#73281 🍒[cxx-interop] Test symbolic interface generation for new features
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#73214 [6.0 cherry-pick][embedded] Consider move_value/copy_value as removable for keypath optimization
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyKeyPath.swift
  test/embedded/keypaths2.swift
  test/embedded/keypaths3.swift
Labels: embedded

#73307 [6.0] stdlib: Fix more typed throws and non-copyable generics condfails
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/Result.swift
Labels: 🍒 release cherry pick, swift 6.0

#73283 [6.0] CMake: add option to link Swift content from Darwin toolchain
  CMakeLists.txt
  cmake/modules/AddSwift.cmake
  tools/SourceKit/cmake/modules/AddSwiftSourceKit.cmake
Labels: 🍒 release cherry pick, swift 6.0
