Repository swiftlang/swift, pull requests merged in 2024-01, with the labels that each got.

#70568 Tests: Remove attr_availability_maccatalyst_implicit.swift
  test/attr/attr_availability_maccatalyst_implicit.swift
Labels: 🍒 release cherry pick, swift 5.10

#70643 Fix error message typo in `stdlib/public/core/StaticString.swift`
  stdlib/public/core/StaticString.swift
Labels: standard library, typo

#70607 [cxx-interop] Do not try to print empty namespaces in module interfaces
  lib/IDE/ModuleInterfacePrinting.cpp
Labels: c++ interop

#70542 [5.10] Use [u]int64 -> FloatingPoint conversions even on 32b targets
  stdlib/public/core/FloatingPointTypes.swift.gyb
Labels: swift 5.10

#70549 Fix a crash in ClangImporter::Implementation::DiagnosticWalker::TraverseDecl
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/friend-diag.swift
Labels: c++ interop

#70668 Add `m68k` to `SwiftSetIfArchBitness.cmake`
  cmake/modules/SwiftSetIfArchBitness.cmake
Labels: cmake

#70563 [embedded] Do not emit entry point data (__swift5_entry) in embedded Swift
  lib/IRGen/GenDecl.cpp
  test/embedded/internalize-no-stdlib.swift
Labels: embedded

#70629 stdlib/public/CMakeLists.txt: Enable embedded Wasm
  cmake/modules/SwiftSetIfArchBitness.cmake
  stdlib/public/CMakeLists.txt
Labels: standard library, cmake, static stdlib, embedded, WebAssembly

#70217 [embedded] Add Set to the embedded stdlib
  stdlib/public/core/BridgeStorage.swift
  stdlib/public/core/Builtin.swift
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/ContiguousArrayBuffer.swift
  stdlib/public/core/DictionaryStorage.swift
  stdlib/public/core/EmbeddedRuntime.swift
  stdlib/public/core/HashTable.swift
  stdlib/public/core/Hasher.swift
  stdlib/public/core/NativeSet.swift
  stdlib/public/core/Set.swift
  stdlib/public/core/SetCasting.swift
  stdlib/public/core/SetStorage.swift
  stdlib/public/core/SetVariant.swift
  stdlib/public/core/TemporaryAllocation.swift
  test/embedded/set-runtime.swift
  test/embedded/stdlib-array.swift
  test/embedded/stdlib-set.swift
  test/embedded/stdlib-types.swift
Labels: embedded

#70686 Revert "[cxx-interop] benchmark, disable ReadAccessor benchmark while investigating build regression after rebranch"
  benchmark/cxx-source/ReadAccessor.swift
Labels: c++ interop

#70683 [5.10] SimplifyBuiltin: fix simplification of is_same_metatype with dynamic_self types
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyBuiltin.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  include/swift/SIL/SILType.h
  test/SILOptimizer/simplify_builtin.sil
Labels: swift 5.10

#70617 [5.10] Prevent partial_apply cloning.
  lib/SIL/IR/SILInstruction.cpp
  lib/SILOptimizer/Utils/LoopUtils.cpp
  test/SILOptimizer/simplify_cfg_ossa_jump_threading.sil
Labels: swift 5.10

#70674 [Embedded] Enable SIMD types in embedded Swift
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/SIMDVector.swift
  stdlib/public/core/SIMDVectorTypes.swift.gyb
  test/embedded/simd.swift
Labels: simd, embedded

#70357 [embedded] In -no-allocations, avoid linking allocating/deallocating runtime functions
  include/swift/Runtime/RuntimeFunctions.def
  include/swift/SIL/RuntimeEffect.h
  lib/IRGen/IRGenModule.cpp
  lib/SILOptimizer/UtilityPasses/Link.cpp
  test/embedded/dependencies-no-allocations.swift
Labels: embedded

#70710 [embedded] Add -no-allocations test for UnsafeMutablePointer.allocate(), improve diag messsage
  include/swift/AST/DiagnosticsSIL.def
  test/embedded/no-allocations.swift
Labels: embedded

#70619 [embedded] Don't emit __swift_reflection_version symbol
  lib/IRGen/GenReflection.cpp
  test/embedded/internalize-no-stdlib.swift
Labels: embedded

#70754 [embedded] Re-enable embedded/dependencies-no-allocations.swift and only disable it on AArch64 Linux
  test/embedded/dependencies-no-allocations.swift
Labels: embedded

#70765 [cxx-interop] More tests for move-only C++ types
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/class/type-classification-typechecker.swift
Labels: c++ interop

#70416 [5.10][Macros] Cache `SourceLocationConverter` in `ExportedSourceFile`
  lib/ASTGen/Sources/ASTGen/PluginHost.swift
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/ASTGen/Sources/ASTGen/SourceManager+MacroExpansionContext.swift
Labels: swift 5.10

#70767 [Threading] Fix C11 once implementation to not rely on lock recursion.
  lib/Threading/C11.cpp
Labels: 🍒 release cherry pick, swift 5.10

#70537 [DiscardingTG] Remove reabstraction thunk for `() -> Void` to `() -> T`
  include/swift/AST/Builtins.def
  lib/AST/Builtins.cpp
  lib/IRGen/GenBuiltin.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Utils/MemAccessUtils.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
  stdlib/public/Concurrency/TaskGroup+TaskExecutor.swift
  test/IRGen/async/builtins.sil
  test/SILGen/async_builtins.swift
Labels: concurrency, concurrency runtime

#70044 [cxx-interop] Support C++ default arguments
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  lib/IRGen/GenClangDecl.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SILGen/SILGen.cpp
  test/Interop/Cxx/foreign-reference/Inputs/pod.h
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/function/Inputs/default-arguments.cpp
  test/Interop/Cxx/function/Inputs/default-arguments.h
  test/Interop/Cxx/function/Inputs/module.modulemap
  test/Interop/Cxx/function/default-arguments-irgen.swift
  test/Interop/Cxx/function/default-arguments-module-interface.swift
  test/Interop/Cxx/function/default-arguments-typechecker.swift
  test/Interop/Cxx/function/default-arguments.swift
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#70800 [Concurrency] Cleanup of assert/precondition/assume isolated docs
  stdlib/public/Concurrency/ExecutorAssertions.swift
  stdlib/public/Concurrency/MainActor.swift
  stdlib/public/Distributed/DistributedAssertions.swift
Labels: concurrency, documentation

#70810 [embedded] Ignore 'do not specialize' @_semantics attributes in embedded Swift mode
  lib/SILOptimizer/Utils/Generics.cpp
  test/embedded/specialize-attrs.swift
Labels: embedded

#70796 [5.10] caches: enable static mirror lib on Windows
  cmake/caches/Windows-aarch64.cmake
  cmake/caches/Windows-x86_64.cmake
Labels: swift 5.10

#70622 [docs] TaskLocal APIs from non-Task code
  stdlib/public/Concurrency/TaskLocal.swift
Labels: documentation

#70906 [Distributed] Allow `isolated any DistributedActor`
  include/swift/AST/Types.h
  lib/AST/Type.cpp
  lib/Sema/TypeCheckType.cpp
  test/Distributed/Runtime/distributed_actor_isolated_existential.swift
  test/Distributed/distributed_actor_isolation.swift
Labels: distributed

#70933 [cxx-interop] Split some modules in tests
  test/Interop/Cxx/stdlib/overlay/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
Labels: c++ interop

#70762 [embedded] Add Dictionary to embedded stdlib
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/Dictionary.swift
  stdlib/public/core/DictionaryCasting.swift
  stdlib/public/core/DictionaryStorage.swift
  stdlib/public/core/DictionaryVariant.swift
  stdlib/public/core/NativeDictionary.swift
  stdlib/public/core/SetStorage.swift
  test/IDE/complete_embedded.swift
  test/embedded/dictionary-runtime.swift
  test/embedded/stdlib-dictionary.swift
Labels: embedded

#70925 [Concurrency] allow isolated on dynamic self types
  lib/Sema/TypeCheckType.cpp
  test/Concurrency/isolated_parameters.swift
Labels: concurrency

#70772 [cxx-interop] Initial tests for `std::function` usage
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-function.h
  test/Interop/Cxx/stdlib/Inputs/std-pair.h
  test/Interop/Cxx/stdlib/use-std-function.swift
  test/Interop/Cxx/stdlib/use-std-pair-typechecker.swift
Labels: c++ interop

#70941 [5.10] Fix alignment-checking preconditions in UnsafeMutableRawBufferPointer
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  test/stdlib/UnsafeRawBufferPointer.swift
Labels: 🍒 release cherry pick, swift 5.10

#70972 [5.10 🍒][Dependency Scanning] Escape quoted strings in dependency command-line output
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/placholder_overlay_deps.swift
  test/ScanDependencies/test_quoted_arg.swift
Labels: 🍒 release cherry pick, swift 5.10

#70511 build: Explicitly set `SWIFT_ENABLE_DISPATCH` to build Wasm stdlib
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: standard library, cmake, WebAssembly

#70981 [build] Skip lldb tests on WebAssembly CI node
  utils/build-presets.ini
Labels: test suite, lldb, WebAssembly

#70985 [5.10] [Sema] Avoid mentioning `then` in a diagnostic
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/MiscDiagnostics.cpp
Labels: 🍒 release cherry pick, swift 5.10

#70992 [embedded] Promote the assertion of metadata use to trigger in release compilers too
  lib/IRGen/MetadataRequest.cpp
Labels: embedded

#70996 Do not skip `earlyswiftdriver` in SwiftPM Linux CI Preset
  utils/build-presets.ini
Labels: build-script

#70783 [TaskExecutors] Task initializer and withTaskExecutor parameter changes
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalConcurrentExecutor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  stdlib/public/Concurrency/TaskGroup+TaskExecutor.swift
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func.swift
  test/Concurrency/Runtime/async_task_executor_default_actor_funcs.swift
  test/Concurrency/Runtime/async_task_executor_nonisolated_async_func.swift
  test/Concurrency/Runtime/async_task_executor_structured_concurrency.swift
  test/Concurrency/Runtime/async_task_executor_withExecutor.swift
  test/Distributed/Runtime/distributed_actor_custom_executor_from_id.swift
  test/Distributed/Runtime/distributed_actor_task_executor.swift
Labels: concurrency runtime

#71052 [Distributed] add test for remoteCall on dist property
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_property.swift
Labels: distributed

#68419 [se-0405] Implement API additions
  stdlib/public/core/String.swift
  stdlib/public/core/StringCreate.swift
  stdlib/public/core/StringStorage.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/stdlib/StringCreate.swift
Labels: swift evolution approved, swift evolution implemented

#68423 [se-0405] rename `String.init(validatingUTF8:)`
  stdlib/private/StdlibUnittest/InspectValue.swift
  stdlib/private/StdlibUnittest/StdlibUnittest.swift
  stdlib/private/SwiftPrivateLibcExtras/Subprocess.swift
  stdlib/private/SwiftReflectionTest/SwiftReflectionTest.swift
  stdlib/public/Backtracing/Backtrace.swift
  stdlib/public/core/CString.swift
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/ReflectionMirror.swift
  test/stdlib/StringAPICString.swift
  test/stdlib/StringAPICStringDiagnostics.swift
Labels: swift evolution approved, swift evolution implemented

#71043 Introduce a builtin and API for getting the local actor from a distributed one
  include/swift/ABI/MetadataValues.h
  include/swift/AST/Attr.def
  include/swift/AST/Builtins.def
  include/swift/AST/ProtocolConformance.h
  lib/AST/ASTMangler.cpp
  lib/AST/Builtins.cpp
  lib/AST/ProtocolConformance.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/IRGenModule.h
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/SIL.cpp
  lib/SIL/IR/SILWitnessTable.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILGen/SILGenLazyConformance.cpp
  lib/SILOptimizer/Transforms/AccessEnforcementReleaseSinking.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  stdlib/public/Distributed/DistributedActor.swift
  test/Distributed/Runtime/distributed_actor_to_actor.swift
  test/Distributed/distributed_actor_to_actor.swift
Labels: distributed

#71136 [5.10] Tests: Update tagged string tests in stdlib/BridgeStorage.swift
  test/stdlib/BridgeStorage.swift
Labels: 🍒 release cherry pick, swift 5.10

#71108 [5.10] Tests: Make some IRGen tests less deployment target dependent
  test/IRGen/casts.sil
  test/IRGen/lto_autolink.swift
  test/IRGen/subclass_existentials.sil
Labels: 🍒 release cherry pick, swift 5.10

#71100 [5.10] Tests: Update stdlib/RuntimeObjC.swift to always link libswiftCoreGraphics
  test/stdlib/RuntimeObjC.swift
Labels: 🍒 release cherry pick, swift 5.10

#71116 [cxx-interop] Cleanup two tests
  test/Interop/Cxx/stdlib/overlay/std-string-overlay.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
Labels: c++ interop

#71153 [cxx-interop] Fix tests with split libc++ module
  test/Interop/Cxx/stdlib/Inputs/check-libcxx-version.cpp
  test/Interop/Cxx/stdlib/import-string-view-from-std.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#71022 [cxx-interop] Emit function types as Swift closures in templated params
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-function-parameter.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/class-template-with-function-parameter-module-interface.swift
Labels: c++ interop

#71179 [cxx-interop] Emit default expressions in symbolic interfaces
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#70642 Enable `x86_64` and `i686` triples for embedded Swift
  stdlib/private/StdlibUnittest/OpaqueIdentityFunctions.swift
  stdlib/public/CMakeLists.txt
  stdlib/public/Differentiation/FloatingPointDifferentiation.swift.gyb
  stdlib/public/Differentiation/TgmathDerivatives.swift.gyb
  stdlib/public/Platform/tgmath.swift.gyb
  stdlib/public/core/BuiltinMath.swift
  stdlib/public/core/CTypes.swift
  stdlib/public/core/FloatingPoint.swift
  stdlib/public/core/FloatingPointParsing.swift.gyb
  stdlib/public/core/FloatingPointTypes.swift.gyb
  stdlib/public/core/IntegerTypes.swift.gyb
  stdlib/public/core/Mirrors.swift
  stdlib/public/core/Policy.swift
  stdlib/public/core/Runtime.swift
  stdlib/public/core/VarArgs.swift
Labels: standard library, static stdlib, x86_64, embedded

#71186 Fix the deprecation of `String.init(validatingUTF8: [CChar])`.
  stdlib/public/core/CString.swift
Labels: bug

#70842 [Distributed] Support complex generic distributed actors in thunk gen
  lib/IRGen/GenDistributed.cpp
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Runtime/distributed_actor_func_calls_decoded_args_deinit.swift
  test/Distributed/Runtime/distributed_actor_generic_constraint_issue_115497090.swift
  test/Distributed/Runtime/distributed_parameter_validation.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: distributed

#71203 Add `i686-unknown-windows-coff`/`x86_64-unknown-windows-coff` embedded triples
  stdlib/public/CMakeLists.txt
Labels: Windows, cmake, build, embedded

#71181 [cxx-interop] Check for unsafe types of default arguments consistently
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-string.h
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#71145 [TaskExecutor] Remove underscore from new APIs
  include/swift/AST/ASTSynthesis.h
  include/swift/AST/KnownProtocols.def
  include/swift/AST/KnownSDKTypes.def
  include/swift/Demangling/StandardTypesMangling.def
  lib/AST/ASTContext.cpp
  lib/IRGen/GenMeta.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/GlobalConcurrentExecutor.swift
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  stdlib/public/Concurrency/TaskGroup+TaskExecutor.swift
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func.swift
  test/Concurrency/Runtime/async_task_executor_default_actor_funcs.swift
  test/Concurrency/Runtime/async_task_executor_nonisolated_async_func.swift
  test/Concurrency/Runtime/async_task_executor_structured_concurrency.swift
  test/Concurrency/Runtime/async_task_executor_withExecutor.swift
  test/Distributed/Runtime/distributed_actor_task_executor.swift
Labels: swift evolution pending discussion, concurrency

#71185 🍒[cxx-interop] Fix tests with split libc++ module
  test/Interop/Cxx/stdlib/Inputs/check-libcxx-version.cpp
  test/Interop/Cxx/stdlib/import-string-view-from-std.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-libcxx-symbolic-module-interface.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#71142 [autolink-extract] Support (and ignore) LLVM IR files.
  lib/DriverTool/autolink_extract_main.cpp
  test/AutolinkExtract/llvm-ir.cpp
Labels: swift-autolink-extract
