Repository swiftlang/swift, pull requests merged in 2024-02, with the labels that each got.

#71243 [cxx-interop] Make automatic conformances work with the bridging header
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#71310 [cxx-interop] NFC: use a CxxShim name constant
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#71337 [TaskExecutors] Add missing return type to `_DefaultGlobalConcurrentExecutor.asUnownedTaskExecutor()`
  stdlib/public/Concurrency/GlobalConcurrentExecutor.swift
Labels: concurrency

#71278 [embedded] Implicitly define __APPLE__ and __MACH__ when on -apple-none triples
  lib/ClangImporter/ClangImporter.cpp
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/SwiftShims/swift/shims/Visibility.h
  stdlib/public/core/CMakeLists.txt
  test/embedded/fragile-reference.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/stdlib-array.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-dictionary.swift
  test/embedded/stdlib-random.swift
  test/embedded/stdlib-set.swift
  test/embedded/stdlib-types.swift
Labels: embedded

#39612 [ConstraintSystem] Allow function-function conversions for keypath literals
  include/swift/AST/DiagnosticsSema.def
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSSimplify.cpp
  test/Constraints/keypath.swift
  test/expr/unary/keypath/keypath.swift
  unittests/Sema/CMakeLists.txt
  unittests/Sema/KeypathFunctionConversionTests.cpp
Labels: swift evolution approved

#70687 [embedded] Add an initial docs/EmbeddedSwift/UserManual.md
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
  docs/EmbeddedSwift/IntegratingWithSDKs.md
  docs/EmbeddedSwift/UserManual.md
Labels: documentation, embedded

#71325 [5.10][Runtime] Handle different types for src and dest in existentialAssig…
  stdlib/public/runtime/BytecodeLayouts.cpp
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 5.10

#71492 [Distributed] Handle DA declared inside a generic type
  lib/Sema/CodeSynthesisDistributedActor.cpp
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_da_in_generic_type.swift
Labels: distributed

#71309 build: Run executable tests with WasmKit
  utils/build-presets.ini
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/__init__.py
  utils/swift_build_support/swift_build_support/products/wasmkit.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
  utils/update_checkout/update-checkout-config.json
  utils/wasm-run.py
Labels: continuous integration, WebAssembly

#71439 [Distributed] whenLocal adoption of typed throws
  stdlib/public/Distributed/DistributedActor.swift
Labels: distributed

#71523 [embedded] Update UserManual.md and EmbeddedSwiftStatus.md with some additional information
  docs/EmbeddedSwift/EmbeddedSwiftStatus.md
  docs/EmbeddedSwift/UserManual.md
Labels: embedded

#71594 [TaskExecutor] Remove un-necessary nonisolated(unsafe)
  stdlib/public/Concurrency/GlobalConcurrentExecutor.swift
Labels: concurrency

#71622 [docs] Mention indirect in library evolution doc for enums
  docs/LibraryEvolution.rst
Labels: documentation, library evolution

#70928 [Distributed] Target identifiers for protocol calls
  include/swift/ABI/Metadata.h
  include/swift/ABI/MetadataValues.h
  include/swift/AST/ASTMangler.h
  include/swift/AST/Attr.h
  include/swift/AST/Decl.h
  include/swift/AST/DeclAttr.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  include/swift/Demangling/DemangleNodes.def
  include/swift/IRGen/Linking.h
  include/swift/RemoteInspection/RuntimeHeaders/llvm/BinaryFormat/Swift.def
  include/swift/Runtime/AccessibleFunction.h
  include/swift/Runtime/Config.h
  lib/AST/ASTMangler.cpp
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/AST/DistributedDecl.cpp
  lib/ASTGen/Sources/ASTGen/DeclAttrs.swift
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenDistributed.cpp
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/IRGen/Linking.cpp
  lib/Parse/ParseDecl.cpp
  lib/Sema/CodeSynthesis.h
  lib/Sema/CodeSynthesisDistributedActor.cpp
  lib/Sema/DerivedConformanceDistributedActor.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  stdlib/public/SwiftShims/swift/shims/MetadataSections.h
  stdlib/public/runtime/AccessibleFunction.cpp
  stdlib/public/runtime/ImageInspection.h
  stdlib/public/runtime/ImageInspectionCommon.cpp
  stdlib/public/runtime/ImageInspectionCommon.h
  stdlib/public/runtime/ImageInspectionMachO.cpp
  stdlib/public/runtime/ImageInspectionStatic.cpp
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
  stdlib/public/runtime/Tracing.h
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Inputs/GreeterProtocol.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_bad_targets.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_hello.swift
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_through_generic.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method_in_presence_of_multiple_systems.swift
  test/abi/macOS/arm64/stdlib-asserts.swift
  test/abi/macOS/x86_64/stdlib-asserts.swift
Labels: distributed

#71651 Add a distinct hook for `swift_willThrowTypedImpl()`.
  stdlib/public/runtime/ErrorObjectCommon.cpp
  stdlib/public/runtime/ErrorObjectTestSupport.h
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: error handling, XCTest, typed throws

#71509 Add `swift5_tests` to `MetadataSections`.
  stdlib/public/SwiftShims/swift/shims/MetadataSections.h
  stdlib/public/runtime/ImageInspectionCommon.h
  stdlib/public/runtime/SwiftRT-COFF.cpp
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
Labels: Linux, Windows, runtime, XCTest, swift 5.11

#71725 [Distributed] Fix _executeDistributedTarget ABI
  lib/IRGen/GenDistributed.cpp
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/distributed_actor_accessor_thunks_32bit.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: distributed

#71717 [Macros] Reproduce issue with peer+extension macro extension's methods not being checked as witnesses
  lib/AST/NameLookup.cpp
  lib/Macros/Sources/SwiftMacros/DistributedProtocolMacro.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_inheritance.swift
  test/Distributed/Macros/distributed_macro_expansion_DistributedProtocol_simple.swift
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand_synthesized_members.swift
Labels: distributed, swift macro

#71801 [Distributed] Undo new record and mangling scheme for dist.p.witnesses
  include/swift/RemoteInspection/RuntimeHeaders/llvm/BinaryFormat/Swift.def
  include/swift/Runtime/Config.h
  lib/AST/DistributedDecl.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/IRGenModule.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/Sema/CodeSynthesisDistributedActor.cpp
  stdlib/public/Distributed/DistributedActor.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/Distributed/DistributedMetadata.swift
  stdlib/public/SwiftShims/swift/shims/MetadataSections.h
  stdlib/public/runtime/AccessibleFunction.cpp
  stdlib/public/runtime/ImageInspection.h
  stdlib/public/runtime/ImageInspectionCommon.cpp
  stdlib/public/runtime/ImageInspectionCommon.h
  stdlib/public/runtime/ImageInspectionMachO.cpp
  stdlib/public/runtime/ImageInspectionStatic.cpp
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
  stdlib/public/runtime/Tracing.h
  test/Distributed/Runtime/distributed_actor_func_calls_remoteCall_through_generic.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method.swift
  test/Distributed/Runtime/distributed_actor_remoteCall_protocol_method_in_presence_of_multiple_systems.swift
  test/abi/macOS/arm64/stdlib-asserts.swift
  test/abi/macOS/x86_64/stdlib-asserts.swift
Labels: distributed

#71796 [Distributed] Make new protocol requirements conditionally available
  include/swift/SIL/SILFunction.h
  lib/AST/DistributedDecl.cpp
  lib/IRGen/GenDistributed.cpp
  lib/SIL/IR/SILFunction.cpp
  lib/SIL/IR/SILFunctionBuilder.cpp
  lib/SIL/IR/SILModule.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SILOptimizer/Analysis/CallerAnalysis.cpp
  lib/SILOptimizer/FunctionSignatureTransforms/FunctionSignatureOpts.cpp
  lib/SILOptimizer/IPO/DeadFunctionElimination.cpp
  lib/Sema/TypeCheckDistributed.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SILFormat.h
  lib/Serialization/SerializeSIL.cpp
  stdlib/public/Distributed/DistributedActorSystem.swift
  test/Distributed/Runtime/distributed_actor_localSystem_generic.swift
  test/Distributed/SIL/distributed_thunk.swift
  test/Distributed/distributed_actor_accessor_thunks_64bit.swift
Labels: distributed

#71836 [cxx-interop] Run tests with `swift-6` compat mode
  test/Interop/Cxx/class/conforms-to.swift
  test/Interop/Cxx/class/inheritance/using-base-members-module-interface.swift
  test/Interop/Cxx/class/inheritance/using-base-members-typechecker.swift
  test/Interop/Cxx/class/inheritance/using-base-members.swift
  test/Interop/Cxx/class/inheritance/virtual-methods-module-interface.swift
  test/Interop/Cxx/class/move-only/inherited-field-access-irgen.swift
  test/Interop/Cxx/class/move-only/inherited-field-access-silgen.swift
  test/Interop/Cxx/class/type-classification-module-interface.swift
  test/Interop/Cxx/class/type-classification-typechecker.swift
  test/Interop/Cxx/ergonomics/swift-bridging-annotations.swift
  test/Interop/Cxx/function/default-arguments-irgen.swift
  test/Interop/Cxx/function/default-arguments-module-interface.swift
  test/Interop/Cxx/function/default-arguments-typechecker.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-properties.swift
  test/Interop/Cxx/operators/move-only/move-only-synthesized-property-typecheck.swift
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/import-cxx-math-ambiguities.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool-typechecker.swift
  test/Interop/Cxx/stdlib/overlay/convertible-to-bool.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-convertible-to-collection.swift
  test/Interop/Cxx/stdlib/overlay/custom-iterator-module-interface.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence-module-interface.swift
  test/Interop/Cxx/stdlib/use-std-function.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
  test/Interop/Cxx/stdlib/use-std-optional.swift
  test/Interop/Cxx/stdlib/use-std-pair.swift
  test/Interop/Cxx/stdlib/use-std-set.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
  test/Interop/Cxx/templates/class-template-with-function-parameter-module-interface.swift
  tools/swift-ide-test/swift-ide-test.cpp
Labels: c++ interop

#71813 [cxx-interop] Correctly generate the list of transitive dependencies for CxxStdlib overlay
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#71885 [CommandLine][Linux] Don't read argv from /proc/self/cmdline.
  stdlib/public/CommandLineSupport/CommandLine.cpp
Labels: 🍒 release cherry pick, swift 5.10
