Repository swiftlang/swift, pull requests merged in 2024-08, with the labels that each got.

#75612 [Concurrency] Harden task group test which is sensitive to timing
  test/Concurrency/Runtime/async_taskgroup_throw_rethrow.swift
Labels: concurrency

#75634 [6.0][immediate] Load Foundation early enough for bridging
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/Immediate/Immediate.h
  lib/FrontendTool/FrontendTool.cpp
  lib/Immediate/Immediate.cpp
  test/Interpreter/foundation-bridge-error.swift
Labels: 🍒 release cherry pick, swift 6.0

#75613 [Concurrency] Improve crash message on continuation misuse
  stdlib/public/Concurrency/CheckedContinuation.swift
Labels: concurrency

#75629 [6.0][CSApply] Allow marker existential to superclass conversions
  lib/Sema/CSApply.cpp
  test/Concurrency/predates_concurrency.swift
Labels: 🍒 release cherry pick, swift 6.0

#75663 [Concurrency] Warning and fixig to remove unsafe from nonisolated(unsafe) func
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAttr.cpp
  test/Concurrency/actor_isolation.swift
  test/Concurrency/transfernonsendable_nonisolatedunsafe.swift
Labels: concurrency

#75644 [cxx-interop] Fix crash with reverse interop in Embedded Swift
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  test/Interop/SwiftToCxx/core/embedded-swift.swift
Labels: c++ interop

#74522 Implement trailing comma for comma-separated lists
  include/swift/Basic/Features.def
  include/swift/Parse/Parser.h
  lib/AST/FeatureSet.cpp
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParseExpr.cpp
  lib/Parse/ParseGeneric.cpp
  lib/Parse/ParsePattern.cpp
  lib/Parse/ParseStmt.cpp
  test/Parse/availability_query_unavailability.swift
  test/Parse/ifconfig_expr.swift
  test/Parse/invalid.swift
  test/Parse/trailing-comma-experimental.swift
  test/Parse/trailing-comma.swift
Labels: swift evolution approved

#74517 Allow TaskGroup's ChildTaskResult Type To Be Inferred
  stdlib/public/Concurrency/TaskGroup.swift
  test/Concurrency/async_task_groups_and_type_inference.swift
Labels: swift evolution approved, concurrency

#75714 [cxx-interop] Fix reverse interop crash when using raw modules
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/CxxToSwiftToCxx/span/span-execution.cpp
Labels: c++ interop

#75708 [cxx-interop] Document Embedded Swift limitations in a comment
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
Labels: c++ interop

#75692 [cxx-interop] Support reexposing C structs from Swift to C++
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop

#75686 [cxx-interop] Fix test encoding data layout in expectations
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
Labels: c++ interop

#75685 [cxx-interop] Add test to re-exposing C++ enum through Swift to C++
  test/Interop/CxxToSwiftToCxx/bridge-cxx-enum-back-to-cxx-execution.cpp
Labels: c++ interop

#75589 [cxx-interop] Allow compiling with libc++ on Linux
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticEngine.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Module.h
  include/swift/AST/ModuleDependencies.h
  include/swift/Basic/CXXStdlibKind.h
  include/swift/Basic/LangOptions.h
  include/swift/ClangImporter/ClangImporter.h
  include/swift/Frontend/Frontend.h
  include/swift/Serialization/Validation.h
  lib/AST/Module.cpp
  lib/AST/ModuleDependencies.cpp
  lib/AST/ModuleLoader.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/DependencyScan/ScanDependencies.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  lib/IRGen/IRGenModule.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/Interop/Cxx/stdlib/unsupported-stdlib.swift
  test/Interop/Cxx/stdlib/use-libcxx-dependency-linux.swift
  test/Interop/Cxx/stdlib/use-libcxx-linux.swift
  test/Interop/lit.local.cfg
  tools/swift-ide-test/swift-ide-test.cpp
  unittests/ClangImporter/ClangImporterTests.cpp
Labels: c++ interop

#75803 [cxx-interop] Support operator[] with multiple parameters
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/functions/swift-operators.swift
Labels: c++ interop

#75804 [cxx-interop] Print `inline` instead of `static inline` for template specializations
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx-darwin64bit.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#75798 [6.0][wasm] Cherry-pick `errno` platform overlay fixes
  stdlib/public/Platform/Platform.swift
  stdlib/public/Platform/WASILibc.swift.gyb
Labels: Foundation, WebAssembly, swift 6.0, WASI

#75618 Bump `wasi-libc` to `wasi-sdk-22` in `update-checkout-config.json`
  utils/update_checkout/update-checkout-config.json
Labels: update-checkout, WebAssembly

#75662 [cxx-interop] Disable c++ execution header with libstdcxx versions >= 11
  stdlib/public/Cxx/libstdcxx/libstdcxx.h
Labels: c++ interop

#75877 [cxx-interop] Allow initializing `std::map` from Swift Dictionary
  stdlib/public/Cxx/CxxDictionary.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#75907 [cxx-interop][rebranch] Do not crash for `static operator()`
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/protocol-conformance-typechecker.swift
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#75608 [c++-interop] Improve performance of creating a C++ `std::string` from a contiguous UTF-8 `Swift.String`
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#75959 [cxx][windows] fix the CxxStdlib build for recent MSVC versions after…
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#75786 [6.0][SourceKit] Run interface generation request on a deep stack
  tools/SourceKit/tools/sourcekitd/lib/Service/Requests.cpp
Labels: swift 6.0

#75922 [Concurrency] Suggest adding a method, when mutating actor property cross isolation
  include/swift/AST/ActorIsolation.h
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/Inputs/GlobalVariables.swift
  test/Concurrency/actor_call_implicitly_async.swift
  test/Concurrency/actor_existentials.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/toplevel/async-5-top-level.swift
  test/Concurrency/toplevel/async-6-top-level.swift
  test/Concurrency/toplevel/no-async-6-top-level.swift
Labels: concurrency

#76059 [cxx-interop] Do not import `std::chrono::time_zone_link`
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#76067 [6.0] Sema: Relax availability of typealiases for inferred type witness
  lib/Sema/AssociatedTypeInference.cpp
  test/decl/protocol/associated_type_availability.swift
  test/stdlib/Identifiable.swift
Labels: 🍒 release cherry pick, swift 6.0

#74814 [ClangImporter] Make sure the `-resource-dir` is checked before the `-sdk`, as done everywhere else in the compiler
  lib/ClangImporter/ClangIncludePaths.cpp
Labels: c++ interop

#76069 🍒[cxx-interop] Do not import `std::chrono::time_zone_link`
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop, swift 6.0

#76108 [Tests] Enable staticMemberInitializedAtRuntime in inline-static-member-var.swift.
  test/Interop/Cxx/static/Inputs/inline-static-member-var.h
  test/Interop/Cxx/static/inline-static-member-var.swift
Labels: c++ interop

#76139 [cxx-interop] Do not over-release objects returned by synthesized C++ methods
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/inheritance/Inputs/functions-objc.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/functions-objc-irgen.swift
Labels: c++ interop

#76124 [build] Do not override macOS deployment target when macCatalyst is enabled
  cmake/modules/macCatalystUtils.cmake
  test/Interop/Cxx/stdlib/overlay-backdeployment.swift
Labels: c++ interop

#75436 [cxx-interop] Create benchmarks for using std::span in Swift
  benchmark/CMakeLists.txt
  benchmark/cxx-source/CxxSpanTests.swift
  benchmark/utils/CxxTests/CxxStdlibPerformance.h
  benchmark/utils/main.swift
Labels: c++ interop

#76167 [cxx-interop] Do not export enums with indirect associated values
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
Labels: c++ interop

#76170 [cxx-interop] Do not attempt to export read accessors to C++
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/functions/swift-operators.swift
Labels: c++ interop
