Repository swiftlang/swift, pull requests merged in 2024-12, with the labels that each got.

#77855 [cxx-interop] Simplify finding copy/move ctors in IRGen
  lib/IRGen/GenStruct.cpp
Labels: c++ interop

#77764 [cxx-interop] Support parameter packs in escapability annotations
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#77827 [6.1] [CS] Add a narrow hack for rdar://139234188
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSSimplify.cpp
  lib/Sema/TypeOfReference.cpp
  test/Constraints/rdar139234188.swift
Labels: 🍒 release cherry pick, swift 6.1

#77828 [6.1][cxx-interop] Remove escapability interop annotations
  lib/ClangImporter/SwiftBridging/swift/bridging
  test/Interop/Cxx/class/nonescapable-errors.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#76199 [6.0][ClangImporter] Make sure the `-resource-dir` is checked before the `-sdk`, as done everywhere else in the compiler
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  test/ClangImporter/print-module-map-paths.swift
  test/Frontend/embed-bitcode.ll
Labels: c++ interop

#77899 Fix `-Xclang-linker` option help typo in `Options.td`
  include/swift/Option/Options.td
Labels: bug, documentation, driver options

#77793 [6.1] [AST] Remove assert from `ModuleDecl::getFiles`
  include/swift/AST/Module.h
Labels: swift 6.1

#77897 [cxx-interop] Allow using non-resilient C++ symbols in resilient overlays
  lib/Sema/TypeCheckAccess.cpp
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#77878 [cxx-interop] Import rvalue references as consuming parameters
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportType.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/SILOptimizer/Mandatory/MoveOnlyAddressCheckerUtils.cpp
  test/Interop/Cxx/class/inheritance/using-base-members-module-interface.swift
  test/Interop/Cxx/operators/member-inline-typechecker.swift
  test/Interop/Cxx/reference/reference-cannot-import-diagnostic.swift
Labels: c++ interop

#77766 [6.1] [Completion] Fix Sendable KeyPath dynamic member subscripts
  lib/IDE/CompletionLookup.cpp
  lib/Sema/IDETypeCheckingRequests.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeChecker.h
  test/IDE/complete_keypath_member_lookup.swift
Labels: 🍒 release cherry pick, swift 6.1

#77767 [6.1] [Completion] Fix invertible type completion
  include/swift/IDE/CodeCompletionResult.h
  include/swift/IDE/CompletionLookup.h
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CompletionLookup.cpp
  lib/Parse/ParseType.cpp
  test/IDE/complete_without_constraint_type.swift
Labels: 🍒 release cherry pick, swift 6.1

#77792 [6.1] [CS] Use adjusted type for single curry thunks
  lib/Sema/CSApply.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/global_actor_function_types.swift
  test/Concurrency/preconcurrency_anyobject_lookup.swift
  test/Constraints/rdar140212823.swift
  test/SILGen/dynamic_self.swift
  test/SILGen/preconcurrency.swift
Labels: 🍒 release cherry pick, swift 6.1

#77916 [6.1] ConditionForwarding: fix a wrong assert
  lib/SILOptimizer/Transforms/ConditionForwarding.cpp
  test/SILOptimizer/conditionforwarding_ossa.sil
Labels: swift 6.1

#77917 [6.1] Devirtualization: make sure to de-serialize the body of shared deinit functions.
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/Devirtualization.swift
  test/SILOptimizer/stdlib/Atomics.swift
Labels: swift 6.1

#77768 [6.1] [Completion] Fix crash in `getTypeOfMember`
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_rdar138774888.swift
  test/IDE/complete_unresolved_members.swift
Labels: 🍒 release cherry pick, swift 6.1

#77921 [cxx-interop] Lower iOS deployment target for Cxx and CxxStdlib
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#77915 [6.1] AliasAnalysis: fix memory-behavior of closures with inout arguments
  SwiftCompilerSources/Sources/Optimizer/Analysis/AliasAnalysis.swift
  test/SILOptimizer/dead_store_elim.sil
  test/SILOptimizer/mem-behavior.sil
Labels: swift 6.1

#77914 [6.1] embedded: Don't emit SILProperties in embedded swift
  lib/IRGen/GenDecl.cpp
  test/embedded/keypath-crash.swift
Labels: swift 6.1

#77397 [cxx-interop] Improve the warnings for unannotated c++ APIs returning SWIFT_SHARED_REFERENCE types
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#77927 [cxx-interop] Bring back `AssumeResilientCxxTypes` flag for CxxStdlib overlay
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#77872 Revert "Revert "CI: Include stdlib build for Wasm in the Linux buildbot""
  utils/build-presets.ini
Labels: continuous integration, WebAssembly, WASI

#77949 [6.1] CI: Include stdlib build for WASI in the Linux buildbot
  utils/build-presets.ini
Labels: WebAssembly, swift 6.1, WASI

#77932 [cxx-interop] Do not emit spurious lifetime diagnostics for C++ types
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/use-std-string-typechecker.swift
Labels: c++ interop

#77977 Add `.index-build` to `.gitignore`
  .gitignore
Labels: bug, source tooling, contributor experience

#77975 [6.1][IRGen] Check if type is empty instead of void in CallEmission::emitToUnmappedExplosionWithDirectTypedError
  lib/IRGen/GenCall.cpp
  test/IRGen/typed_throws.swift
Labels: 🍒 release cherry pick, swift 6.1

#77837 [cxx-interop] allow shared ref retain function to return self
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
Labels: c++ interop

#77979 🍒[cxx-interop] Lower iOS deployment target for Cxx and CxxStdlib
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#77893 [cxx-interop] Remove redundant condition for invoking move ctor
  lib/IRGen/GenStruct.cpp
  test/Interop/CxxToSwiftToCxx/consuming-cxx-struct-parameter-back-to-cxx-execution.cpp
Labels: c++ interop

#77829 [cxx-interop] Inject escapability for the C++ standard library
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#77987 [cxx-interop] Avoid "libstdc++ not found" warning when `-nostdinc++` is passed
  lib/ClangImporter/ClangIncludePaths.cpp
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/no-cxx-stdlib.h
  test/Interop/Cxx/stdlib/no-cxx-stdlib.swift
Labels: c++ interop

#77754 [cxx-interop] Do not emit C++ interop flag in textual interfaces
  include/swift/Option/Options.td
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/Interop/Cxx/modules/emit-module-interface.swift
  validation-test/ParseableInterface/verify_all_overlays.py
Labels: c++ interop

#77995 [cxx-interop] allow shared ref retain function to return self
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
Labels: c++ interop

#78012 [6.1] [IDE] Handle UnresolvedMemberExpr for solver-based cursor info
  include/swift/AST/Expr.h
  lib/AST/Expr.cpp
  lib/IDE/CursorInfo.cpp
  test/SourceKit/CursorInfo/issue-77981.swift
Labels: 🍒 release cherry pick, swift 6.1

#78018 [6.1 🍒] Add additional implicit framework search path for Darwin platforms
  include/swift/AST/SearchPathOptions.h
  test/ScanDependencies/subframework_implicit_search_path.swift
  test/Serialization/search-paths-sdk-auxiliary.swift
Labels: 🍒 release cherry pick, swift 6.1

#78022 [cxx-interop] Allow using C-like structs in public Swift interfaces
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/Inputs/module.modulemap
  test/Interop/Cxx/library-evolution/Inputs/my_c_header.h
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-interfaces.swift
Labels: c++ interop

#78007 [6.1] SILVerifier: fix a wrong check for witness_method instructions
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  test/SILOptimizer/propagate_opaque_return_type.swift
Labels: swift 6.1

#78057 [cxx-interop] Allow more C++ decls in public Swift interfaces
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-interfaces.swift
Labels: c++ interop

#78087 Add `.editorconfig`
  .editorconfig
Labels: contributor experience

#77998 🍒 [cxx-interop] Improve the warnings for unannotated c++ APIs returning SWIFT_SHARED_REFERENCE types
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#78084 🍒[cxx-interop] Allow more C++ decls in public Swift interfaces
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/Inputs/module.modulemap
  test/Interop/Cxx/library-evolution/Inputs/my_c_header.h
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-interfaces.swift
Labels: c++ interop

#78047 Simplifies PlaygroundTransform tests by moving boilerplate code to a macro
  test/PlaygroundTransform/Inputs/PlaygroundModuleAndFileIDs.swift
  test/PlaygroundTransform/array.swift
  test/PlaygroundTransform/array_did_set.swift
  test/PlaygroundTransform/array_in_struct.swift
  test/PlaygroundTransform/async_let.swift
  test/PlaygroundTransform/bare_value.swift
  test/PlaygroundTransform/closure_parameters.swift
  test/PlaygroundTransform/control-flow.swift
  test/PlaygroundTransform/declarations.swift
  test/PlaygroundTransform/defer.swift
  test/PlaygroundTransform/disable_transform_only.swift
  test/PlaygroundTransform/do-catch.swift
  test/PlaygroundTransform/do.swift
  test/PlaygroundTransform/empty-tuple.swift
  test/PlaygroundTransform/existential.swift
  test/PlaygroundTransform/extended_callbacks.swift
  test/PlaygroundTransform/function_parameters.swift
  test/PlaygroundTransform/generics.swift
  test/PlaygroundTransform/high_performance.swift
  test/PlaygroundTransform/implicit_return_func_binaryoperation_args.swift
  test/PlaygroundTransform/implicit_return_func_is.swift
  test/PlaygroundTransform/implicit_return_func_stringliteral.swift
  test/PlaygroundTransform/implicit_return_init_nil.swift
  test/PlaygroundTransform/implicit_return_subscript_chain.swift
  test/PlaygroundTransform/implicit_return_var_intliteral.swift
  test/PlaygroundTransform/init.swift
  test/PlaygroundTransform/iuo.swift
  test/PlaygroundTransform/lit.local.cfg
  test/PlaygroundTransform/module_file_id.swift
  test/PlaygroundTransform/mutation.swift
  test/PlaygroundTransform/nested_accessors.swift
  test/PlaygroundTransform/nested_function.swift
  test/PlaygroundTransform/nested_init.swift
  test/PlaygroundTransform/noncopyable_assignment.swift
  test/PlaygroundTransform/noncopyable_declaration.swift
  test/PlaygroundTransform/noncopyable_functions.swift
  test/PlaygroundTransform/playground_options.swift
  test/PlaygroundTransform/plus_equals.swift
  test/PlaygroundTransform/print.swift
Labels: playground transform

#78114 swift-plugin-server: update for throwing SwiftSyntax API
  tools/swift-plugin-server/Sources/swift-plugin-server/swift-plugin-server.swift
Labels: swift macro

#78129 [6.1 🍒][Indexing] Disable indexing textual-interface-blocklisted modules during Explicit Module Builds
  lib/Index/IndexRecord.cpp
  test/Index/no_index_blocklisted_system_module_ebm.swift
Labels: 🍒 release cherry pick, swift 6.1

#78161 [cxx-interop][stdlib] windows - use new hash inline functions like other platforms
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/Inputs/module.modulemap
  test/Interop/Cxx/stdlib/Inputs/std-string-and-vector.h
  test/Interop/Cxx/stdlib/use-std-string-with-opts.swift
Labels: c++ interop

#77700 [cxx-interop] Explicit conversions between Swift and C++ spans
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/CxxSpan.swift
  stdlib/public/Cxx/std/std.apinotes
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/use-std-span-typechecker.swift
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#77730 Make isolated deinit non-experiment and add version checks & fix pointer auth
  include/swift/ABI/MetadataValues.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/FeatureAvailability.def
  include/swift/Basic/Features.def
  include/swift/Runtime/Config.h
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckAttr.cpp
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/actor_deinit_escaping_self.swift
  test/Concurrency/Runtime/actor_recursive_deinit.swift
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Concurrency/Runtime/isolated_deinit_main_sync.swift
  test/Concurrency/deinit_isolation.swift
  test/Concurrency/deinit_isolation_import/test.swift
  test/Concurrency/deinit_isolation_in_value_types.swift
  test/Concurrency/deinit_isolation_objc.swift
  test/Concurrency/deinit_isolation_tbd.swift
  test/Concurrency/flow_isolation.swift
  test/Concurrency/voucher_propagation.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/ModuleInterface/isolated-deinit-compatibility.swift
  test/SILGen/inlinable_attribute.swift
  test/SILOptimizer/stack_promotion_isolated_deinit.swift
  test/attr/global_actor.swift
Labels: concurrency

#78195 [cxx-interop] Use the right assertion function in tests
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#78214 [6.1] [test] Disable `variadic_generic_opaque_type.swift` for back deployment
  test/Interpreter/variadic_generic_opaque_type.swift
Labels: 🍒 release cherry pick, swift 6.1

#78166 [cxx-interop] Fix memory layout for structs with out-of-order base types
  lib/IRGen/GenClangDecl.cpp
  lib/IRGen/GenClass.cpp
  lib/IRGen/GenStruct.cpp
  lib/IRGen/IRGenModule.h
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/fields.swift
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/inheritance-irgen.swift
  test/Interop/Cxx/foreign-reference/inheritance-typechecker.swift
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#78232 [6.1] TypeLowering: assume that C unions can contain a pointer
  include/swift/SIL/TypeLowering.h
  lib/SIL/IR/TypeLowering.cpp
  test/SILOptimizer/Inputs/include/cunion.h
  test/SILOptimizer/Inputs/include/module.modulemap
  test/SILOptimizer/dead_store_elim_c.sil
Labels: swift 6.1

#78252 [cxx-interop] Add tests for conditional cast to foreign reference type
  test/Interop/Cxx/foreign-reference/witness-table-typechecker.swift
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#78238 🍒[cxx-interop] Fix runtime crash when casting from an existential to a foreign reference type
  stdlib/public/runtime/DynamicCast.cpp
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop

#78219 [cxx-interop] Fix assert failure exporting C++ types to Obj-C
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToObjC/Inputs/cxxmodule.h
  test/Interop/CxxToSwiftToObjC/Inputs/module.modulemap
  test/Interop/CxxToSwiftToObjC/bridge-cxx-types-to-objc.swift
Labels: c++ interop

#78115 [cxx-interop] Make sure C++ span is imported as @unsafe
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Sema/TypeCheckDecl.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#77989 🍒[cxx-interop] Do not emit C++ interop flag in textual interfaces
  include/swift/Option/Options.td
  lib/Frontend/ModuleInterfaceLoader.cpp
  lib/Sema/TypeCheckAccess.cpp
  stdlib/public/Cxx/std/CMakeLists.txt
  test/Interop/Cxx/modules/emit-module-interface.swift
  validation-test/ParseableInterface/verify_all_overlays.py
Labels: c++ interop

#77864 [cxx-interop]: Enhance CxxDictionary with Merging, Initializer, and Unsafe Erasure
  stdlib/public/Cxx/CxxDictionary.swift
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#77617 [cxx-interop] Support lifetime_capture_by in ClangImporter
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#78242 [build] Respect `DEPLOYMENT_VERSION_{IOS|TVOS|WATCHOS}` for Simulator targets
  stdlib/cmake/modules/SwiftSource.cmake
  test/Interop/Cxx/stdlib/overlay-backdeployment-ios-simulator.swift
  test/Interop/Cxx/stdlib/overlay-backdeployment-ios.swift
Labels: c++ interop

#78269 🍒[build] Respect `DEPLOYMENT_VERSION_{IOS|TVOS|WATCHOS}` for Simulator targets
  stdlib/cmake/modules/SwiftSource.cmake
  test/Interop/Cxx/stdlib/overlay-backdeployment-ios-simulator.swift
  test/Interop/Cxx/stdlib/overlay-backdeployment-ios.swift
Labels: c++ interop

#78270 build-script: fix trailing newlines in `--preset-vars-file`
  utils/build-script
Labels: bug, build-script

#78287 [cxx-interop] Avoid spurious type aliases in reverse interop
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop

#78291 [xcodegen] Avoid an intermediate String
  utils/swift-xcodegen/Sources/Xcodeproj/PropertyList.swift
Labels: contributor experience, swift-xcodegen

#78268 [6.1] Optimizer: don't run the UsePrespecialized pass in embedded mode
  lib/SILOptimizer/PassManager/PassPipeline.cpp
Labels: swift 6.1

#78289 🍒[6.1][cxx-interop] Avoid spurious type aliases in reverse interop
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop

#77699 [6.1] Span gardening
  stdlib/public/core/Span/RawSpan.swift
  stdlib/public/core/Span/Span.swift
Labels: swift 6.1

#78294 [cxx-interop] NFC: Remove unused variable
  lib/IRGen/GenStruct.cpp
Labels: c++ interop

#78299 [cxx-interop] Fix subscript-irgen test CHECK statement
  test/Interop/Cxx/class/inheritance/subscript-irgen.swift
Labels: c++ interop

#78273 [6.1][IRGen] Indirectly pass typed errors for closures with indirect results
  lib/IRGen/GenFunc.cpp
  test/IRGen/typed_throws.swift
Labels: 🍒 release cherry pick, swift 6.1

#78272 [6.1][TypeChecker/SILGen] Allow `any Sendable` to match `Any` while matching generic arguments
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  include/swift/AST/ExprNodes.def
  include/swift/AST/Types.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/Expr.cpp
  lib/AST/Type.cpp
  lib/SILGen/SILGenBuilder.cpp
  lib/SILGen/SILGenBuilder.h
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSSimplify.cpp
  test/Concurrency/sendable_to_any_for_generic_arguments.swift
  test/Constraints/pack-expansion-expressions.swift
  test/Constraints/variadic_generic_functions.swift
  test/Interpreter/sendable_erasure_to_any_in_preconcurrency.swift
  test/SILGen/sendable_to_any_for_generic_arguments.swift
  validation-test/Sema/type_checker_crashers_fixed/rdar112090069.swift
Labels: 🍒 release cherry pick, swift 6.1
