Repository swiftlang/swift, pull requests merged in 2024-07, with the labels that each got.

#74658 [Concurrency] Fix default actor isolation issue in face of TaskExecutor preference
  include/swift/ABI/Executor.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task.cpp
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func_legacy.swift
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func_swift6.swift
  test/Concurrency/Runtime/async_task_executor_default_actor_funcs.swift
Labels: bug, concurrency

#74822 [cxx-interop] Add tests for methods of reference types returning reference types
  test/Interop/Cxx/foreign-reference/Inputs/pod.h
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod.swift
Labels: c++ interop

#74873 [6.0] [Completion] Complete `.isolation` for `@isolated(any)` functions
  include/swift/IDE/CompletionLookup.h
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_function_isolation.swift
Labels: 🍒 release cherry pick, swift 6.0

#74861 [AST] Rewrite collectExportedImports() to be non-recursive.
  lib/AST/Module.cpp
Labels: 🍒 release cherry pick, swift 6.0

#74874 [6.0 🍒][Dependency Scanning] Apply `-clang-scanner-module-cache-path` to header Clang module dependencies
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  test/ScanDependencies/separate_clang_scan_cache_bridging.swift
Labels: 🍒 release cherry pick, swift 6.0

#74878 [6.0] Sema: Downgrade actor convenience initializer diagnostic to a warning in interfaces.
  lib/Sema/TypeCheckDecl.cpp
  test/ModuleInterface/actor_init.swift
Labels: 🍒 release cherry pick, swift 6.0

#74856 [6.0][Concurrency] Fix default actor isolation issue in face of TaskExecutor preference
  include/swift/ABI/Executor.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task.cpp
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func_legacy.swift
  test/Concurrency/Runtime/async_task_executor_and_serial_executor_nonisolated_async_func_swift6.swift
  test/Concurrency/Runtime/async_task_executor_default_actor_funcs.swift
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#73512 Relax @retroactive check to allow same-package declarations
  lib/AST/ProtocolConformance.cpp
  test/Sema/extension_retroactive_conformances_package.swift
Labels: swift evolution pending discussion

#74907 [6.0] [Parse] Add fix-it for unknown isolation in `@isolated`
  lib/Parse/ParseDecl.cpp
  test/Parse/isolated_any.swift
Labels: 🍒 release cherry pick, swift 6.0

#74906 [6.0] [Completion] Handle body macro attribute completion
  include/swift/AST/Decl.h
  include/swift/IDE/CodeCompletionResult.h
  include/swift/IDE/CodeCompletionResultType.h
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CodeCompletionResult.cpp
  test/IDE/complete_macros.swift
Labels: 🍒 release cherry pick, swift 6.0

#74932 [cxx-interop] Conditionally re-enable a test for `std::function`
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#74900 [Test Only][6.0 🍒]Restrict `preserve_conformance_metadata_attr_macros.swift` test to OS supported by binary metadata reading tooling
  test/Reflection/preserve_conformance_metadata_attr_macros.swift
Labels: 🍒 release cherry pick, nfc, swift 6.0

#74940 [6.0] Change interface printing behaviors for `-package-name` and `-project-name`
  include/swift/Frontend/ModuleInterfaceSupport.h
  include/swift/Option/Options.h
  include/swift/Option/Options.td
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/ModuleInterfaceSupport.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/ModuleInterface/package_interface_disable_package_name.swift
  test/ModuleInterface/project-name.swift
Labels: 🍒 release cherry pick, swift 6.0

#73511 .github: Complete migration from `CODE_OWNERS.txt`
  .github/CODEOWNERS
Labels: contributor experience

#74953 [6.0][IRGen] Always load extra tag bits as full bytes in CVW to avoid elem…
  lib/IRGen/GenEnum.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#74942 [cxx-interop] Emit Swift StdLib dependencies when all public decls emitted
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/cross-module-refs/do-not-expose-imported-api-by-default.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-element-method-name-clash.swift
  test/Interop/SwiftToCxx/enums/enum-member-param-no-shadow-case.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/resilient-enum-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-generated-stub-64bit.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/extension/struct-extension-in-cxx.swift
  test/Interop/SwiftToCxx/functions/cdecl.swift
  test/Interop/SwiftToCxx/functions/swift-function-argument-keyword-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-function-overloads.swift
  test/Interop/SwiftToCxx/functions/swift-function-unsupported-cxx-type.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-operators.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-inout-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/functions/swift-transparent-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/init-in-cxx.swift
  test/Interop/SwiftToCxx/initializers/swift-init-availability-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/swift-method-availability-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/getter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/swift-property-availability-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/struct-with-refcounted-member.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-generics-in-cxx.swift
  test/Interop/SwiftToCxx/unsupported/unsupported-types-in-cxx.swift
Labels: c++ interop

#74968 [cxx-interop] Conditionally re-enable a test for `std::function`, pt 2
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#74966 [cxx-interop] Do not expose enums with optional generic cases
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
Labels: c++ interop

#74936 [cxx-interop] Add a test for instantiation of a default destructor
  test/Interop/Cxx/class/Inputs/destructors.h
  test/Interop/Cxx/class/destructors-templated-irgen.swift
Labels: c++ interop

#74964 [AutoDiff] Ensure we are materializing adjoint value into buffer correctly for optionals
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/compiler_crashers_fixed/issue-74841-optional-adjoint-buffer.swift
Labels: bug, AutoDiff

#74663 🍒[cxx-interop] Fix extra indirection when exporting CFData parameters
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/CFTypeInfo.h
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop

#74967 🍒[cxx-interop] Ban ObjCBool from being substituted into C++ templates
  lib/AST/ClangTypeConverter.cpp
  test/Interop/Cxx/templates/Inputs/function-templates.h
  test/Interop/Cxx/templates/function-template-objc-typechecker.swift
Labels: c++ interop

#74934 🍒[cxx-interop] Always instantiate the default destructor
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/class/Inputs/destructors.h
  test/Interop/Cxx/class/destructors-templated-irgen.swift
Labels: c++ interop

#74990 [cxx-interop] Conditionally re-enable a test for `std::function`, pt 3
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#75001 [concurrency - 6.0] declare `POSIXErrorCode` as `Sendable`
  stdlib/public/Platform/POSIXError.swift
Labels: 🍒 release cherry pick, Concurrencу, Sendable

#75005 [6.0][Concurrency] Fix build in actors as locks configuration
  stdlib/public/Concurrency/Actor.cpp
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#74989 [6.0] [Completion] Update type attribute completions
  include/swift/AST/Attr.h
  include/swift/AST/TypeAttr.def
  include/swift/IDE/CodeCompletionResult.h
  include/swift/IDE/CompletionLookup.h
  include/swift/Parse/IDEInspectionCallbacks.h
  include/swift/Parse/Parser.h
  lib/AST/Attr.cpp
  lib/IDE/CodeCompletion.cpp
  lib/IDE/CompletionLookup.cpp
  lib/Parse/ParseDecl.cpp
  lib/Parse/ParsePattern.cpp
  lib/Parse/ParseType.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/Sema/TypeCheckType.cpp
  test/IDE/complete_type_attribute.swift
Labels: 🍒 release cherry pick, swift 6.0

#75004 [Concurrency] Fix build in actors as locks configuration
  stdlib/public/Concurrency/Actor.cpp
Labels: concurrency

#75007 [Concurrency] Attempt to unbreak embedded build
  stdlib/public/Concurrency/Task.cpp
Labels: concurrency, 🍒 release cherry pick, embedded, swift 6.0

#75006 [Concurrency] Attempt to unbreak embedded build
  stdlib/public/Concurrency/Task.cpp
Labels: concurrency, embedded

#74982 [6.0] IRGen: don't stack promote classes for which the layout has not a fixed size
  lib/IRGen/GenClass.cpp
  test/SILOptimizer/stack-promotion-crash.swift
Labels: swift 6.0

#75008 Concurrency: Guard TG state with a mutex even with cooperative executor
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: concurrency

#75057 [cxx-interop] Suppress new diagnostic in Clang for testing C interop headers
  test/Interop/lit.local.cfg
Labels: c++ interop

#75056 [cxx-interop] Adjust two IRGen tests for rebranch
  test/Interop/Cxx/class/method/methods-this-and-indirect-return-irgen-itanium.swift
  test/Interop/Cxx/class/returns-large-class-irgen.swift
Labels: c++ interop

#74987 🍒[cxx-interop] Do not expose enums with optional generic cases
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
Labels: c++ interop

#75047 [6.0] Concurrency: Guard TG state with a mutex even with cooperative executor
  stdlib/public/Concurrency/TaskGroup.cpp
Labels: Concurrencу, WebAssembly

#74949 [6.0 🍒][Dependency Scanning] Resolve cross-import overlays relative to defining interface for prebuilt binary Swift dependencies
  include/swift/AST/ModuleDependencies.h
  lib/AST/ModuleLoader.cpp
  lib/DependencyScan/ModuleDependencyCacheSerialization.cpp
  lib/Serialization/ModuleFile.cpp
  lib/Serialization/ModuleFile.h
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/SerializedModuleLoader.cpp
  test/ScanDependencies/module_deps_cross_import_of_binary_module.swift
Labels: 🍒 release cherry pick, swift 6.0

#72949 Bump `swift-argument-parser` to 1.4.0
  utils/update_checkout/update-checkout-config.json
Labels: update-checkout

#75059 [Concurrency] TaskExecutors may be non-swift objects; dont swift_release them
  stdlib/public/Concurrency/TaskStatus.cpp
  test/Concurrency/Runtime/async_task_executor_nsobject.swift
Labels: concurrency

#75058 [cxx-interop] Clone all of the attributes from base method correctly
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/inheritance/Inputs/functions.h
  test/Interop/Cxx/class/inheritance/functions-module-interface.swift
Labels: c++ interop

#75060 [6.0][Concurrency] TaskExecutors may be non-swift objects; dont swift_rele…
  stdlib/public/Concurrency/TaskStatus.cpp
  test/Concurrency/Runtime/async_task_executor_nsobject.swift
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#75065 [cxx-interop] Adjust a concepts test for rebranch
  test/Interop/Cxx/concepts/Inputs/method-requires.h
  test/Interop/Cxx/concepts/method-requires.swift
Labels: c++ interop

#75099 [cxx-interop] Minor refactoring: remove a redundant check
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#75052 [Runtime] Add missing cast.
  stdlib/public/runtime/Paths.cpp
Labels: 🍒 release cherry pick, swift 6.0

#75102 [6.0] SILGen: Skip function bodies with errors in lazy typechecking mode
  lib/SILGen/SILGen.cpp
  test/SILGen/lazy_typecheck_errors.swift
Labels: 🍒 release cherry pick, swift 6.0

#75112 [6.0][Concurrency] Fix disallowed override isolation to carry `@preconcurr…
  lib/Sema/TypeCheckConcurrency.cpp
  test/ClangImporter/objc_isolation_complete.swift
Labels: 🍒 release cherry pick, swift 6.0

#74117 [NFC] .github: Delete release branch PR template in favor of org-wide variant
  .github/PULL_REQUEST_TEMPLATE/release.md
  .github/pull_request_template.md
Labels: contributor experience

#75123 [6.0] [CursorInfo] Resolve solver-based in VarDecls
  lib/IDE/CursorInfo.cpp
  test/SourceKit/CursorInfo/rdar131135631.swift
Labels: 🍒 release cherry pick, swift 6.0

#75168 [6.0][Concurrency] Avoid using "not" in crash tests; use not.py
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_main_customExecutorOnMain_swift6_mode.swift
Labels: test suite, concurrency, 🍒 release cherry pick, swift 6.0

#75171 [6.0] [Index] Mark accessors as implicit in modules
  lib/Index/Index.cpp
  test/Index/index_module_accessors.swift
  test/SourceKit/Indexing/Inputs/test_module.index.response
Labels: 🍒 release cherry pick, swift 6.0

#75178 [6.0][Concurrency] Allow sendability mismatches while overriding `@preconcurrency` properties in Swift 5 mode
  include/swift/AST/Types.h
  lib/AST/Type.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  test/Concurrency/predates_concurrency.swift
  test/Concurrency/predates_concurrency_swift6.swift
Labels: 🍒 release cherry pick, swift 6.0

#75117 [6.0 🍒][Dependency Scanning] Emit diagnostics on scan query failure during initialization or cycle detection
  include/swift/DependencyScan/DependencyScanningTool.h
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  tools/libSwiftScan/libSwiftScan.cpp
  unittests/DependencyScan/ModuleDeps.cpp
Labels: 🍒 release cherry pick, swift 6.0

#75199 [6.0] [Driver] Pass `-lld-allow-duplicate-weak` for coverage on Windows
  lib/Driver/WindowsToolChains.cpp
  test/Profiler/coverage_inlined_counters.swift
  test/Profiler/coverage_inlined_counters_exec.swift
  test/Profiler/lit.local.cfg
Labels: 🍒 release cherry pick, swift 6.0

#75230 [NFC] GettingStarted: Remove `--skip-<os>` flags from build script command
  docs/HowToGuides/GettingStarted.md
Labels: contributor experience

#75173 [cxx-interop] Flip the default value of `SWIFT_ENABLE_EXPERIMENTAL_CXX_INTEROP`
  CMakeLists.txt
Labels: c++ interop

#75202 [cxx-interop] Export accessors of static properties to C++
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/class/swift-class-static-variables-execution.cpp
  test/Interop/SwiftToCxx/class/swift-class-static-variables.swift
Labels: c++ interop

#75237 [cxx-interop] Fix input header paths in a test
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop

#74341 [6.0][stdlib][docs] Fix the SeeAlso documentation for `withDiscardingTaskGroup`
  stdlib/public/Concurrency/DiscardingTaskGroup.swift
Labels: concurrency, 🍒 release cherry pick, swift 6.0

#75236 [Runtime][Win32] Fix fatalError() backtraces.
  stdlib/public/runtime/Errors.cpp
  stdlib/public/runtime/ImageInspectionCOFF.cpp
  stdlib/public/runtime/SymbolInfo.cpp
  stdlib/public/runtime/SymbolInfo.h
Labels: 🍒 release cherry pick, swift 6.0

#75247 [6.0] Revert "[IRGen] Fetch the correct IGM for synthesized files"
  lib/IRGen/IRGen.cpp
  test/Macros/extension_emission.swift
Labels: 🍒 release cherry pick, swift 6.0

#75249 [6.0] [Index] Record relations for pseudo accessors
  lib/Index/Index.cpp
  test/Index/roles.swift
Labels: 🍒 release cherry pick, swift 6.0

#75177 [6.0 🍒][Dependency Scanning] Avoid configuration (and reset) of LLVM Options by the scanner
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/DependencyScan/ScanDependencies.cpp
  lib/Frontend/Frontend.cpp
Labels: 🍒 release cherry pick, swift 6.0

#75271 [6.0][IRGen] Fix emitPrimitiveLoadPayloadAndExtraTag for CVW
  lib/IRGen/GenEnum.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#75299 [6.0][CSApply] Allow `@dynamicMemberLookup` subscripts to take sendable ke…
  lib/Sema/CSApply.cpp
  test/attr/attr_dynamic_member_lookup.swift
Labels: 🍒 release cherry pick, swift 6.0

#75231 [NFC] GettingStarted: Several straightforward improvements
  docs/HowToGuides/GettingStarted.md
Labels: contributor experience

#75176 [cxx-interop] Fix wrong field offsets with value types using inheritance
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/inheritance/Inputs/fields.h
  test/Interop/Cxx/class/inheritance/fields.swift
Labels: c++ interop

#75297 Add _const to Swift declaration names of const types
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/templates/Inputs/class-template-with-primitive-argument.h
  test/Interop/Cxx/templates/class-template-with-primitive-argument-module-interface.swift
Labels: c++ interop

#75325 [6.0][Concurrency] Downgrade mutable captures of `inout` parameters into a…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/sendable_checking_captures.swift
  test/Concurrency/sendable_checking_captures_swift5.swift
  test/Concurrency/sendable_checking_captures_swift6.swift
  test/Concurrency/taskgroup_cancelAll_from_child.swift
Labels: 🍒 release cherry pick, swift 6.0

#75269 [cxx-interop] Forward declare classes
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintClangValueType.h
  test/Interop/SwiftToCxx/class/swift-class-ordering.swift
Labels: c++ interop

#75266 Add precondition to prevent out-of-bounds access
  stdlib/public/Cxx/CxxRandomAccessCollection.swift
Labels: c++ interop

#75326 🍒 [6.0][cxx-interop] Fix input header paths in a test
  test/Interop/Cxx/class/safe-use-of-returned-reference-with-borrowing.swift
Labels: c++ interop, 🍒 release cherry pick

#75100 [cxx-interop] Support optional generic cases in enums
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-execution.cpp
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#75327 [Distributed] Handle #isolation param in DA as known to not cross isolation
  lib/AST/DistributedDecl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Distributed/Inputs/FakeDistributedActorSystems.swift
  test/Distributed/Runtime/distributed_actor_isolation_passing.swift
Labels: distributed, actor isolation

#75369 [cxx-interop] Implements CxxMutableSpan, created from an UnsafeMutableBufferPointer
  include/swift/AST/KnownProtocols.def
  lib/AST/ASTContext.cpp
  lib/ClangImporter/ClangDerivedConformances.cpp
  lib/IRGen/GenMeta.cpp
  stdlib/public/Cxx/CxxSpan.swift
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#75373 [cxx-interop] Re-enable benchmarks
  benchmark/CMakeLists.txt
  benchmark/cxx-source/CxxSetToCollection.swift
  benchmark/cxx-source/CxxVectorSum.swift
Labels: c++ interop

#75352 [6.0] ModuleInterface: Print -target-variant flag in .swiftinterface files
  include/swift/Option/Options.td
  test/ModuleInterface/target-variant.swift
  test/SIL/availability_query_maccatalyst_zippered_inlined.swift
Labels: 🍒 release cherry pick, swift 6.0

#75372 [cxx-interop] Fix the printing of types with generic arguments
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangFunction.h
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.cpp
  test/Interop/SwiftToCxx/enums/enum-associated-value-class-type-cxx.swift
Labels: c++ interop

#75395 [cxx-interop] Add one more test for `std::function`
  test/Interop/Cxx/stdlib/Inputs/std-function.h
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#75400 [cxx-interop] Run benchmarks in C++20 mode
  benchmark/Package.swift
  benchmark/cmake/modules/AddSwiftBenchmarkSuite.cmake
Labels: c++ interop

#75423 [6.0] [Sema] Don't parse skipped bodies when computing discriminators
  lib/Sema/TypeCheckStmt.cpp
  test/Frontend/skip-function-bodies-parsing.swift
  test/Parse/issue-74561.swift
Labels: 🍒 release cherry pick, swift 6.0

#75396 [cxx-interop] Support generic types with isValueType trait
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/generics/generic-struct-as-generic-func-arg-in-cpp.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
Labels: c++ interop

#75418 [cxx-interop][rebranch] Print `inline` instead of `static inline` for template specializations
  lib/PrintAsClang/PrintClangValueType.cpp
  lib/PrintAsClang/PrintSwiftToClangCoreScaffold.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx-darwin64bit.swift
  test/Interop/SwiftToCxx/core/swift-impl-defs-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-type-traits-fwd.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/swift-struct-in-cxx.swift
Labels: c++ interop

#75438 [cxx-interop] Add stack trace entry for the safety heuristic
  lib/ClangImporter/ClangImporter.cpp
Labels: c++ interop

#75437 [cxx-interop] Enable benchmarks in SwiftPM mode
  benchmark/cxx-source/CxxSetToCollection.swift
  benchmark/cxx-source/CxxVectorSum.swift
Labels: c++ interop

#74973 [stdlib] Update documentation of integer types
  stdlib/public/core/IntegerTypes.swift.gyb
  stdlib/public/core/Integers.swift
Labels: numerics

#75456 [6.0] Sema: Update inheritance availability checking exception
  lib/Sema/TypeCheckAccess.cpp
Labels: 🍒 release cherry pick, swift 6.0

#75440 [cxx-interop] Mark constructor Span(baseAddress, count) deprecated
  lib/ClangImporter/ClangDerivedConformances.cpp
  test/Interop/Cxx/stdlib/use-std-span-typechecker.swift
Labels: c++ interop

#75467 [Distributed] Map into context computed property result type for SerReq checking
  lib/Sema/TypeCheckDistributed.cpp
  test/Distributed/distributed_protocols_distributed_func_serialization_requirements.swift
Labels: distributed

#75461 [stdlib] Fix coding style of `AdditiveArithmetic`
  stdlib/public/core/Integers.swift
Labels: numerics

#75444 🌸 Fix objcImpl SILGen crash with initial value
  lib/SIL/IR/SILDeclRef.cpp
  test/SILGen/Inputs/objc_implementation.h
  test/SILGen/objc_implementation.swift
Labels: 🍒 release cherry pick

#75474 [cxx-interop] Test: initialize std::span in C++ from Swift array
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#75462 [stdlib] Move unused functions to LegacyABI.swift
  stdlib/public/core/IntegerTypes.swift.gyb
  stdlib/public/core/LegacyABI.swift
  stdlib/public/core/String.swift
Labels: numerics, String

#75525 [6.0][IRGen] Properly compute bit mask for extra tag bits in CVW
  lib/IRGen/GenEnum.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_static.swift
Labels: 🍒 release cherry pick, swift 6.0

#75469 [cxx-interop] Test reverse interop with std::span
  test/Interop/CxxToSwiftToCxx/span/span-execution.cpp
Labels: c++ interop

#75570 [6.0 🍒][Dependency Scanning] Disable validation of Swift dependency modules' existing pre-built candidate binary module files in the scanner, on a non-caching build.
  include/swift/AST/SearchPathOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  lib/Serialization/ScanningLoaders.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  test/ScanDependencies/compiled_swift_modules.swift
  test/ScanDependencies/testable-dependencies.swift
Labels: 🍒 release cherry pick, swift 6.0
