Repository swiftlang/swift, pull requests merged in 2025-10, with the labels that each got.

#84613 [windows] fix DebugInfo tests
  test/DebugInfo/Imports.swift
  test/DebugInfo/ParseableInterfaceImports.swift
Labels: test suite

#84608 [cxx-interop] Disable failing test on Android
  test/Interop/Cxx/stdlib/use-std-vector-typechecker.swift
Labels: c++ interop

#84654 [6.2][TypeChecker] Avoid checking lazy property accessors if they haven't …
  lib/Sema/TypeCheckAvailability.cpp
  test/Inputs/lazy_typecheck.swift
  test/Inputs/lazy_typecheck_client.swift
Labels: 🍒 release cherry pick, swift 6.2

#84109 [update-checkout] reduce the script's verbosity
  utils/update_checkout/tests/test_clone.py
  utils/update_checkout/tests/test_locked_repository.py
  utils/update_checkout/update_checkout/__init__.py
  utils/update_checkout/update_checkout/parallel_runner.py
  utils/update_checkout/update_checkout/runner_arguments.py
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout

#84388 Runtimes: provide a dedicated find module for Darwin overlay
  Runtimes/Supplemental/cmake/modules/FindSwiftDarwin.cmake
  Runtimes/Supplemental/cmake/modules/FindSwiftOverlay.cmake
Labels: embedded

#84670 [6.2] Serialization: Align conformance recovery logic across modes
  lib/Serialization/Deserialization.cpp
Labels: 🍒 release cherry pick, swift 6.2

#84589 AST/Sema: `ForExpressions` experimental feature
  include/swift/AST/Expr.h
  include/swift/AST/KnownIdentifiers.def
  include/swift/Basic/Features.def
  include/swift/Sema/SyntacticElementTarget.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTWalker.cpp
  lib/AST/Expr.cpp
  lib/AST/FeatureSet.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSSyntacticElement.cpp
  lib/Sema/PreCheckTarget.cpp
  lib/Sema/TypeCheckEffects.cpp
  lib/Sema/TypeCheckStmt.cpp
  test/stmt/for-expr.swift
Labels: SILGen, expressions, AST

#84717 FreeBSD: Static libxml2 build
  utils/build-presets.ini
Labels: FreeBSD

#84749 [6.2] [IRGen] Correctly sext instead of zext for negative integer types
  lib/IRGen/MetadataRequest.cpp
  test/Interpreter/value_generics.swift
Labels: 🍒 release cherry pick, swift 6.2
