Repository swiftlang/swift, pull requests merged in 2025-07, with the labels that each got.

#82647 [6.2][Concurrency] Fix a crash caused by misuse of `isolated` modifier
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/issue-80363.swift
Labels: 🍒 release cherry pick, swift 6.2

#82627 [cxx-interop] Do not crash for `void begin()`
  lib/Sema/CSDiagnostics.cpp
  test/Interop/Cxx/class/invalid-unsafe-projection-errors.swift
Labels: c++ interop

#82656 Replace some precondition with _precondition in the stdlib. (#82641)
  stdlib/public/core/Integers.swift
  stdlib/public/core/UTF8SpanFundamentals.swift
Labels: 🍒 release cherry pick, swift 6.2

#82674 [6.2][Concurrency] SE-0463: `Sendable` inference on sync and async variant…
  lib/ClangImporter/ImportType.cpp
  test/ClangImporter/regionbasedisolation.swift
  test/SILGen/objc_async.swift
  test/SILGen/objc_async_checked.swift
  test/SILGen/objc_async_from_swift.swift
  test/SILGen/objc_async_sendable_completion_handlers.swift
  test/SILGen/objc_effectful_properties.swift
  test/SILGen/objc_effectful_properties_checked.swift
Labels: 🍒 release cherry pick, swift 6.2

#82597 [6.2, stdlib] Remove _withUnsafeBufferPointer APIs on InlineArray
  stdlib/public/core/Array.swift
  stdlib/public/core/ArraySlice.swift
  stdlib/public/core/CollectionOfOne.swift
  stdlib/public/core/ContiguousArray.swift
  stdlib/public/core/InlineArray.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: 🍒 release cherry pick, swift 6.2

#82675 [6.2][Concurrency] Forego Sendable checking if conversion doesn't change t…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/dynamic_checks_for_func_refs_in_preconcurrency_apis.swift
Labels: 🍒 release cherry pick, swift 6.2

#82713 Adjust .editorconfig for Python
  .editorconfig
Labels: contributor experience

#82712 [cxx-interop] Support types nested in extensions
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop

#82579 [cxx-interop] Allow import-as-member for functions declared within a namespace
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/namespace/Inputs/import-as-member.h
  test/Interop/Cxx/namespace/import-as-member-module-interface.swift
  test/Interop/Cxx/namespace/import-as-member-typechecker.swift
  test/Interop/Cxx/namespace/import-as-member.swift
Labels: c++ interop

#82723 🍒[cxx-interop] Fix generated header for Swift closures using `CF_OPTIONS` types
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
Labels: c++ interop

#82684 [cxx-interop] Fix a crash when exposing @objc Swift classes
  lib/PrintAsClang/ModuleContentsWriter.cpp
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
Labels: c++ interop

#82717 [cxx-interop] Add source location to instantiation error
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/templates/function-template-typechecker-errors.swift
Labels: c++ interop

#82744 [6.2][Concurrency] SE-0461: Extend `nonisolated(nonsending)` inference to …
  lib/Sema/TypeCheckType.cpp
  test/Concurrency/attr_execution/attr_execution.swift
  test/Concurrency/attr_execution/nonisolated_nonsending_by_default.swift
  test/SILGen/objc_async_from_swift.swift
Labels: 🍒 release cherry pick, swift 6.2

#82764 [6.2] MandatoryPerformanceOptimizations: don't de-virtualize a generic class method call to specialized method
  include/swift/SILOptimizer/Utils/Devirtualize.h
  lib/SILOptimizer/Transforms/SpeculativeDevirtualizer.cpp
  lib/SILOptimizer/Utils/Devirtualize.cpp
  test/embedded/devirt_generic_class_methods.swift
Labels: swift 6.2

#82775 [6.2] [CS] Ensure type variables are eliminated by `Solution::simplifyType`
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/pack-expansion-expressions.swift
  validation-test/IDE/crashers_fixed/6cef534b98d6b512.swift
  validation-test/compiler_crashers_2_fixed/d84cbb5089113ba.swift
  validation-test/compiler_crashers_2_fixed/dc3a3e26162b43be.swift
Labels: 🍒 release cherry pick, swift 6.2

#82771 NFC: Fix doc comment typo in `productpipeline_list_builder.py`
  utils/swift_build_support/swift_build_support/productpipeline_list_builder.py
Labels: documentation, gardening, nfc, comments, typo

#82285 [wasm] Build and install Foundation for Wasm SDK
  utils/swift_build_support/swift_build_support/products/wasmswiftsdk.py
Labels: Foundation, build-script, WebAssembly, WASI

#82399 Enable more tests for Embedded Wasm
  test/CMakeLists.txt
  test/embedded/array-builtins-exec.swift
  test/embedded/basic-modules-generics-no-stdlib.swift
  test/embedded/basic-modules-no-stdlib.swift
  test/embedded/builtin-float.swift
  test/embedded/classes-arrays.swift
  test/embedded/classes-generic-no-stdlib.swift
  test/embedded/classes-multi-module.swift
  test/embedded/classes-optional.swift
  test/embedded/classes-stack-promotion.swift
  test/embedded/classes.swift
  test/embedded/closures-heap.swift
  test/embedded/concurrency-simple.swift
  test/embedded/custom-print.swift
  test/embedded/deinit-release.swift
  test/embedded/deinit-release2.swift
  test/embedded/dependencies-random.swift
  test/embedded/dynamic-self.swift
  test/embedded/extensions.swift
  test/embedded/failable-crash.swift
  test/embedded/float-abi-hard.swift
  test/embedded/fragile-reference.swift
  test/embedded/hello.swift
  test/embedded/keypath-crash.swift
  test/embedded/linkage-mergeable-dead-strip.swift
  test/embedded/linkage-mergeable.swift
  test/embedded/linkage-mergeable2.swift
  test/embedded/linkage-mergeable3.swift
  test/embedded/linkage-mergeable4.swift
  test/embedded/lit.local.cfg
  test/embedded/modules-empty-object.swift
  test/embedded/modules-used2.swift
  test/embedded/no-allocations-print.swift
  test/embedded/once-dependent.swift
  test/embedded/optionset2.swift
  test/embedded/osize-genericspecializer.swift
  test/embedded/osize-releasedevirt.swift
  test/embedded/ouroboros-bug.swift
  test/embedded/static-object-non-darwin.swift
  test/embedded/stdlib-array.swift
  test/embedded/stdlib-basic.swift
  test/embedded/stdlib-dictionary.swift
  test/embedded/stdlib-random.swift
  test/embedded/stdlib-set.swift
  test/embedded/stdlib-strings-interpolation3.swift
  test/embedded/stdlib-types-riscv.swift
  test/embedded/stdlib-types.swift
  test/embedded/synchronization.swift
  test/embedded/traps-fatalerror-ir.swift
  test/embedded/without-actually-escaping.swift
  test/lit.cfg
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Labels: test suite, embedded, WebAssembly, WASI

#82777 Fix typo in `reset` func in `productpipeline_list_builder.py`
  utils/swift_build_support/swift_build_support/productpipeline_list_builder.py
Labels: bug, build-script, python

#82806 lit.cfg: fix test subset error message
  test/lit.cfg
Labels: test suite, python

#82800 [6.2] MandatoryPerformanceOptimizations: don't specialize vtables for thin class metatype instructions
  SwiftCompilerSources/Sources/Optimizer/ModulePasses/MandatoryPerformanceOptimizations.swift
  test/embedded/cxx-import-reference.swift
Labels: swift 6.2

#82797 [6.2] Improve LocalVariableUtils.gatherKnownLifetimeUses; dead ends
  SwiftCompilerSources/Sources/Optimizer/Utilities/AddressUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LocalVariableUtils.swift
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
  test/SILOptimizer/ownership_utils/address_ownership_live_range.sil
Labels: 🍒 release cherry pick, swift 6.2

#82772 [6.2 🍒][Dependency Scanning][C++ Interop] Do not skip lookup of 'CxxStdlib' overlay for the source module
  lib/DependencyScan/ModuleDependencyScanner.cpp
  test/ScanDependencies/cxx-overlay-source-lookup.swift
Labels: 🍒 release cherry pick, swift 6.2

#82779 [6.2 🍒][Dependency Scanning] Keep track of each imported module's access control
  include/swift-c/DependencyScan/DependencyScan.h
  include/swift/AST/ModuleDependencies.h
  include/swift/DependencyScan/DependencyScanImpl.h
  include/swift/DependencyScan/SerializedModuleDependencyCacheFormat.h
  include/swift/Serialization/SerializedModuleLoader.h
  lib/AST/ModuleDependencies.cpp
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  lib/DependencyScan/DependencyScanJSON.cpp
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/DependencyScan/ModuleDependencyCacheSerialization.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  lib/Serialization/ScanningLoaders.cpp
  lib/Serialization/SerializedModuleLoader.cpp
  lib/Tooling/libSwiftScan/libSwiftScan.cpp
  lib/Tooling/libSwiftScan/libSwiftScan.exports
  test/ScanDependencies/eliminate_unused_vfs.swift
  test/ScanDependencies/import_infos.swift
  test/ScanDependencies/module_deps_cache_reuse.swift
  test/ScanDependencies/module_deps_different_paths_no_reuse.swift
Labels: 🍒 release cherry pick, swift 6.2

#82803 [6.2] [Completion] Map failable initializer result type into context
  lib/IDE/CodeCompletion.cpp
  test/IDE/complete_keywords.swift
  validation-test/IDE/crashers_fixed/7068664dc48e3152.swift
Labels: 🍒 release cherry pick, swift 6.2

#82680 [cxx-interop] Enable foreign reference types in C interop
  include/swift/Basic/LangOptions.h
  include/swift/Option/Options.td
  lib/ClangImporter/ImportDecl.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/C/struct/foreign-reference-flag-deprecated.swift
  test/Interop/C/struct/foreign-reference.swift
Labels: c++ interop

#82714 update-checkout: Support specifying --config multiple times
  utils/update_checkout/tests/scheme_mock.py
  utils/update_checkout/tests/test_clone.py
  utils/update_checkout/tests/test_dump.py
  utils/update_checkout/tests/test_merge_config.py
  utils/update_checkout/update_checkout/update_checkout.py
Labels: python, update-checkout

#82793 [Concurrency] Fix nonisolated(nonsending) interaction with #isolation
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/Runtime/isolated_macro_in_nonisolated_nonsending_func.swift
  test/Concurrency/isolated_nonsending_isolation_macro_sil.swift
Labels: concurrency

#82839 WasmKit: allow building with the host toolchain
  utils/swift_build_support/swift_build_support/products/wasmkit.py
  utils/swift_build_support/swift_build_support/toolchain.py
Labels: build-script, python, WebAssembly

#82817 [cxx-interop] Allow creating Dictionary from `std::map`
  stdlib/public/Cxx/CxxDictionary.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop

#82883 [stdlib, 6.2] Default initializers for Span-family types
  stdlib/public/core/Span/MutableRawSpan.swift
  stdlib/public/core/Span/MutableSpan.swift
  stdlib/public/core/Span/RawSpan.swift
  stdlib/public/core/Span/Span.swift
  test/stdlib/Span/MutableRawSpanTests.swift
  test/stdlib/Span/MutableSpanTests.swift
  test/stdlib/Span/RawSpanTests.swift
  test/stdlib/Span/SpanTests.swift
Labels: 🍒 release cherry pick, swift 6.2

#82882 [cxx-interop] Class declaration order does not matter
  test/Interop/SwiftToCxx/class/swift-class-ordering.swift
Labels: c++ interop

#82911 [6.2] [Completion] Avoid using unbound contextual type in argument completion
  lib/IDE/ArgumentCompletion.cpp
  lib/IDE/CodeCompletionResultType.cpp
  test/IDE/complete_call_arg.swift
  validation-test/IDE/crashers_fixed/ad7672295e2e882c.swift
Labels: 🍒 release cherry pick, swift 6.2

#82896 [stdlib, 6.2] Make String.makeContiguousUTF8() strictly true
  stdlib/public/core/SmallString.swift
  stdlib/public/core/StringCreate.swift
  stdlib/public/core/StringProtocol.swift
  test/stdlib/Span/SmallStringCompatibility.swift
Labels: 32 bit only, 🍒 release cherry pick, swift 6.2

#82917 [6.2][cxx-interop] Fix unqualified name lookup failure
  include/swift/AST/ClangModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/class/inheritance/Inputs/inherited-lookup.h
  test/Interop/Cxx/class/inheritance/inherited-lookup-executable.swift
  test/Interop/Cxx/class/inheritance/inherited-lookup-memberimportvisibility.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#82907 [cxx-interop] Work around errors in some tests
  test/PrintAsObjC/lit.local.cfg
Labels: c++ interop

#82878 test: set `lit.py` args in separate `setup_lit_args`
  test/CMakeLists.txt
Labels: test suite, cmake, embedded

#82953 test/CMakeLists.txt: fix `setup_lit_args` missing `SWIFT_LIT_ARGS`
  test/CMakeLists.txt
Labels: test suite, cmake

#82949 WasmLLVMRuntimeLibs: handle `args.build_runtime_with_host_compiler`
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
  utils/swift_build_support/swift_build_support/toolchain.py
Labels: build-script, python, cross-compilation, WebAssembly, WASI

#82945 Add `llvm-nm` to `llvm-install-components` in `build-presets.ini`
  utils/build-presets.ini
Labels: build-script, cross-compilation, WebAssembly

#82967 [6.2] [Refactoring] Handle argument count mismatches in `renameLabelsLenient`
  lib/Refactoring/SyntacticRenameRangeDetails.cpp
  test/SourceKit/Refactoring/rdar155549979.swift
Labels: 🍒 release cherry pick, swift 6.2

#82970 [6.2🍒]: RemoteInspection: Skip unused ELF section headers
  include/swift/RemoteInspection/ReflectionContext.h
Labels: 🍒 release cherry pick, swift 6.2

#82915 [Concurrency] Remove custom global executors from 6.2.
  CMakeLists.txt
  Runtimes/Core/CMakeLists.txt
  Runtimes/Core/cmake/caches/Vendors/Apple/apple-common.cmake
  Runtimes/Core/cmake/modules/AvailabilityMacros.cmake
  Runtimes/Core/cmake/modules/CatalystSupport.cmake
  Runtimes/Core/cmake/modules/DefaultSettings.cmake
  Runtimes/Core/cmake/modules/PlatformInfo.cmake
  cmake/modules/DarwinSDKs.cmake
  cmake/modules/SwiftConfigureSDK.cmake
  lib/SILGen/SILGenFunction.cpp
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Concurrency/CFExecutor.swift
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Clock.swift
  stdlib/public/Concurrency/ContinuousClock.swift
  stdlib/public/Concurrency/CooperativeExecutor.swift
  stdlib/public/Concurrency/DispatchExecutor.swift
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorBridge.swift
  stdlib/public/Concurrency/GlobalConcurrentExecutor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/PlatformExecutorCooperative.swift
  stdlib/public/Concurrency/PlatformExecutorDarwin.swift
  stdlib/public/Concurrency/PlatformExecutorFreeBSD.swift
  stdlib/public/Concurrency/PlatformExecutorLinux.swift
  stdlib/public/Concurrency/PlatformExecutorNone.swift
  stdlib/public/Concurrency/PlatformExecutorOpenBSD.swift
  stdlib/public/Concurrency/PlatformExecutorWindows.swift
  stdlib/public/Concurrency/SuspendingClock.swift
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskSleep.swift
  stdlib/public/Concurrency/TaskSleepDuration.swift
  stdlib/public/Concurrency/UnimplementedExecutor.swift
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Volatile/CMakeLists.txt
  stdlib/public/core/Duration.swift
  stdlib/public/core/DurationProtocol.swift
  stdlib/public/core/Instant.swift
  test/Concurrency/Runtime/async_task_executor_nsobject.swift
  test/Concurrency/Runtime/clocks.swift
  test/Concurrency/Runtime/custom_main_executor.swift
  test/Concurrency/Runtime/sleep_executor.swift
  test/Concurrency/custom_executor_enqueue_availability.swift
  test/abi/Inputs/macOS/arm64/concurrency/baseline
  test/abi/Inputs/macOS/arm64/concurrency/baseline-asserts
  test/abi/Inputs/macOS/x86_64/concurrency/baseline
  test/abi/Inputs/macOS/x86_64/concurrency/baseline-asserts
  test/lit.cfg
  utils/availability-macros.def
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/build_swift/test_driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/minimalstdlib.py
Labels: 🍒 release cherry pick, swift 6.2

#83032 [cxx-interop] Fix assert failure due to invalid location
  lib/ClangImporter/ImportType.cpp
Labels: c++ interop

#83002 [cxx-interop] Types exposed from ObjC modules should be behind a macro
  include/swift/AST/SwiftNameTranslation.h
  lib/AST/SwiftNameTranslation.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
Labels: c++ interop

#82959 [stdlib] Implementation for SE-0488
  stdlib/public/core/Span/RawSpan.swift
  stdlib/public/core/Span/Span.swift
  stdlib/public/core/Substring.swift
  stdlib/public/core/UTF8Span.swift
  stdlib/public/core/UTF8SpanIterators.swift
  test/stdlib/Span/RawSpanTests.swift
  test/stdlib/Span/SpanTests.swift
Labels: swift evolution pending discussion

#83023 [SE-0488, 6.2] Implementation for SE-0488
  stdlib/public/core/Span/RawSpan.swift
  stdlib/public/core/Span/Span.swift
  stdlib/public/core/Substring.swift
  stdlib/public/core/UTF8Span.swift
  stdlib/public/core/UTF8SpanIterators.swift
  test/stdlib/Span/RawSpanTests.swift
  test/stdlib/Span/SpanTests.swift
Labels: swift evolution pending discussion, 🍒 release cherry pick, swift 6.2

#83091 [cxx-interop] Fix a test failing on iOS
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
Labels: c++ interop

#83090 GenericSpecializer: don't pre-specialize C++ reference type for AnyObject
  include/swift/AST/Types.h
  include/swift/SIL/SILType.h
  lib/AST/Type.cpp
  test/Interop/Cxx/foreign-reference/array-of-classes.swift
Labels: c++ interop

#83120 [6.2][Concurrency] Fix runtime isolated-conformance checks with static stdlib
  Runtimes/Core/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Setup.cpp
  stdlib/public/Concurrency/Task.cpp
  test/Concurrency/Runtime/isolated_conformance.swift
Labels: 🍒 release cherry pick

#83106 FreeBSD: Fix issues in tests
  test/LinkerSections/function_sections.swift
  test/Sanitizers/tsan/tsan.swift
  validation-test/Sanitizers/tsan-inout.swift
  validation-test/stdlib/SIMDParameterPassing.swift.gyb
Labels: FreeBSD

#83063 GettingStarted.md: avoid preinstalling CMake
  docs/HowToGuides/GettingStarted.md
Labels: cmake, documentation, contributor experience

#83060 Remove `cmake` from `Brewfile`
  Brewfile
Labels: cmake, contributor experience

#83061 [windows][lldb] fix incorrect LLVM_HOST_TRIPLE when cross-compiling
  utils/build.ps1
Labels: Windows, lldb

#83129 wasisysroot.py: fix `build_runtime_with_host_compiler` diagnostics
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Labels: build-script, python

#81637 [SE-0485] OutputSpan and OutputRawSpan
  Runtimes/Core/core/CMakeLists.txt
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/InlineArray.swift
  stdlib/public/core/Span/MutableRawSpan.swift
  stdlib/public/core/Span/MutableSpan.swift
  stdlib/public/core/Span/OutputRawSpan.swift
  stdlib/public/core/Span/OutputSpan.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafePointer.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  stdlib/toolchain/CompatibilitySpan/CMakeLists.txt
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/stdlib/InlineArray.swift
  test/stdlib/Span/MutableRawSpanTests.swift
  test/stdlib/Span/MutableSpanTests.swift
  test/stdlib/Span/OutputRawSpanTests.swift
  test/stdlib/Span/OutputSpanTests.swift
Labels: swift evolution implemented

#83139 [Test] Do not clear the module cache when not needed between compiler runs
  test/Interop/Cxx/modules/no-cxx-overlay-for-non-interop-interface.swift
Labels: c++ interop

#83130 [cxx-interop] Configure requires ObjC from frontend option
  include/swift/AST/SwiftNameTranslation.h
  include/swift/Basic/LangOptions.h
  lib/AST/SwiftNameTranslation.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
  test/Misc/verify-swift-feature-testing.test-sh
Labels: c++ interop

#83000 [SE-0485, 6.2] OutputSpan and OutputRawSpan
  Runtimes/Core/core/CMakeLists.txt
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/InlineArray.swift
  stdlib/public/core/Span/MutableRawSpan.swift
  stdlib/public/core/Span/MutableSpan.swift
  stdlib/public/core/Span/OutputRawSpan.swift
  stdlib/public/core/Span/OutputSpan.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafePointer.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  stdlib/toolchain/CompatibilitySpan/CMakeLists.txt
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/stdlib/InlineArray.swift
  test/stdlib/Span/MutableRawSpanTests.swift
  test/stdlib/Span/MutableSpanTests.swift
  test/stdlib/Span/OutputRawSpanTests.swift
  test/stdlib/Span/OutputSpanTests.swift
Labels: swift evolution implemented, 🍒 release cherry pick, swift 6.2

#82986 [6.2][android] Small test and build tweaks
  cmake/modules/SwiftConfigureSDK.cmake
  test/ClangImporter/pcm-emit-direct-cc1-mode.swift
  test/IRGen/abitypes_arm.swift
  test/Interop/Cxx/class/constructors-copy-module-interface.swift
  test/Interop/Cxx/class/constructors-diagnostics.swift
  test/Interop/Cxx/class/constructors-module-interface.swift
  test/Interop/Cxx/class/constructors-silgen.swift
  test/Interop/Cxx/class/constructors-typechecker.swift
  test/Interop/Cxx/class/custom-new-operator-irgen.swift
  test/SILOptimizer/package-cmo-serialize-tables.swift
  test/SILOptimizer/throws_prediction.swift
  utils/build-script-impl
  utils/swift_build_support/swift_build_support/products/curl.py
  utils/swift_build_support/swift_build_support/products/product.py
Labels: 🍒 release cherry pick, swift 6.2

#83134 wasm-run.py: consistent `wasmkit` path with `build_runtime_with_host_compiler`
  utils/swift_build_support/swift_build_support/products/wasmkit.py
  utils/wasm-run.py
Labels: test suite, python, WebAssembly, WASI

#83176 [cxx-interop] Fix name mangling for reference types
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/CxxToSwiftToCxx/references-correctly-mangled-execution.cpp
Labels: c++ interop

#83167 [wasm] Rename `wasm32-unknown-wasi` to `wasm32-unknown-wasip1`
  cmake/modules/SwiftConfigureSDK.cmake
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
  utils/swift_build_support/swift_build_support/products/wasmswiftsdk.py
Labels: build-script, cmake, python, WebAssembly, WASI

#83181 [cxx-interop] Prevent protocol conformance table from being prematurely populated
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
Labels: c++ interop

#83135 build-script: allow `--test-wasm-stdlib` without `--build-wasm-stdlib`
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
Labels: test suite, build-script, WebAssembly, WASI

#82516 [6.2] Use SWIFT_COMPILER_VERSION before SWIFT_TOOLCHAIN_VERSION if it exists
  utils/swift_build_support/swift_build_support/products/swift.py
Labels: 🍒 release cherry pick, swift 6.2

#83074 [6.2][IRGen] Set generic context before getting call emission in visitFull…
  lib/IRGen/IRGenSIL.cpp
  test/IRGen/typed_throws.swift
Labels: 🍒 release cherry pick, swift 6.2

#83065 [6.2][cxx-interop] Types exposed from ObjC modules should be behind a macro
  include/swift/AST/SwiftNameTranslation.h
  include/swift/Basic/LangOptions.h
  lib/AST/SwiftNameTranslation.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/foundation-type-not-exposed-by-default-to-cxx.swift
  test/Misc/verify-swift-feature-testing.test-sh
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#82331 Enable `MainActor` in embedded concurrency, add `ExecutorImpl.cpp`
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorBridge.swift
  stdlib/public/Concurrency/MainActor.swift
Labels: Concurrencу, concurrency runtime, embedded, WebAssembly, WASI

#83228 build-presets: install `llvm-nm` on Linux as on all other platforms
  utils/build-presets.ini
Labels: Linux

#83208 wasmswiftsdk.py: consistently apply `build_runtime_with_host_compiler`
  utils/swift_build_support/swift_build_support/products/wasmswiftsdk.py
Labels: Foundation, build-script, python, XCTest, WebAssembly, WASI

#83173 [Clang importer] Import incomplete SWIFT_SHARED_REFERENCE types
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftLookupTable.cpp
  test/Interop/Cxx/foreign-reference/Inputs/ReferenceCounted.apinotes
  test/Interop/Cxx/foreign-reference/Inputs/incomplete.c
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/incomplete.swift
Labels: c++ interop

#83285 test/CMakeLists.txt: fix `--lit-args` unhandled in Wasm tests
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: test suite, build-script, cmake, embedded, WebAssembly

#83286 [ConstraintSystem] C++ Interop: Binding a string literal to `std.stri…
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/Types.h
  lib/AST/Type.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Interop/Cxx/stdlib/Inputs/std-string.h
  test/Interop/Cxx/stdlib/custom-expressible-by-string-literal.swift
Labels: c++ interop

#82879 [cxx-interop] Unconditionally apply `@_addressable` for C++ functions
  lib/ClangImporter/ImportType.cpp
  lib/SILGen/SILGenType.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
  test/Interop/Cxx/stdlib/use-std-function.swift
  test/SILGen/opaque_values_cxx.swift
Labels: c++ interop

#83236 Enable `concurrency-deleted-method.swift` test for `wasip1`
  test/embedded/concurrency-deleted-method.swift
  test/lit.cfg
Labels: test suite, concurrency, embedded, WASI

#83337 [cxx-interop] Enable a test for `std::function` on all Linux distros
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#83296 update-checkout-config.json: check out CMake on Darwin and Linux
  utils/update_checkout/update-checkout-config.json
Labels: cmake, contributor experience

#83395 [cxx-interop] Modularize xsmf_control on Windows
  stdlib/public/Platform/vcruntime.modulemap
Labels: c++ interop

#83239 Test Interop/Cxx/stdlib/overlay/custom-collection.swift fails on iOS simulator bots
  test/Interop/Cxx/stdlib/overlay/custom-collection.swift
Labels: c++ interop

#82358 [presets] Actually make https://github.com/swiftlang/swift/pull/81284 work
  CMakeLists.txt
  utils/build-presets.ini
Labels: contributor experience
