Repository swiftlang/swift, pull requests merged in 2025-04, with the labels that each got.

#79986 [cxx-interop] Import default public ctor of C++ foreign ref types as Swift Initializer
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-diagnostics.swift
  test/Interop/Cxx/class/constructors-executable.swift
Labels: c++ interop

#80437 [cxx-interop] Fix invalid source range for some template instantiations
  lib/ClangImporter/ImporterImpl.h
Labels: c++ interop

#80375 [6.1][SILOptimizer] Prevent devirtualization of call to distributed witness requirements
  lib/SILOptimizer/Utils/Devirtualize.cpp
  test/Distributed/distributed_actor_adhoc_requirements_optimized_build.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#80464 [6.1] Fix missing refs to accesor when shadowing with if-let shorthand.
  include/swift/Index/IndexSymbol.h
  lib/Index/Index.cpp
  test/Index/index_shadow.swift
Labels: 🍒 release cherry pick

#80500 [cxx-interop] Fix not importing return type for certain functions
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#80495 [cxx-interop] Fix nested structs for non-opaque types
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/class/nested-classes-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop

#80530 embedded: fix two problems in the SILLinker
  lib/SIL/IR/Linker.cpp
  lib/SIL/IR/Linker.h
  test/embedded/concurrency-modules.swift
  test/embedded/existential-class-bound8.swift
Labels: SIL, embedded

#80539 [cxx-interop] Switch to non-experimental flag in tests
  test/Interop/lit.local.cfg
Labels: c++ interop

#80568 [cxx-interop] Fix calling rvalue ref of a trivial type
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/reference/reference.swift
Labels: c++ interop

#80531 [cxx-interop] Remove `-fno-rtti` workaround in tests
  test/Interop/Cxx/value-witness-table/custom-destructors-virtual-irgen.swift
  test/Interop/Cxx/value-witness-table/custom-destructors-virtual.swift
Labels: c++ interop

#79425 [c++ interop] Swift should allow multiple SWIFT_CONFORMS_TO_PROTOCOL attributes on a C++ class
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/Inputs/conforms-to.h
  test/Interop/Cxx/class/conforms-to-errors.swift
  test/Interop/Cxx/class/conforms-to.swift
Labels: c++ interop

#80581 [6.2] [Mangler] Avoid mangling local discriminator for attached macros
  include/swift/AST/ASTMangler.h
  lib/AST/ASTMangler.cpp
  test/Macros/macro_expand.swift
Labels: 🍒 release cherry pick, Swift 6.2-dev

#80598 [cxx-interop] Fix a rare compilation error in reverse interop header
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/nested-cxx-class-back-to-swift.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop

#80597 [6.2] [Mangler] Include verification errors in the crash log
  include/swift/Basic/PrettyStackTrace.h
  lib/AST/ASTScopePrinting.cpp
  lib/Basic/Mangler.cpp
  lib/Basic/PrettyStackTrace.cpp
  lib/Serialization/ModuleFileSharedCore.cpp
  lib/Serialization/Serialization.cpp
Labels: 🍒 release cherry pick, Swift 6.2-dev

#80599 [6.2] [Sema] Requestify PatternBindingDecl capture computation
  include/swift/AST/Decl.h
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/AST/Decl.cpp
  lib/AST/TypeCheckRequests.cpp
  lib/Sema/TypeCheckCaptures.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckStorage.cpp
  lib/Sema/TypeChecker.h
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand.swift
Labels: 🍒 release cherry pick, Swift 6.2-dev

#80605 [6.2] [CS] Make sure macro arguments go through `coerceCallArguments`
  lib/Sema/CSApply.cpp
  test/Macros/macro_expand.swift
  test/Macros/macro_misc_diags.swift
Labels: 🍒 release cherry pick, Swift 6.2-dev

#80567 [6.2] `MemberImportVisibility` bug fixes
  lib/AST/NameLookup.cpp
  lib/Parse/ParseExpr.cpp
  lib/Sema/CSGen.cpp
  test/AutoDiff/SILOptimizer/differentiation_control_flow_diagnostics.swift
  test/Concurrency/async_sequence_existential.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_A.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_A.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_B.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_C.h
  test/NameLookup/Inputs/MemberImportVisibility/Categories_C.swift
  test/NameLookup/Inputs/MemberImportVisibility/Categories_E.swift
  test/NameLookup/Inputs/MemberImportVisibility/ObjCOverloads/Branch.h
  test/NameLookup/Inputs/MemberImportVisibility/ObjCOverloads/Fruit.h
  test/NameLookup/Inputs/MemberImportVisibility/ObjCOverloads/Leaf.h
  test/NameLookup/Inputs/MemberImportVisibility/ObjCOverloads/Root.h
  test/NameLookup/Inputs/MemberImportVisibility/ObjCOverloads/module.modulemap
  test/NameLookup/Inputs/MemberImportVisibility/members_A.swift
  test/NameLookup/Inputs/MemberImportVisibility/members_B.swift
  test/NameLookup/Inputs/MemberImportVisibility/members_C.swift
  test/NameLookup/members_transitive.swift
  test/NameLookup/members_transitive_compiler_protocols.swift
  test/NameLookup/members_transitive_objc.swift
  test/NameLookup/members_transitive_objc_overrides.swift
Labels: 🍒 release cherry pick, Swift 6.2-dev

#80584 [6.2][cxx-interop] Fix calling rvalue ref of a trivial type
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/reference/reference.swift
Labels: c++ interop, 🍒 release cherry pick

#80585 [6.2][cxx-interop] Fix not importing return type for certain functions
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop, 🍒 release cherry pick

#78968 Relax error when using SWIFT_RETURNS_(UN)RETAINED on templated return types resolving to non-frts
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#80638 [cxx-interop] Fix a CI failure in ptrauth test
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch-arm64e.swift
Labels: c++ interop

#80642 [6.2] [Sema] Ignore types with type variables in `filterEscapableLifetimeDependencies`
  lib/AST/LifetimeDependence.cpp
  test/IDE/issue-80591.swift
  validation-test/IDE/stress_tester_issues_fixed/issue-80591.swift
Labels: 🍒 release cherry pick, swift 6.2

#80646 [6.2] Add a "lazy" lifetime inference for mutating interface methods
  lib/AST/LifetimeDependence.cpp
  test/Sema/Inputs/lifetime_depend_infer.swiftinterface
Labels: 🍒 release cherry pick, swift 6.2

#80601 Concurrency: Move code between `Executor{Bridge,Impl}.cpp`
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/ExecutorBridge.cpp
  stdlib/public/Concurrency/ExecutorImpl.cpp
Labels: Concurrencу, embedded

#80671 [cxx-interop] Diagnose Escapable C++ types with non-escapable fields
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#80656 [6.2] Serialization: Apply type-checking shadowing after deserialization filtering
  lib/Serialization/Deserialization.cpp
  test/Serialization/shadowed-class-vs-protocol.swift
Labels: 🍒 release cherry pick, swift 6.2

#80652 [6.2] Fix GenericSpecializer for addressable parameters.
  include/swift/AST/LifetimeDependence.h
  include/swift/AST/Types.h
  include/swift/SIL/ApplySite.h
  include/swift/SILOptimizer/Utils/Generics.h
  lib/SIL/IR/ApplySite.cpp
  lib/SIL/IR/SILType.cpp
  lib/SILOptimizer/IPO/CapturePropagation.cpp
  lib/SILOptimizer/IPO/UsePrespecialized.cpp
  lib/SILOptimizer/Utils/Generics.cpp
  lib/SILOptimizer/Utils/OptimizerBridging.cpp
  test/SILOptimizer/addressable_dependency_optimization.swift
  test/SILOptimizer/lifetime_dependence/specialize.sil
Labels: 🍒 release cherry pick, swift 6.2

#80653 [6.2] Fix escape analysis: addressable parameters.
  SwiftCompilerSources/Sources/Optimizer/Utilities/EscapeUtils.swift
  SwiftCompilerSources/Sources/SIL/ApplySite.swift
  test/SILOptimizer/addr_escape_info.sil
Labels: 🍒 release cherry pick, swift 6.2

#80659 [cxx-interop] convert CXXForeignReferenceTypeInitializers into SuppressCXXForeignReferenceTypeInitializers to be an opt-out flag
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/constructors-diagnostics.swift
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/cxx-frt-ctor-callable.swift
  test/Interop/Cxx/foreign-reference/move-only-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/singleton-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#80704 [6.2] swift-demangle: fix a crash for invalid input
  lib/Demangling/NodePrinter.cpp
  test/Demangle/Inputs/manglings.txt
Labels: swift 6.2

#80715 🍒 [6.2] [cxx-interop] Import public constructor of C++ foreign reference types as Swift initializers
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-diagnostics.swift
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/cxx-frt-ctor-callable.swift
  test/Interop/Cxx/foreign-reference/move-only-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/singleton-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop, 🍒 release cherry pick

#80726 [6.2] [Sema] Try limit kicking interface type in `filterForEnumElement`
  lib/Sema/TypeCheckPattern.cpp
  validation-test/compiler_crashers_2/issue-80657.swift
  validation-test/compiler_crashers_2_fixed/rdar146952007.swift
Labels: 🍒 release cherry pick, swift 6.2

#80729 [6.2] Fix lifetime_dependence/specialize.sil; requires 64-bit
  test/SILOptimizer/lifetime_dependence/specialize.sil
Labels: 🍒 release cherry pick, swift 6.2

#80709 [6.2] Fix IRGen for @_addressable params which may be "captured".
  include/swift/AST/Types.h
  lib/IRGen/GenCall.cpp
  lib/SIL/IR/SILType.cpp
  test/IRGen/addressable.swift
Labels: 🍒 release cherry pick, swift 6.2

#80707 [6.2] AST: Stop diagnosing potentially unavailable declarations in unavailable contexts
  CHANGELOG.md
  lib/AST/AvailabilityConstraint.cpp
  test/Constraints/availability_macos.swift
  test/Sema/availability_scopes.swift
  test/Sema/property_wrapper_availability.swift
  test/attr/attr_availability_transitive_osx.swift
  test/attr/attr_availability_transitive_osx_appext.swift
  test/attr/attr_inlinable_available.swift
Labels: 🍒 release cherry pick, swift 6.2

#80763 [cxx-interop] Do not import arithmetic operators with rvalue reference parameters
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/operators/Inputs/non-member-inline.h
  test/Interop/Cxx/operators/non-member-inline-module-interface.swift
  test/Interop/Cxx/operators/non-member-inline-typechecker.swift
  test/Interop/Cxx/operators/non-member-inline.swift
Labels: c++ interop

#80721 [6.2][cxx-interop] Make safe interop wrapper accessible in production compilers
  include/swift/Basic/Features.def
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#80710 [6.2][cxx-interop] Diagnose Escapable C++ types with non-escapable fields
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#80631 [6.2][cxx-interop] Fix a rare compilation error in reverse interop header
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/CxxToSwiftToCxx/nested-cxx-class-back-to-swift.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#80586 [6.2][cxx-interop] Fix nested structs for non-opaque types
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/class/nested-classes-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#80587 [6.1][cxx-interop] Fix nested structs for non-opaque types
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/ClangSyntaxPrinter.h
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/structs/nested-structs-in-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.1

#80798 🍒[cxx-interop] Do not import arithmetic operators with rvalue reference parameters
  lib/ClangImporter/ImportName.cpp
  test/Interop/Cxx/operators/Inputs/non-member-inline.h
  test/Interop/Cxx/operators/non-member-inline-module-interface.swift
  test/Interop/Cxx/operators/non-member-inline-typechecker.swift
  test/Interop/Cxx/operators/non-member-inline.swift
Labels: c++ interop

#78374 [AutoDiff] Fix adjoints for loop-local active values
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/SILOptimizer/pullback_generation.swift
  test/AutoDiff/SILOptimizer/pullback_generation_loop_adjoints.swift
  test/AutoDiff/validation-test/control_flow.swift
Labels: AutoDiff

#80769 [6.2][SUA][IRGen] Add stub for swift_coroFrameAlloc that weakly links against the runtime function
  include/swift/AST/IRGenOptions.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenFunc.h
  test/IRGen/partial_apply_coro.sil
  test/IRGen/yield_once.sil
  test/IRGen/yield_once_big.sil
  test/IRGen/yield_once_biggish.sil
  test/IRGen/yield_once_enable_emit_type_malloc_coro_frame.sil
  test/IRGen/yield_once_indirect.sil
  test/IRGen/yield_result.sil
Labels: 🍒 release cherry pick, swift 6.2

#80796 [Concurrency] Fix size of AsyncTask::PrivateStorage.
  include/swift/ABI/Task.h
  stdlib/public/Concurrency/TaskPrivate.h
Labels: 🍒 release cherry pick, swift 6.2

#79457 Added Hashable conformance to Async(Throwing)Stream.Continuation
  stdlib/public/Concurrency/AsyncStream.swift
  stdlib/public/Concurrency/AsyncThrowingStream.swift
  test/Concurrency/Runtime/async_stream.swift
  test/abi/Inputs/macOS/arm64/concurrency/baseline
  test/abi/Inputs/macOS/arm64/concurrency/baseline-asserts
  test/abi/Inputs/macOS/x86_64/concurrency/baseline
  test/abi/Inputs/macOS/x86_64/concurrency/baseline-asserts
Labels: swift evolution approved

#80797 [6.2][Concurrency] Parent task cancellation must cancel task group itself
  include/swift/ABI/TaskGroup.h
  stdlib/public/Concurrency/TaskGroup.cpp
  stdlib/public/Concurrency/TaskPrivate.h
  stdlib/public/Concurrency/TaskStatus.cpp
  test/Concurrency/Runtime/async_taskgroup_addUnlessCancelled.swift
Labels: concurrency, swift 6.2

#80780 🌸 [ClangImporter] Fix import of aliased enum cases
  lib/ClangImporter/ImportDecl.cpp
  test/ClangImporter/enum.swift
Labels: 🍒 release cherry pick, swift 6.2

#80880 [6.2] LifetimeDependenceScopeFixup: _read accessor: extend temporaries
  SwiftCompilerSources/Sources/Optimizer/DataStructures/InstructionRange.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/AddressUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/BorrowUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LocalVariableUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/OptUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/Test.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/Utilities/AccessUtils.swift
  SwiftCompilerSources/Sources/SIL/Utilities/WalkUtils.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_scope_fixup.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_util.sil
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
  test/SILOptimizer/lifetime_dependence/semantics.swift
  test/SILOptimizer/range_unit.sil
Labels: 🍒 release cherry pick, swift 6.2

#80890 [6.2] UTF8Span
  Runtimes/Core/core/CMakeLists.txt
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/String.swift
  stdlib/public/core/StringComparison.swift
  stdlib/public/core/StringCreate.swift
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/core/StringNormalization.swift
  stdlib/public/core/StringUTF8Validation.swift
  stdlib/public/core/UTF8EncodingError.swift
  stdlib/public/core/UTF8Span.swift
  stdlib/public/core/UTF8SpanBits.swift
  stdlib/public/core/UTF8SpanComparisons.swift
  stdlib/public/core/UTF8SpanFundamentals.swift
  stdlib/public/core/UTF8SpanInternalHelpers.swift
  stdlib/public/core/UTF8SpanIterators.swift
  test/Misc/serialized-diagnostics-prettyprint.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/stdlib/UTF8EncodingErrorTests.swift
  test/stdlib/UTF8SpanIteratorTests.swift
  test/stdlib/UTF8SpanQueriesComparisons.swift
Labels: 🍒 release cherry pick, swift 6.2

#80910 [6.2] [Sema] Downgrade `noasync` diagnostic to warning for closure macro args
  include/swift/AST/DiagnosticEngine.h
  include/swift/AST/Expr.h
  include/swift/Basic/Version.h
  lib/AST/DiagnosticEngine.cpp
  lib/Basic/Version.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckProtocol.cpp
  test/Macros/issue-80835.swift
Labels: 🍒 release cherry pick, swift 6.2

#80922 [6.2][Concurrency] Downgrade non-Sendable type captures to warnings if clo…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/sendable_checking_captures_swift6.swift
  test/Concurrency/sendable_objc_attr_in_type_context_swift6.swift
Labels: 🍒 release cherry pick, swift 6.2

#80588 [Distributed] Reproducer for generics and library evolution mode
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenProto.cpp
  lib/IRGen/IRSymbolVisitor.cpp
  lib/SIL/IR/SILSymbolVisitor.cpp
  test/Distributed/Runtime/distributed_actor_library_evolution_da_protocol_use.swift
Labels: distributed

#80924 [6.2][TypeChecker] Allow closures to assume `nonisolated(nonsending)`
  lib/SILGen/SILGenConcurrency.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/Runtime/startSynchronously.swift
  test/Concurrency/attr_execution/conversions_silgen.swift
Labels: 🍒 release cherry pick, swift 6.2

#80957 [6.2][Sema/SILGen] Import ObjC async functions as nonisolated(nonsending) by default
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILGen/SILGenBridging.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/nonisolated_nonsending_objc_async_by_default.swift
  test/SILGen/objc_async_from_swift.swift
Labels: 🍒 release cherry pick, swift 6.2

#80980 [6.2] LifetimeDependenceScopeFixup: handle returning dependent Optional
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/SIL/Argument.swift
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
Labels: 🍒 release cherry pick, swift 6.2

#80950 [🍒 6.2] Fix String interpolation accepts invalid argument label syntax without expression
  lib/Parse/ParseExpr.cpp
  lib/Parse/Parser.cpp
  test/Parse/trailing-comma.swift
Labels: 🍒 release cherry pick, swift 6.2

#80982 [6.2][Frontend] Promote `AsyncCallerExecution` to an upcoming feature
  include/swift/AST/DiagnosticGroups.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/Sema/CMakeLists.txt
  lib/Sema/NonisolatedNonsendingByDefaultMigration.cpp
  lib/Sema/NonisolatedNonsendingByDefaultMigration.h
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckType.cpp
  test/Concurrency/Runtime/nonisolated_inherits_isolation.swift
  test/Concurrency/attr_execution/adoption_mode.swift
  test/Concurrency/attr_execution/attr_execution.swift
  test/Concurrency/nonisolated_inherits_isolation.swift
  test/Concurrency/nonisolated_inherits_isolation_sema.swift
  test/SILGen/execution_attr.swift
  test/SILGen/nonisolated_inherits_isolation.swift
  test/Serialization/caller_isolation_inherit.swift
Labels: 🍒 release cherry pick, swift 6.2

#80996 [6.2] Sema: Improve MemberImportVisibility diagnostics for cross import overlays
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckNameLookup.cpp
  test/CrossImport/Inputs/lib-templates/lib/swift/BystandingLibrary.swiftinterface
  test/CrossImport/Inputs/lib-templates/lib/swift/DeclaringLibrary.swiftinterface
  test/CrossImport/Inputs/lib-templates/lib/swift/_OverlayLibrary.swiftinterface
  test/CrossImport/member-import-visibility.swift
Labels: 🍒 release cherry pick, swift 6.2

#80998 [6.2] [ASTScope] Match parent scopes in `lookupCatchNode` for brace stmts
  lib/AST/ASTScopeLookup.cpp
  test/Macros/Inputs/syntax_macro_definitions.swift
  test/Macros/macro_expand.swift
Labels: 🍒 release cherry pick, swift 6.2

#81005 [6.2] Fix LifetimeDependenceScopeFixup: read access can depend on 'inout'
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/SIL/Argument.swift
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
  test/SILOptimizer/lifetime_dependence/semantics.swift
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
Labels: 🍒 release cherry pick, swift 6.2

#80862 Embedded: fix arguments mismatch in `ResultTypeInfo`
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
Labels: concurrency runtime, embedded, WebAssembly

#81030 [cxx-interop] Work around crash in codegen when initializing C++ span
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/use-std-span-typechecker.swift
Labels: c++ interop

#81031 [6.2][cxx-interop] Properly import annotations from functions in namespace scope
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#81020 [6.2] Fix LifetimeDependenceDiagnostics: handle drop_deinit unsafeAddress
  SwiftCompilerSources/Sources/Optimizer/Utilities/LocalVariableUtils.swift
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
Labels: 🍒 release cherry pick, swift 6.2

#81042 [6.2] [ASTPrinter] Add missing null check in `isNonSendableExtension`
  lib/AST/ASTPrinter.cpp
  validation-test/IDE/issues_fixed/rdar149032713.swift
Labels: 🍒 release cherry pick, swift 6.2

#81047 [6.2][cxx-interop] Work around crash in codegen when initializing C++ span
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/use-std-span-typechecker.swift
Labels: c++ interop

#81050 [6.2🍒] SILOptimizer: Disable invalid passes in C++-only compiler
  cmake/modules/AddSwift.cmake
  lib/SILOptimizer/LoopTransforms/LoopRotate.cpp
  lib/SILOptimizer/Transforms/SimplifyCFG.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81062 [6.2] Fix LifetimeDependenceDiagnostics: handle address-only 'let's
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.sil
Labels: 🍒 release cherry pick, swift 6.2

#81070 [cxx-interop] Fix runtime crash passing FRTs as const FRT*
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/closure-thunk-executable.swift
  test/Interop/Cxx/foreign-reference/move-only-irgen.swift
  test/Interop/Cxx/foreign-reference/move-only-silgen.swift
  test/Interop/Cxx/foreign-reference/pod-irgen.swift
  test/Interop/Cxx/foreign-reference/pod-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton-irgen.swift
  test/Interop/Cxx/foreign-reference/singleton-silgen.swift
Labels: c++ interop

#81083 [6.2] [Sema] Add missing null check for Type
  lib/Sema/TypeCheckConcurrency.cpp
  test/SourceKit/CodeComplete/issue-80985.swift
Labels: 🍒 release cherry pick, swift 6.2

#81051 [6.2][Sema] ConstnessChecker: Look through function conversions while chec…
  lib/Sema/ConstantnessSemaDiagnostics.cpp
  test/Sema/diag_constantness_check_os_log_swift6.swift
Labels: 🍒 release cherry pick, swift 6.2

#80786 [cxx-interop] Fix a crash with [[no_unique_address]]
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/Inputs/member-variables.h
  test/Interop/Cxx/class/zero-sized-field.swift
Labels: c++ interop

#81063 [Concurrency] Offer way to get SerialExecutor from Actor
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/actor_isIsolatingCurrentContext.swift
  test/IDE/complete_cache_notrecommended.swift
Labels: concurrency

#81098 [6.2][cxx-interop] Proper conversions between MutableSpan and C++ span
  stdlib/public/Cxx/CxxSpan.swift
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#81097 [cxx-interop] Proper conversions between MutableSpan and C++ span
  stdlib/public/Cxx/CxxSpan.swift
  test/Interop/Cxx/stdlib/use-std-span.swift
Labels: c++ interop

#81096 [6.2][cxx-interop] Fix runtime crash passing FRTs as const FRT*
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/Inputs/closure.h
  test/Interop/Cxx/class/closure-thunk-executable.swift
  test/Interop/Cxx/foreign-reference/move-only-irgen.swift
  test/Interop/Cxx/foreign-reference/move-only-silgen.swift
  test/Interop/Cxx/foreign-reference/pod-irgen.swift
  test/Interop/Cxx/foreign-reference/pod-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton-irgen.swift
  test/Interop/Cxx/foreign-reference/singleton-silgen.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#81100 [6.2][cxx-interop] Fix a crash with [[no_unique_address]]
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/Inputs/member-variables.h
  test/Interop/Cxx/class/zero-sized-field.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#81121 [6.2][Concurrency] Add nonisolated(nonsending) to completion lookup
  lib/IDE/CompletionLookup.cpp
  test/IDE/complete_nonisolated.swift
  test/IDE/complete_nonisolated_unsafe.swift
Labels: concurrency, swift 6.2

#81118 [6.2] Bypass lifetime diagnostics in interfaces for copied arguments.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  lib/AST/LifetimeDependence.cpp
  stdlib/public/core/Span/RawSpan.swift
  stdlib/public/core/Span/Span.swift
  stdlib/public/core/UTF8Span.swift
  test/SIL/explicit_lifetime_dependence_specifiers.swift
  test/SIL/implicit_lifetime_dependence.swift
  test/SILOptimizer/lifetime_dependence/Inputs/lifetime_depend_diagnose.swiftinterface
  test/SILOptimizer/lifetime_dependence/diagnose_interface.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_borrow.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_mutate.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_scope_fixup.swift
  test/SILOptimizer/lifetime_dependence/semantics.swift
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
  test/Sema/Inputs/lifetime_depend_infer.swiftinterface
  test/Sema/lifetime_depend_infer_interface.swift
Labels: 🍒 release cherry pick, swift 6.2

#81145 [cxx-interop] Temporarily exclude CxxSetToCollection benchmark from the build
  benchmark/cxx-source/CxxSetToCollection.swift
  benchmark/cxx-source/CxxStringConversion.swift
  benchmark/cxx-source/CxxVectorSum.swift
Labels: c++ interop

#81158 [6.2] Optimize keypaths in language 6 mode
  lib/SILOptimizer/Utils/KeyPathProjector.cpp
  test/SILOptimizer/capture_propagate_keypath.swift
  test/SILOptimizer/optimize_keypath.swift
Labels: swift 6.2

#81137 Fix `test/Misc/target-cpu.swift`
  test/Misc/target-cpu.swift
Labels: test suite

#81172 [6.2, test] eliminate the possibility of a false positive
  test/stdlib/Span/SpanTests.swift
Labels: 🍒 release cherry pick, swift 6.2

#81130 [6.2] LifetimeDependence: fix a type checker crash on implicit init
  lib/AST/LifetimeDependence.cpp
  test/Sema/lifetime_depend_infer.swift
Labels: 🍒 release cherry pick, swift 6.2

#81164 [6.2] tests: add missing stdlib requirements in `SILOptimizer/static_init_globals.swift`
  test/SILOptimizer/static_init_globals.swift
Labels: swift 6.2

#81192 [6.2] LifetimeDependenceDiagnostics: bug fixes and output clarity
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceDiagnostics.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/SIL/Argument.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  include/swift/AST/ASTBridging.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  lib/AST/LifetimeDependence.cpp
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
  test/SILOptimizer/lifetime_dependence/verify_library_diagnostics.swift
Labels: 🍒 release cherry pick, swift 6.2

#81177 [cxx-interop] Remove a workaround for CoreGraphics module interface
  lib/Frontend/ModuleInterfaceLoader.cpp
Labels: c++ interop

#80777 [6.2, SE-0467] add mutableBytes to MutableSpan
  stdlib/public/core/Span/MutableRawSpan.swift
  stdlib/public/core/Span/MutableSpan.swift
  test/stdlib/Span/MutableRawSpanTests.swift
  test/stdlib/Span/MutableSpanTests.swift
Labels: 🍒 release cherry pick, swift 6.2

#81199 🍒[cxx-interop] Remove a workaround for CoreGraphics module interface
  lib/Frontend/ModuleInterfaceLoader.cpp
Labels: c++ interop
