Repository swiftlang/swift, pull requests merged in 2025-06, with the labels that each got.

#81867 🍒 [cxx-interop] Ensure field offset vector matches the structs/fields metadata
  lib/IRGen/GenMeta.cpp
  lib/IRGen/StructMetadataVisitor.h
Labels: c++ interop

#81898 [cxx-interop] Fix compilation failure in rebranch
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#81865 [6.2] Swift SIL: Fix argument conventions for functions which have both, a direct and indirect result.
  SwiftCompilerSources/Sources/SIL/Argument.swift
  SwiftCompilerSources/Sources/SIL/FunctionConvention.swift
  test/SILOptimizer/mem-behavior.sil
  test/SILOptimizer/redundant_load_elim_ossa.sil
Labels: swift 6.2

#81876 [6.2 🍒][Dependency Scanning] Bridge diagnostics emitted during bridging header scanning
  include/swift/AST/DiagnosticsSema.def
  lib/DependencyScan/ModuleDependencyScanner.cpp
  test/ScanDependencies/bridging_header_error.swift
  test/ScanDependencies/clang_scan_error.swift
Labels: 🍒 release cherry pick, swift 6.2

#81908 [C++Interop] Do not query C++ Standard Library Swift overlays when building Swift modules which were built without C++ interop
  include/swift/Basic/LangOptions.h
  lib/ClangImporter/ClangImporter.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DriverTool/swift_symbolgraph_extract_main.cpp
  lib/DriverTool/swift_synthesize_interface_main.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/modules/no-cxx-overlay-for-non-interop-interface.swift
  test/ScanDependencies/no-cxx-overlay-for-non-interop-interface.swift
Labels: c++ interop

#81912 [6.2 🍒][C++Interop] Do not query C++ Standard Library Swift overlays when building Swift modules which were built without C++ interop
  include/swift/Basic/LangOptions.h
  lib/ClangImporter/ClangImporter.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DriverTool/swift_symbolgraph_extract_main.cpp
  lib/DriverTool/swift_synthesize_interface_main.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/modules/no-cxx-overlay-for-non-interop-interface.swift
  test/ScanDependencies/no-cxx-overlay-for-non-interop-interface.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#81899 [Concurrency] Correct priority cancellation handler signing
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/TaskStatus.h
  stdlib/public/Concurrency/Task.cpp
  test/Concurrency/async_task_escalate_priority.swift
Labels: concurrency

#81938 [6.2] [CS] Check `hasType` in `isPlaceholderVar`
  lib/Sema/CSSyntacticElement.cpp
  test/Constraints/rdar146383201.swift
Labels: 🍒 release cherry pick, swift 6.2

#81945 [6.2][Diagnostics] A collection of diagnostic fixes/improvements
  include/swift/Sema/CSFix.h
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSSimplify.cpp
  test/ClangImporter/MixedSource/mixed-target-using-header.swift
  test/ClangImporter/cf.swift
  test/ClangImporter/ctypes_parse.swift
  test/Constraints/bridging-nsnumber-and-nsvalue.swift.gyb
  test/Constraints/bridging.swift
  test/Constraints/casts_objc.swift
  test/Constraints/closures.swift
  test/Constraints/fixes.swift
  test/Constraints/if_expr.swift
  test/Constraints/invalid_implicit_conversions.swift
  test/Constraints/issue-81023.swift
  test/Constraints/iuo.swift
  test/Constraints/keypath.swift
  test/Constraints/operator.swift
  test/Constraints/optional.swift
  test/Constraints/protocols.swift
  test/Constraints/rdar44770297.swift
  test/Constraints/subscript.swift
  test/Constraints/swift_to_c_pointer_conversions.swift.gyb
  test/Constraints/tuple.swift
  test/Constraints/tuple_arguments.swift
  test/Parse/try.swift
  test/Sema/clang_fn_type_mismatch.swift
  test/Serialization/Recovery/typedefs.swift
  test/decl/class/circular_inheritance_2.swift
  test/decl/func/typed_throws.swift
  test/expr/cast/optional.swift
  test/expr/conversions/RawRepresentable_fixits.swift
  test/expr/expressions.swift
  test/stdlib/UnsafePointerDiagnostics.swift
  test/stmt/if_while_var.swift
  validation-test/compiler_crashers_2_fixed/issue-54093.swift
Labels: 🍒 release cherry pick, swift 6.2

#81947 [cxx-interop] Support Swiftifying C++ constructors
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  test/Interop/Cxx/swiftify-import/counted-by-method.swift
  test/Interop/Cxx/swiftify-import/span-in-ctor.swift
Labels: c++ interop

#81939 Fix `utils/download-unpublished-toolchains.py` URL parsing
  utils/download-unpublished-toolchains.py
Labels: python, utils

#82026 [6.2 🍒][Dependency Scanning] On failure to locate a module, attempt to diagnose if binary dependencies contain search paths with this module.
  include/swift/AST/DiagnosticGroups.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/ModuleDependencies.h
  include/swift/DependencyScan/ModuleDependencyScanner.h
  include/swift/DependencyScan/SerializedModuleDependencyCacheFormat.h
  lib/DependencyScan/ModuleDependencyCacheSerialization.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/Serialization/ModuleFileSharedCore.h
  lib/Serialization/SerializedModuleLoader.cpp
  test/ScanDependencies/cached-missing-module-found-in-serialized-paths.swift
  test/ScanDependencies/diagnose-missing-module-found-in-serialized-paths.swift
  userdocs/diagnostics/missing-module-on-known-paths.md
Labels: 🍒 release cherry pick, swift 6.2

#82038 [6.2] Frontend: Add language mode and enabled features to `.SWIFT_TRACE`
  lib/FrontendTool/LoadedModuleTrace.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenFunc.h
  lib/SILOptimizer/Utils/SILIsolationInfo.cpp
  lib/Sema/TypeCheckEffects.cpp
  test/Driver/loaded_module_trace.swift
  test/Driver/loaded_module_trace_enabled_features.swift
  test/Driver/loaded_module_trace_multifile.swift
Labels: 🍒 release cherry pick, swift 6.2

#82037 [6.2][Concurrency] Downgrade errors to warnings when Sendable requirement is inferred from a preconcurrency protocol
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  lib/Sema/TypeCheckProtocol.cpp
  test/Concurrency/concurrent_value_checking.swift
  test/Concurrency/predates_concurrency_swift6.swift
  test/Concurrency/sendable_metatype_typecheck.swift
  test/type/explicit_existential.swift
Labels: 🍒 release cherry pick, swift 6.2

#81973 [cxx-interop] Only swiftify template instantiations behind type aliases
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
Labels: c++ interop

#81840 ClangImporter: enhance the importer to alias declarations
  lib/ClangImporter/ImportMacro.cpp
  test/ClangImporter/CoreGraphics_test.swift
  test/ClangImporter/Inputs/custom-modules/Aliases.h
  test/ClangImporter/Inputs/custom-modules/module.modulemap
  test/ClangImporter/alias-invalid.swift
  test/ClangImporter/alias.swift
Labels: c++ interop, clang importer, c/c++ macros

#82010 [6.2][Distributed] Fix computed properties in protocols on arm64e
  lib/IRGen/GenMeta.cpp
  test/Distributed/Runtime/distributed_actor_localSystem_distributedProtocol.swift
  test/Distributed/Runtime/distributed_actor_localSystem_distributedProtocol_variable.swift
  test/Distributed/Runtime/distributed_actor_localSystem_generic_system.swift
  test/Distributed/Runtime/distributed_actor_localSystem_manual_conformance.swift
Labels: distributed, 🍒 release cherry pick, swift 6.2

#82066 [6.2][Demangle] Implement missing `Node::Kind::OutlinedInitializeWithTakeNoValueWitness`
  docs/ABI/Mangling.rst
  include/swift/Demangling/DemangleNodes.def
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  test/Demangle/Inputs/manglings.txt
Labels: 🍒 release cherry pick, swift 6.2

#82036 [6.2][Concurrency] Fix `SendableMetatype` conformance failures to behave l…
  include/swift/AST/DiagnosticsSema.def
  lib/AST/ConformanceLookup.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConcurrency.h
  test/Concurrency/predates_concurrency.swift
  test/Concurrency/predates_concurrency_swift6.swift
  test/Concurrency/sendable_metatype.swift
Labels: 🍒 release cherry pick, swift 6.2

#82097 [6.2, stdlib] fix small-string UTF8Span support
  stdlib/private/StdlibUnittest/StdlibUnittest.swift
  stdlib/public/core/StringGuts.swift
  stdlib/public/core/StringUTF8View.swift
  stdlib/public/core/Substring.swift
  stdlib/public/core/UTF8Span.swift
  test/SILOptimizer/lifetime_dependence/semantics.swift
  test/api-digester/Outputs/stability-stdlib-source-base.swift.expected
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/OptionalGeneralizations.swift
  test/stdlib/Span/StringUTF8SpanProperty.swift
Labels: 🍒 release cherry pick, swift 6.2

#82050 [6.2] LifetimeDependenceScopeFixup: handle yielded value copies.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/BorrowUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_util.sil
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
Labels: 🍒 release cherry pick, swift 6.2

#82130 [6.2][TypeCheckEffects] Fix `AbstractFunction::getType` to look through al…
  lib/Sema/TypeCheckEffects.cpp
  validation-test/Sema/type_checker_crashers_fixed/rdar151943924.swift
Labels: 🍒 release cherry pick, swift 6.2

#82114 [6.2][Diagnostics] Correctly diagnose situations when immutable value is passed to `inout` parameter
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/overload.swift
Labels: 🍒 release cherry pick, swift 6.2

#82209 [6.2][TypeChecker] Remove `@_inheritActorContext` effect from synchronous types
  lib/Sema/TypeCheckAttr.cpp
  test/Concurrency/actor_isolation.swift
  test/Concurrency/predates_concurrency.swift
Labels: 🍒 release cherry pick, swift 6.2

#82219 [6.2][Concurrency] NonisolatedNonsendingByDefault: Migration applies only to the current module declarations
  lib/Sema/NonisolatedNonsendingByDefaultMigration.cpp
  test/Concurrency/attr_execution/migration_mode.swift
  test/Concurrency/attr_execution/migration_mode_with_interface.swift
Labels: 🍒 release cherry pick, swift 6.2

#82232 [IRGen] Don't use GOTPCREL relocations for x86 ELF.
  lib/IRGen/GenDecl.cpp
Labels: 🍒 release cherry pick, swift 6.2

#82217 [6.2] Disallow @_lifetime(borrow) for trivial 'inout' arguments
  include/swift/AST/DiagnosticsSema.def
  lib/AST/LifetimeDependence.cpp
  test/SIL/implicit_lifetime_dependence.swift
  test/SILOptimizer/lifetime_dependence/coroutine.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_inherit.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_scope_fixup.swift
  test/SILOptimizer/lifetime_dependence/semantics.swift
  test/Sema/lifetime_attr.swift
  test/Sema/lifetime_depend_infer.swift
  test/Sema/lifetime_depend_infer_lazy.swift
Labels: 🍒 release cherry pick, swift 6.2

#82239 [6.2] [Sema] Scale back CodingKeys hack in `TypeChecker::lookupUnqualifiedType`
  lib/Sema/TypeCheckNameLookup.cpp
  test/Sema/rdar153096639.swift
Labels: 🍒 release cherry pick, swift 6.2

#82203 [cxx-interop] Shared references are considered safe
  include/swift/ClangImporter/ClangImporterRequests.h
  include/swift/ClangImporter/ClangImporterTypeIDZone.def
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#82269 [6.2] LifetimeDependence type check: infer trivial _read accessor
  lib/AST/LifetimeDependence.cpp
  test/Sema/lifetime_depend_infer.swift
Labels: 🍒 release cherry pick, swift 6.2

#82299 [cxx-interop] Disable test with an older runtime
  test/Interop/Cxx/class/Inputs/simple-structs.h
  test/Interop/Cxx/class/print-simple-structs.swift
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/printed.h
  test/Interop/Cxx/foreign-reference/print-reference.swift
Labels: c++ interop

#82324 [6.2][Concurrency] SE-0449: Fix a few issues related to `nonisolated` type declarations
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/nonisolated_rules.swift
Labels: 🍒 release cherry pick, swift 6.2

#82241 [6.2][IRGen] Emit null check before swift_conformsToProtocol for nullable metatypes
  lib/IRGen/GenCast.cpp
  lib/IRGen/GenCast.h
  test/IRGen/casts.sil
Labels: 🍒 release cherry pick, swift 6.2

#82340 [6.2] [CS] Distinguish locators for generic args in `addSpecializationConstraint`
  lib/Sema/CSGen.cpp
  test/Macros/macro_explicit_generic_args.swift
  test/Sema/generic_specialization.swift
  validation-test/compiler_crashers_2_fixed/4e0ec9b1a746e17.swift
Labels: 🍒 release cherry pick, swift 6.2

#82309 [cxx-interop] Make usages of Swift Span `@_alwaysEmitIntoClient` in the overlay
  stdlib/public/Cxx/CxxSpan.swift
Labels: c++ interop

#82314 Remove FreeBSD from SWIFT_LIBSTDCXX_PLATFORMS as libc++ is the default standard library on FreeBSD
  cmake/modules/SwiftCXXUtils.cmake
Labels: FreeBSD

#82341 🍒[cxx-interop] Make usages of Swift Span `@_alwaysEmitIntoClient` in the overlay
  stdlib/public/Cxx/CxxSpan.swift
Labels: c++ interop

#82374 [6.2][CSSimplify] VariadicGenerics: Don't attempt to wrap optional into on…
  lib/Sema/CSSimplify.cpp
  test/Constraints/variadic_generic_constraints.swift
Labels: 🍒 release cherry pick, swift 6.2

#82376 Discover embedded tests when testing `wasmstdlib.py`
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: test suite, embedded, WebAssembly, WASI

#82364 presets: allow incremental rebuilds of stdlib for WASI
  utils/build-presets.ini
Labels: standard library, build-script, WebAssembly, WASI

#82366 Track Wasm-related `build-script` files in `CODEOWNERS`
  .github/CODEOWNERS
Labels: build-script, WebAssembly, WASI

#82305 [6.2][cxx-interop] Shared references are considered safe
  include/swift/ClangImporter/ClangImporterRequests.h
  include/swift/ClangImporter/ClangImporterTypeIDZone.def
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#82185 🍒 [cxx-interop] Support for printing C++ foreign references
  lib/IRGen/ClassMetadataVisitor.h
  lib/IRGen/GenMeta.cpp
  stdlib/public/core/DebuggerSupport.swift
  stdlib/public/core/Mirror.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/ReflectionMirror.swift
  test/Interop/Cxx/class/Inputs/mirror.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/simple-structs.h
  test/Interop/Cxx/class/mirror.swift
  test/Interop/Cxx/class/print-simple-structs.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#82413 [cxx-interop] Fix printing of namespaces declared in bridging headers
  lib/AST/ASTPrinter.cpp
  test/Interop/Cxx/namespace/Inputs/bridging-header.h
  test/Interop/Cxx/namespace/bridging-header-module-interface.swift
Labels: c++ interop

#82355 FreeBSD: Link C++ runtimes when Cxx interop is enabled
  lib/AST/ModuleDependencies.cpp
  lib/Driver/ToolChains.cpp
  lib/Frontend/CompilerInvocation.cpp
  test/Interop/Cxx/stdlib/avoid-import-cxx-math.swift
  test/Interop/Cxx/stdlib/overlay/custom-sequence.swift
  test/Interop/Cxx/stdlib/use-std-map.swift
Labels: c++ interop, FreeBSD

#82412 [AutoDiff] Use `LinkEntity::SecondaryPointer` for diff witness
  include/swift/IRGen/Linking.h
  lib/IRGen/IRGenModule.cpp
Labels: AutoDiff

#82352 [6.2][IRGen] Fix placeholder logic for emission of conditionally inverted protocols
  lib/IRGen/GenMeta.cpp
  validation-test/IRGen/rdar153681688.swift
Labels: 🍒 release cherry pick, swift 6.2

#82433 FreeBSD: Set sourcekitInProc rpaths
  tools/SourceKit/cmake/modules/AddSwiftSourceKit.cmake
Labels: FreeBSD

#80850 Fix building Wasm stdlib with macOS presets
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Labels: build-script, cmake, continuous integration, WebAssembly, WASI

#82419 🍒[cxx-interop] Disable test with an older runtime
  test/Interop/Cxx/class/Inputs/simple-structs.h
  test/Interop/Cxx/class/print-simple-structs.swift
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/printed.h
  test/Interop/Cxx/foreign-reference/print-reference.swift
Labels: c++ interop

#82420 🍒[cxx-interop] Fix printing of namespaces declared in bridging headers
  lib/AST/ASTPrinter.cpp
  test/Interop/Cxx/namespace/Inputs/bridging-header.h
  test/Interop/Cxx/namespace/bridging-header-module-interface.swift
Labels: c++ interop

#82459 [6.2][CSSimplify] Prevent `missing call` fix from recording fixes while ma…
  lib/Sema/CSSimplify.cpp
  test/Constraints/assignment.swift
Labels: 🍒 release cherry pick, swift 6.2

#82231 [IRGen] Don't use GOTPCREL relocations for x86 ELF.
  lib/IRGen/GenDecl.cpp
Labels: 🍒 release cherry pick, swift 6.1

#82407 [6.2] [nonescapable] remove '@_lifetime' requirement on implicit accessors
  lib/AST/LifetimeDependence.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyObjectCheckerUtils.cpp
  lib/SILOptimizer/SILCombiner/SILCombinerMiscVisitors.cpp
  test/SILOptimizer/lifetime_dependence/accessors.swift
  test/SILOptimizer/moveonly_objectchecker.sil
  test/SILOptimizer/sil_combine_apply.sil
Labels: 🍒 release cherry pick, swift 6.2

#82475 [6.2] Promote feature NonescapableAccessorOnTrivial to be non-experimental
  include/swift/Basic/Features.def
  test/ModuleInterface/lifetime_dependence_test.swift
Labels: 🍒 release cherry pick, swift 6.2

#82470 [6.2][Concurrency] Global actor isolated conformances are only allowed to …
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/nonisolated_rules.swift
Labels: 🍒 release cherry pick, swift 6.2

#82473 [6.2] Disable surprising lifetime inference of implicit initializers
  include/swift/AST/DiagnosticsSema.def
  lib/AST/LifetimeDependence.cpp
  test/Sema/lifetime_attr.swift
  test/Sema/lifetime_depend_infer.swift
Labels: 🍒 release cherry pick, swift 6.2

#82498 [6.2] [SourceKit] Print backticks if needed in `printDisplayName`
  include/swift/AST/Identifier.h
  lib/AST/Identifier.cpp
  test/SourceKit/DocumentStructure/Inputs/raw-identifiers.swift
  test/SourceKit/DocumentStructure/structure.swift
  test/SourceKit/DocumentStructure/structure.swift.empty.response
  test/SourceKit/DocumentStructure/structure.swift.foobar.response
  test/SourceKit/DocumentStructure/structure.swift.invalid.response
  test/SourceKit/DocumentStructure/structure.swift.placeholders.response
  test/SourceKit/DocumentStructure/structure.swift.raw-identifiers.swift.response
  test/SourceKit/DocumentStructure/structure.swift.response
  tools/SourceKit/lib/SwiftLang/SwiftLangSupport.cpp
Labels: 🍒 release cherry pick, swift 6.2

#82511 [6.2] Fix diagnostics for missing or invalid @_lifetime annotations on inout params
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  lib/AST/LifetimeDependence.cpp
  lib/Parse/ParseDecl.cpp
  test/Parse/lifetime_attr.swift
  test/Sema/lifetime_attr_nofeature.swift
  test/Sema/lifetime_depend_infer.swift
Labels: 🍒 release cherry pick, swift 6.2

#82566 [cxx-interop] Test import-as-member for inline functions
  test/Interop/Cxx/namespace/Inputs/import-as-member.h
  test/Interop/Cxx/namespace/import-as-member-module-interface.swift
  test/Interop/Cxx/namespace/import-as-member.swift
Labels: c++ interop

#82587 [stdlib, 6.2] Handle String's 32-bit inline representation for Span
  stdlib/public/core/SmallString.swift
  stdlib/public/core/StringUTF8View.swift
  stdlib/public/core/Substring.swift
  stdlib/public/core/UTF8Span.swift
  test/stdlib/Span/BridgedStringUTF8ViewSpanTests.swift
  test/stdlib/Span/StringUTF8SpanProperty.swift
  test/stdlib/StringDeconstruction.swift
Labels: 32 bit only, 🍒 release cherry pick, swift 6.2

#82570 [6.2] [IDE] Avoid macro expansions in `getEquivalentDeclContextFromSourceFile`
  lib/IDETool/IDEInspectionInstance.cpp
  lib/Parse/Parser.cpp
Labels: 🍒 release cherry pick, swift 6.2

#82560 [6.2] ClosureSpecializer: don't specialize captures of stack-allocated Objective-C blocks
  lib/SILOptimizer/IPO/ClosureSpecializer.cpp
  test/SILOptimizer/closure_specialize_block.swift
Labels: swift 6.2

#82603 [6.2] Fix LocalVariableUtils switch_enum_addr.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LocalVariableUtils.swift
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
  test/SILOptimizer/lifetime_dependence/verify_diagnostics.swift
Labels: 🍒 release cherry pick, swift 6.2
