Repository swiftlang/swift, pull requests merged in 2025-05, with the labels that each got.

#81183 [6.2 🍒][Dependency Scanning] Add a field of source-imported dependencies
  include/swift-c/DependencyScan/DependencyScan.h
  include/swift/DependencyScan/DependencyScanImpl.h
  lib/DependencyScan/DependencyScanJSON.cpp
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/DependencyScan/ScanDependencies.cpp
  lib/Tooling/libSwiftScan/libSwiftScan.cpp
  lib/Tooling/libSwiftScan/libSwiftScan.exports
  test/ModuleInterface/clang-args-transitive-availability.swift
  test/ModuleInterface/clang-session-transitive.swift
  test/ModuleInterface/extension-transitive-availability.swift
  test/ScanDependencies/binary_framework_dependency.swift
  test/ScanDependencies/source_imports_only.swift
Labels: 🍒 release cherry pick, swift 6.2

#81208 [6.2] Fix LifetimeDependenceScopeFixup: extend scopes enclosing coroutines
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceScopeFixup.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_scope_fixup.swift
  test/SILOptimizer/lifetime_dependence/scope_fixup.sil
Labels: 🍒 release cherry pick, swift 6.2

#81223 [6.2] Fix LifetimeDependenceInsertion: handle boxed indirect out arguments
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  test/ModuleInterface/Inputs/lifetime_dependence.swift
  test/SILOptimizer/lifetime_dependence/dependence_insertion.sil
Labels: 🍒 release cherry pick, swift 6.2

#81188 [cxx-interop] Avoid unchecked recursion when importing C++ classes with circular inheritance
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/TypeCheckInvertible.cpp
  test/Interop/Cxx/class/inheritance/Inputs/circular-inheritance.h
  test/Interop/Cxx/class/inheritance/Inputs/module.modulemap
  test/Interop/Cxx/class/inheritance/circular-inheritance-typechecker.swift
Labels: c++ interop

#81201 [Concurrency] Fix issue with using Dispatch queues as executors.
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorBridge.cpp
  stdlib/public/Concurrency/ExecutorBridge.swift
  stdlib/public/Concurrency/Task.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81230 [6.2][Concurrency] Fix ptr auth for task priority escalation handler
  include/swift/ABI/MetadataValues.h
  stdlib/public/Concurrency/Task.cpp
Labels: concurrency, 🍒 release cherry pick, swift 6.2

#81237 [6.2][Concurrency] Account for explicit `@concurrent` on closures
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/attr_execution/conversions_silgen.swift
Labels: 🍒 release cherry pick, swift 6.2

#81247 [6.2] LifetimeDependenceDefUseAddressWalker: avoid infinite recursion.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/LifetimeDependenceInsertion.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/LifetimeDependenceUtils.swift
Labels: 🍒 release cherry pick, swift 6.2

#81238 [6.2][Concurrency] SE-0461: Allow `nonisolated(nonsending)` inference on properties…
  lib/Sema/TypeCheckConcurrency.cpp
  test/SILGen/nonisolated_inherits_isolation.swift
Labels: 🍒 release cherry pick, swift 6.2

#81093 [cxx-interop] Introduce type-level annotations to specify default ownership convention for C++ foreign reference return values
  include/swift/ClangImporter/ClangImporter.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftBridging/swift/bridging
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#80795 [Concurrency] Remove -executor-factory option and replace with magic type.
  include/swift/AST/DiagnosticsSIL.def
  include/swift/Basic/LangOptions.h
  include/swift/Option/Options.td
  lib/Driver/ToolChains.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenFunction.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/custom_main_executor.swift
Labels: 🍒 release cherry pick, swift 6.2

#81196 [Concurrency] Fix copy-paste error.
  stdlib/public/Concurrency/DispatchGlobalExecutor.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81146 [6.2 🍒] Modify clang declaration weakly-imported query to use Swift's code-gen target triple
  lib/AST/Decl.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/SIL/IR/SILFunction.cpp
  test/SILGen/clang-target-weak-import.swift
Labels: 🍒 release cherry pick, swift 6.2

#81283 [6.2 🍒]: Add platform executor module for FreeBSD
  Runtimes/Core/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/PlatformExecutorFreeBSD.swift
Labels: 🍒 release cherry pick, swift 6.2

#81271 [6.2] Fix LifetimeDependence type inference for setters.
  lib/AST/LifetimeDependence.cpp
  test/SILOptimizer/lifetime_dependence/Inputs/lifetime_depend_diagnose.swiftinterface
Labels: 🍒 release cherry pick, swift 6.2

#81294 [6.2 🍒][Dependency Scanning] Always use a locking diagnostic consumer
  include/swift/DependencyScan/DependencyScanningTool.h
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/Tooling/libSwiftScan/libSwiftScan.cpp
Labels: 🍒 release cherry pick, swift 6.2

#80547 [stdlib] Allow a default for optional interpolations
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/MiscDiagnostics.cpp
  stdlib/public/core/StringInterpolation.swift
  test/Constraints/diag_ambiguities.swift
  test/IDE/complete_at_top_level.swift
  test/IDE/complete_expr_postfix_begin.swift
  test/IDE/complete_sself.swift
  test/IDE/complete_value_expr.swift
  test/Sema/diag_unintended_optional_behavior.swift
  test/stdlib/PrintString.swift
Labels: swift evolution approved, standard library

#81329 [cxx-interop] Remove SWIFT_RETURNED_AS_RETAINED_BY_DEFAULT annotation
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftBridging/swift/bridging
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes-error.swift
  test/Interop/Cxx/foreign-reference/frt-retained-unretained-attributes.swift
Labels: c++ interop

#81337 [6.2 🍒][Dependency Scanning] Emit a detailed error diagnostic on Clang module variant discovery
  include/swift/AST/DiagnosticsFrontend.def
  include/swift/AST/ModuleDependencies.h
  lib/AST/ASTContext.cpp
  lib/AST/ModuleDependencies.cpp
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81356 [6.2][CSFix] SE-0470: Warn about missing `@Sendable` for unapplied static …
  lib/Sema/CSFix.cpp
  test/Concurrency/sendable_metatype_typecheck.swift
Labels: 🍒 release cherry pick, swift 6.2

#81276 [gardening]: update macos architecture wording in README build state matrix
  README.md
Labels: documentation, continuous integration

#81225 [6.2, stdlib] make _overrideLifetime() functions public
  stdlib/public/core/LifetimeManager.swift
  test/ModuleInterface/Inputs/lifetime_dependence.swift
  test/SIL/explicit_lifetime_dependence_specifiers.swift
  test/SIL/implicit_lifetime_dependence.swift
  test/SIL/lifetime_dependence_span_lifetime_attr.swift
  test/SILOptimizer/Inputs/SpanExtras.swift
  test/SILOptimizer/addressable_dependencies.swift
  test/SILOptimizer/lifetime_dependence/dependence_insertion.swift
  test/SILOptimizer/lifetime_dependence/lifetime_dependence_mutate.swift
  test/SILOptimizer/lifetime_dependence/semantics.swift
Labels: 🍒 release cherry pick, swift 6.2

#81165 6.2: CMake: add explicit dependency to `_Builtin_float` to targets...
  stdlib/private/OSLog/CMakeLists.txt
  stdlib/private/StdlibUnittest/CMakeLists.txt
  stdlib/private/SwiftPrivate/CMakeLists.txt
  stdlib/private/SwiftPrivateLibcExtras/CMakeLists.txt
  stdlib/private/SwiftPrivateThreadExtras/CMakeLists.txt
  stdlib/private/SwiftReflectionTest/CMakeLists.txt
  stdlib/public/Distributed/CMakeLists.txt
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/libexec/swift-backtrace/CMakeLists.txt
Labels: swift 6.2

#81371 Add llvm embedded tools to toolchains
  utils/build-presets.ini
Labels: embedded

#81160 Add `typing` to `update_checkout.py`
  utils/update_checkout/update_checkout/update_checkout.py
Labels: python, update-checkout

#81387 [wasm] Remove workaround for wasi-libc's check-symbols target
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Labels: build-script, WebAssembly, WASI

#81381 [6.2][IRGen] Emit llvm fneg operation for Builtin.fneg_*
  lib/IRGen/GenBuiltin.cpp
  test/IRGen/builtins.swift
Labels: 🍒 release cherry pick, swift 6.2

#81393 🌸 More `@abi` checking + Finish implementing `@abi` (SE-0476)
  include/swift/AST/Attr.h
  include/swift/AST/DeclAttr.def
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Basic/Features.def
  include/swift/Basic/LangOptions.h
  include/swift/Option/Options.td
  lib/AST/ASTPrinter.cpp
  lib/AST/Attr.cpp
  lib/AST/FeatureSet.cpp
  lib/AST/NameLookup.cpp
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/Frontend/CompilerInvocation.cpp
  lib/Parse/ParseDecl.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckAttrABI.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckMacros.cpp
  lib/Sema/TypeCheckPropertyWrapper.cpp
  lib/Sema/TypeCheckStorage.cpp
  test/ASTGen/attrs.swift
  test/IDE/complete_decl_attribute.swift
  test/IDE/complete_decl_attribute_feature_requirement.swift
  test/IRGen/asmname.swift
  test/Macros/macro_expand.swift
  test/Macros/macro_expand_peers.swift
  test/ModuleInterface/attrs.swift
  test/ModuleInterface/attrs_objc.swift
  test/attr/attr_abi.swift
  test/attr/attr_abi_objc.swift
  test/attr/attr_weaklinked.swift
  test/attr/feature_requirement.swift
Labels: 🍒 release cherry pick, swift 6.2

#81411 [cxx-interop] Disabling should be annotated with SWIFT_RETURNS_(UN)RETAINED warning
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/cxx-functions-and-methods-returning-frt.h
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/objc-correctness/Inputs/cxx-frt.h
Labels: c++ interop

#81417 [6.2] [Frontend] Avoid storing StringRef values in `ModuleAliasMap`
  include/swift/AST/ASTContext.h
  include/swift/Frontend/FrontendOptions.h
  lib/AST/ASTContext.cpp
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
  test/SourceKit/Misc/rdar148130166.swift
Labels: 🍒 release cherry pick, swift 6.2

#81178 Copy WasmKit to `host_install_destdir`
  utils/build-presets.ini
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/wasmkit.py
Labels: WebAssembly, WASI

#81326 [Concurrency] Make initial executor construction fully thread safe.
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/ExecutorBridge.cpp
  stdlib/public/Concurrency/ExecutorBridge.h
  stdlib/public/Concurrency/ExecutorBridge.swift
Labels: 🍒 release cherry pick, swift 6.2

#81415 [Dependency Scanning][C++Interop] Do not query `CxxStdlib` Swift overlay for textual modules which were not built with c++interop
  include/swift/AST/ModuleDependencies.h
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/no-cxx-overlay-for-non-interop-interface.swift
Labels: c++ interop

#81408 [cxx-interop] Do not install binary `.swiftmodule` files for the overlays
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#81442 NFC: Fix comment typos in `Type.swift`
  SwiftCompilerSources/Sources/AST/Type.swift
Labels: nfc, comments, typo

#81410 🍒[cxx-interop] Do not install binary `.swiftmodule` files for the overlays
  stdlib/cmake/modules/SwiftSource.cmake
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
Labels: c++ interop

#81452 [6.2 🍒][Dependency Scanning][Refactor] Reduce the number of ClangImporter instances used by the scanner
  include/swift/AST/ModuleLoader.h
  include/swift/ClangImporter/ClangImporter.h
  include/swift/DependencyScan/ModuleDependencyScanner.h
  include/swift/Sema/SourceLoader.h
  include/swift/Serialization/ScanningLoaders.h
  include/swift/Serialization/SerializedModuleLoader.h
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/Frontend/Frontend.cpp
  lib/Sema/SourceLoader.cpp
  lib/Serialization/ScanningLoaders.cpp
  test/ScanDependencies/clang_scan_error.swift
Labels: 🍒 release cherry pick, swift 6.2

#81453 [6.2][CSApply] Don't attempt to mark autoclosures as non-implicit
  lib/Sema/CSApply.cpp
  test/Concurrency/attr_execution/adoption_mode.swift
Labels: 🍒 release cherry pick, swift 6.2

#81335 [Concurrency] Don't pass negative times to the Dispatch code.
  stdlib/public/Concurrency/DispatchExecutor.swift
  test/Concurrency/Runtime/async_task_sleep.swift
Labels: 🍒 release cherry pick, swift 6.2

#81401 preset: treat swift testing the same as xctest
  utils/build-presets.ini
Labels: build-script, bootstrapping

#81486 [6.2] [Parse] Avoid parsing `unsafe` expression before binary or postfix op
  lib/Parse/ParseExpr.cpp
  test/Unsafe/safe.swift
Labels: 🍒 release cherry pick, swift 6.2

#81484 [6.2, cmake] LifetimeDependenceMutableAccessors should be enabled
  Runtimes/Core/cmake/modules/ExperimentalFeatures.cmake
Labels: 🍒 release cherry pick, swift 6.2

#81504 6.2: Copy WasmKit to `host_install_destdir`
  utils/build-presets.ini
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/wasmkit.py
Labels: build-script, WebAssembly, WASI, swift 6.2

#81488 [6.2][stdlib] SE-0472: Rename Task and*TaskGroup APIs to match the proposal
  Runtimes/Core/Concurrency/CMakeLists.txt
  include/swift/ABI/Executor.h
  include/swift/ABI/MetadataValues.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/Task+immediate.swift.gyb
  stdlib/public/Concurrency/Task.swift
  test/Concurrency/Runtime/startImmediately.swift
  test/Concurrency/Runtime/startImmediately_order.swift
  test/Concurrency/startImmediatelyIsolation.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
  unittests/runtime/CompatibilityOverrideConcurrency.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81284 [presets] Escalate C++ "unused" warnings in macOS smoke test
  utils/build-presets.ini
Labels: contributor experience

#81416 [6.2 🍒][Dependency Scanning][C++Interop] Do not query `CxxStdlib` Swift overlay for textual modules which were not built with c++interop
  include/swift/AST/ModuleDependencies.h
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/no-cxx-overlay-for-non-interop-interface.swift
Labels: 🍒 release cherry pick, swift 6.2

#81531 [6.2][IRGen] Don't set HasLayoutString flag on non-copyable generic types
  lib/IRGen/GenMeta.cpp
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/Interpreter/layout_string_witnesses_dynamic.swift
Labels: 🍒 release cherry pick, swift 6.2

#81554 [6.2] [Sema] Continue type-checking `for` body when preamble fails
  lib/Sema/TypeCheckStmt.cpp
  test/Parse/recovery.swift
  test/stmt/c_style_for.swift
  test/stmt/foreach.swift
Labels: 🍒 release cherry pick, swift 6.2

#81559 [6.2] [Driver] Avoid using response files for SourceKit
  lib/Driver/ToolChain.cpp
  test/SourceKit/Misc/rdar98880399.swift
Labels: 🍒 release cherry pick, swift 6.2

#81577 [6.2][Concurrency] Diagnose loss of global actor isolation in async functi…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/attr_execution/conversions.swift
  test/Concurrency/attr_execution/conversions_silgen.swift
  test/Concurrency/global_actor_function_types_swift6.swift
Labels: 🍒 release cherry pick, swift 6.2

#81609 [cxx-interop] Temporarily disable a test for `std::function` on UBI 9
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#81613 [6.2] Frontend: Suppress some unsupported option warnings when verifying interfaces
  lib/Frontend/CompilerInvocation.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/core/EmbeddedRuntime.swift
  stdlib/toolchain/CompatibilitySpan/FakeStdlib.swift
  test/SILGen/package_allow_non_resilient_access.swift
Labels: 🍒 release cherry pick, swift 6.2

#81641 [6.2][Concurrency] Infer `@preconcurrency @MainActor` in default main acto…
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/assume_mainactor_typechecker_errors.swift
Labels: 🍒 release cherry pick, swift 6.2

#81614 [cxx-interop] Relax a SILVerifier assertion for immortal reference types
  lib/SIL/Verifier/SILVerifier.cpp
  test/Interop/Cxx/foreign-reference/unmanaged.swift
Labels: c++ interop

#81669 [AutoDiff] Better diagnose non-differentiability for throwing functions
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/SILOptimizer/differentiation_diagnostics.swift
Labels: AutoDiff

#81035 [cxx-interop] Fix metadata mismatch regarding fields of structs
  lib/IRGen/Field.h
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/StructLayout.cpp
  lib/IRGen/StructMetadataVisitor.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/simple-structs.h
  test/Interop/Cxx/class/for-each-field.swift
  test/Interop/Cxx/class/print-simple-structs.swift
  test/Interop/Cxx/stdlib/Inputs/std-string-and-vector.h
  test/Interop/Cxx/stdlib/Inputs/std-unique-ptr.h
  test/Interop/Cxx/stdlib/print-stdlib-types.swift
Labels: c++ interop

#81657 [6.2] Allow passing MutableSpan 'inout' without an experimental feature.
  lib/AST/Evaluator.cpp
  lib/AST/LifetimeDependence.cpp
  test/Sema/lifetime_depend_infer.swift
  test/Sema/lifetime_depend_nofeature.swift
  test/decl/protocol/protocols.swift
Labels: 🍒 release cherry pick, swift 6.2

#81674 🍒[cxx-interop] Relax a SILVerifier assertion for immortal reference types
  lib/SIL/Verifier/SILVerifier.cpp
  test/Interop/Cxx/foreign-reference/unmanaged.swift
Labels: c++ interop

#81651 [Dependency Scanning][C++ Interop] Remap lookup of Clang module `CxxStdlib` to `std`
  include/swift/AST/ModuleDependencies.h
  include/swift/DependencyScan/ModuleDependencyScanner.h
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/cxx-overlay-underlying-module-lookup.swift
Labels: c++ interop

#81676 [AutoDiff] Correct propagate adjoints for array literal values
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  test/AutoDiff/compiler_crashers_fixed/issue-81607-array-literal-adjoint.swift
Labels: AutoDiff

#81704 [cxx-interop] Remove remnants of symbolic import mode
  test/Interop/Cxx/class/inheritance/circular-inheritance-typechecker.swift
Labels: c++ interop

#81682 [6.2 🍒][Dependency Scanning][C++ Interop] Remap lookup of Clang module `CxxStdlib` to `std`
  include/swift/AST/ModuleDependencies.h
  include/swift/DependencyScan/ModuleDependencyScanner.h
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  test/ScanDependencies/cxx-overlay-underlying-module-lookup.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#81645 [6.2][Sema/stdlib] SE-0472: implement `@_inheritActorContext(always)` and adopt it in `Task.immediate` APIs
  docs/ReferenceGuides/UnderscoredAttributes.md
  include/swift/AST/ASTBridging.h
  include/swift/AST/Attr.h
  include/swift/AST/AttrKind.h
  include/swift/AST/DeclAttr.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/Expr.h
  include/swift/AST/KnownIdentifiers.def
  include/swift/AST/Types.h
  include/swift/Basic/Features.def
  include/swift/Parse/IDEInspectionCallbacks.h
  lib/AST/ASTDumper.cpp
  lib/AST/Attr.cpp
  lib/AST/Bridging/DeclAttributeBridging.cpp
  lib/AST/FeatureSet.cpp
  lib/AST/Type.cpp
  lib/ASTGen/Sources/ASTGen/DeclAttrs.swift
  lib/IDE/CompletionLookup.cpp
  lib/Parse/ParseDecl.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  stdlib/public/Concurrency/Task+immediate.swift.gyb
  test/ASTGen/attrs.swift
  test/Concurrency/Runtime/startImmediately.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/startImmediatelyIsolation.swift
  test/Concurrency/transfernonsendable_closureliterals_isolationinference.swift
  test/ModuleInterface/inheritActorContext_attr.swift
  test/SILGen/hop_to_executor.swift
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/attr/attr_abi.swift
  test/attr/attr_inheritActorContext.swift
Labels: 🍒 release cherry pick, swift 6.2

#81718 [6.2][CSApply] Don't inject global actor into closure type if it's marked …
  lib/Sema/CSApply.cpp
  test/Concurrency/attr_execution/conversions_silgen.swift
Labels: 🍒 release cherry pick, swift 6.2

#81737 [6.2][TypeChecker] Improve diagnostics for access to actor-isolated values…
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckEffects.cpp
  test/Concurrency/actor_call_implicitly_async.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/concurrent_value_checking.swift
  test/Concurrency/global_actor_from_ordinary_context.swift
  test/Concurrency/global_actor_inference.swift
  test/Concurrency/import_nsnotificationname_constants_as_nonisolated.swift
  test/Concurrency/isolated_default_arguments.swift
  test/Concurrency/isolated_parameters.swift
  test/Concurrency/predates_concurrency.swift
  test/Concurrency/predates_concurrency_swift6.swift
  test/Concurrency/sendable_checking.swift
  test/Concurrency/toplevel/async-5-top-level.swift
  test/Concurrency/toplevel/async-6-top-level.swift
  test/Concurrency/toplevel/no-async-6-top-level.swift
  test/Concurrency/toplevel/synchronous_mainactor.swift
  test/Distributed/distributed_actor_func_implicitly_async_throws.swift
  test/Distributed/distributed_actor_isolation_and_tasks.swift
  test/Distributed/distributed_property_must_be_throws.swift
  test/Serialization/isolated-params.swift
  validation-test/Sema/SwiftUI/rdar76252310.swift
Labels: 🍒 release cherry pick, swift 6.2

#81742 [cxx-interop] Ensure consistent checks for exportable fields
  lib/IRGen/StructMetadataVisitor.h
Labels: c++ interop

#81735 [6.2] DeadStoreElimination: don't assume that the operand of an `dealloc_stack` is an `alloc_stack`.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/DeadStoreElimination.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
Labels: 🍒 release cherry pick, swift 6.2

#81708 🍒[cxx-interop] Temporarily disable a test for `std::function` on UBI 9
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#81740 🍒[cxx-interop] Fix metadata mismatch regarding fields of structs
  lib/IRGen/Field.h
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/StructLayout.cpp
  lib/IRGen/StructMetadataVisitor.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/simple-structs.h
  test/Interop/Cxx/class/for-each-field.swift
  test/Interop/Cxx/class/print-simple-structs.swift
  test/Interop/Cxx/stdlib/Inputs/std-string-and-vector.h
  test/Interop/Cxx/stdlib/Inputs/std-unique-ptr.h
  test/Interop/Cxx/stdlib/print-stdlib-types.swift
Labels: c++ interop

#81820 [6.2][Concurrent] Restore old symbol for obsoleted `Task.startSynchronously`
  stdlib/public/Concurrency/Task+immediate.swift.gyb
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/x86_64/concurrency.swift
Labels: concurrency, 🍒 release cherry pick, swift 6.2

#81845 [6.2] [SourceKit] Properly handle cursor info range for macro expansions
  include/swift/AST/Module.h
  lib/AST/Module.cpp
  test/SourceKit/Macros/expansion_decl_cursor_info.swift
  tools/SourceKit/lib/SwiftLang/SwiftSourceDocInfo.cpp
Labels: 🍒 release cherry pick, swift 6.2

#81848 [6.2][Dependency Scanning] Add `ClangImporter`'s mandatory path remaps to dependency scanning query filesystem
  include/swift/AST/ModuleDependencies.h
  include/swift/ClangImporter/ClangImporter.h
  lib/AST/ModuleDependencies.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  test/ScanDependencies/cxx-overlay-underlying-module-lookup.swift
Labels: 🍒 release cherry pick, swift 6.2

#81844 [cxx-interop] Do not crash when emitting layout of `std::string`
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/Inputs/member-variables.h
  test/Interop/Cxx/class/zero-sized-field.swift
Labels: c++ interop

#81871 [6.2, stdlib] fix an extraneous symbol exported by MutableSpan
  stdlib/public/core/Span/MutableSpan.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: 🍒 release cherry pick, swift 6.2

#81864 [AutoDiff] Define derivative for concrete SIMD.init(repeating:)
  lib/SIL/IR/Linker.cpp
  stdlib/public/Differentiation/SIMDDifferentiation.swift.gyb
  stdlib/public/core/SIMDFloatConcreteOperations.swift.gyb
  test/stdlib/SIMDFloatInitializers.swift.gyb
Labels: AutoDiff

#81877 [6.2] Change InlineArray sugar separator `x` -> `of`
  include/swift/AST/PrintOptions.h
  include/swift/AST/TypeRepr.h
  include/swift/AST/Types.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/TypeRepr.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Parse/ParseType.cpp
  lib/Sema/TypeCheckType.cpp
  test/ASTGen/types.swift
  test/DebugInfo/sugar_inline_array.swift
  test/IDE/complete_inline_array.swift
  test/Sema/inline_array_availability.swift
  test/Sema/inlinearray.swift
  test/Serialization/value_generics.swift
  test/type/inline_array.swift
  test/type/inline_array_disabled.swift
Labels: 🍒 release cherry pick, swift 6.2
