Repository swiftlang/swift, pull requests merged in 2025-09, with the labels that each got.

#84040 [cxx-interop] Do not consider function types fragile
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-evolving-libraries.swift
Labels: c++ interop

#84085 [cxx-interop] Test initializing foreign reference type when passed by parameter
  test/Interop/Cxx/foreign-reference/Inputs/pass-as-parameter.h
  test/Interop/Cxx/foreign-reference/pass-as-parameter-module-interface.swift
  test/Interop/Cxx/foreign-reference/pass-as-parameter.swift
Labels: c++ interop

#84077 [6.2][cxx-interop] Fix passing optional CoreFoundation types from Swift to C++
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#84078 [6.2][cxx-interop] Handle vector types in escapability analysis
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/safe-interop-mode-darwin.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#84076 [6.2][cxx-interop] Properly support OS objects in reverse interop
  lib/PrintAsClang/ClangSyntaxPrinter.cpp
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/PrintClangValueType.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#84007 [6.2][IRGen] Fix computation of spare bits for fixed arrays
  lib/IRGen/GenArray.cpp
  test/IRGen/inline_array_enum_tags.swift
  test/Interpreter/inline_array_enum_tags.swift
Labels: 🍒 release cherry pick, swift 6.2

#84008 [6.2.1][IRGen] Fix computation of spare bits for fixed arrays
  lib/IRGen/GenArray.cpp
  test/IRGen/inline_array_enum_tags.swift
  test/Interpreter/inline_array_enum_tags.swift
Labels: 🍒 release cherry pick, swift 6.2

#84121 [cxx-interop] Check if copy constructor is eligible
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/noncopyable-typechecker.swift
Labels: c++ interop

#84090 🍒[cxx-interop] Pass foreign reference types with correct level of indirection
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenClangType.cpp
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/Inputs/pass-as-parameter.h
  test/Interop/Cxx/foreign-reference/pass-as-parameter-irgen.swift
  test/Interop/Cxx/foreign-reference/pass-as-parameter-module-interface.swift
  test/Interop/Cxx/foreign-reference/pass-as-parameter.swift
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#84152 [cxx-interop] Make the size of anonymous types metadata is unchanged
  lib/IRGen/GenMeta.cpp
Labels: c++ interop

#84153 🍒 [windows] update to the 6.1.2 toolchain in build.ps1
  utils/build.ps1
Labels: Windows

#84156 🍒 [update-checkout] add a check for locked repositories
  utils/update_checkout/tests/scheme_mock.py
  utils/update_checkout/tests/test_locked_repository.py
  utils/update_checkout/update_checkout/update_checkout.py
Labels: update-checkout

#84169 [demangling] make printRoot virtual
  include/swift/Demangling/Demangle.h
Labels: demangling

#78794 Support differentiation of wrapped value modify accessors
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/IRGenModule.h
  lib/IRGen/IRGenSIL.cpp
  lib/SILOptimizer/Differentiation/Common.cpp
  lib/SILOptimizer/Differentiation/PullbackCloner.cpp
  lib/SILOptimizer/Differentiation/VJPCloner.cpp
  stdlib/private/DifferentiationUnittest/DifferentiationUnittest.swift.gyb
  test/AutoDiff/SILOptimizer/differentiation_diagnostics.swift
  test/AutoDiff/validation-test/property_wrappers.swift
Labels: AutoDiff

#84175 [windows][lldb] deactivate DebugInfo/basic.swift while it's being fixed
  test/DebugInfo/basic.swift
Labels: Windows, lldb

#84103 [cxx-interop] Avoid trying to instantiate copy constructor of `std::optional<NonCopyable>`
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/Inputs/std-optional.h
  test/Interop/Cxx/stdlib/use-std-optional.swift
Labels: c++ interop

#84203 [cxx-interop] Handle Unowned values in implicit value ctors
  lib/SILGen/SILGenConstructor.cpp
  test/Interop/Cxx/foreign-reference/Inputs/logging-frts.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/frts-as-fields.swift
Labels: c++ interop

#81342 6.2: Bump WasmKit in `update-checkout-config.json` to 0.1.6
  utils/update_checkout/update-checkout-config.json
Labels: update-checkout

#84237 [cxx-interop] Refactor copyability out of CxxRecordSemantics
  include/swift/ClangImporter/ClangImporterRequests.h
  include/swift/ClangImporter/ClangImporterTypeIDZone.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
Labels: c++ interop

#84359 [Embedded] Enable Embedded Swift restrictions diagnostics (as warnings) in embedded builds
  lib/Frontend/CompilerInvocation.cpp
  stdlib/public/core/Array.swift
  stdlib/public/core/ArrayBufferProtocol.swift
  stdlib/public/core/Collection.swift
  stdlib/public/core/ExistentialCollection.swift
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/Sequence.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
  test/embedded/restrictions.swift
Labels: embedded

#84321 [cxx-interop] Fix over-releasing reference members of trival C++ types
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/foreign-reference/Inputs/logging-frts.h
  test/Interop/Cxx/foreign-reference/frts-as-fields.swift
Labels: c++ interop

#84340 [cxx-interop] Import STL types as copyable, conditionally
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/noncopyable-typechecker.swift
  test/Interop/Cxx/stdlib/Inputs/std-map.h
  test/Interop/Cxx/stdlib/Inputs/std-set.h
  test/Interop/Cxx/stdlib/Inputs/std-unique-ptr.h
  test/Interop/Cxx/stdlib/Inputs/std-vector.h
  test/Interop/Cxx/stdlib/use-std-map-typechecker.swift
  test/Interop/Cxx/stdlib/use-std-optional-typechecker.swift
  test/Interop/Cxx/stdlib/use-std-set-typechecker.swift
  test/Interop/Cxx/stdlib/use-std-unique-ptr-typechecker.swift
  test/Interop/Cxx/stdlib/use-std-vector-typechecker.swift
Labels: c++ interop

#84343 [cxx-interop] Allow retain/release operations to be methods
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/IRGen/GenObjC.cpp
  test/Interop/Cxx/foreign-reference/Inputs/lifetime-operation-methods.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/lifetime-operation-methods-module-interface.swift
  test/Interop/Cxx/foreign-reference/lifetime-operation-methods-typechecker.swift
  test/Interop/Cxx/foreign-reference/lifetime-operation-methods.swift
Labels: c++ interop

#84434 [6.2][wasm] Fix `@_expose(wasm)` serialization crash
  lib/Serialization/ModuleFormat.h
  test/Serialization/attr-expose.swift
Labels: 🍒 release cherry pick

#84515 [cxx-interop] Fix lifetime-operation-methods.swift
  test/Interop/Cxx/foreign-reference/Inputs/lifetime-operation-methods.h
  test/Interop/Cxx/foreign-reference/lifetime-operation-methods.swift
Labels: c++ interop

#84520 [cxx-interop] Emit diagnostic to mark C++ type as non-copyable
  include/swift/AST/DiagnosticsIRGen.def
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/noncopyable-irgen.swift
Labels: c++ interop

#84186 [cxx-interop] Fix crash when importing C++ forward-declared template specializations in typedefs
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/templates/Inputs/ForwardDeclaredSpecialization.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/forward-declared-specialization.swift
Labels: c++ interop
