Repository swiftlang/swift, pull requests merged in 2025-01, with the labels that each got.

#78353 [cxx-interop] NFC: Fix a warning
  stdlib/public/Cxx/CxxDictionary.swift
Labels: c++ interop

#78352 [cxx-interop] Estend _SwiftifyImport with basic std::span support
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  stdlib/public/core/SwiftifyImport.swift
  test/Macros/SwiftifyImport/CxxSpan/NoEscapeSpan.swift
Labels: c++ interop

#78387 [cxx-interop] Use fully-qualified type names of C++ template parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
  test/Interop/Cxx/templates/Inputs/class-template-in-namespace.h
  test/Interop/Cxx/templates/Inputs/member-templates.h
  test/Interop/Cxx/templates/class-template-in-namespace-module-interface.swift
  test/Interop/Cxx/templates/class-template-in-namespace-typechecker.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILGen/opaque_values_cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#78333 [6.1][Embedded] Do not produce `cannot_specialize_class` for live issues
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/GenericSpecialization.swift
  include/swift/AST/SILOptions.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/OptimizerBridgingImpl.h
  lib/SILOptimizer/Mandatory/PerformanceDiagnostics.cpp
  test/SourceKit/Diagnostics/embedded_non_wmo.swift
  tools/SourceKit/lib/SwiftLang/SwiftASTManager.cpp
Labels: 🍒 release cherry pick, swift 6.1

#78458 [cxx-interop] Diagnose ObjC APIs returning SWIFT_SHARED_REFERENCE types
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/Inputs/cxx-frt.h
  test/Interop/Cxx/objc-correctness/objc-returning-cxx-frt-diagnostics.swift
Labels: c++ interop

#78451 [6.1][IRGen] Fix SignatureExpansion::expandAsyncReturnType()
  lib/IRGen/GenCall.cpp
  test/IRGen/typed_throws.swift
Labels: 🍒 release cherry pick, swift 6.1

#78422 [cxx-interop] Generate safe overloads for non-escapable spans
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
  test/Macros/SwiftifyImport/CxxSpan/NoEscapeSpan.swift
Labels: c++ interop

#78515 [cxx-interop] Consider std::string safe
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#78420 🍒[cxx-interop] Use fully-qualified type names of C++ template parameters
  lib/ClangImporter/ClangClassTemplateNamePrinter.cpp
  test/Interop/Cxx/objc-correctness/init-String-with-NSString-utf8String.swift
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libstdcxx-module-interface.swift
  test/Interop/Cxx/stdlib/msvcprt-module-interface.swift
  test/Interop/Cxx/stdlib/use-cxxstdlib-types-in-module-interface.swift
  test/Interop/Cxx/templates/Inputs/class-template-in-namespace.h
  test/Interop/Cxx/templates/Inputs/member-templates.h
  test/Interop/Cxx/templates/class-template-in-namespace-module-interface.swift
  test/Interop/Cxx/templates/class-template-in-namespace-typechecker.swift
  test/Interop/Cxx/templates/large-class-templates-module-interface.swift
  test/Interop/Cxx/templates/member-templates-module-interface.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/SILGen/opaque_values_cxx.swift
  test/SourceKit/InterfaceGen/gen_clang_libcxx_sdk_module.swift
Labels: c++ interop

#78550 [6.1] [Sema] Downgrade implicit self diag to warning for macro args
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/MiscDiagnostics.h
  test/Macros/macro_misc_diags.swift
  test/Macros/macro_misc_diags_swift5.swift
  test/Macros/macro_misc_diags_swift7.swift
Labels: 🍒 release cherry pick, swift 6.1

#78107 [6.1] Make isolated deinit non-experiment and add version checks & fix pointer auth
  include/swift/ABI/MetadataValues.h
  include/swift/AST/DiagnosticsSIL.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/FeatureAvailability.def
  include/swift/Basic/Features.def
  include/swift/Runtime/Config.h
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckAttr.cpp
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/Runtime/actor_deinit_escaping_self.swift
  test/Concurrency/Runtime/actor_recursive_deinit.swift
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Concurrency/Runtime/isolated_deinit_main_sync.swift
  test/Concurrency/deinit_isolation.swift
  test/Concurrency/deinit_isolation_import/test.swift
  test/Concurrency/deinit_isolation_in_value_types.swift
  test/Concurrency/deinit_isolation_objc.swift
  test/Concurrency/deinit_isolation_tbd.swift
  test/Concurrency/flow_isolation.swift
  test/Concurrency/voucher_propagation.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/ModuleInterface/isolated-deinit-compatibility.swift
  test/SILGen/inlinable_attribute.swift
  test/SILOptimizer/stack_promotion_isolated_deinit.swift
  test/attr/global_actor.swift
Labels: concurrency, swift 6.1

#76438 [stdlib] Slab
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/KnownStdlibTypes.def
  include/swift/AST/Types.h
  include/swift/RemoteInspection/TypeLowering.h
  include/swift/RemoteInspection/TypeRef.h
  include/swift/RemoteInspection/TypeRefBuilder.h
  include/swift/RemoteInspection/TypeRefs.def
  include/swift/Sema/CSFix.h
  include/swift/SwiftRemoteMirror/SwiftRemoteMirrorTypes.h
  lib/AST/ASTDumper.cpp
  lib/AST/Builtins.cpp
  lib/AST/GenericParamList.cpp
  lib/AST/Type.cpp
  lib/ClangImporter/ImportType.cpp
  lib/IRGen/GenArray.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/GenType.cpp
  lib/IRGen/IRGenDebugInfo.cpp
  lib/Parse/ParseType.cpp
  lib/SILGen/SILGenBuiltin.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckType.cpp
  lib/Serialization/Serialization.cpp
  stdlib/public/RemoteInspection/TypeLowering.cpp
  stdlib/public/RemoteInspection/TypeRef.cpp
  stdlib/public/SwiftRemoteMirror/SwiftRemoteMirror.cpp
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/Slab.swift
  test/DebugInfo/value-generics-embedded.swift
  test/DebugInfo/value-generics.swift
  test/Demangle/Inputs/manglings.txt
  test/IRGen/array_type_layout.swift
  test/ModuleInterface/value_generics.swift
  test/Reflection/typeref_lowering.swift
  test/SILGen/slab_literal.swift
  test/Sema/slab.swift
  test/Sema/typo_correction.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: standard library

#78544 [cxx-interop] Fix wrong calling convention for some C++ types
  lib/SIL/IR/SILFunctionType.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#78607 🍒[cxx-interop] Skip type metadata for C++ types that are only used in private C++ fields
  lib/IRGen/GenReflection.cpp
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/Inputs/pimpl.h
  test/Interop/Cxx/class/pimpl-irgen.swift
  test/Interop/Cxx/class/pimpl-module-interface.swift
Labels: c++ interop

#78591 [android] Use emulated thread-local storage for API 28 and earlier
  lib/IRGen/IRGen.cpp
  test/IRGen/Inputs/tls.h
  test/IRGen/emulated-tls.swift
Labels: 🍒 release cherry pick, swift 6.0

#78513 [android] Use emulated thread-local storage for API 28 and earlier
  lib/IRGen/IRGen.cpp
  test/IRGen/Inputs/tls.h
  test/IRGen/emulated-tls.swift
Labels: 🍒 release cherry pick, swift 6.1

#78564 Fixes crash instrumenting generic func body nested in another func
  lib/Sema/PCMacro.cpp
  lib/Sema/PlaygroundTransform.cpp
  test/PlaygroundTransform/generic_func_in_local_scope.swift
Labels: playground transform

#78569 [6.1] Fix SILGenFunction::emitValueConstructor for library evolution.
  lib/SILGen/SILGenConstructor.cpp
  test/SILGen/moveonly_library_evolution.swift
Labels: 🍒 release cherry pick, swift 6.1

#78676 [cxx-interop] Workaround name lookup issues with namespace simd
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/simd_quatf.swift
Labels: c++ interop

#77430 [cxx-interop] Forbid C++ function template instantiation with Swift types
  lib/AST/ClangTypeConverter.cpp
  lib/AST/ClangTypeConverter.h
  test/Interop/Cxx/templates/Inputs/function-templates.h
  test/Interop/Cxx/templates/template-instantiation-irgen.swift
Labels: c++ interop

#78656 🍒[cxx-interop] Workaround name lookup issues with `namespace os`
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/os-logger.swift
Labels: c++ interop

#78683 🍒6.1 [cxx-interop] Workaround name lookup issues with namespace simd
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/simd_quatf.swift
Labels: c++ interop, 🍒 release cherry pick

#78694 [cxx-interop] Workaround compiler error when importing AppKit/UIKit with C++ interop
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/Interop/Cxx/objc-correctness/appkit-uikit.swift
Labels: c++ interop

#78719 [6.1] AST: Avoid creating duplicate AvailabilityScopes under SequenceExprs
  include/swift/AST/ASTWalker.h
  include/swift/AST/Expr.h
  lib/AST/ASTWalker.cpp
  lib/Sema/PreCheckTarget.cpp
  lib/Sema/TypeCheckAvailability.cpp
  test/Sema/availability_scopes.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78696 [cxx-interop] Do not import `std::__compressed_pair`
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#78014 [cxx-interop] Support CxxStdlib overlay for libc++ on Linux
  lib/AST/ModuleLoader.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/Interop/Cxx/stdlib/use-std-chrono-libcxx.swift
  test/Interop/Cxx/stdlib/use-std-string-view-libcxx.swift
Labels: c++ interop

#78522 [cxx-interop] Check the safety of C++ template arguments
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#78756 tests: fix Interop/Cxx/objc-correctness/appkit-uikit.swift for iOS
  test/Interop/Cxx/objc-correctness/appkit-uikit.swift
Labels: c++ interop

#78700 [6.1][Package CMO] Add deserialization checks to ensure correct memory layout
  include/swift/AST/DeclContext.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/Basic/LangOptions.h
  include/swift/Option/Options.td
  lib/AST/Decl.cpp
  lib/AST/DeclContext.cpp
  lib/AST/TypeSubstitution.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/Serialization/Deserialization.cpp
  test/SILOptimizer/package-cmo-disallow-bypass-resilience-on-deserialization-fail.swift
Labels: 🍒 release cherry pick

#78718 [6.1] Sema: Ensure access-level on imports only applies to visible imported decls
  lib/AST/Decl.cpp
  test/Sema/access-level-import-downgrades.swift
  test/Sema/private-import-ambiguities.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78673 [cxx-interop] Fix spurious ambiguous member lookup for eagerly imported members
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/AST/NameLookupRequests.cpp
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/inheritance/Inputs/inherited-lookup.h
  test/Interop/Cxx/class/inheritance/inherited-lookup-executable.swift
  test/Interop/Cxx/class/inheritance/inherited-lookup-typechecker.swift
Labels: c++ interop

#78792 [6.1] AliasAnalysis: consider memory effects of a consume/destroy of a class on it's let-fields
  SwiftCompilerSources/Sources/Optimizer/Analysis/AliasAnalysis.swift
  SwiftCompilerSources/Sources/Optimizer/TestPasses/MemBehaviorDumper.swift
  test/SILOptimizer/load-copy-to-borrow.sil
  test/SILOptimizer/mem-behavior.sil
  test/SILOptimizer/temp_rvalue_opt.sil
Labels: swift 6.1-dev

#78783 [cxx-interop] Assume that plain-C enums are resilient
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/Inputs/my_c_header.h
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-evolving-libraries.swift
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-interfaces.swift
Labels: c++ interop

#78780 [6.1][TypeChecker] Downgrade `noasync` availability to warnings on `@preco…
  lib/Sema/TypeCheckAvailability.cpp
  test/Concurrency/unavailable_from_async_swift6.swift
Labels: 🍒 release cherry pick

#78771 [cxx-interop] Require lifetime annotations in safe mode
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#78761 [cxx-interop] Make ClangImporter support lifetimebound annotated spans
  lib/ClangImporter/ImportDecl.cpp
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
Labels: c++ interop

#78798 [6.1][IRGen] Add indirect typed error slot when async function has indirec…
  lib/IRGen/GenCall.cpp
  test/IRGen/typed_throws.swift
  test/Interpreter/typed_throws_abi.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78786 🍒[cxx-interop] Assume that plain-C enums are resilient
  lib/Sema/TypeCheckAccess.cpp
  test/Interop/Cxx/library-evolution/Inputs/my_c_header.h
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-evolving-libraries.swift
  test/Interop/Cxx/library-evolution/allow-c-in-cxx-mode-in-interfaces.swift
Labels: c++ interop

#78868 [6.1 🍒][Dependency Scanning] Synchronize on updating Swift dependency lookup results in-parallel
  lib/DependencyScan/ModuleDependencyScanner.cpp
Labels: 🍒 release cherry pick, swift 6.1-dev

#78869 [6.1 🍒][ModuleInterface] Determine package-only resolution need based on input mode
  lib/Frontend/CompilerInvocation.cpp
  test/ModuleInterface/no-package-dependencies-on-non-package-interface-implicit.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78891 [6.1][Runtime] Improve performance and memory footprint of compatibility o…
  stdlib/public/CompatibilityOverride/CompatibilityOverride.h
Labels: 🍒 release cherry pick, swift 6.1-dev

#78850 [6.1][PackageCMO] Fix serializability of a key path instruction
  lib/SILOptimizer/IPO/CrossModuleOptimization.cpp
  test/SILOptimizer/package-cmo-cast-internal-dst
  test/SILOptimizer/package-cmo-check-cast-dst.swift
  test/SILOptimizer/package-cmo-keypath.swift
Labels: 🍒 release cherry pick

#78938 [6.1] Sema: Always allow method overrides to be as available as the context
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  lib/Sema/TypeChecker.h
  test/Sema/availability_versions.swift
  test/attr/attr_inlinable_available.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78909 Fix typo in get_linux_sysroot that makes cross-compilation fail
  utils/swift_build_support/swift_build_support/products/product.py
  utils/swift_build_support/tests/products/test_llvm_linux_cross_compile.py
Labels: bug, test suite, build-script, python

#78905 🌸[6.1] Correct newline emission in generated headers
  lib/PrintAsClang/ModuleContentsWriter.cpp
  lib/PrintAsClang/PrintAsClang.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/PrintAsCxx/empty.swift
  test/PrintAsObjC/Inputs/comments-expected-output.h
  test/PrintAsObjC/extensions.swift
Labels: 🍒 release cherry pick

#78852 Revert "[cxx-interop] Workaround name lookup issues with namespace simd"
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/objc-correctness/simd_quatf.swift
Labels: c++ interop

#78882 [cxx-interop] Avoid creating duplicate unsafe attributes
  lib/ClangImporter/ImportDecl.cpp
Labels: c++ interop

#78961 Fix field count in emitted reflection data
  lib/IRGen/GenReflection.cpp
Labels: c++ interop

#78952 [🍒][6.1] Restrict Weak-Re-Exports To @_exported Modules
  lib/AST/ImportCache.cpp
  test/IRGen/weaklinked_import_peer_transitive_objc.swift
Labels: 🍒 release cherry pick

#78983 [6.1][Runtime] Add compatibility override support for CVW runtime functions
  include/swift/Runtime/Enum.h
  include/swift/Runtime/Metadata.h
  include/swift/Runtime/RuntimeFunctions.def
  stdlib/public/CompatibilityOverride/CompatibilityOverrideRuntime.def
  stdlib/public/runtime/Array.cpp
  stdlib/public/runtime/BytecodeLayouts.cpp
  stdlib/public/runtime/BytecodeLayouts.h
  stdlib/public/runtime/Enum.cpp
  stdlib/public/runtime/Metadata.cpp
  test/IRGen/layout_string_witnesses_noncopyable.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
  validation-test/IRGen/rdar127535274.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78947 [cxx-interop] Support borrowing from self in SwiftifyImport
  lib/ClangImporter/ImportDecl.cpp
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  stdlib/public/core/SwiftifyImport.swift
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
  test/Macros/SwiftifyImport/CxxSpan/LifetimeboundSpan.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: c++ interop

#78989 🌸 [6.1] Work around Foundation NS_TYPED_ENUM bug
  include/swift/SIL/PrettyStackTrace.h
  lib/AST/ASTDumper.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenObjC.cpp
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/Utils/PrettyStackTrace.cpp
  test/ClangImporter/newtype_conformance.swift
  test/Inputs/clang-importer-sdk/swift-modules/Foundation.swift
  test/Inputs/clang-importer-sdk/usr/include/Foundation.h
Labels: 🍒 release cherry pick, swift 6.1-dev

#78974 [cxx-interop] Fix crash when operator doesn't name parameter in header
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/Inputs/member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/member-out-of-line.h
  test/Interop/Cxx/operators/Inputs/non-member-inline.h
  test/Interop/Cxx/operators/Inputs/non-member-out-of-line.cpp
  test/Interop/Cxx/operators/Inputs/non-member-out-of-line.h
  test/Interop/Cxx/operators/member-inline.swift
  test/Interop/Cxx/operators/member-out-of-line.swift
  test/Interop/Cxx/operators/non-member-inline.swift
  test/Interop/Cxx/operators/non-member-out-of-line.swift
Labels: c++ interop

#78945 [cxx-interop] Add safe wrapper test with a member function
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
Labels: c++ interop

#78946 [cxx-interop] Make borrowing specifiers more precise
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
  test/Interop/Cxx/stdlib/Inputs/std-span.h
  test/Interop/Cxx/stdlib/std-span-interface.swift
Labels: c++ interop

#78807 [cxx-interop] Fix spurious lifetime dependence errors
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#79012 [cxx-interop] Avoid generating ambiguous wrapper functions
  lib/Macros/Sources/SwiftMacros/SwiftifyImportMacro.swift
  test/Interop/C/swiftify-import/counted-by-noescape.swift
  test/Interop/C/swiftify-import/counted-by.swift
  test/Interop/C/swiftify-import/sized-by-noescape.swift
  test/Interop/C/swiftify-import/sized-by.swift
  test/Interop/Cxx/stdlib/std-span-interface.swift
  test/Macros/SwiftifyImport/CountedBy/PointerReturn.swift
  test/Macros/SwiftifyImport/CxxSpan/LifetimeboundSpan.swift
Labels: c++ interop

#78884 [6.1] Sema: Accessors's SPI are tied to the attributes on the storage
  lib/AST/Module.cpp
  lib/Sema/TypeCheckAttr.cpp
  test/SPI/spi_internal_accessor.swift
  test/SPI/spi_members.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#78942 [cxx-interop] Import private members
  include/swift/ClangImporter/ClangImporter.h
  include/swift/ClangImporter/ClangModule.h
  lib/AST/ASTMangler.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportMacro.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/class/Inputs/access-inversion.h
  test/Interop/Cxx/class/Inputs/access-specifiers.h
  test/Interop/Cxx/class/Inputs/module.modulemap
  test/Interop/Cxx/class/access-inversion-executable.swift
  test/Interop/Cxx/class/access-inversion-module-interface.swift
  test/Interop/Cxx/class/access-inversion-typechecker.swift
  test/Interop/Cxx/class/access-specifiers-module-interface.swift
  test/Interop/Cxx/class/access-specifiers-typechecker.swift
Labels: c++ interop, c++ to swift

#79069 [6.1][Runtime] Add specialized CVW entry points for multi payload enums
  include/swift/Runtime/RuntimeFunctions.def
  lib/IRGen/GenValueWitness.cpp
  stdlib/public/CompatibilityOverride/CompatibilityOverrideRuntime.def
  stdlib/public/runtime/BytecodeLayouts.cpp
  stdlib/public/runtime/BytecodeLayouts.h
  test/Interpreter/Inputs/layout_string_witnesses_types.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/x86_64/stdlib.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#79066 [6.1][Package CMO] downgrade error to warning when checking for deserialization failure
  include/swift/AST/DiagnosticsSema.def
  lib/AST/Decl.cpp
  test/SILOptimizer/package-cmo-disallow-bypass-resilience-on-deserialization-fail.swift
Labels: 🍒 release cherry pick
