Repository swiftlang/swift, pull requests merged in 2025-08, with the labels that each got.

#83461 [cxx-interop] Support conforming to protocols with default assoc types
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/conforms-to-associated-types.swift
Labels: c++ interop

#83519 [windows] remove unittest2 from build.ps1
  utils/build.ps1
Labels: Windows

#83524 utils/wasm: Add Node.js WASI runner
  utils/wasm/node-wasi-runner
Labels: utils

#83517 [NFC][windows] add named arguments to Copy-Item calls in build.ps1
  utils/build.ps1
Labels: Windows, nfc

#82988 [6.2] Enable InlineArray type sugar
  include/swift/Basic/Features.def
  lib/ASTGen/Sources/ASTGen/SourceFile.swift
  lib/Parse/ParseType.cpp
  test/ASTGen/types.swift
  test/Availability/inline_array_availability.swift
  test/DebugInfo/sugar_inline_array.swift
  test/IDE/complete_inline_array.swift
  test/Sema/inlinearray.swift
  test/Serialization/value_generics.swift
  test/type/inline_array.swift
  test/type/inline_array_disabled.swift
Labels: 🍒 release cherry pick, swift 6.2

#83494 FreeBSD: Update build preset
  utils/build-presets.ini
Labels: FreeBSD

#83487 [cxx-interop] Support importing subscript operators with multiple params
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/operators/Inputs/member-inline.h
  test/Interop/Cxx/operators/member-inline-module-interface.swift
  test/Interop/Cxx/operators/member-inline.swift
Labels: c++ interop

#83516 [cxx-interop] Import decls in extern blocks within namespaces
  lib/AST/ASTPrinter.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftLookupTable.cpp
  test/Interop/Cxx/namespace/Inputs/extern-within-namespace.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/extern-within-namespace-module-interface.swift
  test/Interop/Cxx/namespace/extern-within-namespace.swift
Labels: c++ interop

#83546 utils: Make build.ps1 work with PowerShell Core
  utils/build.ps1
Labels: Windows

#83543 [cxx-interop] Support overriding pure virtual methods from value types
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  lib/ClangImporter/SwiftDeclSynthesizer.h
  test/Interop/Cxx/foreign-reference/Inputs/member-inheritance.h
  test/Interop/Cxx/foreign-reference/member-inheritance-module-interface.swift
  test/Interop/Cxx/foreign-reference/member-inheritance-typechecker.swift
  test/Interop/Cxx/foreign-reference/member-inheritance.swift
Labels: c++ interop

#83595 FreeBSD: Set runtime module triple correctly
  cmake/modules/SwiftConfigureSDK.cmake
Labels: FreeBSD

#83496 build.ps1: begin isolating the SDK builds
  utils/build-windows-toolchain.bat
  utils/build.ps1
Labels: Windows

#83609 [cxx-interop] Fix passing optional CoreFoundation types from Swift to C++
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop

#83592 [6.2][cxx-interop] Fix crash when using bridging headers in reverse interop
  lib/AST/SwiftNameTranslation.cpp
  test/Interop/CxxToSwiftToCxx/bridge-bridging-header-to-cxx.swift
Labels: c++ interop, 🍒 release cherry pick, swift 6.2

#83618 FreeBSD: Remove extra '}' in triple
  cmake/modules/SwiftConfigureSDK.cmake
Labels: FreeBSD

#83568 [cxx-interop] Allow old spelling of AppKit constants
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/objc-correctness/appkit-uikit.swift
Labels: c++ interop

#83698 [6.2][TypeCheckEffects] AbstractFunction: Parameter types should be mapped…
  lib/Sema/TypeCheckEffects.cpp
  validation-test/Sema/type_checker_crashers_fixed/rdar156955193.swift
Labels: 🍒 release cherry pick, swift 6.2

#83694 [cxx-interop] Do not define inherited copy/move operations
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/inheritance/using-base-members-module-interface.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#83638 [cxx-interop] Add span properties to std.string variants
  Runtimes/Overlay/Cxx/CMakeLists.txt
  Runtimes/Overlay/Cxx/std/CMakeLists.txt
  stdlib/public/Cxx/CMakeLists.txt
  stdlib/public/Cxx/std/CMakeLists.txt
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#83691 [6.2][StrictMemorySafety] Check the safety of return types of calls
  lib/ClangImporter/ClangImporter.cpp
  lib/Sema/TypeCheckUnsafe.cpp
  stdlib/public/Concurrency/CheckedContinuation.swift
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task+PriorityEscalation.swift
  stdlib/public/Concurrency/Task+TaskExecutor.swift
  stdlib/public/Concurrency/Task.swift
  stdlib/public/Concurrency/TaskCancellation.swift
  stdlib/public/Concurrency/TaskLocal.swift
  stdlib/public/Cxx/std/String.swift
  stdlib/public/Distributed/DistributedActorSystem.swift
  stdlib/public/core/CocoaArray.swift
  stdlib/public/core/ContiguousArrayBuffer.swift
  stdlib/public/core/DictionaryBridging.swift
  stdlib/public/core/EmbeddedRuntime.swift
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/Misc.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/Pointer.swift
  stdlib/public/core/RuntimeFunctionCounters.swift
  stdlib/public/core/SetBridging.swift
  stdlib/public/core/StringBridge.swift
  stdlib/public/core/StringObject.swift
  stdlib/public/core/StringStorageBridge.swift
  stdlib/public/core/StringTesting.swift
  stdlib/public/core/StringUTF16View.swift
  stdlib/public/core/SwiftNativeNSArray.swift
  stdlib/public/core/UTF8SpanIterators.swift
  stdlib/public/core/UnicodeScalarProperties.swift
  test/Interop/C/swiftify-import/counted-by-noescape.swift
  test/Interop/C/swiftify-import/counted-by.swift
  test/Interop/C/swiftify-import/sized-by-noescape.swift
  test/Interop/C/swiftify-import/sized-by.swift
  test/Interop/Cxx/class/safe-interop-mode.swift
  test/Interop/Cxx/stdlib/std-span-interface.swift
  test/Unsafe/safe.swift
  test/Unsafe/unsafe-suppression.swift
  test/Unsafe/unsafe.swift
  test/Unsafe/unsafe_stdlib.swift
Labels: 🍒 release cherry pick, swift 6.2

#83727 [cxx-interop] Simplify `std::string` construction in the overlay
  stdlib/public/Cxx/std/String.swift
Labels: c++ interop

#83589 Revert "Revert "[cxx-interop] Import decls in extern blocks within namespaces""
  lib/AST/ASTPrinter.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/SwiftLookupTable.cpp
  test/Interop/Cxx/namespace/Inputs/extern-within-namespace.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/extern-within-namespace-module-interface.swift
  test/Interop/Cxx/namespace/extern-within-namespace.swift
Labels: c++ interop

#83754 Revert "Merge pull request #83483 from Xazax-hun/turn-off-addressable"
  include/swift/Basic/Features.def
  lib/AST/FeatureSet.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImportType.cpp
  test/ClangImporter/cxx_interop_ir.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
  test/Interop/Cxx/stdlib/use-std-function.swift
Labels: c++ interop

#83792 Embedded Wasm: enable `import WASILibc`
  stdlib/public/Platform/CMakeLists.txt
  test/embedded/wasm/wasilibc_functions.swift
Labels: test suite, standard library, platform support, embedded, WebAssembly, WASI

#83811 [cxx-interop] Avoid ambiguous C++ overloads for functions from Swift extensions
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/initializers/init-in-extension-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-extension-in-cxx.swift
Labels: c++ interop

#83815 🍒[cxx-interop] Allow retain/release operations to return an unsigned integer
  include/swift/AST/DiagnosticsClangImporter.def
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/invalid-retain-operation-errors.swift
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
Labels: c++ interop

#83810 🍒[cxx-interop] Validate C foreign reference types
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/C/struct/Inputs/foreign-reference-invalid.h
  test/Interop/C/struct/Inputs/module.modulemap
  test/Interop/C/struct/foreign-reference-invalid-typechecker.swift
Labels: c++ interop

#83802 [cxx-interop] Enable reference-counted types on Windows
  lib/IRGen/GenMeta.cpp
  test/Interop/C/struct/foreign-reference.swift
  test/Interop/Cxx/foreign-reference/array-of-classes.swift
  test/Interop/Cxx/foreign-reference/extensions.swift
  test/Interop/Cxx/foreign-reference/inheritance.swift
  test/Interop/Cxx/foreign-reference/multiple-protocol-conformances.swift
  test/Interop/Cxx/foreign-reference/print-reference.swift
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted.swift
  test/Interop/Cxx/foreign-reference/witness-table.swift
Labels: c++ interop, Windows

#83825 [cxx-interop] Import constexpr globals in a namespace
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/namespace/Inputs/constexpr-in-namespace.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/constexpr-in-namespace-module-interface.swift
  test/Interop/Cxx/namespace/constexpr-in-namespace.swift
Labels: c++ interop

#83375 [demangling] make printGenericSignature virtual
  include/swift/Demangling/Demangle.h
Labels: demangling

#83503 [6.2][build] Make it possible to build a cross-compilation toolchain for Android, including Testing
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  test/SILOptimizer/concat_string_literals.32.swift
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/llvm.py
  utils/swift_build_support/swift_build_support/products/product.py
  utils/swift_build_support/swift_build_support/products/swift_testing.py
  utils/swift_build_support/swift_build_support/products/swift_testing_macros.py
  utils/swift_build_support/swift_build_support/targets.py
  validation-test/BuildSystem/android_cross_compile.test
  validation-test/BuildSystem/cmark_crosscompile_using_toolchain_always.test
Labels: 🍒 release cherry pick, swift 6.2

#83438 [stdlib, 6.2] fix availability of `Span.bytes`
  stdlib/public/core/Span/Span.swift
Labels: 🍒 release cherry pick, swift 6.2

#83615 [windows] upgrade to Python 3.10.1
  utils/build.ps1
Labels: Windows

#83867 Fix order of building mimalloc with `-IncludeNoAsserts`
  utils/build.ps1
Labels: Windows, build-script

#83946 [6.2] Optimizer: fix handling of dependent existential archetypes in `alloc_stack` and `apply` simplification
  SwiftCompilerSources/Sources/AST/Type.swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyAllocStack.swift
  SwiftCompilerSources/Sources/Optimizer/InstructionSimplification/SimplifyApply.swift
  include/swift/AST/ASTBridging.h
  include/swift/AST/ASTBridgingImpl.h
  test/SILOptimizer/simplify_alloc_stack.sil
  test/SILOptimizer/simplify_apply.sil
Labels: swift 6.2

#83947 [6.2] SILCombine: fix `convert_function` -> `apply` peephole for generic function types
  lib/SILOptimizer/SILCombiner/SILCombinerApplyVisitors.cpp
  test/SILOptimizer/sil_combine_apply.sil
Labels: swift 6.2

#83943 [cxx-interop] Provide overlay for `std::wstring`
  stdlib/public/Cxx/cxxshim/libcxxstdlibshim.h
  stdlib/public/Cxx/std/String.swift
  test/Interop/Cxx/stdlib/use-std-string.swift
Labels: c++ interop

#83923 Add LLDB and swift-reflection-dump support for WebAssembly
  include/swift/ABI/ObjectFile.h
  include/swift/RemoteInspection/ReflectionContext.h
  include/swift/RemoteInspection/RuntimeHeaders/llvm/BinaryFormat/Wasm.h
  include/swift/RemoteInspection/RuntimeHeaders/llvm/BinaryFormat/WasmRelocs.def
  include/swift/StaticMirror/ObjectFileContext.h
  lib/Demangling/NodePrinter.cpp
  lib/StaticMirror/ObjectFileContext.cpp
  test/Reflection/Inputs/wasm.yaml
  test/Reflection/wasm.test
  test/lit.cfg
  tools/swift-reflection-dump/swift-reflection-dump.cpp
Labels: reflection, lldb, WebAssembly

#83881 Runtime: Ignore long section names linker warnings
  utils/build.ps1
Labels: Windows, runtime

#83929 🍒 [windows] upgrade to Python 3.10.1
  utils/build.ps1
Labels: python, lldb
