Repository swiftlang/swift, pull requests merged in 2025-03, with the labels that each got.

#79693 [cxx-interop] Fix circular reference, remove feature flag check
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#79595 [6.1][Runtime] Add ccAttrs to slow path in compatibility overrides
  stdlib/public/CompatibilityOverride/CompatibilityOverride.h
Labels: 🍒 release cherry pick, swift 6.1-dev

#79288 [cxx-interop] Support importing static factories as initializers
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/constructor.h
  test/Interop/Cxx/foreign-reference/Inputs/module.modulemap
  test/Interop/Cxx/foreign-reference/constructor-execution.swift
Labels: c++ interop

#79576 [cxx-interop] Fix calling convention for rvalue reference params
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILGen/SILGenApply.cpp
  lib/SILOptimizer/Transforms/CopyForwarding.cpp
  test/Interop/Cxx/reference/Inputs/module.modulemap
  test/Interop/Cxx/reference/Inputs/print-special-members.h
  test/Interop/Cxx/reference/rvalue-reference.swift
Labels: c++ interop

#79325 [cxx-interop] Prevent usage in Swift of C++ copy constructor with default args
  lib/ClangImporter/ClangImporter.cpp
  lib/IRGen/GenStruct.cpp
  lib/SILOptimizer/Transforms/TempRValueElimination.cpp
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/type-classification-typechecker.swift
  test/Interop/Cxx/value-witness-table/Inputs/copy-constructors.h
  test/Interop/Cxx/value-witness-table/copy-constructors-execution.swift
Labels: c++ interop

#79697 [cxx-importer] Do not import pointers to non-escapable types
  include/swift/AST/DiagnosticEngine.h
  include/swift/AST/DiagnosticsClangImporter.def
  lib/AST/DiagnosticEngine.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
Labels: c++ interop

#79762 stdlib: Fix the signature of `_taskEscalate` to return a priority
  stdlib/public/Concurrency/Task.swift
Labels: bug, WebAssembly

#79542 [cxx-interop] Prevent usage in Swift of C++ move constructor with default args
  include/swift/AST/DiagnosticsClangImporter.def
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/IRGen/GenStruct.cpp
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/Inputs/type-classification.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/class/copy-move-assignment-executable.swift
  test/Interop/Cxx/class/invalid-class-errors.swift
  test/Interop/Cxx/class/type-classification-typechecker.swift
Labels: c++ interop

#79822 [cxx-interop] Allow AppKit & UIKit to be rebuilt with C++ interop enabled
  lib/ClangImporter/ImportName.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/Interop/Cxx/enum/Inputs/CFAvailability.h
  test/Interop/Cxx/enum/anonymous-with-swift-name-module-interface.swift
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS-NS_REFINED_FOR_SWIFT.swift
  test/Interop/Cxx/enum/c-enums-NS_OPTIONS.swift
Labels: c++ interop

#79837 [cxx-interop] Re-enable a test for Obj-C compatibility
  test/Interop/Cxx/objc-correctness/pthread_mutexattr_t.swift
Labels: c++ interop

#79793 [cxx-interop] Always import the lifetime annotations
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/class/nonescapable-errors.swift
  test/Interop/Cxx/class/nonescapable-lifetimebound.swift
Labels: c++ interop

#79890 [cxx-interop] Remove workarounds for `CF_OPTIONS` default arguments
  lib/ClangImporter/ImportEnumInfo.h
  lib/ClangImporter/ImportName.cpp
  lib/ClangImporter/ImportType.cpp
  test/Interop/Cxx/enum/Inputs/c-enums-withOptions-omit.h
Labels: c++ interop

#79791 [cxx-interop] Use qualified name in import info of clang declarations
  lib/IRGen/GenMeta.cpp
  test/Interop/Cxx/enum/Inputs/nested-enums.h
  test/Interop/Cxx/enum/nested-enums-module-interface.swift
  test/Interop/Cxx/enum/nested-enums.swift
Labels: c++ interop

#79909 [cxx-interop] Test static factory backed initializers with value types
  test/Interop/Cxx/class/Inputs/constructors.h
  test/Interop/Cxx/class/constructors-executable.swift
  test/Interop/Cxx/foreign-reference/Inputs/constructor.h
  test/Interop/Cxx/foreign-reference/constructor-execution.swift
Labels: c++ interop

#79901 [6.1][CMake] Fix package CMO capability checking logic
  cmake/modules/SwiftCompilerCapability.cmake
Labels: 🍒 release cherry pick

#79911 [cxx-interop] Do not require the LifetimeDependence feature in _SwiftifyImport
  include/swift/Basic/SourceManager.h
  lib/AST/LifetimeDependence.cpp
  lib/Basic/SourceLoc.cpp
  lib/Parse/ParseDecl.cpp
  test/Macros/SwiftifyImport/CxxSpan/LifetimeboundSpan.swift
Labels: c++ interop

#79943 [cxx-interop] Remove last LifetimeDependence guard in C++ interop
  lib/ClangImporter/ImportDecl.cpp
  test/Interop/Cxx/stdlib/std-span-interface.swift
Labels: c++ interop

#79952 [cxx-interop] Allow Darwin overlay to be rebuilt with C++ interop enabled
  lib/Frontend/ModuleInterfaceLoader.cpp
Labels: c++ interop

#79962 [cxx-interop] Fix libc++ tests
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-symbolic-module-interface.swift
Labels: c++ interop

#80017 [cxx-interop] Fix exporting Swift enums with C POD associated data
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  test/Interop/SwiftToCxx/stdlib/core-foundation-types-in-cxx.swift
Labels: c++ interop

#80055 NFC: Fix `variable never mutated` warning in `swift-backtrace`
  stdlib/public/libexec/swift-backtrace/main.swift
Labels: missing warning, swift-backtrace

#80015 [cxx-interop] Do not create copies of nullable pointers passed as optionals
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/SwiftToObjCxx/optional-objc-class-in-obj-cxx.swift
Labels: c++ interop

#80137 CastOptimizer: fix optimization of casts from non-existentials to existentials
  include/swift/AST/Types.h
  lib/AST/Type.cpp
  lib/SILOptimizer/Utils/CastOptimizer.cpp
  test/SILOptimizer/constant_propagation.sil
Labels: bug, existentials, implicit existential opening

#80094 [cxx-interop] Disable debug info in synthesized C++ methods
  lib/ClangImporter/SwiftDeclSynthesizer.cpp
  test/Interop/Cxx/class/inheritance/Inputs/virtual-methods.h
  test/Interop/Cxx/class/inheritance/virtual-methods.swift
Labels: c++ interop

#79662 [cxx-interop] Interpret Self as a static shorthand for FRTs
  lib/ClangImporter/ImportDecl.cpp
  lib/Sema/PreCheckTarget.cpp
  lib/Sema/TypeCheckType.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/Inputs/reference-counted.h
  test/Interop/Cxx/foreign-reference/extensions.swift
Labels: c++ interop

#80134 🍒[cxx-interop] Fix libc++ tests
  test/Interop/Cxx/stdlib/libcxx-module-interface.swift
  test/Interop/Cxx/stdlib/libcxx-symbolic-module-interface.swift
Labels: c++ interop

#79511 Ensure we're commuting instructions only when internal one has a single use.
  lib/SILOptimizer/SILCombiner/SILCombinerCastVisitors.cpp
  test/AutoDiff/sil_combine.sil
Labels: SILOptimizer, SIL ownership

#80130 [cxx-interop] Determine owning module correctly for C++ decls in nested modules
  lib/AST/Decl.cpp
  test/Interop/Cxx/modules/Inputs/another-deep-submodule.h
  test/Interop/Cxx/modules/Inputs/deep-submodule.h
  test/Interop/Cxx/modules/Inputs/module.modulemap
  test/Interop/Cxx/modules/deep-submodule.swift
Labels: c++ interop

#80163 [cxx-interop] Add span property to std::vector
  lib/ClangImporter/ClangDerivedConformances.cpp
  stdlib/public/Cxx/CxxVector.swift
  test/Interop/Cxx/stdlib/use-std-vector.swift
Labels: c++ interop

#80204 [cxx-interop] Avoid diagnosing missing lifetime operations in symbolic mode
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  test/Interop/Cxx/symbolic-imports/indexing-emit-libcxx-symbolic-module-interface.swift
  test/Interop/Cxx/symbolic-imports/print-symbolic-module-interface.swift
Labels: c++ interop

#80144 Update ucrt.modulemap for Windows SDK 10.0.26100
  stdlib/public/Platform/ucrt.modulemap
Labels: 🍒 release cherry pick

#80267 [cxx-interop] Unbreak CI
  test/Interop/Cxx/class/copy-move-assignment-irgen.swift
Labels: c++ interop

#80305 [cxx-interop] Fix a regression making std::string unsafe
  include/swift/ClangImporter/ClangImporterRequests.h
  lib/ClangImporter/ClangImporter.cpp
  test/Interop/Cxx/class/safe-interop-mode.swift
Labels: c++ interop

#79292 Enable `_Concurrency` for Embedded Swift with WASI
  CMakeLists.txt
  stdlib/public/CMakeLists.txt
  stdlib/public/Concurrency/CMakeLists.txt
  utils/build-script-impl
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Labels: concurrency, embedded, WebAssembly, WASI

#79049 [Backtracing] Support redirection to a named file.
  stdlib/public/libexec/swift-backtrace/Utils.swift
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/BacktracePrivate.h
  stdlib/public/runtime/CrashHandlerLinux.cpp
  stdlib/public/runtime/CrashHandlerMacOS.cpp
  test/Backtracing/CrashOutputFile.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#73258 [stdlib] Generalize some constructs for non-escapable types
  include/swift/AST/ASTContext.h
  include/swift/AST/ASTSynthesis.h
  include/swift/AST/Builtins.def
  include/swift/AST/LifetimeDependence.h
  include/swift/AST/Types.h
  lib/AST/ASTContext.cpp
  lib/AST/Builtins.cpp
  lib/AST/Type.cpp
  stdlib/public/core/Builtin.swift
  stdlib/public/core/CompilerProtocols.swift
  stdlib/public/core/LifetimeManager.swift
  stdlib/public/core/ManagedBuffer.swift
  stdlib/public/core/MemoryLayout.swift
  stdlib/public/core/Misc.swift
  stdlib/public/core/ObjectIdentifier.swift
  stdlib/public/core/Optional.swift
  stdlib/public/core/Result.swift
  stdlib/public/core/UnsafeBufferPointer.swift.gyb
  stdlib/public/core/UnsafeBufferPointerSlice.swift
  test/Concurrency/sending_conditional_suppression.swift
  test/Constraints/operator.swift
  test/IDE/complete_call_as_function.swift
  test/IDE/complete_operators.swift
  test/Interop/CxxToSwiftToCxx/bridge-cxx-enum-back-to-cxx-execution.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx-execution.cpp
  test/Interop/SwiftToCxx/stdlib/swift-stdlib-in-cxx.swift
  test/Macros/SwiftifyImport/MacroErrors/NullableSpan.swift
  test/Macros/SwiftifyImport/SizedBy/Opaque.swift
  test/ModuleInterface/noncopyable_generics.swift
  test/SILOptimizer/access_marker_verify.swift
  test/SILOptimizer/compare_types.swift
  test/SILOptimizer/existential_metatype.swift
  test/SILOptimizer/onone_simplifications.swift
  test/api-digester/Outputs/stability-stdlib-source-base.swift.expected
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/expr/expressions.swift
  test/stdlib/OptionalGeneralizations.swift
Labels: swift evolution approved

#80350 [6.1][IRGen] Map result to native representation in emitAsyncReturn
  lib/IRGen/GenCall.cpp
  test/IRGen/typed_throws.swift
Labels: 🍒 release cherry pick, swift 6.1-dev

#80344 [cxx-interop] Layout reference types that use tail padding of their bases correctly
  lib/IRGen/GenClangDecl.cpp
  test/Interop/Cxx/foreign-reference/Inputs/inheritance.h
  test/Interop/Cxx/foreign-reference/inheritance-irgen.swift
  test/Interop/Cxx/foreign-reference/inheritance.swift
Labels: c++ interop

#80271 [Backtracing] Add JSON backtrace output
  docs/Backtracing.rst
  stdlib/public/Backtracing/Backtrace.swift
  stdlib/public/Backtracing/BacktraceFormatter.swift
  stdlib/public/Backtracing/SymbolicatedBacktrace.swift
  stdlib/public/libexec/swift-backtrace/CMakeLists.txt
  stdlib/public/libexec/swift-backtrace/JSON.swift
  stdlib/public/libexec/swift-backtrace/OSReleaseScanner.swift
  stdlib/public/libexec/swift-backtrace/TargetLinux.swift
  stdlib/public/libexec/swift-backtrace/TargetMacOS.swift
  stdlib/public/libexec/swift-backtrace/Themes.swift
  stdlib/public/libexec/swift-backtrace/Utils.swift
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/Backtrace.cpp
  stdlib/public/runtime/BacktracePrivate.h
  test/Backtracing/JSON.swift
  test/Backtracing/JSONAsync.swift
Labels: 🍒 release cherry pick, swift 6.1-dev
